<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и длины – длинный механизм подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная длина – транспортная</td>
            <td colspan="2">1070 см</td>
        </tr>
        <tr>
            <td>Максимальная длина (рабочая)</td>
            <td colspan="2">1580 см</td>
        </tr>
        <tr>
            <td>Максимальная ширина (транспортная)</td>
            <td colspan="2">250 см</td>
        </tr>
        <tr>
            <td>Максимальная высота (транспортная)</td>
            <td colspan="2">400 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">19000.1 кг</td>
        </tr>
        <tr>
            <td>Вес моста</td>
            <td colspan="2">17999.9 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Подающий валик</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ширина подающего стола</td>
            <td colspan="2">152.4 см</td>
        </tr>
        <tr>
            <td>Глубина подающего стола</td>
            <td colspan="2">53.3 см</td>
        </tr>
        <tr>
            <td>Длина подающего стола – первый вариант</td>
            <td colspan="2">460 см</td>
        </tr>
        <tr>
            <td>Грузоподъемность подающего стола</td>
            <td colspan="2">3.7 м³</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">230 см</td>
        </tr>
        <tr>
            <td>Конструкция раструба</td>
            <td colspan="2">Встроенная в раму</td>
        </tr>
        <tr>
            <td>Тип подающего конвейера</td>
            <td colspan="2">Сварная пластинчатая цепь</td>
        </tr>
        <tr>
            <td>Структура материала</td>
            <td colspan="2">Сталь</td>
        </tr>
        <tr>
            <td>Тип привода</td>
            <td colspan="2">Радиально-поршневой двигатель</td>
        </tr>
        <tr>
            <td>Конструкция ведущего ролика</td>
            <td colspan="2">Сварная сталь</td>
        </tr>
        <tr>
            <td>Конструкция переднего натяжного ролика</td>
            <td colspan="2">Самоочищающийся стальной шнековый бур</td>
        </tr>
        <tr>
            <td>Конструкция настила подающего устройства</td>
            <td colspan="2">Сварная сталь, со сменными износными UHMW-накладками</td>
        </tr>
        <tr>
            <td>Ширина подающего валика</td>
            <td colspan="2">147.3 см</td>
        </tr>
        <tr>
            <td>Вес подающего валика</td>
            <td colspan="2">453.6 кг</td>
        </tr>
        <tr>
            <td>Диаметр подающего валика</td>
            <td colspan="2">71.1 см</td>
        </tr>
        <tr>
            <td>Максимальная высота подачи</td>
            <td colspan="2">66 см</td>
        </tr>
        <tr>
            <td>Тип материала</td>
            <td colspan="2">Специальная сталь</td>
        </tr>
        <tr>
            <td>Конструкция зуба</td>
            <td colspan="2">Зубчатые брусья</td>
        </tr>
        <tr>
            <td>Количество зубьев</td>
            <td colspan="2">10 брусьев</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">Постоянной производительности, Geroler</td>
        </tr>
        <tr>
            <td>Планетарный привод</td>
            <td colspan="2">34 2:1</td>
        </tr>
        <tr>
            <td>Давление прижима подающего валика</td>
            <td colspan="2">Регулируемый</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Отражатель вылетающего материала</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Положение отражателя</td>
            <td colspan="2">Переменный</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дуплексный барабан</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Отверстие измельчительной камеры</td>
            <td colspan="2">Ширина 152 см x высота 66 см</td>
        </tr>
        <tr>
            <td>Диаметр барабана</td>
            <td colspan="2">57.2 см</td>
        </tr>
        <tr>
            <td>Диаметр наконечника</td>
            <td colspan="2">79.5 см</td>
        </tr>
        <tr>
            <td>Режущая ширина барабана</td>
            <td colspan="2">153.9 см</td>
        </tr>
        <tr>
            <td>Толщина стенки барабана</td>
            <td colspan="2">3.8 см</td>
        </tr>
        <tr>
            <td>Скорость вращения барабана</td>
            <td colspan="2">1141 об/мин</td>
        </tr>
        <tr>
            <td>Тип подшипника</td>
            <td colspan="2">Двурядный, сферический роликоподшипник</td>
        </tr>
        <tr>
            <td>Подшипник – диаметр внутреннего кольца</td>
            <td colspan="2">10.9 см</td>
        </tr>
        <tr>
            <td>Количество молотков</td>
            <td colspan="2">9</td>
        </tr>
        <tr>
            <td>Количество кромок</td>
            <td colspan="2">18</td>
        </tr>
        <tr>
            <td>Размеры центрального стопорного штифта</td>
            <td colspan="2">диаметр 5 см, длина 191 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Сетки</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Размеры сетки</td>
            <td colspan="2">диаметр 5 см, длина 191 см</td>
        </tr>
        <tr>
            <td>Тип сетки</td>
            <td colspan="2">Изготовлено из износостойкой стали</td>
        </tr>
        <tr>
            <td>Количество сеток</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Площадь сетки</td>
            <td colspan="2">20200 см²</td>
        </tr>
        <tr>
            <td>Количество сторон</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Размеры облицовки крышки измельчительной камеры</td>
            <td colspan="2">Износостойкая сталь</td>
        </tr>
        <tr>
            <td>Размеры облицовки</td>
            <td colspan="2">Толщина 1.3 см x ширина 12.7 см x длина 156.5 см</td>
        </tr>
        <tr>
            <td>Тип «наковальня»</td>
            <td colspan="2">Специальная сталь со сменными накладками износа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система – конструкция с одной лентой</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">2170 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">96.5 см</td>
        </tr>
        <tr>
            <td>Конструкция ленты</td>
            <td colspan="2">3-слойный 150 кг с V-образной планкой</td>
        </tr>
        <tr>
            <td>Сращивание</td>
            <td colspan="2">R2 - нержавеющая сталь</td>
        </tr>
        <tr>
            <td>Количество поддерживающих катков</td>
            <td colspan="2">3</td>
        </tr>
        <tr>
            <td>Диаметр натяжного ролика</td>
            <td colspan="2">30.5 см</td>
        </tr>
        <tr>
            <td>Подшипник натяжного ролика</td>
            <td colspan="2">4-болтовой фланец 4,9 см</td>
        </tr>
        <tr>
            <td>Ведущий ролик стандартного диаметра</td>
            <td colspan="2">32.5 см</td>
        </tr>
        <tr>
            <td>Диаметр ведущего ролика электромагнитного привода</td>
            <td colspan="2">32.5 см</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">Постоянной производительности, Geroler</td>
        </tr>
        <tr>
            <td>Скорость движения ленты</td>
            <td colspan="2">140.5 м/мин</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">430 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">227.1 л</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Vermeer HyPower 68</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Двойные, в баке, фильтры возвратного контура (B5=200)</td>
        </tr>
        <tr>
            <td>Количество охлаждающих устройств</td>
            <td colspan="2">1</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема рабочего оборудования</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур, с компенсацией по потоку</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Переменной производительности, аксиальный поршневой</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">98.04 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">206.8 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема разгрузочного конвейера</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Постоянной производительности, шестеренчатый насос</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">57.5 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">206.8 бар</td>
        </tr>
        <tr>
            <td>Моторная группа</td>
            <td colspan="2">Char-Lyn серии 6000, Geroler</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">24 вольта</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">8-D, 1155 CCA (2 шт.)</td>
        </tr>
        <tr>
            <td>Защита системы</td>
            <td colspan="2">С плавким предохранителем</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Пульт управления</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">ЖК-дисплей</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Датчики</td>
            <td colspan="2">Два, уровень топлива и гидравлическое давление</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Влагостойкий, переключаемого типа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дистанционное радиоуправление</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">ЖК-дисплей</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Герметизированная мембрана</td>
        </tr>
        <tr>
            <td>Рабочий диапазон</td>
            <td colspan="2">До 91 м</td>
        </tr>
        <tr>
            <td>Тип аккумуляторной батареи</td>
            <td colspan="2">AA (6 шт.)</td>
        </tr>
        <tr>
            <td>Настройка канала</td>
            <td colspan="2">50 каналов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">Конструкция с несущим кузовом</td>
        </tr>
        <tr>
            <td>Описание дышла</td>
            <td colspan="2">Специальная</td>
        </tr>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">Шкворень</td>
        </tr>
        <tr>
            <td>Описание предохранительного щита</td>
            <td colspan="2">Формованная сталь, сменные</td>
        </tr>
        <tr>
            <td>Тип тормозов</td>
            <td colspan="2">Пневматический стояночный тормозной механизм с пружинным включением</td>
        </tr>
        <tr>
            <td>Тип осветительных приборов прицепа</td>
            <td colspan="2">Светодиодный индикатор 12-24 В</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Мост/подвеска</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип подвески</td>
            <td colspan="2">Пружина</td>
        </tr>
        <tr>
            <td>Изготовитель – первый вариант</td>
            <td colspan="2">Hendrickson</td>
        </tr>
        <tr>
            <td>Грузоподъемность на мост</td>
            <td colspan="2">9071.8 кг</td>
        </tr>
        <tr>
            <td>Количество осей</td>
            <td colspan="2">2</td>
        </tr>
    </tbody>
</table>