<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и длины – длинный механизм подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная длина – транспортная</td>
            <td colspan="2">950 см</td>
        </tr>
        <tr>
            <td>Максимальная длина (рабочая)</td>
            <td colspan="2">1440 см</td>
        </tr>
        <tr>
            <td>Максимальная транспортная ширина – с тележкой</td>
            <td colspan="2">260 см</td>
        </tr>
        <tr>
            <td>Максимальная высота - транспортная (с тележкой)</td>
            <td colspan="2">3020 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">17644.7 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес – установка на опорной раме, с длинным механизмом подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная ширина</td>
            <td colspan="2">254 см</td>
        </tr>
        <tr>
            <td>Максимальная длина – складной конвейер</td>
            <td colspan="2">1440 см</td>
        </tr>
        <tr>
            <td>Максимальная высота – складной конвейер</td>
            <td colspan="2">4360 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">17644.7 кг</td>
        </tr>
        <tr>
            <td>Вес задней подушки</td>
            <td colspan="2">11339.8 кг</td>
        </tr>
        <tr>
            <td>Вес передней подушки</td>
            <td colspan="2">6304.9 кг</td>
        </tr>
        <tr>
            <td>Уровень звукового давления</td>
            <td colspan="2">110,2 дБ(A) re1pW</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя электрического вентилятора - 60 Гц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Weg</td>
        </tr>
        <tr>
            <td>Рама</td>
            <td colspan="2">145T</td>
        </tr>
        <tr>
            <td>Мощность</td>
            <td colspan="2">2 л.с</td>
        </tr>
        <tr>
            <td>Частота</td>
            <td colspan="2">60 Гц</td>
        </tr>
        <tr>
            <td>Фаза</td>
            <td colspan="2">3-фазный</td>
        </tr>
        <tr>
            <td>Номинальная скорость</td>
            <td colspan="2">1750 об/мин</td>
        </tr>
        <tr>
            <td>Кожух</td>
            <td colspan="2">TEFC</td>
        </tr>
        <tr>
            <td>Ток при полной нагрузке</td>
            <td colspan="2">2.61</td>
        </tr>
        <tr>
            <td>Заблокированный ротор, ампер</td>
            <td colspan="2">19.6</td>
        </tr>
        <tr>
            <td>Эксплуатационный коэффициент</td>
            <td colspan="2">1.25</td>
        </tr>
        <tr>
            <td>Рабочий цикл</td>
            <td colspan="2">S1 – непрерывный</td>
        </tr>
        <tr>
            <td>Конструкция NEMA</td>
            <td colspan="2">B</td>
        </tr>
        <tr>
            <td>Класс изоляции</td>
            <td colspan="2">F</td>
        </tr>
        <tr>
            <td>Крутящий момент при полной нагрузке</td>
            <td colspan="2">8 Нм</td>
        </tr>
        <tr>
            <td>Заблокированный ротор (%)</td>
            <td colspan="2">240</td>
        </tr>
        <tr>
            <td>Неисправность</td>
            <td colspan="2">300</td>
        </tr>
        <tr>
            <td>Температура окружающей среды</td>
            <td colspan="2">40 c</td>
        </tr>
        <tr>
            <td>Номинальный КПД</td>
            <td colspan="2">86,5% (NEMA Premium)</td>
        </tr>
        <tr>
            <td>Коэффициент мощности</td>
            <td colspan="2">0,84</td>
        </tr>
        <tr>
            <td>Приблизительный вес</td>
            <td colspan="2">23.1 кг</td>
        </tr>
        <tr>
            <td>Дополнительные элементы</td>
            <td colspan="2">Клеммная коробка, С-образный фланец</td>
        </tr>
        <tr>
            <td>Тип приводного ремня</td>
            <td colspan="2">Прямой</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Второй вариант двигателя электрического вентилятора - 50 Гц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Weg</td>
        </tr>
        <tr>
            <td>Рама</td>
            <td colspan="2">90 л</td>
        </tr>
        <tr>
            <td>Мощность</td>
            <td colspan="2">2 л.с</td>
        </tr>
        <tr>
            <td>Напряжение</td>
            <td colspan="2">380</td>
        </tr>
        <tr>
            <td>Частота</td>
            <td colspan="2">50 Гц</td>
        </tr>
        <tr>
            <td>Фаза</td>
            <td colspan="2">3-фазный</td>
        </tr>
        <tr>
            <td>Номинальная скорость</td>
            <td colspan="2">1430 об/мин</td>
        </tr>
        <tr>
            <td>Кожух</td>
            <td colspan="2">TEFC</td>
        </tr>
        <tr>
            <td>Ток при полной нагрузке</td>
            <td colspan="2">3.32</td>
        </tr>
        <tr>
            <td>Заблокированный ротор, ампер</td>
            <td colspan="2">20.9</td>
        </tr>
        <tr>
            <td>Эксплуатационный коэффициент</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Рабочий цикл</td>
            <td colspan="2">S1 – непрерывный</td>
        </tr>
        <tr>
            <td>Конструкция NEMA</td>
            <td colspan="2">N</td>
        </tr>
        <tr>
            <td>Класс изоляции</td>
            <td colspan="2">F</td>
        </tr>
        <tr>
            <td>Крутящий момент при полной нагрузке</td>
            <td colspan="2">10 Нм</td>
        </tr>
        <tr>
            <td>Заблокированный ротор (%)</td>
            <td colspan="2">180</td>
        </tr>
        <tr>
            <td>Неисправность</td>
            <td colspan="2">250</td>
        </tr>
        <tr>
            <td>Температура окружающей среды</td>
            <td colspan="2">40 c</td>
        </tr>
        <tr>
            <td>Номинальный КПД</td>
            <td colspan="2">IE2</td>
        </tr>
        <tr>
            <td>Коэффициент мощности</td>
            <td colspan="2">0,83</td>
        </tr>
        <tr>
            <td>Приблизительный вес</td>
            <td colspan="2">22.2 кг</td>
        </tr>
        <tr>
            <td>Дополнительные элементы</td>
            <td colspan="2">Клеммная коробка, С-образный фланец</td>
        </tr>
        <tr>
            <td>Тип приводного ремня</td>
            <td colspan="2">Прямой</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант электрогидравлического двигателя - 60 Гц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Weg</td>
        </tr>
        <tr>
            <td>Рама</td>
            <td colspan="2">326T</td>
        </tr>
        <tr>
            <td>Мощность</td>
            <td colspan="2">50 л.с</td>
        </tr>
        <tr>
            <td>Напряжение</td>
            <td colspan="2">460</td>
        </tr>
        <tr>
            <td>Частота</td>
            <td colspan="2">60 Гц</td>
        </tr>
        <tr>
            <td>Фаза</td>
            <td colspan="2">3-фазный</td>
        </tr>
        <tr>
            <td>Номинальная скорость</td>
            <td colspan="2">1775 об/мин</td>
        </tr>
        <tr>
            <td>Кожух</td>
            <td colspan="2">TEFC</td>
        </tr>
        <tr>
            <td>Ток при полной нагрузке</td>
            <td colspan="2">59.2</td>
        </tr>
        <tr>
            <td>Заблокированный ротор, ампер</td>
            <td colspan="2">367</td>
        </tr>
        <tr>
            <td>Эксплуатационный коэффициент</td>
            <td colspan="2">1.25</td>
        </tr>
        <tr>
            <td>Рабочий цикл</td>
            <td colspan="2">S1 – непрерывный</td>
        </tr>
        <tr>
            <td>Конструкция NEMA</td>
            <td colspan="2">B</td>
        </tr>
        <tr>
            <td>Класс изоляции</td>
            <td colspan="2">F</td>
        </tr>
        <tr>
            <td>Крутящий момент при полной нагрузке</td>
            <td colspan="2">197.9 Нм</td>
        </tr>
        <tr>
            <td>Заблокированный ротор (%)</td>
            <td colspan="2">230</td>
        </tr>
        <tr>
            <td>Неисправность</td>
            <td colspan="2">270</td>
        </tr>
        <tr>
            <td>Температура окружающей среды</td>
            <td colspan="2">40 c</td>
        </tr>
        <tr>
            <td>Номинальный КПД</td>
            <td colspan="2">94,5 (NEMA Premium)</td>
        </tr>
        <tr>
            <td>Коэффициент мощности</td>
            <td colspan="2">0,83</td>
        </tr>
        <tr>
            <td>Приблизительный вес</td>
            <td colspan="2">243.1 кг</td>
        </tr>
        <tr>
            <td>Дополнительные элементы</td>
            <td colspan="2">Клеммная коробка, С-образный фланец</td>
        </tr>
        <tr>
            <td>Тип приводного ремня</td>
            <td colspan="2">Прямой</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Второй вариант электрогидравлического двигателя - 50 Гц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Weg</td>
        </tr>
        <tr>
            <td>Рама</td>
            <td colspan="2">225S/M</td>
        </tr>
        <tr>
            <td>Мощность</td>
            <td colspan="2">50 л.с</td>
        </tr>
        <tr>
            <td>Напряжение</td>
            <td colspan="2">380</td>
        </tr>
        <tr>
            <td>Частота</td>
            <td colspan="2">50 Гц</td>
        </tr>
        <tr>
            <td>Фаза</td>
            <td colspan="2">3-фазный</td>
        </tr>
        <tr>
            <td>Номинальная скорость</td>
            <td colspan="2">1475 об/мин</td>
        </tr>
        <tr>
            <td>Кожух</td>
            <td colspan="2">TEFC</td>
        </tr>
        <tr>
            <td>Ток при полной нагрузке</td>
            <td colspan="2">68.5</td>
        </tr>
        <tr>
            <td>Заблокированный ротор, ампер</td>
            <td colspan="2">534</td>
        </tr>
        <tr>
            <td>Эксплуатационный коэффициент</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Рабочий цикл</td>
            <td colspan="2">S1 – непрерывный</td>
        </tr>
        <tr>
            <td>Конструкция NEMA</td>
            <td colspan="2">N</td>
        </tr>
        <tr>
            <td>Класс изоляции</td>
            <td colspan="2">F</td>
        </tr>
        <tr>
            <td>Крутящий момент при полной нагрузке</td>
            <td colspan="2">240 Нм</td>
        </tr>
        <tr>
            <td>Заблокированный ротор (%)</td>
            <td colspan="2">250</td>
        </tr>
        <tr>
            <td>Неисправность</td>
            <td colspan="2">270</td>
        </tr>
        <tr>
            <td>Температура окружающей среды</td>
            <td colspan="2">40 c</td>
        </tr>
        <tr>
            <td>Номинальный КПД</td>
            <td colspan="2">94,3 (IE3)</td>
        </tr>
        <tr>
            <td>Коэффициент мощности</td>
            <td colspan="2">0,87</td>
        </tr>
        <tr>
            <td>Приблизительный вес</td>
            <td colspan="2">391.9 кг</td>
        </tr>
        <tr>
            <td>Дополнительные элементы</td>
            <td colspan="2">Клеммная коробка, С-образный фланец</td>
        </tr>
        <tr>
            <td>Тип приводного ремня</td>
            <td colspan="2">Прямой</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя электрической мельницы - 60 Гц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Weg</td>
        </tr>
        <tr>
            <td>Рама</td>
            <td colspan="2">586/7z</td>
        </tr>
        <tr>
            <td>Мощность</td>
            <td colspan="2">500 л.с</td>
        </tr>
        <tr>
            <td>Напряжение</td>
            <td colspan="2">460 вольт</td>
        </tr>
        <tr>
            <td>Частота</td>
            <td colspan="2">60 Гц</td>
        </tr>
        <tr>
            <td>Фаза</td>
            <td colspan="2">3-фазный</td>
        </tr>
        <tr>
            <td>Номинальная скорость</td>
            <td colspan="2">1790 об/мин</td>
        </tr>
        <tr>
            <td>Кожух</td>
            <td colspan="2">TEFC</td>
        </tr>
        <tr>
            <td>Ток при полной нагрузке</td>
            <td colspan="2">564</td>
        </tr>
        <tr>
            <td>Заблокированный ротор, ампер</td>
            <td colspan="2">3610</td>
        </tr>
        <tr>
            <td>Эксплуатационный коэффициент</td>
            <td colspan="2">1.15</td>
        </tr>
        <tr>
            <td>Рабочий цикл</td>
            <td colspan="2">S1 – непрерывный</td>
        </tr>
        <tr>
            <td>Конструкция NEMA</td>
            <td colspan="2">B</td>
        </tr>
        <tr>
            <td>Класс изоляции</td>
            <td colspan="2">F</td>
        </tr>
        <tr>
            <td>Крутящий момент при полной нагрузке</td>
            <td colspan="2">1961.9 Нм</td>
        </tr>
        <tr>
            <td>Заблокированный ротор (%)</td>
            <td colspan="2">210</td>
        </tr>
        <tr>
            <td>Неисправность</td>
            <td colspan="2">200</td>
        </tr>
        <tr>
            <td>Температура окружающей среды</td>
            <td colspan="2">40 c</td>
        </tr>
        <tr>
            <td>Номинальный КПД</td>
            <td colspan="2">95,8 (NEMA высокоэффективный)</td>
        </tr>
        <tr>
            <td>Коэффициент мощности</td>
            <td colspan="2">0,86</td>
        </tr>
        <tr>
            <td>Приблизительный вес</td>
            <td colspan="2">1774.5 кг</td>
        </tr>
        <tr>
            <td>Дополнительные элементы</td>
            <td colspan="2">Клеммная коробка, термостат (155С), мощный инвертор, мощный измельчитель, подшипники вальца</td>
        </tr>
        <tr>
            <td>Тип приводного ремня</td>
            <td colspan="2">Ремень</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Второй вариант двигателя электрической мельницы - 50 Гц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Weg</td>
        </tr>
        <tr>
            <td>Рама</td>
            <td colspan="2">355 M/L</td>
        </tr>
        <tr>
            <td>Мощность</td>
            <td colspan="2">500 л.с</td>
        </tr>
        <tr>
            <td>Напряжение</td>
            <td colspan="2">380</td>
        </tr>
        <tr>
            <td>Частота</td>
            <td colspan="2">50 Гц</td>
        </tr>
        <tr>
            <td>Фаза</td>
            <td colspan="2">3-фазный</td>
        </tr>
        <tr>
            <td>Номинальная скорость</td>
            <td colspan="2">1490 об/мин</td>
        </tr>
        <tr>
            <td>Кожух</td>
            <td colspan="2">TEFC</td>
        </tr>
        <tr>
            <td>Ток при полной нагрузке</td>
            <td colspan="2">675</td>
        </tr>
        <tr>
            <td>Заблокированный ротор, ампер</td>
            <td colspan="2">4730</td>
        </tr>
        <tr>
            <td>Эксплуатационный коэффициент</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Рабочий цикл</td>
            <td colspan="2">S1 – непрерывный</td>
        </tr>
        <tr>
            <td>Конструкция NEMA</td>
            <td colspan="2">N</td>
        </tr>
        <tr>
            <td>Класс изоляции</td>
            <td colspan="2">F</td>
        </tr>
        <tr>
            <td>Крутящий момент при полной нагрузке</td>
            <td colspan="2">2372.7 Нм</td>
        </tr>
        <tr>
            <td>Заблокированный ротор (%)</td>
            <td colspan="2">210</td>
        </tr>
        <tr>
            <td>Неисправность</td>
            <td colspan="2">220</td>
        </tr>
        <tr>
            <td>Температура окружающей среды</td>
            <td colspan="2">40 c</td>
        </tr>
        <tr>
            <td>Номинальный КПД</td>
            <td colspan="2">95,7 (IE2)</td>
        </tr>
        <tr>
            <td>Коэффициент мощности</td>
            <td colspan="2">0,87</td>
        </tr>
        <tr>
            <td>Приблизительный вес</td>
            <td colspan="2">1971.3 кг</td>
        </tr>
        <tr>
            <td>Дополнительные элементы</td>
            <td colspan="2">Клеммная коробка, термостат (155С), мощный инвертор, подшипники вальца</td>
        </tr>
        <tr>
            <td>Тип приводного ремня</td>
            <td colspan="2">Ремень</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрический пульт</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Высота</td>
            <td colspan="2">228.6 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">302.3 см</td>
        </tr>
        <tr>
            <td>Глубина</td>
            <td colspan="2">66 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">1369.8 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Подающий валик</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ширина подающего стола</td>
            <td colspan="2">152.4 см</td>
        </tr>
        <tr>
            <td>Глубина подающего стола</td>
            <td colspan="2">53.3 см</td>
        </tr>
        <tr>
            <td>Длина подающего стола – первый вариант</td>
            <td colspan="2">460 см</td>
        </tr>
        <tr>
            <td>Грузоподъемность подающего стола</td>
            <td colspan="2">3.7 м³</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">200 см</td>
        </tr>
        <tr>
            <td>Конструкция раструба</td>
            <td colspan="2">Встроенная в раму</td>
        </tr>
        <tr>
            <td>Тип подающего конвейера</td>
            <td colspan="2">Сварная пластинчатая цепь</td>
        </tr>
        <tr>
            <td>Структура материала</td>
            <td colspan="2">Сталь</td>
        </tr>
        <tr>
            <td>Тип привода</td>
            <td colspan="2">Радиально-поршневой двигатель</td>
        </tr>
        <tr>
            <td>Конструкция ведущего ролика</td>
            <td colspan="2">Сварная сталь</td>
        </tr>
        <tr>
            <td>Конструкция переднего натяжного ролика</td>
            <td colspan="2">Самоочищающийся стальной шнековый бур</td>
        </tr>
        <tr>
            <td>Конструкция настила подающего устройства</td>
            <td colspan="2">Сварная сталь, со сменными износными UHMW-накладками</td>
        </tr>
        <tr>
            <td>Ширина подающего валика</td>
            <td colspan="2">147.3 см</td>
        </tr>
        <tr>
            <td>Вес подающего валика</td>
            <td colspan="2">453.6 кг</td>
        </tr>
        <tr>
            <td>Диаметр подающего валика</td>
            <td colspan="2">71.1 см</td>
        </tr>
        <tr>
            <td>Максимальная высота подачи</td>
            <td colspan="2">66 см</td>
        </tr>
        <tr>
            <td>Тип материала</td>
            <td colspan="2">Специальная сталь</td>
        </tr>
        <tr>
            <td>Конструкция зуба</td>
            <td colspan="2">Зубчатые брусья</td>
        </tr>
        <tr>
            <td>Количество зубьев</td>
            <td colspan="2">10 брусьев</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">Постоянной производительности, Geroler</td>
        </tr>
        <tr>
            <td>Планетарный привод</td>
            <td colspan="2">34 2:1</td>
        </tr>
        <tr>
            <td>Давление прижима подающего валика</td>
            <td colspan="2">Регулируемый</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Отражатель вылетающего материала</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Положение отражателя</td>
            <td colspan="2">Переменный</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дуплексный барабан</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Отверстие измельчительной камеры</td>
            <td colspan="2">Ширина 152 см x высота 66 см</td>
        </tr>
        <tr>
            <td>Диаметр барабана</td>
            <td colspan="2">57.2 см</td>
        </tr>
        <tr>
            <td>Диаметр наконечника</td>
            <td colspan="2">79.5 см</td>
        </tr>
        <tr>
            <td>Режущая ширина барабана</td>
            <td colspan="2">153.9 см</td>
        </tr>
        <tr>
            <td>Толщина стенки барабана</td>
            <td colspan="2">3.8 см</td>
        </tr>
        <tr>
            <td>Скорость вращения барабана</td>
            <td colspan="2">1125 об/мин</td>
        </tr>
        <tr>
            <td>Тип подшипника</td>
            <td colspan="2">Двурядный, сферический ролик</td>
        </tr>
        <tr>
            <td>Подшипник – диаметр внутреннего кольца</td>
            <td colspan="2">10.9 см</td>
        </tr>
        <tr>
            <td>Количество молотков</td>
            <td colspan="2">9</td>
        </tr>
        <tr>
            <td>Количество кромок</td>
            <td colspan="2">18</td>
        </tr>
        <tr>
            <td>Размеры центрального стопорного штифта</td>
            <td colspan="2">диаметр 5 см, длина 191 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Барабан измельчителя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Отверстие измельчительной камеры</td>
            <td colspan="2">Ширина 152 см x высота 66 см</td>
        </tr>
        <tr>
            <td>Диаметр барабана</td>
            <td colspan="2">57.2 см</td>
        </tr>
        <tr>
            <td>Диаметр наконечника</td>
            <td colspan="2">79.5 см</td>
        </tr>
        <tr>
            <td>Режущая ширина барабана</td>
            <td colspan="2">153.9 см</td>
        </tr>
        <tr>
            <td>Толщина стенки барабана</td>
            <td colspan="2">3.8 см</td>
        </tr>
        <tr>
            <td>Скорость вращения барабана</td>
            <td colspan="2">1141 об/мин</td>
        </tr>
        <tr>
            <td>Тип подшипника</td>
            <td colspan="2">Двурядный, сферический ролик</td>
        </tr>
        <tr>
            <td>Подшипник – диаметр внутреннего кольца</td>
            <td colspan="2">10.9 см</td>
        </tr>
        <tr>
            <td>Количество молотков</td>
            <td colspan="2">9</td>
        </tr>
        <tr>
            <td>Количество кромок</td>
            <td colspan="2">18</td>
        </tr>
        <tr>
            <td>Размеры центрального стопорного штифта</td>
            <td colspan="2">диаметр 5 см, длина 191 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Сетки</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Размеры сетки</td>
            <td colspan="2">Толщина 1,9 см</td>
        </tr>
        <tr>
            <td>Тип сетки</td>
            <td colspan="2">Изготовлено из износостойкой стали</td>
        </tr>
        <tr>
            <td>Количество сеток</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Площадь сетки</td>
            <td colspan="2">20200 см²</td>
        </tr>
        <tr>
            <td>Количество сторон</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Размеры облицовки крышки измельчительной камеры</td>
            <td colspan="2">Износостойкая сталь</td>
        </tr>
        <tr>
            <td>Размеры облицовки</td>
            <td colspan="2">Толщина 1.3 см x ширина 12.7 см x длина 156.5 см</td>
        </tr>
        <tr>
            <td>Тип «наковальня»</td>
            <td colspan="2">Специальная сталь со сменными накладками износа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система – конструкция с одной лентой</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">2170 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">121.9 см</td>
        </tr>
        <tr>
            <td>Конструкция ленты</td>
            <td colspan="2">3-слойный 150 кг с V-образной планкой</td>
        </tr>
        <tr>
            <td>Сращивание</td>
            <td colspan="2">R2 - нержавеющая сталь</td>
        </tr>
        <tr>
            <td>Количество поддерживающих катков</td>
            <td colspan="2">3</td>
        </tr>
        <tr>
            <td>Диаметр натяжного ролика</td>
            <td colspan="2">30.5 см</td>
        </tr>
        <tr>
            <td>Подшипник натяжного ролика</td>
            <td colspan="2">4-болтовой фланец 4,9 см</td>
        </tr>
        <tr>
            <td>Ведущий ролик стандартного диаметра</td>
            <td colspan="2">32.5 см</td>
        </tr>
        <tr>
            <td>Диаметр ведущего ролика электромагнитного привода</td>
            <td colspan="2">32.5 см</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">Постоянной производительности, Geroler</td>
        </tr>
        <tr>
            <td>Скорость движения ленты</td>
            <td colspan="2">161.2 м/мин</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">430 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">227.1 л</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Vermeer HyPower 68</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Двойные, в баке, фильтры возвратного контура (B5=200)</td>
        </tr>
        <tr>
            <td>Количество охлаждающих устройств</td>
            <td colspan="2">1</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема рабочего оборудования</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур, с компенсацией по потоку</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Переменной производительности, аксиальный поршневой</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">25,9 (60Гц) ; 24,9 (50Гц)</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">3000</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема разгрузочного конвейера</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Постоянной производительности, шестеренчатый насос</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">55.6 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">3000</td>
        </tr>
        <tr>
            <td>Моторная группа</td>
            <td colspan="2">Char-Lyn серии 6000, Geroler</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">24 вольта</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">8-D, 1155 CCA (2 шт.)</td>
        </tr>
        <tr>
            <td>Защита системы</td>
            <td colspan="2">С плавким предохранителем</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Пульт управления</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">ЖК-дисплей</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Датчики</td>
            <td colspan="2">Гидравлическое давление (рабочий контур)</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Влагостойкий, переключаемого типа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дистанционное радиоуправление</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">ЖК-дисплей</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Герметизированная мембрана</td>
        </tr>
        <tr>
            <td>Рабочий диапазон</td>
            <td colspan="2">До 91.4 м</td>
        </tr>
        <tr>
            <td>Тип аккумуляторной батареи</td>
            <td colspan="2">AA (6 шт.)</td>
        </tr>
        <tr>
            <td>Настройка канала</td>
            <td colspan="2">50 каналов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">Конструкция с несущим кузовом</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Мост/подвеска</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип подвески</td>
            <td colspan="2">Пружина</td>
        </tr>
        <tr>
            <td>Изготовитель – первый вариант</td>
            <td colspan="2">Hendrickson</td>
        </tr>
        <tr>
            <td>Грузоподъемность на мост</td>
            <td>9071.8 кг</td>
        </tr>
        <tr>
            <td>Количество осей</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Шины – первый вариант</td>
            <td colspan="2">425/65R22.5 одинарные Super Singles</td>
        </tr>
        <tr>
            <td>Колеса – первый вариант</td>
            <td colspan="2">Алюминий</td>
        </tr>
        <tr>
            <td>Шины – второй вариант</td>
            <td colspan="2">385/65R22.5 одинарные Super Singles</td>
        </tr>
        <tr>
            <td>Колеса – второй вариант</td>
            <td colspan="2">Алюминий</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Сетки</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Группа специальных инструментов</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>