<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и длины – длинный механизм подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная длина – транспортная</td>
            <td colspan="2">1130 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Caterpillar C13</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">6</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">440 л.с</td>
        </tr>
        <tr>
            <td>Крутящий момент (макс.)</td>
            <td colspan="2">2010.7 Нм</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">851.7 л</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">85.6 л/час</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное топливо</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">2-ступенчатый</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Навинчиваемый, дистанционный</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">API CC/CD</td>
        </tr>
        <tr>
            <td>Объем масла с учетом фильтра</td>
            <td colspan="2">7.6 л</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Объем охлаждающей жидкости (в двигателе и радиаторе)</td>
            <td colspan="2">69.3 л</td>
        </tr>
        <tr>
            <td>Разность температур «воздух - кипение»</td>
            <td colspan="2">133 градусов</td>
        </tr>
        <tr>
            <td>Вентилятор</td>
            <td colspan="2">Стандартный, реверсивный гибкий</td>
        </tr>
        <tr>
            <td>Тип сцепления</td>
            <td colspan="2">PT Tech – сухая муфта с электронным управлением</td>
        </tr>
        <tr>
            <td>Включение сцепления</td>
            <td colspan="2">Включенная сухая муфта</td>
        </tr>
        <tr>
            <td>Тип приводного ремня</td>
            <td colspan="2">Клиновой ремень</td>
        </tr>
        <tr>
            <td>Уровень звукового давления</td>
            <td colspan="2">112.70 дБ(а) relPW</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Подающий валик</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ширина подающего стола</td>
            <td colspan="2">127 см</td>
        </tr>
        <tr>
            <td>Глубина подающего стола</td>
            <td colspan="2">71.6 см</td>
        </tr>
        <tr>
            <td>Длина подающего стола – первый вариант</td>
            <td colspan="2">430 см</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">240 см</td>
        </tr>
        <tr>
            <td>Тип подающего конвейера</td>
            <td colspan="2">Цепь и рейка</td>
        </tr>
        <tr>
            <td>Длина подающего валика</td>
            <td colspan="2">120.7 см</td>
        </tr>
        <tr>
            <td>Диаметр подающего валика</td>
            <td colspan="2">71.1 см</td>
        </tr>
        <tr>
            <td>Максимальная высота подачи</td>
            <td colspan="2">65.4 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Отражатель вылетающего материала</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Положение отражателя</td>
            <td colspan="2">Переменный</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дуплексный барабан</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Диаметр барабана</td>
            <td colspan="2">57.2 см</td>
        </tr>
        <tr>
            <td>Диаметр наконечника</td>
            <td colspan="2">72.6 см</td>
        </tr>
        <tr>
            <td>Режущая ширина барабана</td>
            <td colspan="2">130.1 см</td>
        </tr>
        <tr>
            <td>Толщина стенки барабана</td>
            <td colspan="2">3.8 см</td>
        </tr>
        <tr>
            <td>Скорость вращения барабана</td>
            <td colspan="2">1050 об/мин</td>
        </tr>
        <tr>
            <td>Скорость наконечника</td>
            <td colspan="2">7862 об/мин</td>
        </tr>
        <tr>
            <td>Тип подшипника</td>
            <td colspan="2">Двурядный, сферический ролик</td>
        </tr>
        <tr>
            <td>Количество молотков</td>
            <td colspan="2">8</td>
        </tr>
        <tr>
            <td>Количество кромок</td>
            <td colspan="2">16</td>
        </tr>
        <tr>
            <td>Размеры центрального стопорного штифта</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Количество щеток стеклоочистителя</td>
            <td colspan="2">1 с каждой стороны</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Барабан измельчителя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Диаметр барабана</td>
            <td colspan="2">57.2 см</td>
        </tr>
        <tr>
            <td>Диаметр наконечника</td>
            <td colspan="2">72.6 см</td>
        </tr>
        <tr>
            <td>Режущая ширина барабана</td>
            <td colspan="2">130.1 см</td>
        </tr>
        <tr>
            <td>Толщина стенки барабана</td>
            <td colspan="2">3.8 см</td>
        </tr>
        <tr>
            <td>Скорость вращения барабана</td>
            <td colspan="2">1050 об/мин</td>
        </tr>
        <tr>
            <td>Скорость наконечника</td>
            <td colspan="2">7862 об/мин</td>
        </tr>
        <tr>
            <td>Тип подшипника</td>
            <td colspan="2">Двурядный, сферический ролик</td>
        </tr>
        <tr>
            <td>Количество молотков</td>
            <td colspan="2">8</td>
        </tr>
        <tr>
            <td>Количество кромок</td>
            <td colspan="2">16</td>
        </tr>
        <tr>
            <td>Размеры центрального стопорного штифта</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Количество щеток стеклоочистителя</td>
            <td colspan="2">1 с каждой стороны</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Сетки</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вес сетки</td>
            <td colspan="2">180.5 кг</td>
        </tr>
        <tr>
            <td>Размеры сетки</td>
            <td colspan="2">Толщина 1.9 см</td>
        </tr>
        <tr>
            <td>Тип сетки</td>
            <td colspan="2">Изготовлено из износостойкой стали</td>
        </tr>
        <tr>
            <td>Количество сеток</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Площадь сетки</td>
            <td colspan="2">10722.6 см²</td>
        </tr>
        <tr>
            <td>Количество сторон</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Тип «наковальня»</td>
            <td colspan="2">Съемный сварной узел</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система – конструкция с одной лентой</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">1600 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">121.9 см</td>
        </tr>
        <tr>
            <td>Конструкция ленты</td>
            <td colspan="2">3-слойный 136 кг с V-образной планкой</td>
        </tr>
        <tr>
            <td>Сращивание</td>
            <td colspan="2">FLEXCO R2</td>
        </tr>
        <tr>
            <td>Количество поддерживающих катков</td>
            <td colspan="2">3</td>
        </tr>
        <tr>
            <td>Диаметр натяжного ролика</td>
            <td colspan="2">12.7 см</td>
        </tr>
        <tr>
            <td>Ведущий ролик стандартного диаметра</td>
            <td colspan="2">32.5 см</td>
        </tr>
        <tr>
            <td>Диаметр ведущего ролика электромагнитного привода</td>
            <td colspan="2">32.5 см</td>
        </tr>
        <tr>
            <td>Скорость движения ленты</td>
            <td colspan="2">152.4 м/мин</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">300 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">378.5 л</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Vermeer HyPower 68</td>
        </tr>
        <tr>
            <td>Количество охлаждающих устройств</td>
            <td colspan="2">1</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема рабочего оборудования</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Шестеренчатый насос</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">24 вольта</td>
        </tr>
        <tr>
            <td>Защита системы</td>
            <td colspan="2">Отсоединение батареи, плавкие предохранители цепи</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Пульт управления</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">Жидкокристаллический монохромный дисплей, 128/64 пикселей, многофункциональный</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">CAN-параметры CAT SAE J1939</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Эксплуатационные, диагностические, системные параметры</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">SAE J1939 – рекомендуемые диагностические коды</td>
        </tr>
        <tr>
            <td>Датчики</td>
            <td colspan="2">Топливо, диагностические порты</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Коромысло, мембрана</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дистанционное радиоуправление</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">Монохроматический многострочный ЖК-дисплей</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">CAN-параметры CAT SAE J1939</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Эксплуатационные, диагностические, системные параметры</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">SAE J1939 – рекомендуемые диагностические коды</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Мембрана, джойстик</td>
        </tr>
        <tr>
            <td>Рабочий диапазон</td>
            <td colspan="2">До 91.4 м</td>
        </tr>
        <tr>
            <td>Тип аккумуляторной батареи</td>
            <td colspan="2">NiMH</td>
        </tr>
        <tr>
            <td>Настройка канала</td>
            <td colspan="2">Многочастотный</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гусеницы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы гусеницы</td>
            <td colspan="2">Жесткая рама</td>
        </tr>
        <tr>
            <td>Тип гусеницы</td>
            <td colspan="2">Двойной грунтозацеп D4</td>
        </tr>
        <tr>
            <td>Тип насоса гусеничного привода</td>
            <td colspan="2">Замкнутый контур</td>
        </tr>
        <tr>
            <td>Тип тормоза гусеничной цепи</td>
            <td colspan="2">Пружинное включение, гидравлическое выключение</td>
        </tr>
        <tr>
            <td>Длина гусеницы на земле</td>
            <td colspan="2">136.7</td>
        </tr>
        <tr>
            <td>Ширина гусеницы – первый вариант</td>
            <td colspan="2">20</td>
        </tr>
        <tr>
            <td>Ширина гусеницы первого варианта – допустимое давление на мягкий грунт</td>
            <td colspan="2">65.6 кПа</td>
        </tr>
        <tr>
            <td>Тип натяжного колеса</td>
            <td colspan="2">D4</td>
        </tr>
        <tr>
            <td>Количество натяжных колес</td>
            <td colspan="2">20</td>
        </tr>
        <tr>
            <td>Максимальная скорость</td>
            <td colspan="2">4.8 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная скорость малого хода (низкая)</td>
            <td colspan="2">2.5 км/ч</td>
        </tr>
    </tbody>
</table>