<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и длины – длинный механизм подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная длина – транспортная</td>
            <td colspan="2">1140 см</td>
        </tr>
        <tr>
            <td>Максимальная длина – транспортная (с тележкой)</td>
            <td colspan="2">1400 см</td>
        </tr>
        <tr>
            <td>Максимальная длина (рабочая)</td>
            <td colspan="2">1660 см</td>
        </tr>
        <tr>
            <td>Максимальная транспортная ширина – с тележкой</td>
            <td colspan="2">300 см</td>
        </tr>
        <tr>
            <td>Максимальная высота - транспортная (с тележкой)</td>
            <td colspan="2">393.2 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">34019.4 кг</td>
        </tr>
        <tr>
            <td>Вес дышла – 1-й вариант двигателя (с тележкой)</td>
            <td colspan="2">17050.5 кг</td>
        </tr>
        <tr>
            <td>Вес моста – 1-й вариант двигателя (с тележкой)</td>
            <td colspan="2">22185.2 кг</td>
        </tr>
        <tr>
            <td>Вес тележки</td>
            <td colspan="2">4309.1 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Caterpillar C18 Tier 3</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">6</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">630 л.с</td>
        </tr>
        <tr>
            <td>Крутящий момент (макс.)</td>
            <td colspan="2">2767.2 Нм</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">1324.9 л</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">131 л/час</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">Сухого типа, с элементами грубой и тонкой очистки и с индикатором загрязнения</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Полнопоточный, навинчиваемый</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">API CJ-4, вязкость зависит от температуры запуска</td>
        </tr>
        <tr>
            <td>Объем масла с учетом фильтра</td>
            <td colspan="2">34.1 л</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Объем охлаждающей жидкости (в двигателе и радиаторе)</td>
            <td colspan="2">80.6 л</td>
        </tr>
        <tr>
            <td>Генератор переменного тока</td>
            <td colspan="2">24 вольта</td>
        </tr>
        <tr>
            <td>Вентилятор</td>
            <td colspan="2">(2 шт.) Гидравлический привод, реверсивный</td>
        </tr>
        <tr>
            <td>Тип сцепления</td>
            <td colspan="2">«Мокрое» гидравлическое сцепление</td>
        </tr>
        <tr>
            <td>Включение сцепления</td>
            <td colspan="2">Нажимная кнопка</td>
        </tr>
        <tr>
            <td>Тип приводного ремня</td>
            <td colspan="2">Синхронный, углеродное волокно</td>
        </tr>
        <tr>
            <td>Уровень звукового давления</td>
            <td colspan="2">119,8 дБ(A)&nbsp;&mdash; выхлопная система машины в «люксовом» исполнении (вариант выхлопа 2 переходит на вариант двигателя один)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Отражатель вылетающего материала</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Положение отражателя</td>
            <td colspan="2">Переменный</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дуплексный барабан</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Отверстие измельчительной камеры</td>
            <td colspan="2">152,4 см Ш x 81,3 см В</td>
        </tr>
        <tr>
            <td>Диаметр барабана</td>
            <td colspan="2">71.1 см</td>
        </tr>
        <tr>
            <td>Диаметр наконечника</td>
            <td colspan="2">92.5 см</td>
        </tr>
        <tr>
            <td>Режущая ширина барабана</td>
            <td colspan="2">158.5 см</td>
        </tr>
        <tr>
            <td>Толщина стенки барабана</td>
            <td colspan="2">3.8 см</td>
        </tr>
        <tr>
            <td>Скорость вращения барабана</td>
            <td colspan="2">1086 об/мин</td>
        </tr>
        <tr>
            <td>Тип подшипника</td>
            <td colspan="2">Двурядный сферический роликоподшипник</td>
        </tr>
        <tr>
            <td>Подшипник – диаметр внутреннего кольца</td>
            <td colspan="2">14 см</td>
        </tr>
        <tr>
            <td>Количество молотков</td>
            <td colspan="2">10</td>
        </tr>
        <tr>
            <td>Количество кромок</td>
            <td colspan="2">20</td>
        </tr>
        <tr>
            <td>Размеры центрального стопорного штифта</td>
            <td colspan="2">Диаметр 5,1 см, длина 191,3 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дуплексный барабан</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Барабан измельчителя</td>
            <td colspan="2">60</td>
        </tr>
        <tr>
            <td>Диаметр барабана</td>
            <td colspan="2">87.1 см</td>
        </tr>
        <tr>
            <td>Режущая ширина барабана</td>
            <td colspan="2">160 см</td>
        </tr>
        <tr>
            <td>Толщина стенки барабана</td>
            <td colspan="2">3.8 см</td>
        </tr>
        <tr>
            <td>Скорость вращения барабана</td>
            <td colspan="2">683 об/мин</td>
        </tr>
        <tr>
            <td>Тип подшипника</td>
            <td colspan="2">Сферическая</td>
        </tr>
        <tr>
            <td>Подшипник – диаметр внутреннего кольца</td>
            <td colspan="2">14 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Сетки</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вес сетки</td>
            <td colspan="2">213.2 кг</td>
        </tr>
        <tr>
            <td>Размеры сетки</td>
            <td colspan="2">Толщина 1,9 см</td>
        </tr>
        <tr>
            <td>Тип сетки</td>
            <td colspan="2">Изготовлено из износостойкой стали</td>
        </tr>
        <tr>
            <td>Количество сеток</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Площадь сетки</td>
            <td colspan="2">21400 см²</td>
        </tr>
        <tr>
            <td>Количество сторон</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Размеры облицовки крышки измельчительной камеры</td>
            <td colspan="2">Износостойкая сталь</td>
        </tr>
        <tr>
            <td>Размеры облицовки</td>
            <td colspan="2">толщина 2,5 см, ширина 14,2 см, длина 166,1 см</td>
        </tr>
        <tr>
            <td>Тип «наковальня»</td>
            <td colspan="2">Специальная сталь со сменными накладками износа</td>
        </tr>
        <tr>
            <td>Размеры наковальни</td>
            <td colspan="2">57,9 см x 10,4 см x 205,2 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система – конструкция с одной лентой</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">2480 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">121.9 см</td>
        </tr>
        <tr>
            <td>Конструкция ленты</td>
            <td colspan="2">3-слойный – 150 кг или прямого плетения однослойный 150 кг, оба с V-образной планкой</td>
        </tr>
        <tr>
            <td>Сращивание</td>
            <td colspan="2">R2 - нержавеющая сталь или super splice</td>
        </tr>
        <tr>
            <td>Количество поддерживающих катков</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Диаметр натяжного ролика</td>
            <td colspan="2">30.5 см</td>
        </tr>
        <tr>
            <td>Подшипник натяжного ролика</td>
            <td colspan="2">4-болтовой фланец 4,9 см</td>
        </tr>
        <tr>
            <td>Ведущий ролик стандартного диаметра</td>
            <td colspan="2">32.5 см</td>
        </tr>
        <tr>
            <td>Диаметр ведущего ролика электромагнитного привода</td>
            <td colspan="2">32.5 см</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">Постоянной производительности, Geroler</td>
        </tr>
        <tr>
            <td>Подшипники приводного двигателя</td>
            <td colspan="2">4-болтовой фланец 4,9 см</td>
        </tr>
        <tr>
            <td>Скорость движения ленты</td>
            <td colspan="2">237.7 м/мин</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">430 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">378.5 л</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Vermeer HyPower 68</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Сдвоенные, встроенные в бак фильтры возвратного контура с сетчатым фильтром на линии всасывания</td>
        </tr>
        <tr>
            <td>Количество охлаждающих устройств</td>
            <td colspan="2">2 (рабочее оборудование / гусеничный привод)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема рабочего оборудования</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур, с компенсацией по давлению и потоку</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Переменной производительности, аксиальный поршневой</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">122.6 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">310 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема разгрузочного конвейера</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Постоянной производительности, шестеренчатый насос</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">97.3 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">206.84 бар</td>
        </tr>
        <tr>
            <td>Моторная группа</td>
            <td colspan="2">Char-Lyn серии 6000, Geroler</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема привода вентилятора</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур, с компенсацией по давлению и потоку</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Постоянной производительности, шестеренчатый насос</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">137 л/мин</td>
        </tr>
        <tr>
            <td>Моторная группа</td>
            <td colspan="2">Радиатор - Permco серии M197; CAC - Turolla OCG серии SNM2</td>
        </tr>
        <tr>
            <td>Вентиляторная группа - ВПЕРЕД/НАЗАД</td>
            <td colspan="2">Реверсивный</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Сцепление</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">68.1 л</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">VMF Gold</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Навинчиваемый напорный фильтр, B6 = 1000</td>
        </tr>
        <tr>
            <td>Количество охлаждающих устройств</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Постоянной производительности, шестеренчатый насос</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">46.9 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">17.9 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">24 вольта</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">Группа 8-D, CCA 1155 А (2 шт.)</td>
        </tr>
        <tr>
            <td>Защита системы</td>
            <td colspan="2">С плавким предохранителем</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Пульт управления</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">ЖК-дисплей</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Датчики</td>
            <td colspan="2">Два, уровень топлива и давление в гидравлической системе</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Влагостойкий, переключаемого типа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дистанционное радиоуправление</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">ЖК-дисплей</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Герметизированная мембрана</td>
        </tr>
        <tr>
            <td>Рабочий диапазон</td>
            <td colspan="2">До 91.4 м</td>
        </tr>
        <tr>
            <td>Тип аккумуляторной батареи</td>
            <td colspan="2">AA (6 шт.)</td>
        </tr>
        <tr>
            <td>Настройка канала</td>
            <td colspan="2">50 каналов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">Конструкция с несущим кузовом</td>
        </tr>
        <tr>
            <td>Описание дышла</td>
            <td colspan="2">Крепится болтами к конструкции подающего устройства</td>
        </tr>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">Сцепное устройство</td>
        </tr>
        <tr>
            <td>Описание предохранительного щита</td>
            <td colspan="2">Дополнительное болтовое крепление, формованная сталь</td>
        </tr>
        <tr>
            <td>Тип тормозов</td>
            <td colspan="2">Пневматический стояночный тормозной механизм с пружинным включением</td>
        </tr>
        <tr>
            <td>Тип осветительных приборов прицепа</td>
            <td colspan="2">Светодиодный индикатор 12-24 В</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Мост/подвеска</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип подвески</td>
            <td colspan="2">Пневматическая подвеска</td>
        </tr>
        <tr>
            <td>Изготовитель – первый вариант</td>
            <td colspan="2">Hendrickson</td>
        </tr>
        <tr>
            <td>Грузоподъемность на мост</td>
            <td colspan="2">9071.8 кг</td>
        </tr>
        <tr>
            <td>Количество осей</td>
            <td colspan="2">3</td>
        </tr>
        <tr>
            <td>Шины – первый вариант</td>
            <td colspan="2">255/70R22.5; сдвоенные</td>
        </tr>
        <tr>
            <td>Колеса – первый вариант</td>
            <td colspan="2">57,2 см x 21 см &mdash; с центровкой по ступицам, стальные</td>
        </tr>
        <tr>
            <td>Дорожный просвет – первый вариант</td>
            <td colspan="2">13.5 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гусеницы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы гусеницы</td>
            <td colspan="2">Жесткая рама с усиленным коробчатым сечением.</td>
        </tr>
        <tr>
            <td>Тип гусеницы</td>
            <td colspan="2">Двойной грунтозацеп D5</td>
        </tr>
        <tr>
            <td>Тип насоса гусеничного привода</td>
            <td colspan="2">SauerDanfoss серии H1</td>
        </tr>
        <tr>
            <td>Тип тормоза гусеничной цепи</td>
            <td colspan="2">Многодисковый стояночный тормозной механизм (с пружинным включением)</td>
        </tr>
        <tr>
            <td>Длина гусеницы на земле</td>
            <td colspan="2">360,7 см</td>
        </tr>
        <tr>
            <td>Ширина гусеницы – первый вариант</td>
            <td colspan="2">66 см</td>
        </tr>
        <tr>
            <td>Ширина гусеницы первого варианта – допустимое давление на твердый грунт</td>
            <td colspan="2">383.3 кПа</td>
        </tr>
        <tr>
            <td>Ширина гусеницы первого варианта – допустимое давление на мягкий грунт</td>
            <td colspan="2">70.3 кПа</td>
        </tr>
        <tr>
            <td>Второй вариант ширины гусеницы – допустимое давление на грунт – вариант</td>
            <td colspan="2">91 кПа</td>
        </tr>
        <tr>
            <td>Ширина гусеницы второго варианта – допустимое давление на грунт – второй вариант</td>
            <td colspan="2">497.8 кПа</td>
        </tr>
        <tr>
            <td>Тип натяжного колеса</td>
            <td colspan="2">Экскаваторные ролики D5</td>
        </tr>
        <tr>
            <td>Количество натяжных колес</td>
            <td colspan="2">20</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">162.8 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">344.7 бар</td>
        </tr>
        <tr>
            <td>Максимальная скорость</td>
            <td colspan="2">4.2 км/ч</td>
        </tr>
        <tr>
            <td>Медленный ход в режиме малого хода</td>
            <td colspan="2">1.6 км/ч</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Опциональный воздушный компрессор</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Фирменная марка воздушного компрессора</td>
            <td colspan="2">Mi-T-M</td>
        </tr>
        <tr>
            <td>Двигатель</td>
            <td colspan="2">Honda, 8,7 кВт</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">12.1 бар</td>
        </tr>
        <tr>
            <td>Максимальный воздушный поток</td>
            <td colspan="2">.8 cmm</td>
        </tr>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">113.6 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Сетки</td>
            <td colspan="2">да</td>
        </tr>
        <tr>
            <td>Группа специальных инструментов</td>
            <td colspan="2">да</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">да</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">да</td>
        </tr>
        <tr>
            <td>Воздушный компрессор</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
    </tbody>
</table>