<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и длины – длинный механизм подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная длина – транспортная (с тележкой)</td>
            <td colspan="2">1400 см</td>
        </tr>
        <tr>
            <td>Максимальная длина (рабочая)</td>
            <td colspan="2">1660 см</td>
        </tr>
        <tr>
            <td>Максимальная транспортная ширина – с тележкой</td>
            <td colspan="2">300 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">25401.2 кг</td>
        </tr>
        <tr>
            <td>Вес дышла – 1-й вариант двигателя (с тележкой)</td>
            <td colspan="2">9797.6 кг</td>
        </tr>
        <tr>
            <td>Вес моста – 1-й вариант двигателя (с тележкой)</td>
            <td colspan="2">19685.9 кг</td>
        </tr>
        <tr>
            <td>Вес тележки</td>
            <td colspan="2">4309.1 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес – установка на опорной раме, с длинным механизмом подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вес</td>
            <td colspan="2">25174.4 кг</td>
        </tr>
        <tr>
            <td>Вес задней подушки</td>
            <td colspan="2">14333.5 кг</td>
        </tr>
        <tr>
            <td>Вес передней подушки</td>
            <td colspan="2">10840.9 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя электрического вентилятора - 60 Гц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">WEG W22</td>
        </tr>
        <tr>
            <td>Рама</td>
            <td colspan="2">145T</td>
        </tr>
        <tr>
            <td>Мощность</td>
            <td colspan="2">2 л.с</td>
        </tr>
        <tr>
            <td>Напряжение</td>
            <td colspan="2">460</td>
        </tr>
        <tr>
            <td>Частота</td>
            <td colspan="2">60 Гц</td>
        </tr>
        <tr>
            <td>Фаза</td>
            <td colspan="2">3-фазный</td>
        </tr>
        <tr>
            <td>Номинальная скорость</td>
            <td colspan="2">1750 об/мин</td>
        </tr>
        <tr>
            <td>Кожух</td>
            <td colspan="2">TEFC</td>
        </tr>
        <tr>
            <td>Ток при полной нагрузке</td>
            <td colspan="2">2.61</td>
        </tr>
        <tr>
            <td>Заблокированный ротор, ампер</td>
            <td colspan="2">19.6</td>
        </tr>
        <tr>
            <td>Эксплуатационный коэффициент</td>
            <td colspan="2">1.25</td>
        </tr>
        <tr>
            <td>Рабочий цикл</td>
            <td colspan="2">S1 – непрерывный</td>
        </tr>
        <tr>
            <td>Конструкция NEMA</td>
            <td colspan="2">B</td>
        </tr>
        <tr>
            <td>Класс изоляции</td>
            <td colspan="2">F</td>
        </tr>
        <tr>
            <td>Крутящий момент при полной нагрузке</td>
            <td colspan="2">8 Нм</td>
        </tr>
        <tr>
            <td>Заблокированный ротор (%)</td>
            <td colspan="2">240</td>
        </tr>
        <tr>
            <td>Неисправность</td>
            <td colspan="2">300</td>
        </tr>
        <tr>
            <td>Температура окружающей среды</td>
            <td colspan="2">40 c</td>
        </tr>
        <tr>
            <td>Номинальный КПД</td>
            <td colspan="2">86,5% (NEMA Premium)</td>
        </tr>
        <tr>
            <td>Коэффициент мощности</td>
            <td colspan="2">0,84</td>
        </tr>
        <tr>
            <td>Приблизительный вес</td>
            <td colspan="2">23.1 кг</td>
        </tr>
        <tr>
            <td>Дополнительные элементы</td>
            <td colspan="2">Клеммная коробка</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант электрогидравлического двигателя - 60 Гц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">WEG W22</td>
        </tr>
        <tr>
            <td>Рама</td>
            <td colspan="2">364/5TS</td>
        </tr>
        <tr>
            <td>Мощность</td>
            <td>60 л.с</td>
        </tr>
        <tr>
            <td>Напряжение</td>
            <td colspan="2">460</td>
        </tr>
        <tr>
            <td>Частота</td>
            <td colspan="2">60 Гц</td>
        </tr>
        <tr>
            <td>Фаза</td>
            <td colspan="2">3-фазный</td>
        </tr>
        <tr>
            <td>Номинальная скорость</td>
            <td colspan="2">1775 об/мин</td>
        </tr>
        <tr>
            <td>Кожух</td>
            <td colspan="2">TEFC</td>
        </tr>
        <tr>
            <td>Ток при полной нагрузке</td>
            <td colspan="2">68.3</td>
        </tr>
        <tr>
            <td>Заблокированный ротор, ампер</td>
            <td colspan="2">451</td>
        </tr>
        <tr>
            <td>Эксплуатационный коэффициент</td>
            <td colspan="2">1.25</td>
        </tr>
        <tr>
            <td>Рабочий цикл</td>
            <td colspan="2">S1 – непрерывный</td>
        </tr>
        <tr>
            <td>Конструкция NEMA</td>
            <td colspan="2">B</td>
        </tr>
        <tr>
            <td>Класс изоляции</td>
            <td colspan="2">F</td>
        </tr>
        <tr>
            <td>Крутящий момент при полной нагрузке</td>
            <td colspan="2">237.3 Нм</td>
        </tr>
        <tr>
            <td>Заблокированный ротор (%)</td>
            <td colspan="2">240</td>
        </tr>
        <tr>
            <td>Неисправность</td>
            <td colspan="2">260</td>
        </tr>
        <tr>
            <td>Температура окружающей среды</td>
            <td colspan="2">40 c</td>
        </tr>
        <tr>
            <td>Номинальный КПД</td>
            <td colspan="2">95</td>
        </tr>
        <tr>
            <td>Коэффициент мощности</td>
            <td colspan="2">0,87</td>
        </tr>
        <tr>
            <td>Приблизительный вес</td>
            <td colspan="2">394.2 кг</td>
        </tr>
        <tr>
            <td>Дополнительные элементы</td>
            <td colspan="2">Крепление Nema C Face, клеммная коробка</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя электрической мельницы - 60 Гц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">WEG W22</td>
        </tr>
        <tr>
            <td>Рама</td>
            <td colspan="2">NEMA 586/7Z</td>
        </tr>
        <tr>
            <td>Мощность</td>
            <td colspan="2">350 л.с</td>
        </tr>
        <tr>
            <td>Напряжение</td>
            <td colspan="2">460 вольт</td>
        </tr>
        <tr>
            <td>Частота</td>
            <td colspan="2">60 Гц</td>
        </tr>
        <tr>
            <td>Фаза</td>
            <td colspan="2">3-фазный</td>
        </tr>
        <tr>
            <td>Номинальная скорость</td>
            <td colspan="2">1790 об/мин</td>
        </tr>
        <tr>
            <td>Кожух</td>
            <td colspan="2">TEFC</td>
        </tr>
        <tr>
            <td>Ток при полной нагрузке</td>
            <td colspan="2">401</td>
        </tr>
        <tr>
            <td>Заблокированный ротор, ампер</td>
            <td colspan="2">2390</td>
        </tr>
        <tr>
            <td>Эксплуатационный коэффициент</td>
            <td colspan="2">1.15</td>
        </tr>
        <tr>
            <td>Рабочий цикл</td>
            <td colspan="2">S1 – непрерывный</td>
        </tr>
        <tr>
            <td>Конструкция NEMA</td>
            <td colspan="2">NEMA A</td>
        </tr>
        <tr>
            <td>Класс изоляции</td>
            <td colspan="2">F</td>
        </tr>
        <tr>
            <td>Крутящий момент при полной нагрузке</td>
            <td colspan="2">1861.5 Нм</td>
        </tr>
        <tr>
            <td>Заблокированный ротор (%)</td>
            <td colspan="2">220</td>
        </tr>
        <tr>
            <td>Неисправность</td>
            <td colspan="2">260</td>
        </tr>
        <tr>
            <td>Температура окружающей среды</td>
            <td colspan="2">4 c</td>
        </tr>
        <tr>
            <td>Номинальный КПД</td>
            <td colspan="2">95,8</td>
        </tr>
        <tr>
            <td>Коэффициент мощности</td>
            <td colspan="2">0,85</td>
        </tr>
        <tr>
            <td>Приблизительный вес</td>
            <td colspan="2">1525.4 кг</td>
        </tr>
        <tr>
            <td>Дополнительные элементы</td>
            <td colspan="2">Переключатель температуры; мощный инвертор; клеммная коробка</td>
        </tr>
        <tr>
            <td>Тип приводного ремня</td>
            <td colspan="2">Синхронный, углеродное волокно</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрический пульт</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Высота</td>
            <td colspan="2">222 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">401.3 см</td>
        </tr>
        <tr>
            <td>Глубина</td>
            <td colspan="2">61.2 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">1859.7 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Подающий валик</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ширина подающего стола</td>
            <td colspan="2">152.4 см</td>
        </tr>
        <tr>
            <td>Длина подающего стола – первый вариант</td>
            <td colspan="2">610 см</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">230 см</td>
        </tr>
        <tr>
            <td>Конструкция раструба</td>
            <td colspan="2">Объединенный с подачей</td>
        </tr>
        <tr>
            <td>Тип подающего конвейера</td>
            <td colspan="2">Сварная пластинчатая цепь</td>
        </tr>
        <tr>
            <td>Структура материала</td>
            <td colspan="2">Сталь</td>
        </tr>
        <tr>
            <td>Тип привода</td>
            <td colspan="2">Радиально-поршневой двигатель</td>
        </tr>
        <tr>
            <td>Конструкция ведущего ролика</td>
            <td colspan="2">Сварная сталь</td>
        </tr>
        <tr>
            <td>Конструкция переднего натяжного ролика</td>
            <td colspan="2">Самоочищающийся стальной шнековый бур</td>
        </tr>
        <tr>
            <td>Конструкция настила подающего устройства</td>
            <td colspan="2">Сварная сталь, со сменными износными UHMW-накладками</td>
        </tr>
        <tr>
            <td>Ширина подающего валика</td>
            <td colspan="2">144.3 см</td>
        </tr>
        <tr>
            <td>Вес подающего валика</td>
            <td colspan="2">589.7 кг</td>
        </tr>
        <tr>
            <td>Диаметр подающего валика</td>
            <td colspan="2">91.8 см</td>
        </tr>
        <tr>
            <td>Максимальная высота подачи</td>
            <td colspan="2">81.3 см</td>
        </tr>
        <tr>
            <td>Тип материала</td>
            <td colspan="2">Специальная сталь</td>
        </tr>
        <tr>
            <td>Конструкция зуба</td>
            <td colspan="2">Зубчатые брусья</td>
        </tr>
        <tr>
            <td>Количество зубьев</td>
            <td colspan="2">13 брусьев</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">Постоянной производительности, Geroler</td>
        </tr>
        <tr>
            <td>Планетарный привод</td>
            <td colspan="2">Два варианта (HD - 26.18:1) (STD - 34.2:1)</td>
        </tr>
        <tr>
            <td>Давление прижима подающего валика</td>
            <td colspan="2">Регулируемый</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Отражатель вылетающего материала</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Положение отражателя</td>
            <td colspan="2">Переменный</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дуплексный барабан</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Отверстие измельчительной камеры</td>
            <td colspan="2">152,4 см Ш x 81,3 см В</td>
        </tr>
        <tr>
            <td>Диаметр барабана</td>
            <td colspan="2">14224 см</td>
        </tr>
        <tr>
            <td>Диаметр наконечника</td>
            <td colspan="2">71.1 см</td>
        </tr>
        <tr>
            <td>Режущая ширина барабана</td>
            <td colspan="2">92.5 см</td>
        </tr>
        <tr>
            <td>Толщина стенки барабана</td>
            <td colspan="2">158.5 см</td>
        </tr>
        <tr>
            <td>Скорость вращения барабана</td>
            <td colspan="2">1.5 об/мин</td>
        </tr>
        <tr>
            <td>Скорость наконечника</td>
            <td colspan="2">1080 об/мин</td>
        </tr>
        <tr>
            <td>Тип подшипника</td>
            <td colspan="2">Двурядный сферический роликоподшипник</td>
        </tr>
        <tr>
            <td>Подшипник – диаметр внутреннего кольца</td>
            <td colspan="2">14 см</td>
        </tr>
        <tr>
            <td>Количество молотков</td>
            <td colspan="2">10</td>
        </tr>
        <tr>
            <td>Количество кромок</td>
            <td colspan="2">20</td>
        </tr>
        <tr>
            <td>Размеры центрального стопорного штифта</td>
            <td colspan="2">Диаметр 5,1 см, длина 191,3 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Сетки</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вес сетки</td>
            <td colspan="2">213.2 кг</td>
        </tr>
        <tr>
            <td>Размеры сетки</td>
            <td colspan="2">Толщина 1,9 см</td>
        </tr>
        <tr>
            <td>Тип сетки</td>
            <td colspan="2">Изготовлено из износостойкой стали</td>
        </tr>
        <tr>
            <td>Количество сеток</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Площадь сетки</td>
            <td colspan="2">21400 см²</td>
        </tr>
        <tr>
            <td>Количество сторон</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Размеры облицовки крышки измельчительной камеры</td>
            <td colspan="2">Износостойкая сталь</td>
        </tr>
        <tr>
            <td>Размеры облицовки</td>
            <td colspan="2">толщина 2,5 см, ширина 14,2 см, длина 166,1 см</td>
        </tr>
        <tr>
            <td>Тип «наковальня»</td>
            <td colspan="2">Специальная сталь со сменными накладками износа</td>
        </tr>
        <tr>
            <td>Размеры наковальни</td>
            <td colspan="2">57,9 см x 10,4 см x 205,2 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система – конструкция с одной лентой</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">2480 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">121.9 см</td>
        </tr>
        <tr>
            <td>Конструкция ленты</td>
            <td colspan="2">3-слойный – 150 кг или прямого плетения однослойный 150 кг, оба с V-образной планкой</td>
        </tr>
        <tr>
            <td>Сращивание</td>
            <td colspan="2">R2 - нержавеющая сталь или super splice</td>
        </tr>
        <tr>
            <td>Количество поддерживающих катков</td>
            <td colspan="2">3</td>
        </tr>
        <tr>
            <td>Диаметр натяжного ролика</td>
            <td colspan="2">30.5 см</td>
        </tr>
        <tr>
            <td>Подшипник натяжного ролика</td>
            <td colspan="2">4-болтовой фланец 4,9 см</td>
        </tr>
        <tr>
            <td>Ведущий ролик стандартного диаметра</td>
            <td colspan="2">32.5 см</td>
        </tr>
        <tr>
            <td>Диаметр ведущего ролика электромагнитного привода</td>
            <td colspan="2">32.5 см</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">Постоянной производительности, Geroler</td>
        </tr>
        <tr>
            <td>Подшипники приводного двигателя</td>
            <td colspan="2">4-болтовой фланец 4,9 см</td>
        </tr>
        <tr>
            <td>Скорость движения ленты</td>
            <td colspan="2">237.7 м/мин</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">440 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">246.1 л</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Vermeer HyPower 68</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Сдвоенные, встроенные в бак фильтры возвратного контура с сетчатым фильтром на линии всасывания</td>
        </tr>
        <tr>
            <td>Количество охлаждающих устройств</td>
            <td colspan="2">1</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема рабочего оборудования</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур, с компенсацией по давлению и потоку</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Переменной производительности, аксиальный поршневой</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">28,5/27,3 (60Гц/50Гц)</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">310.2 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема разгрузочного конвейера</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Постоянной производительности, шестеренчатый насос</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">87.1 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">206.8 бар</td>
        </tr>
        <tr>
            <td>Моторная группа</td>
            <td colspan="2">Char-Lyn серии 6000, Geroler</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">цепь управления машиной 24 В</td>
        </tr>
        <tr>
            <td>Защита системы</td>
            <td colspan="2">С плавким предохранителем</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Пульт управления</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">ЖК-дисплей</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Влагостойкий, переключаемого типа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дистанционное радиоуправление</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">ЖК-дисплей</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Герметизированная мембрана</td>
        </tr>
        <tr>
            <td>Рабочий диапазон</td>
            <td colspan="2">До 91 м</td>
        </tr>
        <tr>
            <td>Тип аккумуляторной батареи</td>
            <td colspan="2">AA (6 шт.)</td>
        </tr>
        <tr>
            <td>Настройка канала</td>
            <td colspan="2">50 каналов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">Конструкция с несущим кузовом</td>
        </tr>
        <tr>
            <td>Описание дышла</td>
            <td colspan="2">Крепится болтами к конструкции подающего устройства</td>
        </tr>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">Сцепное устройство</td>
        </tr>
        <tr>
            <td>Описание предохранительного щита</td>
            <td colspan="2">Формованная сталь, сменные</td>
        </tr>
        <tr>
            <td>Тип тормозов</td>
            <td colspan="2">Пневматический стояночный тормозной механизм с пружинным включением</td>
        </tr>
        <tr>
            <td>Тип осветительных приборов прицепа</td>
            <td colspan="2">Светодиодный индикатор 12-24 В</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Мост/подвеска</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип подвески</td>
            <td colspan="2">Пневматическая подвеска</td>
        </tr>
        <tr>
            <td>Изготовитель – первый вариант</td>
            <td colspan="2">Hendrickson</td>
        </tr>
        <tr>
            <td>Грузоподъемность на мост</td>
            <td colspan="2">9071.8 кг</td>
        </tr>
        <tr>
            <td>Количество осей</td>
            <td colspan="2">3</td>
        </tr>
        <tr>
            <td>Шины – первый вариант</td>
            <td colspan="2">255/70R22.5; сдвоенные</td>
        </tr>
        <tr>
            <td>Колеса – первый вариант</td>
            <td colspan="2">57,2 см x 21 см &mdash; с центровкой по ступицам, стальные</td>
        </tr>
        <tr>
            <td>Дорожный просвет – первый вариант</td>
            <td colspan="2">13.5 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Опциональный воздушный компрессор</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Фирменная марка воздушного компрессора</td>
            <td colspan="2">Mi-T-M</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">12.1 бар</td>
        </tr>
        <tr>
            <td>Максимальный воздушный поток</td>
            <td colspan="2">.8 cmm</td>
        </tr>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">113.6 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Сетки</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Группа специальных инструментов</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>