<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и длины – длинный механизм подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная длина – транспортная</td>
            <td colspan="2">1510 см</td>
        </tr>
        <tr>
            <td>Максимальная длина (рабочая)</td>
            <td colspan="2">1960 см</td>
        </tr>
        <tr>
            <td>Максимальная ширина (транспортная)</td>
            <td colspan="2">360 см</td>
        </tr>
        <tr>
            <td>Максимальная высота (транспортная)</td>
            <td colspan="2">410 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">46266.4 кг</td>
        </tr>
        <tr>
            <td>Вес дышла</td>
            <td colspan="2">19459.1 кг</td>
        </tr>
        <tr>
            <td>Вес моста</td>
            <td colspan="2">26807.3 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Подающий валик</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ширина подающего стола</td>
            <td colspan="2">181.6 см</td>
        </tr>
        <tr>
            <td>Глубина подающего стола</td>
            <td colspan="2">90.2 см</td>
        </tr>
        <tr>
            <td>Длина подающего стола – первый вариант</td>
            <td colspan="2">730 см</td>
        </tr>
        <tr>
            <td>Грузоподъемность подающего стола</td>
            <td colspan="2">10.9 м³</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">260 см</td>
        </tr>
        <tr>
            <td>Конструкция раструба</td>
            <td colspan="2">Объединенный с подачей</td>
        </tr>
        <tr>
            <td>Тип подающего конвейера</td>
            <td colspan="2">Сварная пластинчатая цепь</td>
        </tr>
        <tr>
            <td>Структура материала</td>
            <td colspan="2">Сталь</td>
        </tr>
        <tr>
            <td>Тип привода</td>
            <td colspan="2">Разомкнутый гидравлический контур</td>
        </tr>
        <tr>
            <td>Конструкция ведущего ролика</td>
            <td colspan="2">Специальная сталь</td>
        </tr>
        <tr>
            <td>Конструкция переднего натяжного ролика</td>
            <td colspan="2">Самоочищающийся стальной шнековый бур</td>
        </tr>
        <tr>
            <td>Конструкция настила подающего устройства</td>
            <td colspan="2">Стальная решетка</td>
        </tr>
        <tr>
            <td>Ширина подающего валика</td>
            <td colspan="2">167.6 см</td>
        </tr>
        <tr>
            <td>Вес подающего валика</td>
            <td colspan="2">1360.8 кг</td>
        </tr>
        <tr>
            <td>Диаметр подающего валика</td>
            <td colspan="2">121.9 см</td>
        </tr>
        <tr>
            <td>Максимальная высота подачи</td>
            <td colspan="2">190.5 см</td>
        </tr>
        <tr>
            <td>Тип материала</td>
            <td colspan="2">Сварная пластинчатая цепь</td>
        </tr>
        <tr>
            <td>Конструкция зуба</td>
            <td colspan="2">Зубчатые брусья</td>
        </tr>
        <tr>
            <td>Количество зубьев</td>
            <td colspan="2">12 брусьев</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">Разомкнутый гидравлический контур</td>
        </tr>
        <tr>
            <td>Планетарный привод</td>
            <td colspan="2">26.18:1</td>
        </tr>
        <tr>
            <td>Давление прижима подающего валика</td>
            <td colspan="2">Регулируемый</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Отражатель вылетающего материала</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Положение отражателя</td>
            <td colspan="2">Переменный</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дуплексный барабан</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Отверстие измельчительной камеры</td>
            <td colspan="2">Ширина 181,6 см, высота 127 см</td>
        </tr>
        <tr>
            <td>Диаметр барабана</td>
            <td colspan="2">106.7 см</td>
        </tr>
        <tr>
            <td>Диаметр наконечника</td>
            <td colspan="2">132.1 см</td>
        </tr>
        <tr>
            <td>Режущая ширина барабана</td>
            <td colspan="2">182.9 см</td>
        </tr>
        <tr>
            <td>Толщина стенки барабана</td>
            <td colspan="2">3.2 см</td>
        </tr>
        <tr>
            <td>Скорость вращения барабана</td>
            <td colspan="2">1000 об/мин</td>
        </tr>
        <tr>
            <td>Скорость наконечника</td>
            <td colspan="2">13614 об/мин</td>
        </tr>
        <tr>
            <td>Тип подшипника</td>
            <td colspan="2">Двурядный сферический роликоподшипник</td>
        </tr>
        <tr>
            <td>Подшипник – диаметр внутреннего кольца</td>
            <td colspan="2">16.4 см</td>
        </tr>
        <tr>
            <td>Подшипник – динамическая нагрузочная способность</td>
            <td colspan="2">113398.1 кг</td>
        </tr>
        <tr>
            <td>Количество молотков</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Количество кромок</td>
            <td colspan="2">24</td>
        </tr>
        <tr>
            <td>Размеры центрального стопорного штифта</td>
            <td colspan="2">Диаметр 5,1 см x длина 241,3 см</td>
        </tr>
        <tr>
            <td>Количество щеток стеклоочистителя</td>
            <td colspan="2">24</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Сетки</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вес сетки</td>
            <td colspan="2">362.9 кг</td>
        </tr>
        <tr>
            <td>Размеры сетки</td>
            <td colspan="2">96,5 см x 185,4 см x 33 см</td>
        </tr>
        <tr>
            <td>Тип сетки</td>
            <td colspan="2">AR400</td>
        </tr>
        <tr>
            <td>Количество сеток</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Площадь сетки</td>
            <td colspan="2">39999.9 см²</td>
        </tr>
        <tr>
            <td>Размеры облицовки крышки измельчительной камеры</td>
            <td colspan="2">Стандартная: марка 50; опционально: AR400</td>
        </tr>
        <tr>
            <td>Размеры облицовки</td>
            <td colspan="2">Толщина 1,91 см</td>
        </tr>
        <tr>
            <td>Тип «наковальня»</td>
            <td colspan="2">Специальная сталь</td>
        </tr>
        <tr>
            <td>Размеры наковальни</td>
            <td colspan="2">18 см x 41 см x 211 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система – конструкция с одной лентой</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">2940 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">167.6 см</td>
        </tr>
        <tr>
            <td>Конструкция ленты</td>
            <td colspan="2">Viper 150 кг с V-образной планкой</td>
        </tr>
        <tr>
            <td>Сращивание</td>
            <td colspan="2">Flexco R5- нержавеющая сталь</td>
        </tr>
        <tr>
            <td>Количество поддерживающих катков</td>
            <td colspan="2">6</td>
        </tr>
        <tr>
            <td>Диаметр натяжного ролика</td>
            <td colspan="2">30.5 см</td>
        </tr>
        <tr>
            <td>Подшипник натяжного ролика</td>
            <td colspan="2">4-болтовой фланец 5,6 см</td>
        </tr>
        <tr>
            <td>Ведущий ролик стандартного диаметра</td>
            <td colspan="2">32.5 см</td>
        </tr>
        <tr>
            <td>Диаметр ведущего ролика электромагнитного привода</td>
            <td colspan="2">32.5 см</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">Eaton- VIS 30</td>
        </tr>
        <tr>
            <td>Подшипники приводного двигателя</td>
            <td colspan="2">4-болтовой фланец 5,6 см</td>
        </tr>
        <tr>
            <td>Скорость движения ленты</td>
            <td colspan="2">278.6 м/мин</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">670 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">378.5 л</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Vermeer HyPower 68</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Фильтры возвратного контура (3 шт.)</td>
        </tr>
        <tr>
            <td>Количество охлаждающих устройств</td>
            <td colspan="2">1</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема рабочего оборудования</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Аксиально-поршневой, с компенсацией по давлению и потоку</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">194.2 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">310.2 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема разгрузочного конвейера</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Аксиально-поршневой, с компенсацией по давлению и потоку</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">120.4 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">248.2 бар</td>
        </tr>
        <tr>
            <td>Моторная группа</td>
            <td colspan="2">Eaton- VIS 30</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема привода вентилятора</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Гидростатическое</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Аксиально-поршневой, переменной производительности</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">117.3 л/мин</td>
        </tr>
        <tr>
            <td>Моторная группа</td>
            <td colspan="2">Аксиально-поршневой, постоянной производительности</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Сцепление</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">75.7 л</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">Vermeer VMF Gold</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Навинчиваемый фильтр, 16 микрон, абсолютный</td>
        </tr>
        <tr>
            <td>Количество охлаждающих устройств</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Шестеренный, постоянной производительности</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">37.9 л/мин</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">24 В пост. тока</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">Группа 8-D, 1155 CCA (2 шт.)</td>
        </tr>
        <tr>
            <td>Защита системы</td>
            <td colspan="2">С плавким предохранителем</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Пульт управления</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">ЖК-дисплей</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Датчики</td>
            <td colspan="2">Гидравлические системы (10 шт.)</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Влагостойкий, переключаемого типа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дистанционное радиоуправление</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">ЖК-дисплей</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Аварийная остановка, дроссельная заслонка, выключение двигателя</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Вращение подающего валика, подъем/опускание, контроль давления прижима, вращение подающего стола, SmartFeed вкл./выкл., аварийная остановка, механизм управления дроссельной заслонкой, реверс вентилятора, подъем/опускание TOD (отражателя вылетающего материала), выключение двигателя</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Герметизированная мембрана</td>
        </tr>
        <tr>
            <td>Рабочий диапазон</td>
            <td colspan="2">До 91.4 м</td>
        </tr>
        <tr>
            <td>Тип аккумуляторной батареи</td>
            <td colspan="2">AA (6 шт.)</td>
        </tr>
        <tr>
            <td>Настройка канала</td>
            <td colspan="2">50 каналов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">Конструкция с несущим кузовом</td>
        </tr>
        <tr>
            <td>Описание дышла</td>
            <td colspan="2">Встроен в подающее устройство</td>
        </tr>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">Сцепное устройство седельного тягача</td>
        </tr>
        <tr>
            <td>Описание предохранительного щита</td>
            <td colspan="2">Формованная сталь</td>
        </tr>
        <tr>
            <td>Тип тормозов</td>
            <td colspan="2">С пневматическим приводом, стояночный тормозной механизм с пружинным включением</td>
        </tr>
        <tr>
            <td>Тип осветительных приборов прицепа</td>
            <td colspan="2">12 В, накаливания</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Мост/подвеска</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип подвески</td>
            <td colspan="2">Пневматическая подвеска</td>
        </tr>
        <tr>
            <td>Грузоподъемность на мост</td>
            <td colspan="2">9389.4 кг</td>
        </tr>
        <tr>
            <td>Шины – первый вариант</td>
            <td colspan="2">445/65R22.5 одинарные (Super Singles)</td>
        </tr>
        <tr>
            <td>Колеса – первый вариант</td>
            <td colspan="2">Алюминий, 22,5 x 14</td>
        </tr>
        <tr>
            <td>Дорожный просвет – первый вариант</td>
            <td colspan="2">45.7 см</td>
        </tr>
        <tr>
            <td>Шины – второй вариант</td>
            <td colspan="2">255/70R22.5 (сдвоенные)</td>
        </tr>
        <tr>
            <td>Колеса – второй вариант</td>
            <td colspan="2">Стальной, 22,5 x 8,25</td>
        </tr>
        <tr>
            <td>Дорожный просвет – второй вариант</td>
            <td colspan="2">35.6 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Опциональный воздушный компрессор</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Фирменная марка воздушного компрессора</td>
            <td colspan="2">Ingersoll-Rand</td>
        </tr>
        <tr>
            <td>Двигатель</td>
            <td colspan="2">Kohler, 9,3 кВт</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">12.1 бар</td>
        </tr>
        <tr>
            <td>Максимальный воздушный поток</td>
            <td colspan="2">.7 cmm</td>
        </tr>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">113.6 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Сетки</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>