<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная длина (рабочая)</td>
            <td colspan="2">910 см</td>
        </tr>
        <tr>
            <td>Максимальная длина – транспортная</td>
            <td colspan="2">910 см</td>
        </tr>
        <tr>
            <td>Максимальная ширина (транспортная)</td>
            <td colspan="2">274.3 см</td>
        </tr>
        <tr>
            <td>Максимальная высота (транспортная)</td>
            <td colspan="2">330 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">17236.5 кг</td>
        </tr>
        <tr>
            <td>Вес дышла</td>
            <td colspan="2">3401.9 кг</td>
        </tr>
        <tr>
            <td>Уровень звукового давления</td>
            <td colspan="2">121 дБ(A)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Барабанная/дисковая режущая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Объем материала</td>
            <td colspan="2">63.5 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">86.4 см</td>
        </tr>
        <tr>
            <td>Толщина</td>
            <td colspan="2">1.3 см</td>
        </tr>
        <tr>
            <td>Диаметр</td>
            <td colspan="2">91.4 см</td>
        </tr>
        <tr>
            <td>Скорость</td>
            <td colspan="2">1169 об/мин</td>
        </tr>
        <tr>
            <td>Вес с валом</td>
            <td colspan="2">1434.7 кг</td>
        </tr>
        <tr>
            <td>Предохранительный фиксатор – количество положений</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Количество ножей</td>
            <td colspan="2">8</td>
        </tr>
        <tr>
            <td>Тип</td>
            <td colspan="2">Покрытые баббитом</td>
        </tr>
        <tr>
            <td>Толщина ножа</td>
            <td colspan="2">1.6 см</td>
        </tr>
        <tr>
            <td>Материал</td>
            <td colspan="2">Ножевая сталь A8</td>
        </tr>
        <tr>
            <td>Используемые кромки</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Размер ножа</td>
            <td colspan="2">17 x 43 см</td>
        </tr>
        <tr>
            <td>Количество болтов/нож</td>
            <td colspan="2">5</td>
        </tr>
        <tr>
            <td>Сменная резьбовая ножевая головка</td>
            <td colspan="2">Шестигранная гайка (4) на каждый нож</td>
        </tr>
        <tr>
            <td>Метод крепления</td>
            <td colspan="2">Болт</td>
        </tr>
        <tr>
            <td>Размер неподвижного ножа</td>
            <td colspan="2">Ширина 86 см</td>
        </tr>
        <tr>
            <td>Толщина неподвижного ножа</td>
            <td colspan="2">3.8 см</td>
        </tr>
        <tr>
            <td>Материал неподвижного ножа</td>
            <td colspan="2">Штампованный брусок из низкоуглеродистой стали</td>
        </tr>
        <tr>
            <td>Неподвижный нож – количество используемых кромок</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Количество гнезд</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Размеры карманов</td>
            <td colspan="2">21.6 см</td>
        </tr>
        <tr>
            <td>Сменные накладки износа</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Количество сменных накладок износа</td>
            <td colspan="2">8 оппозитных ножей</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Комплектующие привода резака – первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Количество подшипников</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Посадочное место</td>
            <td colspan="2">13.8 см</td>
        </tr>
        <tr>
            <td>Тип</td>
            <td colspan="2">Опорный подшипник</td>
        </tr>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Dodge</td>
        </tr>
        <tr>
            <td>Динамическая нагрузочная способность</td>
            <td colspan="2">75296.3 кг</td>
        </tr>
        <tr>
            <td>Статическая нагрузочная способность</td>
            <td colspan="2">107047.8 кг</td>
        </tr>
        <tr>
            <td>Натяжитель/промежуточный ролик ремня</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Тип ремня</td>
            <td colspan="2">Клиновидный,12</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Подающий валик</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ширина подающего валика</td>
            <td colspan="2">86.4 см</td>
        </tr>
        <tr>
            <td>Максимальная высота подачи</td>
            <td colspan="2">68.6 см</td>
        </tr>
        <tr>
            <td>Вес подающего валика</td>
            <td colspan="2">260.8 кг</td>
        </tr>
        <tr>
            <td>Диаметр подающего валика</td>
            <td colspan="2">71.1 см</td>
        </tr>
        <tr>
            <td>Конструкция зуба</td>
            <td colspan="2">Прямые ножи</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">Серия WS</td>
        </tr>
        <tr>
            <td>Планетарный привод</td>
            <td colspan="2">Auburn модель 9</td>
        </tr>
        <tr>
            <td>Перемещение привода</td>
            <td colspan="2">113.1 см³</td>
        </tr>
        <tr>
            <td>Изготовитель привода</td>
            <td colspan="2">Белый</td>
        </tr>
        <tr>
            <td>Давление прижима подающего валика</td>
            <td colspan="2">105.5 бар</td>
        </tr>
        <tr>
            <td>Ориентация подающего валика</td>
            <td colspan="2">Горизонтальный</td>
        </tr>
        <tr>
            <td>Количество подающих валиков</td>
            <td colspan="2">Один верхний, один транспортер</td>
        </tr>
        <tr>
            <td>Количество ножей</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Расстояние от подающего валика до барабана</td>
            <td colspan="2">2.5 см</td>
        </tr>
        <tr>
            <td>Скорость подающего валика</td>
            <td colspan="2">29.9 м/мин</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Высота желоба</td>
            <td colspan="2">335.3 см</td>
        </tr>
        <tr>
            <td>Толщина днища</td>
            <td colspan="2">.3 см</td>
        </tr>
        <tr>
            <td>Нижние сменные накладки износа</td>
            <td colspan="2">AR 400</td>
        </tr>
        <tr>
            <td>Толщина накладок износа</td>
            <td colspan="2">.5 см</td>
        </tr>
        <tr>
            <td>Толщина верха</td>
            <td colspan="2">.5 см</td>
        </tr>
        <tr>
            <td>Толщина боковой стенки</td>
            <td colspan="2">.5 см</td>
        </tr>
        <tr>
            <td>Толщина отражателя</td>
            <td colspan="2">.5 см</td>
        </tr>
        <tr>
            <td>Поворотного типа</td>
            <td colspan="2">14</td>
        </tr>
        <tr>
            <td>Поворотный фиксатор</td>
            <td colspan="2">22</td>
        </tr>
        <tr>
            <td>Угол бокового отражателя</td>
            <td colspan="2">14 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">124.9 л</td>
        </tr>
        <tr>
            <td>Тип рекомендуемого масла</td>
            <td colspan="2">Hy-Power 68,46,32</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">С открытым центром</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Входные сетчатые фильтры на всасывании и фильтр возвратного контура</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">60.6 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">275.8 бар</td>
        </tr>
        <tr>
            <td>Давление автореверса</td>
            <td colspan="2">262 бар</td>
        </tr>
        <tr>
            <td>Регулирование потока</td>
            <td colspan="2">Два подающих валика и транспортер</td>
        </tr>
        <tr>
            <td>Маслоохладитель</td>
            <td colspan="2">1</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">24 вольта</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">Группа 8D 1400 CCA (сдвоенная)</td>
        </tr>
        <tr>
            <td>Стандартные контрольно-измерительные приборы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Контрольно-измерительные приборы в «люксовом» исполнении</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Тумблеры Вкл/Выкл</td>
        </tr>
        <tr>
            <td>Контроллер</td>
            <td colspan="2">Danfoss MC-050</td>
        </tr>
        <tr>
            <td>Дисплей</td>
            <td colspan="2">DP10</td>
        </tr>
        <tr>
            <td>Система выключения</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Дистанционное радиоуправление</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">трубы прямоугольного сечения 25,4 x 10,2 x 0,95 см</td>
        </tr>
        <tr>
            <td>Описание ящика для инструментов</td>
            <td colspan="2">Запираемый</td>
        </tr>
        <tr>
            <td>Описание дышла</td>
            <td colspan="2">Неподвижное с буксировочным захватом</td>
        </tr>
        <tr>
            <td>Удлинитель дышла</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">Шкворень</td>
        </tr>
        <tr>
            <td>Рукоятка захвата</td>
            <td colspan="2">Ширина 76 см</td>
        </tr>
        <tr>
            <td>Описание предохранительного щита</td>
            <td colspan="2">Jeep-стиль (сталь)</td>
        </tr>
        <tr>
            <td>Мост/подвеска</td>
            <td colspan="2">Две оси</td>
        </tr>
        <tr>
            <td>Тип</td>
            <td colspan="2">Пластинчатая рессора</td>
        </tr>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Dexter</td>
        </tr>
        <tr>
            <td>Вместимость</td>
            <td colspan="2">18740</td>
        </tr>
        <tr>
            <td>Шины</td>
            <td colspan="2">385/65R22.5, одинарные сверхширокие шины Super Single</td>
        </tr>
        <tr>
            <td>Колеса</td>
            <td colspan="2">22,5 x 14, алюминий</td>
        </tr>
        <tr>
            <td>Тип тормозов</td>
            <td colspan="2">Воздушная</td>
        </tr>
        <tr>
            <td>Тип осветительных приборов прицепа</td>
            <td colspan="2">Стандартная</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Разгрузочный желоб регулируемой высоты</td>
            <td colspan="2">Нет</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Загрузочный конвейер</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ширина подающего стола</td>
            <td colspan="2">248.9 см</td>
        </tr>
        <tr>
            <td>Длина подающего стола – первый вариант</td>
            <td colspan="2">300 см</td>
        </tr>
        <tr>
            <td>Тип подающего конвейера</td>
            <td colspan="2">Сдвоенная независимая цепь</td>
        </tr>
        <tr>
            <td>Структура материала</td>
            <td colspan="2">Толщина 0,97 см</td>
        </tr>
        <tr>
            <td>Наклон загрузочного конвейера</td>
            <td colspan="2">6 градусов</td>
        </tr>
        <tr>
            <td>Количество цепей загрузочного конвейера</td>
            <td colspan="2">1</td>
        </tr>
    </tbody>
</table>
