<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">238.8 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">88.9 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">124.5 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">1469.6 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Kohler ECH740</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">25 л.с</td>
        </tr>
        <tr>
            <td>Крутящий момент (макс.)</td>
            <td colspan="2">56.9 Нм</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">25.7 л</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">9.1 л/час</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">бензин</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">15,2 см, двухступенчатый сухой</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Навинчиваемый</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">Масло Kohler или API CH4/SJ</td>
        </tr>
        <tr>
            <td>Объем масла с учетом фильтра</td>
            <td colspan="2">1.9 л</td>
        </tr>
        <tr>
            <td>Максимальный угол при непрерывной работе</td>
            <td colspan="2">25 градусов</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Воздух/масло</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система с режущим диском</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Диаметр режущего диска (без зубьев)</td>
            <td colspan="2">40.6 см</td>
        </tr>
        <tr>
            <td>Толщина режущего диска</td>
            <td colspan="2">1.3 см</td>
        </tr>
        <tr>
            <td>Скорость вращения режущего диска</td>
            <td colspan="2">1110 об/мин</td>
        </tr>
        <tr>
            <td>Линейный размер режущего диска</td>
            <td colspan="2">90.2 см</td>
        </tr>
        <tr>
            <td>Высота реза режущего диска над уровнем земли</td>
            <td colspan="2">63.5 см</td>
        </tr>
        <tr>
            <td>Высота реза режущего диска ниже уровня земли</td>
            <td colspan="2">30.5 см</td>
        </tr>
        <tr>
            <td>Описание зуба</td>
            <td colspan="2">Режущая система Yellow Jacket</td>
        </tr>
        <tr>
            <td>Количество зубьев</td>
            <td colspan="2">16</td>
        </tr>
        <tr>
            <td>Количество указателей</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Количество гнезд</td>
            <td colspan="2">16</td>
        </tr>
        <tr>
            <td>Реверсивные гнезда</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Ограждение ножевого диска</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Ограничение разлета щепок</td>
            <td colspan="2">.1 м³</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Комплектующие привода режущего диска</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Нижний редуктор</td>
            <td colspan="2">Гидравлический двигатель</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">34.3 л</td>
        </tr>
        <tr>
            <td>Тип рекомендуемого масла</td>
            <td colspan="2">ISO 68</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Без обратной связи</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Встроенный фильтр возвратного контура</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">60.6 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">189.6 бар</td>
        </tr>
        <tr>
            <td>Регулирование потока</td>
            <td colspan="2">Система Autosweep (дополнительное оборудование)</td>
        </tr>
        <tr>
            <td>Управление направлением</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Маслоохладитель</td>
            <td colspan="2">Да. Охлаждаемый вентилятором</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">405</td>
        </tr>
        <tr>
            <td>Стандартные контрольно-измерительные приборы</td>
            <td colspan="2">Счетчик моточасов/тахометр</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Привод режущего диска</td>
        </tr>
        <tr>
            <td>Контроллер</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание пульта управления</td>
            <td colspan="2">Нерегулируемое, расположено сзади</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система привода гусениц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип гусеницы</td>
            <td colspan="2">Резиновые, шириной 18 см</td>
        </tr>
        <tr>
            <td>Ширина гусеницы – во втянутом состоянии</td>
            <td colspan="2">89 см</td>
        </tr>
        <tr>
            <td>Ширина гусеницы – в выдвинутом состоянии</td>
            <td colspan="2">89 см</td>
        </tr>
        <tr>
            <td>Длина гусеницы на земле</td>
            <td colspan="2">80 см</td>
        </tr>
        <tr>
            <td>Тип натяжного колеса</td>
            <td colspan="2">Литой</td>
        </tr>
        <tr>
            <td>Количество натяжных колес</td>
            <td colspan="2">5</td>
        </tr>
        <tr>
            <td>Тип насоса гусеничного привода</td>
            <td colspan="2">Гидростатическое</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">200 бар</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">43,1 л/мин</td>
        </tr>
        <tr>
            <td>Тип двигателя гусеничного привода</td>
            <td colspan="2">Gerotor</td>
        </tr>
        <tr>
            <td>Тип тормоза гусеничной цепи</td>
            <td colspan="2">Гидростатическое</td>
        </tr>
        <tr>
            <td>Быстрый ход</td>
            <td colspan="2">5.1 км/ч</td>
        </tr>
        <tr>
            <td>Допустимое давление на грунт – мягкий грунт</td>
            <td colspan="2">23.4 кПа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">По запросу</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">По запросу</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">По запросу</td>
        </tr>
    </tbody>
</table>