<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">279.4 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">126.5 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">132.1 см</td>
        </tr>
        <tr>
            <td>Габаритная транспортная ширина (без сдвоенных колес)</td>
            <td colspan="2">88.9 см</td>
        </tr>
        <tr>
            <td>Габаритная транспортная ширина (со сдвоенными колесами)</td>
            <td colspan="2">126.5 см</td>
        </tr>
        <tr>
            <td>Габаритная транспортная высота</td>
            <td colspan="2">132.1 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">582.9 кг</td>
        </tr>
        <tr>
            <td>Уровень звукового давления</td>
            <td colspan="2">105.4 дБ(А)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Kohler Command Pro EFI</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">26.5 л.с</td>
        </tr>
        <tr>
            <td>Крутящий момент (макс.)</td>
            <td colspan="2">60.1 Нм</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">22.7 л</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">10.2 л/час</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">бензин</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">Предохранительный элемент сухого типа и индикатор засорения</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Навинчиваемый</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">10W30 Kohler</td>
        </tr>
        <tr>
            <td>Объем масла с учетом фильтра</td>
            <td colspan="2">1.9 л</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Воздух</td>
        </tr>
        <tr>
            <td>Генератор переменного тока</td>
            <td colspan="2">20 ампер</td>
        </tr>
        <tr>
            <td>Тип сцепления</td>
            <td colspan="2">Электрическое сцепление с тормозом</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система с режущим диском</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Диаметр режущего диска (без зубьев)</td>
            <td colspan="2">43.2 см</td>
        </tr>
        <tr>
            <td>Толщина режущего диска</td>
            <td colspan="2">1.3 см</td>
        </tr>
        <tr>
            <td>Скорость вращения режущего диска</td>
            <td colspan="2">1400 об/мин</td>
        </tr>
        <tr>
            <td>Линейный размер режущего диска</td>
            <td colspan="2">119.4 см</td>
        </tr>
        <tr>
            <td>Высота реза режущего диска над уровнем земли</td>
            <td colspan="2">61 см</td>
        </tr>
        <tr>
            <td>Высота реза режущего диска ниже уровня земли</td>
            <td colspan="2">38.1 см</td>
        </tr>
        <tr>
            <td>Описание зуба</td>
            <td colspan="2">Режущая система Yellow Jacket</td>
        </tr>
        <tr>
            <td>Количество зубьев</td>
            <td colspan="2">16</td>
        </tr>
        <tr>
            <td>Количество указателей</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Количество гнезд</td>
            <td colspan="2">16</td>
        </tr>
        <tr>
            <td>Реверсивные гнезда</td>
            <td colspan="2">16</td>
        </tr>
        <tr>
            <td>Ограждение ножевого диска</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Ограничение разлета щепок</td>
            <td colspan="2">.2 м³</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Комплектующие привода режущего диска</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип ремня</td>
            <td colspan="2">Клиновой ремень</td>
        </tr>
        <tr>
            <td>Количество первичных ремней</td>
            <td colspan="2">2 отдельных (согласованная пара)</td>
        </tr>
        <tr>
            <td>Размеры промежуточного вала</td>
            <td colspan="2">1.3</td>
        </tr>
        <tr>
            <td>Тип подшипников промежуточного вала</td>
            <td colspan="2">Уплотненный шарикоподшипник</td>
        </tr>
        <tr>
            <td>Размеры подшипников</td>
            <td colspan="2">Отверстие 3 см</td>
        </tr>
        <tr>
            <td>Количество вторичных ремней</td>
            <td colspan="2">6 полосныx</td>
        </tr>
        <tr>
            <td>Вал режущего диска</td>
            <td colspan="2">4,8 см</td>
        </tr>
        <tr>
            <td>Размеры подшипников – вторичный ремень</td>
            <td colspan="2">Сдвоенный опорный подшипник со сферическими роликами (4,8 см)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">15.1 л</td>
        </tr>
        <tr>
            <td>Тип рекомендуемого масла</td>
            <td colspan="2">Vermeer HyPower 68</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутая последовательная система</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Сетчатый фильтр (100 ячеек) во всасывающем контуре насоса и 6 микронный фильтр в возвратном контуре</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">14 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">140 бар</td>
        </tr>
        <tr>
            <td>Регулирование потока</td>
            <td colspan="2">Система AutoSweep (дополнительное оборудование) или 2-х скоростной ходовой привод</td>
        </tr>
        <tr>
            <td>Управление направлением</td>
            <td colspan="2">Ручной гидравлический клапан</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">12 вольт</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">400 CCA</td>
        </tr>
        <tr>
            <td>Стандартные контрольно-измерительные приборы</td>
            <td colspan="2">Счетчик моточасов</td>
        </tr>
        <tr>
            <td>Предупредительная световая сигнализация</td>
            <td colspan="2">Давление масла, отказ двигателя, статус присутствия машиниста, статус включения/выключения сцепления</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Двухскоростной ходовой привод, включение/выключение сцепления, рычаги системы определения присутствия машиниста</td>
        </tr>
        <tr>
            <td>Контроллер</td>
            <td colspan="2">Система управления Vermeer ACS</td>
        </tr>
        <tr>
            <td>Система выключения</td>
            <td colspan="2">Отключение из-за давления масла</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">Сварная труба и стальной лист</td>
        </tr>
        <tr>
            <td>Описание пульта управления</td>
            <td colspan="2">Фиксированные места по сторонам</td>
        </tr>
        <tr>
            <td>Описание ящика для инструментов</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">Переходник для трейлера TLR25</td>
        </tr>
        <tr>
            <td>Мост управляемого типа</td>
            <td colspan="2">Ручное одиночное колесо или сдвоенная гидравлическая рулевая ось</td>
        </tr>
        <tr>
            <td>Шины – первый вариант</td>
            <td colspan="2">14,5 x 20,3 см, с задними колесами - стандартно сдвоенные</td>
        </tr>
        <tr>
            <td>Описание предохранительного щита</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Мост/подвеска</td>
            <td colspan="2">Жесткое/неподвижное</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Быстрый ход</td>
            <td colspan="2">40.5 м/мин</td>
        </tr>
        <tr>
            <td>Медленный ход</td>
            <td colspan="2">20.1 м/мин</td>
        </tr>
    </tbody>
</table>