<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">330.2 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">90.2 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">143.5 см</td>
        </tr>
        <tr>
            <td>Габаритная транспортная высота</td>
            <td colspan="2">143.5 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">1338.1 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система с режущим диском</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Диаметр режущего диска (без зубьев)</td>
            <td colspan="2">45.7 см</td>
        </tr>
        <tr>
            <td>Толщина режущего диска</td>
            <td colspan="2">12.7 см</td>
        </tr>
        <tr>
            <td>Линейный размер режущего диска</td>
            <td colspan="2">127 см</td>
        </tr>
        <tr>
            <td>Высота реза режущего диска над уровнем земли</td>
            <td colspan="2">61 см</td>
        </tr>
        <tr>
            <td>Высота реза режущего диска ниже уровня земли</td>
            <td colspan="2">40.6 см</td>
        </tr>
        <tr>
            <td>Описание зуба</td>
            <td colspan="2">Режущая система Yellow Jacket</td>
        </tr>
        <tr>
            <td>Количество зубьев</td>
            <td colspan="2">20</td>
        </tr>
        <tr>
            <td>Количество указателей</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Количество гнезд</td>
            <td colspan="2">24</td>
        </tr>
        <tr>
            <td>Реверсивные гнезда</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Ограждение ножевого диска</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Ограничение разлета щепок</td>
            <td colspan="2">.1 м³</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Комплектующие привода режущего диска</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Нижний редуктор</td>
            <td colspan="2">Прямозубая коническая шестерня</td>
        </tr>
        <tr>
            <td>Тип масла - нижний редуктор</td>
            <td colspan="2">Синтетическое трансмиссионное масло SAE 75W90</td>
        </tr>
        <tr>
            <td>Тип масла - верхний редуктор</td>
            <td colspan="2">.9 л</td>
        </tr>
        <tr>
            <td>Карданный вал</td>
            <td colspan="2">Прямое соединение с гидравлическим двигателем</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">71.9 л</td>
        </tr>
        <tr>
            <td>Тип рекомендуемого масла</td>
            <td colspan="2">Vermeer HyPower 68</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Без обратной связи</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Сетчатый фильтр (90 микрон) во всасывающем контуре насоса и фильтр в возвратном контуре (6 микрон)</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">92.7 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">270.7 бар</td>
        </tr>
        <tr>
            <td>Регулирование потока</td>
            <td colspan="2">SmartSweep</td>
        </tr>
        <tr>
            <td>Маслоохладитель</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">12.6</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">CCA = 950 А</td>
        </tr>
        <tr>
            <td>Предупредительная световая сигнализация</td>
            <td colspan="2">На дисплее</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Включение/выключение режущего диска, открытие/закрытие дроссельной заслонки, высокая/низкая скорость хода, движение вперед/назад малым ходом</td>
        </tr>
        <tr>
            <td>Контроллер</td>
            <td colspan="2">Система управления Vermeer ACS</td>
        </tr>
        <tr>
            <td>Дисплей</td>
            <td colspan="2">Многофункциональный дисплей (МФД)</td>
        </tr>
        <tr>
            <td>Система выключения</td>
            <td colspan="2">Повышенная температура охлаждающей жидкости, пониженное давление масла и повышенная температура масла гидросистемы</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание пульта управления</td>
            <td colspan="2">Неподвижная сзади (площадка для машиниста)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система привода гусениц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы гусеницы</td>
            <td colspan="2">Поворотные гусеницы с высокой посадкой и пружинным натяжением</td>
        </tr>
        <tr>
            <td>Тип гусеницы</td>
            <td colspan="2">18-ти сантиметровая резина со стальным сердечником</td>
        </tr>
        <tr>
            <td>Ширина гусеницы – во втянутом состоянии</td>
            <td colspan="2">35.5 "</td>
        </tr>
        <tr>
            <td>Длина гусеницы на земле</td>
            <td colspan="2">40.5 "</td>
        </tr>
        <tr>
            <td>Тип натяжного колеса</td>
            <td colspan="2">22,9 см передний натяжной ролик, 20,3 см задний натяжной ролик, 11,4 см трехсторонний опорный каток</td>
        </tr>
        <tr>
            <td>Тип насоса гусеничного привода</td>
            <td colspan="2">Редуктор</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">250 бар</td>
        </tr>
        <tr>
            <td>Тип двигателя гусеничного привода</td>
            <td colspan="2">Gerotor</td>
        </tr>
        <tr>
            <td>Тип тормоза гусеничной цепи</td>
            <td colspan="2">Диск с жидкостным охлаждением International</td>
        </tr>
        <tr>
            <td>Быстрый ход</td>
            <td colspan="2">5.4 км/ч</td>
        </tr>
        <tr>
            <td>Допустимое давление на грунт – мягкий грунт</td>
            <td colspan="2">35.9 кПа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обнаружения присутствия машиниста</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание</td>
            <td colspan="2">Сзади – переключатель платформы, сбоку – емкостная рукоятка</td>
        </tr>
        <tr>
            <td>Тип датчика</td>
            <td colspan="2">Сзади – плунжерный переключатель, сбоку – емкостная</td>
        </tr>
        <tr>
            <td>Количество/местоположение</td>
            <td colspan="2">Задняя – 1, боковая – 1</td>
        </tr>
        <tr>
            <td>Визуальный интерфейс</td>
            <td colspan="2">Сзади – нет, сбоку – световой индикатор</td>
        </tr>
    </tbody>
</table>