<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">373.4 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">88.9 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">194.3 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">1814.4 кг</td>
        </tr>
        <tr>
            <td>Ширина в исполнении со сдвоенными колесами (дополнительный вариант)</td>
            <td colspan="2">142.2 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Kohler KDI 1903</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">3</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">56 л.с</td>
        </tr>
        <tr>
            <td>Крутящий момент (макс.)</td>
            <td colspan="2">223.7 Нм</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">54.5 л</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">9.2 л/час</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">Предохранительный элемент сухого типа и индикатор засорения</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Патронный тип</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">SAE 10W30 Low SAPS (низкозольное) - ACEA E6-E9</td>
        </tr>
        <tr>
            <td>Объем масла с учетом фильтра</td>
            <td colspan="2">8.9 л</td>
        </tr>
        <tr>
            <td>Максимальный угол при непрерывной работе</td>
            <td colspan="2">30 градусов</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Объем охлаждающей жидкости (в двигателе и радиаторе)</td>
            <td colspan="2">6.2 л</td>
        </tr>
        <tr>
            <td>Генератор переменного тока</td>
            <td colspan="2">100 ампер</td>
        </tr>
        <tr>
            <td>Вентилятор</td>
            <td colspan="2">Всасывание</td>
        </tr>
        <tr>
            <td>Тип сцепления</td>
            <td colspan="2">Гидростатическая трансмиссия</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система с режущим диском</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Диаметр режущего диска (без зубьев)</td>
            <td colspan="2">58.4 см</td>
        </tr>
        <tr>
            <td>Толщина режущего диска</td>
            <td colspan="2">2.9 см</td>
        </tr>
        <tr>
            <td>Скорость вращения режущего диска</td>
            <td colspan="2">1124 об/мин</td>
        </tr>
        <tr>
            <td>Линейный размер режущего диска</td>
            <td colspan="2">182.9 см</td>
        </tr>
        <tr>
            <td>Высота реза режущего диска над уровнем земли</td>
            <td colspan="2">78.7 см</td>
        </tr>
        <tr>
            <td>Высота реза режущего диска ниже уровня земли</td>
            <td colspan="2">63.5 см</td>
        </tr>
        <tr>
            <td>Описание зуба</td>
            <td colspan="2">Режущая система Yellow Jacket</td>
        </tr>
        <tr>
            <td>Количество зубьев</td>
            <td colspan="2">26</td>
        </tr>
        <tr>
            <td>Количество указателей</td>
            <td colspan="2">2 на зуб</td>
        </tr>
        <tr>
            <td>Количество гнезд</td>
            <td colspan="2">26</td>
        </tr>
        <tr>
            <td>Реверсивные гнезда</td>
            <td colspan="2">Да, стандартный</td>
        </tr>
        <tr>
            <td>Ограждение ножевого диска</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Ограничение разлета щепок</td>
            <td colspan="2">.8 м³</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Комплектующие привода режущего диска</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Нижний редуктор</td>
            <td colspan="2">90 градусов</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Синтетическое 75W90</td>
        </tr>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">1.5 л</td>
        </tr>
        <tr>
            <td>Карданный вал</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Карданный вал – универсальные шарниры</td>
            <td colspan="2">2 стандартные, с двойным манжетным уплотнением</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">64.4 л</td>
        </tr>
        <tr>
            <td>Тип рекомендуемого масла</td>
            <td colspan="2">Vermeer HyPower 68</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">2 замкнутых контура и 1 разомкнутый</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Сетчатые фильтры на всасывании, один фильтр питающего насоса и один 3-микронный фильтр в возвратном контуре</td>
        </tr>
        <tr>
            <td>Управление направлением</td>
            <td colspan="2">Электрический посредством гидравлического</td>
        </tr>
        <tr>
            <td>Маслоохладитель</td>
            <td colspan="2">Стандартная</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">12 вольт</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">CCA = 950 А</td>
        </tr>
        <tr>
            <td>Контрольно-измерительные приборы в «люксовом» исполнении</td>
            <td colspan="2">Экран DP05 - топливомер, счетчик моточасов, выбираемый</td>
        </tr>
        <tr>
            <td>Предупредительная световая сигнализация</td>
            <td colspan="2">Пониженное давление масла, повышенная температура двигателя, генератор/зарядка, световой указатель работы свечей накаливания, высокая и низкая температура жидкости в гидросистеме, функциональные индикаторы контроллера системы управления (ACS) &mdash; индикация различных функций, выполняемых контроллером</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Двухскоростной ходовой привод, нож, рулевое управление, блокировка ходового дифференциала, параметры системы SmartSweep, включение/выключение режущего диска, джойстик управления малым и нормальным ходом и джойстик управления стрелой</td>
        </tr>
        <tr>
            <td>Контроллер</td>
            <td colspan="2">Система управления Vermeer ACS</td>
        </tr>
        <tr>
            <td>Система выключения</td>
            <td colspan="2">Повышенная температура охлаждающей жидкости, пониженное давление масла и повышенная температура масла гидросистемы</td>
        </tr>
        <tr>
            <td>Дистанционное радиоуправление</td>
            <td colspan="2">Функции: движение вперед/назад; стрела вверх/вниз, стрела влево/вправо, рулевое управление влево/вправо, нож вверх/вниз, параметры системы SmartSweep, повышенная/пониженная скорость хода, блокировка дифференциала, дроссельная заслонка</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">Сварная труба и стальной лист</td>
        </tr>
        <tr>
            <td>Описание пульта управления</td>
            <td colspan="2">Поворотный пульт управления с 3 возможными положениями и вспомогательный пульт управления</td>
        </tr>
        <tr>
            <td>Описание смотрового щитка оператора</td>
            <td colspan="2">Поликарбонат с износоустойчивым покрытием; толщина 0,48 см</td>
        </tr>
        <tr>
            <td>Описание ящика для инструментов</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Мост управляемого типа</td>
            <td colspan="2">Два колеса, гидравлический</td>
        </tr>
        <tr>
            <td>Степень биений</td>
            <td colspan="2">15 градусов</td>
        </tr>
        <tr>
            <td>Радиус разворота</td>
            <td colspan="2">105 градусов</td>
        </tr>
        <tr>
            <td>Мост/подвеска</td>
            <td colspan="2">С мостом управляемого типа</td>
        </tr>
        <tr>
            <td>Шины – стандартные</td>
            <td colspan="2">Задние: сдвоенные, 23x8.5-14</td>
        </tr>
        <tr>
            <td>Колеса – стандартные</td>
            <td colspan="2">Задняя: 35,6 x 15,2 см</td>
        </tr>
        <tr>
            <td>Тип тормозов</td>
            <td colspan="2">С пружинным включением и гидравлическим выключением на планетарных приводах и гидростатическом тормозе (замкнутый контур)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Размер стружечного резака</td>
            <td colspan="2">Стандартный элемент, ширина 86,4 см, высота 34,9 см</td>
        </tr>
        <tr>
            <td>Ход лезвия над уровнем земли</td>
            <td colspan="2">35.6 см</td>
        </tr>
        <tr>
            <td>Бампер</td>
            <td colspan="2">Плита 1,9 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Вариант с дистанционным управлением</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Дистанционное радиоуправление</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Дистанционные функции</td>
            <td colspan="2">Остановка двигателя, дроссельная заслонка, включение режущего диска, поворот, подъем/опускание, движение, малый ход, smartsweep</td>
        </tr>
        <tr>
            <td>Дистанционный дисплей</td>
            <td colspan="2">СИД</td>
        </tr>
        <tr>
            <td>Радиус действия дистанционного управления</td>
            <td colspan="2">91,4 м</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">2 года/2000 часов или 3 года/3000 часов</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обнаружения присутствия машиниста</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание</td>
            <td colspan="2">Емкостные рукоятки – поворот/подъем и опускание</td>
        </tr>
        <tr>
            <td>Тип датчика</td>
            <td colspan="2">Емкостные рукоятки</td>
        </tr>
        <tr>
            <td>Количество/местоположение</td>
            <td colspan="2">2 – Поворотный пульт управления</td>
        </tr>
        <tr>
            <td>Визуальный интерфейс</td>
            <td colspan="2">Световой индикатор/дисплей</td>
        </tr>
    </tbody>
</table>