<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">359.7 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">129.5 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">182.9 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">1587.6 кг</td>
        </tr>
        <tr>
            <td>Уровень звукового давления</td>
            <td colspan="2">104.8 дБ(А)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Caterpillar C2.2T</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">60 л.с</td>
        </tr>
        <tr>
            <td>Крутящий момент (макс.)</td>
            <td colspan="2">192.5 Нм</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">45.4 л</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">13.6 л/час</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">Сухого типа, с индикатором засорения, отсасывающим клапаном и предохранительным элементом</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Навинчиваемый</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">15W40 CAT</td>
        </tr>
        <tr>
            <td>Объем масла с учетом фильтра</td>
            <td colspan="2">10.6 л</td>
        </tr>
        <tr>
            <td>Максимальный угол при непрерывной работе</td>
            <td colspan="2">35 deg</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Вода/антифриз</td>
        </tr>
        <tr>
            <td>Объем охлаждающей жидкости (в двигателе и радиаторе)</td>
            <td colspan="2">6.2 л</td>
        </tr>
        <tr>
            <td>Генератор переменного тока</td>
            <td colspan="2">62</td>
        </tr>
        <tr>
            <td>Вентилятор</td>
            <td colspan="2">31,1 см</td>
        </tr>
        <tr>
            <td>Тип сцепления</td>
            <td colspan="2">Автомобильного типа, диафрагменный с диском</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система с режущим диском</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Диаметр режущего диска (без зубьев)</td>
            <td colspan="2">58.4 см</td>
        </tr>
        <tr>
            <td>Толщина режущего диска</td>
            <td colspan="2">2.9 см</td>
        </tr>
        <tr>
            <td>Скорость вращения режущего диска</td>
            <td colspan="2">1080 об/мин</td>
        </tr>
        <tr>
            <td>Линейный размер режущего диска</td>
            <td colspan="2">165.1 см</td>
        </tr>
        <tr>
            <td>Высота реза режущего диска над уровнем земли</td>
            <td colspan="2">68.6 см</td>
        </tr>
        <tr>
            <td>Высота реза режущего диска ниже уровня земли</td>
            <td colspan="2">40.6 см</td>
        </tr>
        <tr>
            <td>Описание зуба</td>
            <td colspan="2">Режущая система Yellow Jacket</td>
        </tr>
        <tr>
            <td>Количество зубьев</td>
            <td colspan="2">30</td>
        </tr>
        <tr>
            <td>Количество указателей</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Количество гнезд</td>
            <td colspan="2">30</td>
        </tr>
        <tr>
            <td>Реверсивные гнезда</td>
            <td colspan="2">30</td>
        </tr>
        <tr>
            <td>Ограждение ножевого диска</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Ограничение разлета щепок</td>
            <td colspan="2">.7 м³</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Комплектующие привода режущего диска</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Верхний редуктор</td>
            <td colspan="2">Прямозубая коническая шестерня</td>
        </tr>
        <tr>
            <td>Нижний редуктор</td>
            <td colspan="2">Прямозубая коническая шестерня</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Синтетическое трансмиссионное масло SAE 75W90</td>
        </tr>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">.4 л</td>
        </tr>
        <tr>
            <td>Карданный вал</td>
            <td colspan="2">Карданный вал с демпфером</td>
        </tr>
        <tr>
            <td>Карданный вал – универсальные шарниры</td>
            <td colspan="2">2 универсальных шарнира</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">36.3 л</td>
        </tr>
        <tr>
            <td>Тип рекомендуемого масла</td>
            <td colspan="2">Vermeer VMF</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Тандемный шестеренчатый насос с разгруженными подшипниками ротора</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Полнопоточный 4-микронный фильтр возвратного контура; на линии всасывания – сетчатый фильтр</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">27.3 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">200 бар</td>
        </tr>
        <tr>
            <td>Регулирование потока</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Маслоохладитель</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">12 вольт</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">CCA = 575 А</td>
        </tr>
        <tr>
            <td>Стандартные контрольно-измерительные приборы</td>
            <td colspan="2">Счетчик моточасов</td>
        </tr>
        <tr>
            <td>Предупредительная световая сигнализация</td>
            <td colspan="2">Предупреждающая сигнализация аккумуляторной батареи/генератора, двигателя</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Поворот стрелы, высота стрелы, движение малым ходом, зажигание, муфта сцепления, колея, диапазон скорости гусеничной ленты, Auto-Sweep, дроссельная заслонка</td>
        </tr>
        <tr>
            <td>Контроллер</td>
            <td colspan="2">Vermeer C148 с системой Auto-Sweep</td>
        </tr>
        <tr>
            <td>Система выключения</td>
            <td colspan="2">Повышенная температура охлаждающей жидкости и пониженное давление масла двигателя</td>
        </tr>
        <tr>
            <td>Дистанционное радиоуправление</td>
            <td colspan="2">Опциональная, беспроводная</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание пульта управления</td>
            <td colspan="2">Поворотно-откидной</td>
        </tr>
        <tr>
            <td>Описание смотрового щитка оператора</td>
            <td colspan="2">Поликарбонат с износоустойчивым покрытием</td>
        </tr>
        <tr>
            <td>Тип тормозов</td>
            <td colspan="2">Дисковые сдвоенные стояночные тормоза с пружинным включением и гидравлическим выключением</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система привода гусениц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы гусеницы</td>
            <td colspan="2">Труба и плита</td>
        </tr>
        <tr>
            <td>Тип гусеницы</td>
            <td colspan="2">Армированные сталью, обрезиненные, ширина 22,9 см, 54 звена</td>
        </tr>
        <tr>
            <td>Ширина гусеницы – во втянутом состоянии</td>
            <td colspan="2">88,9 см</td>
        </tr>
        <tr>
            <td>Ширина гусеницы – в выдвинутом состоянии</td>
            <td colspan="2">129,5 см</td>
        </tr>
        <tr>
            <td>Длина гусеницы на земле</td>
            <td colspan="2">130 см</td>
        </tr>
        <tr>
            <td>Тип натяжного колеса</td>
            <td colspan="2">Литой с герметизированными подшипниками</td>
        </tr>
        <tr>
            <td>Количество натяжных колес</td>
            <td colspan="2">10</td>
        </tr>
        <tr>
            <td>Тип насоса гусеничного привода</td>
            <td colspan="2">Тандемный шестеренчатый насос с разгруженными подшипниками ротора</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">200 бар</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">27,3 л/мин</td>
        </tr>
        <tr>
            <td>Тип двигателя гусеничного привода</td>
            <td colspan="2">Интегральный агрегат: двигатель и планетарный узел</td>
        </tr>
        <tr>
            <td>Тип тормоза гусеничной цепи</td>
            <td colspan="2">Встроен в двигательный/планетарный узел</td>
        </tr>
        <tr>
            <td>Быстрый ход</td>
            <td colspan="2">2 км/ч</td>
        </tr>
        <tr>
            <td>Медленный ход</td>
            <td colspan="2">1.2 км/ч</td>
        </tr>
        <tr>
            <td>Допустимое давление на грунт – мягкий грунт</td>
            <td colspan="2">28.3 кПа</td>
        </tr>
        <tr>
            <td>Допустимое давление на грунт – твердый грунт</td>
            <td colspan="2">86.9 кПа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Вариант с дистанционным управлением</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Дистанционное радиоуправление</td>
            <td colspan="2">Опция</td>
        </tr>
        <tr>
            <td>Дистанционные функции</td>
            <td colspan="2">Аварийная остановка, дроссельная заслонка, муфта сцепления режущего диска, поворот стрелы, высота стрелы, движение, гусеничный режим, диапазон скорости гусеничной ленты, Auto-Sweep</td>
        </tr>
        <tr>
            <td>Дистанционный дисплей</td>
            <td colspan="2">ЖК-дисплей с подсветкой – индикация частоты вращения вала двигателя и состояния всех функций</td>
        </tr>
        <tr>
            <td>Радиус действия дистанционного управления</td>
            <td colspan="2">91,4 м</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
    </tbody>
</table>