<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">373.4 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">88.9 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">203.2 см</td>
        </tr>
        <tr>
            <td>Габаритная транспортная ширина (без сдвоенных колес)</td>
            <td colspan="2">88.9 см</td>
        </tr>
        <tr>
            <td>Габаритная транспортная ширина (со сдвоенными колесами)</td>
            <td colspan="2">142.2 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">2023 кг</td>
        </tr>
        <tr>
            <td>Уровень звукового давления</td>
            <td colspan="2">110 дБ(A)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система с режущим диском</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Диаметр режущего диска (без зубьев)</td>
            <td colspan="2">58.4 см</td>
        </tr>
        <tr>
            <td>Толщина режущего диска</td>
            <td colspan="2">2.9 см</td>
        </tr>
        <tr>
            <td>Скорость вращения режущего диска</td>
            <td colspan="2">930 об/мин</td>
        </tr>
        <tr>
            <td>Линейный размер режущего диска</td>
            <td colspan="2">182.9 см</td>
        </tr>
        <tr>
            <td>Высота реза режущего диска над уровнем земли</td>
            <td colspan="2">78.7 см</td>
        </tr>
        <tr>
            <td>Высота реза режущего диска ниже уровня земли</td>
            <td colspan="2">63.5 см</td>
        </tr>
        <tr>
            <td>Описание зуба</td>
            <td colspan="2">Режущая система Yellow Jacket</td>
        </tr>
        <tr>
            <td>Количество зубьев</td>
            <td colspan="2">26</td>
        </tr>
        <tr>
            <td>Количество указателей</td>
            <td colspan="2">2 на зуб</td>
        </tr>
        <tr>
            <td>Количество гнезд</td>
            <td colspan="2">26</td>
        </tr>
        <tr>
            <td>Реверсивные гнезда</td>
            <td colspan="2">Да, стандартный</td>
        </tr>
        <tr>
            <td>Ограждение ножевого диска</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Ограничение разлета щепок</td>
            <td colspan="2">.8 м³</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Комплектующие привода режущего диска</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Нижний редуктор</td>
            <td colspan="2">90 градусов</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Синтетическое 75W90</td>
        </tr>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">2.5 л</td>
        </tr>
        <tr>
            <td>Карданный вал</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Карданный вал – универсальные шарниры</td>
            <td colspan="2">2 стандартные, с двойным манжетным уплотнением</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">69.7 л</td>
        </tr>
        <tr>
            <td>Тип рекомендуемого масла</td>
            <td colspan="2">Vermeer HyPower 68</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">2 замкнутых контура и 2 разомкнутых контура</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Сетчатые фильтры на всасывании и 3-микронный фильтр в возвратном контуре</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">59.8 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">206.8 бар</td>
        </tr>
        <tr>
            <td>Управление направлением</td>
            <td colspan="2">Электрический посредством гидравлического</td>
        </tr>
        <tr>
            <td>Маслоохладитель</td>
            <td colspan="2">Стандартная</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">12 вольт</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">CCA = 950 А</td>
        </tr>
        <tr>
            <td>Стандартные контрольно-измерительные приборы</td>
            <td colspan="2">Счетчик моточасов, топливомер, тахометр</td>
        </tr>
        <tr>
            <td>Предупредительная световая сигнализация</td>
            <td colspan="2">Низкое давление масла и высокая температура двигателя</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Включение привода режущего диска, регулировка AutoSweep, блокировка дифференциала, селекторный переключатель на панели управления (поворотно-откидной или вспомогательной), двухскоростной ходовой привод, отвал, рулевое управление, органы управления стрелой и переключатели малого хода, а также джойстик управления ходом.</td>
        </tr>
        <tr>
            <td>Контроллер</td>
            <td colspan="2">Система управления Vermeer ACS</td>
        </tr>
        <tr>
            <td>Система выключения</td>
            <td colspan="2">Температура охлаждающей или гидравлической жидкости выше установленного предела, давление масла ниже установленного предела</td>
        </tr>
        <tr>
            <td>Дистанционное радиоуправление</td>
            <td colspan="2">Функции: движение вперед/назад; стрела вверх/вниз, стрела влево/вправо, рулевое управление влево/вправо, отвал вверх/вниз (опциональный), параметры системы AutoSweep, повышенная/пониженная скорость хода, блокировка дифференциала, дроссельная заслонка двигателя</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">Поворотный пульт управления с 3-мя возможными положениями и вспомогательный пульт управления</td>
        </tr>
        <tr>
            <td>Описание пульта управления</td>
            <td colspan="2">Поликарбонат с износоустойчивым покрытием; толщина 5 мм</td>
        </tr>
        <tr>
            <td>Описание смотрового щитка оператора</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Мост управляемого типа</td>
            <td colspan="2">Гидравлическая, качающаяся</td>
        </tr>
        <tr>
            <td>Шины – первый вариант</td>
            <td colspan="2">Передние: 20x8.00-10</td>
        </tr>
        <tr>
            <td>Колеса – первый вариант</td>
            <td colspan="2">Передние: диск 25,4 x 15,2 см</td>
        </tr>
        <tr>
            <td>Мост/подвеска</td>
            <td colspan="2">Жесткая на сдвоенных ведущих колесах, качающаяся на переднем управляемом мосту</td>
        </tr>
        <tr>
            <td>Шины – стандартные</td>
            <td colspan="2">Задние: сдвоенные, 23x8.5-14</td>
        </tr>
        <tr>
            <td>Колеса – стандартные</td>
            <td colspan="2">Задняя: 35,6 x 15,2 см</td>
        </tr>
        <tr>
            <td>Тип тормозов</td>
            <td colspan="2">С пружинным включением и гидравлическим выключением на планетарных приводах</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Медленный ход</td>
            <td colspan="2">18.3 м/мин</td>
        </tr>
        <tr>
            <td>Быстрый ход</td>
            <td colspan="2">39.6 м/мин</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Размер стружечного резака</td>
            <td colspan="2">Стандартный элемент, ширина 86,4 см, высота 34,9 см</td>
        </tr>
        <tr>
            <td>Ход лезвия над уровнем земли</td>
            <td colspan="2">35.6 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Вариант с дистанционным управлением</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Дистанционное радиоуправление</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Дистанционные функции</td>
            <td colspan="2">Пуск/остановка двигателя, дроссельная заслонка, включение режущего диска, поворот, подъем/опускание</td>
        </tr>
        <tr>
            <td>Дистанционный дисплей</td>
            <td colspan="2">СИД</td>
        </tr>
        <tr>
            <td>Радиус действия дистанционного управления</td>
            <td colspan="2">300'</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">2 года/2000 часов или 3 года/3000 часов</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
    </tbody>
</table>