<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес – без погрузчика</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная длина – транспортная</td>
            <td colspan="2">890 см</td>
        </tr>
        <tr>
            <td>Максимальная длина – конвейер развернут</td>
            <td colspan="2">1560 см</td>
        </tr>
        <tr>
            <td>Максимальная ширина (транспортная)</td>
            <td colspan="2">250 см</td>
        </tr>
        <tr>
            <td>Максимальная высота (транспортная)</td>
            <td colspan="2">30 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">19087.2 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Двигатель мельницы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">WEG W22</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">500 л.с</td>
        </tr>
        <tr>
            <td>Крутящий момент (макс.)</td>
            <td colspan="2">1967.3 Нм</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Ограничитель усилия</td>
            <td colspan="2">PT Tech - постоянного включения, фрикционного типа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант электродвигателя вентилятора - 460 В / 60 Гц (частотно-регулируемый привод)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Weg W22</td>
        </tr>
        <tr>
            <td>Рама</td>
            <td colspan="2">NEMA 145T</td>
        </tr>
        <tr>
            <td>Мощность</td>
            <td colspan="2">2 л.с</td>
        </tr>
        <tr>
            <td>Напряжение</td>
            <td colspan="2">460</td>
        </tr>
        <tr>
            <td>Частота</td>
            <td colspan="2">60</td>
        </tr>
        <tr>
            <td>Фаза</td>
            <td colspan="2">3</td>
        </tr>
        <tr>
            <td>Номинальная скорость</td>
            <td colspan="2">1775 об/мин</td>
        </tr>
        <tr>
            <td>Кожух</td>
            <td colspan="2">TEFC</td>
        </tr>
        <tr>
            <td>Ток при полной нагрузке</td>
            <td colspan="2">2.61</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя электрической мельницы - 460 В / 60 Гц (плавное включение)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Weg W22</td>
        </tr>
        <tr>
            <td>Рама</td>
            <td colspan="2">NEMA L447/9T</td>
        </tr>
        <tr>
            <td>Мощность</td>
            <td colspan="2">500 л.с</td>
        </tr>
        <tr>
            <td>Напряжение</td>
            <td colspan="2">460</td>
        </tr>
        <tr>
            <td>Частота</td>
            <td colspan="2">60</td>
        </tr>
        <tr>
            <td>Фаза</td>
            <td colspan="2">3</td>
        </tr>
        <tr>
            <td>Номинальная скорость</td>
            <td colspan="2">1785 об/мин</td>
        </tr>
        <tr>
            <td>Кожух</td>
            <td colspan="2">TEFC</td>
        </tr>
        <tr>
            <td>Ток при полной нагрузке</td>
            <td colspan="2">561</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя электрической мельницы - 460 В / 60 Гц (частотно-регулируемый привод)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Weg W22</td>
        </tr>
        <tr>
            <td>Рама</td>
            <td colspan="2">NEMA 586/7T</td>
        </tr>
        <tr>
            <td>Мощность</td>
            <td colspan="2">500 л.с</td>
        </tr>
        <tr>
            <td>Напряжение</td>
            <td colspan="2">460</td>
        </tr>
        <tr>
            <td>Частота</td>
            <td colspan="2">60</td>
        </tr>
        <tr>
            <td>Фаза</td>
            <td colspan="2">3</td>
        </tr>
        <tr>
            <td>Номинальная скорость</td>
            <td colspan="2">1790 об/мин</td>
        </tr>
        <tr>
            <td>Кожух</td>
            <td colspan="2">TEFC</td>
        </tr>
        <tr>
            <td>Ток при полной нагрузке</td>
            <td colspan="2">567</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Второй вариант электродвигателя вентилятора - 380 В / 50 Гц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Weg W22</td>
        </tr>
        <tr>
            <td>Рама</td>
            <td colspan="2">IEC 90L</td>
        </tr>
        <tr>
            <td>Мощность</td>
            <td colspan="2">2 л.с</td>
        </tr>
        <tr>
            <td>Напряжение</td>
            <td colspan="2">380</td>
        </tr>
        <tr>
            <td>Частота</td>
            <td colspan="2">50</td>
        </tr>
        <tr>
            <td>Фаза</td>
            <td colspan="2">3</td>
        </tr>
        <tr>
            <td>Номинальная скорость</td>
            <td colspan="2">1445 об/мин</td>
        </tr>
        <tr>
            <td>Кожух</td>
            <td colspan="2">TEFC</td>
        </tr>
        <tr>
            <td>Ток при полной нагрузке</td>
            <td colspan="2">3.21</td>
        </tr>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Weg W22</td>
        </tr>
        <tr>
            <td>Рама</td>
            <td colspan="2">IEC 225S/M</td>
        </tr>
        <tr>
            <td>Мощность</td>
            <td colspan="2">60 л.с</td>
        </tr>
        <tr>
            <td>Напряжение</td>
            <td colspan="2">380</td>
        </tr>
        <tr>
            <td>Частота</td>
            <td colspan="2">50</td>
        </tr>
        <tr>
            <td>Фаза</td>
            <td colspan="2">3</td>
        </tr>
        <tr>
            <td>Номинальная скорость</td>
            <td colspan="2">1475 об/мин</td>
        </tr>
        <tr>
            <td>Кожух</td>
            <td colspan="2">TEFC</td>
        </tr>
        <tr>
            <td>Ток при полной нагрузке</td>
            <td colspan="2">83.9</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Второй вариант двигателя электрической мельницы - 380 В / 50 Гц (плавное включение)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Weg W22</td>
        </tr>
        <tr>
            <td>Рама</td>
            <td colspan="2">IEC 355M/L</td>
        </tr>
        <tr>
            <td>Мощность</td>
            <td colspan="2">500 л.с</td>
        </tr>
        <tr>
            <td>Напряжение</td>
            <td colspan="2">380</td>
        </tr>
        <tr>
            <td>Частота</td>
            <td colspan="2">50</td>
        </tr>
        <tr>
            <td>Фаза</td>
            <td colspan="2">3</td>
        </tr>
        <tr>
            <td>Номинальная скорость</td>
            <td colspan="2">1790 об/мин</td>
        </tr>
        <tr>
            <td>Кожух</td>
            <td colspan="2">TEFC</td>
        </tr>
        <tr>
            <td>Ток при полной нагрузке</td>
            <td colspan="2">688</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Толщина платформы бункера</td>
            <td colspan="2">1 см</td>
        </tr>
        <tr>
            <td>Тип платформы бункера</td>
            <td colspan="2">Сталь T1</td>
        </tr>
        <tr>
            <td>Наклон стола (градусы)</td>
            <td colspan="2">91 градус</td>
        </tr>
        <tr>
            <td>Отверстие измельчительной камеры</td>
            <td colspan="2">61,4 x 121,5 см</td>
        </tr>
        <tr>
            <td>Внутренний диаметр бункера</td>
            <td colspan="2">240 см</td>
        </tr>
        <tr>
            <td>Внутренний диаметр раструба – у основания бункера</td>
            <td colspan="2">250 см</td>
        </tr>
        <tr>
            <td>Внутренний диаметр раструба – у отверстия бункера</td>
            <td colspan="2">370 см</td>
        </tr>
        <tr>
            <td>Глубина бункера</td>
            <td colspan="2">150 см</td>
        </tr>
        <tr>
            <td>Вместимость бункера</td>
            <td colspan="2">8.6 м³</td>
        </tr>
        <tr>
            <td>Толщина стенки</td>
            <td colspan="2">.6 см</td>
        </tr>
        <tr>
            <td>Тип стенки</td>
            <td colspan="2">Сталь T1</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">320 см</td>
        </tr>
        <tr>
            <td>Тип привода</td>
            <td colspan="2">Непрерывный цепной, на ведущую звёздочку</td>
        </tr>
        <tr>
            <td>Приводная цепь</td>
            <td colspan="2">Роликовая цепь 120H</td>
        </tr>
        <tr>
            <td>Натяжитель привода</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Количество валиков бункера</td>
            <td colspan="2">8 несущих и 8 направляющих (всего 16)</td>
        </tr>
        <tr>
            <td>Скорость вращения бункера</td>
            <td colspan="2">10 об/мин</td>
        </tr>
        <tr>
            <td>Мешалки бункера</td>
            <td colspan="2">4</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Система ограничения зоны выброса</td>
            <td colspan="2">Шарнирная крышка бункера</td>
        </tr>
        <tr>
            <td>Описание крышки бункера</td>
            <td colspan="2">С гидроприводом</td>
        </tr>
        <tr>
            <td>Положения крышки бункера</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Отражатель ротора</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Защита зоны пульта управления от падающих предметов</td>
            <td colspan="2">Верхняя и боковая защита</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дуплексный барабан</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Отверстие измельчительной камеры</td>
            <td colspan="2">61,4 x 121,5 см</td>
        </tr>
        <tr>
            <td>Диаметр барабана</td>
            <td colspan="2">57.2 см</td>
        </tr>
        <tr>
            <td>Диаметр наконечника</td>
            <td colspan="2">72.6 см</td>
        </tr>
        <tr>
            <td>Режущая ширина барабана</td>
            <td colspan="2">116.8 см</td>
        </tr>
        <tr>
            <td>Толщина стенки барабана</td>
            <td colspan="2">4.4 см</td>
        </tr>
        <tr>
            <td>Скорость вращения барабана</td>
            <td colspan="2">1785 об/мин</td>
        </tr>
        <tr>
            <td>Тип подшипника</td>
            <td colspan="2">Сферический роликовый</td>
        </tr>
        <tr>
            <td>Количество молотков</td>
            <td colspan="2">8</td>
        </tr>
        <tr>
            <td>Количество кромок</td>
            <td colspan="2">16</td>
        </tr>
        <tr>
            <td>Типы режущих головок</td>
            <td colspan="2">Блочного типа, с одним болтом, ширина – 7,6 x 8,9 см; с 2-мя болтами, узкая – 5,1 x 7,6 см</td>
        </tr>
        <tr>
            <td>Размеры центрального стопорного штифта</td>
            <td colspan="2">5,1 см</td>
        </tr>
        <tr>
            <td>Количество щеток стеклоочистителя</td>
            <td colspan="2">2</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Сетки</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вес сетки</td>
            <td colspan="2">181.4 кг</td>
        </tr>
        <tr>
            <td>Размеры сетки</td>
            <td colspan="2">126 x 72,4 x 37,8 см</td>
        </tr>
        <tr>
            <td>Тип сетки</td>
            <td colspan="2">Изготовлено из специальной износостойкой стали (2 шт.)</td>
        </tr>
        <tr>
            <td>Тип рычага</td>
            <td colspan="2">Сталь Т1, сменные</td>
        </tr>
        <tr>
            <td>Размеры рычага</td>
            <td colspan="2">6,4 х 7,6 см</td>
        </tr>
        <tr>
            <td>Площадь сетки</td>
            <td colspan="2">17509.6 см²</td>
        </tr>
        <tr>
            <td>Расстояние – от сетки до стенки измельчительной камеры</td>
            <td colspan="2">27.9 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система – конструкция с одной лентой</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">730 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">91.4 см</td>
        </tr>
        <tr>
            <td>Конструкция ленты</td>
            <td colspan="2">Цельная V-образная планка, 330#</td>
        </tr>
        <tr>
            <td>Сращивание</td>
            <td colspan="2">Flexco R2, нержавеющая сталь</td>
        </tr>
        <tr>
            <td>Количество поддерживающих катков</td>
            <td colspan="2">5 стандартных и 1 вибрационный валик</td>
        </tr>
        <tr>
            <td>Диаметр натяжного ролика</td>
            <td colspan="2">20.3 см</td>
        </tr>
        <tr>
            <td>Ведущий ролик стандартного диаметра</td>
            <td colspan="2">32.5 см</td>
        </tr>
        <tr>
            <td>Диаметр ведущего ролика электромагнитного привода</td>
            <td colspan="2">32.5 см</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">Geroler</td>
        </tr>
        <tr>
            <td>Скорость движения ленты</td>
            <td colspan="2">195.1 м/мин</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">430 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">359.6 л</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Vermeer HyPower 68</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Погружные фильтры возвратного контура (2 шт.)</td>
        </tr>
        <tr>
            <td>Количество охлаждающих устройств</td>
            <td colspan="2">1</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема рабочего оборудования</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Редуктор</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">72.7 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">193.1 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидропривод бункера</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Редуктор</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">72.7 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">193.1 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">24 вольта</td>
        </tr>
        <tr>
            <td>Защита системы</td>
            <td colspan="2">С плавким предохранителем</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Пульт управления</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">Аналоговые гидравлические манометры, многофункциональный светодиодный индикатор</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Датчики</td>
            <td colspan="2">Давление во вспомогательной гидравлической системе, давление в гидравлической системе вращения бункера, давление в гидравлической системе конвейера</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Влагостойкий, переключаемого типа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дистанционное радиоуправление</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">Многофункциональный светодиодный индикатор</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Старт/останов двигателя</td>
        </tr>
        <tr>
            <td>Данные о двигателе</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Герметизированная мембрана</td>
        </tr>
        <tr>
            <td>Рабочий диапазон</td>
            <td colspan="2">До 91.4 м</td>
        </tr>
        <tr>
            <td>Тип аккумуляторной батареи</td>
            <td colspan="2">AA (6 шт.)</td>
        </tr>
        <tr>
            <td>Настройка канала</td>
            <td colspan="2">50 каналов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">Неразрезная двутавровая балка</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты – бункерный измельчитель</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Сетки</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Группа специальных инструментов</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
    </tbody>
</table>