<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес – без погрузчика</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная длина – транспортная</td>
            <td colspan="2">1200 см</td>
        </tr>
        <tr>
            <td>Максимальная длина – конвейер развернут</td>
            <td colspan="2">1860 см</td>
        </tr>
        <tr>
            <td>Максимальная ширина (транспортная)</td>
            <td colspan="2">260 см</td>
        </tr>
        <tr>
            <td>Максимальная высота (транспортная)</td>
            <td colspan="2">398.8 см</td>
        </tr>
        <tr>
            <td>Вес – со сдвоенным мостом</td>
            <td colspan="2">23133.2 кг</td>
        </tr>
        <tr>
            <td>Вес – с тремя мостами</td>
            <td colspan="2">24040.4 кг</td>
        </tr>
        <tr>
            <td>Вес дышла – со сдвоенным мостом</td>
            <td colspan="2">7484.3 кг</td>
        </tr>
        <tr>
            <td>Вес дышла – с тремя мостами</td>
            <td colspan="2">7257.5 кг</td>
        </tr>
        <tr>
            <td>Вес моста – со сдвоенным мостом</td>
            <td colspan="2">15648.9 кг</td>
        </tr>
        <tr>
            <td>Вес моста – с тремя мостами</td>
            <td colspan="2">16782.9 кг</td>
        </tr>
        <tr>
            <td>Уровень звукового давления</td>
            <td colspan="2">Мощность звука LwA=116,6 дБ(A) На уровне нижней панели управления = 96,4 дБ(A)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес – погрузчик</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная длина – транспортная</td>
            <td colspan="2">1390 см</td>
        </tr>
        <tr>
            <td>Максимальная длина – конвейер развернут</td>
            <td colspan="2">2060 см</td>
        </tr>
        <tr>
            <td>Максимальный вылет стрелы погрузчика</td>
            <td colspan="2">820 см</td>
        </tr>
        <tr>
            <td>Максимальная ширина (транспортная)</td>
            <td colspan="2">260 см</td>
        </tr>
        <tr>
            <td>Максимальная высота (транспортная)</td>
            <td colspan="2">411.5 см</td>
        </tr>
        <tr>
            <td>Максимальная высота – кабина в рабочем положении</td>
            <td colspan="2">570 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">30844.3 кг</td>
        </tr>
        <tr>
            <td>Вес дышла – первый вариант двигателя</td>
            <td colspan="2">10886.2 кг</td>
        </tr>
        <tr>
            <td>Вес моста</td>
            <td colspan="2">19958.1 кг</td>
        </tr>
        <tr>
            <td>Уровень звукового давления</td>
            <td colspan="2">Звуковая мощность LwA=116,6 дБ(A) На уровне нижней панели управления = 96,4 дБ(A) В кабине погрузчика = 76,8 дБ(A)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Второй вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">CAT C15 Tier 3 с турбонаддувом и последовательным охлаждением</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">6</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">540 л.с</td>
        </tr>
        <tr>
            <td>Крутящий момент (макс.)</td>
            <td colspan="2">2466.2 Нм</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">950.1 л</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">102.2 л/час</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизель</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">Первичный и вторичный резервный фильтры с элементом грубой очистки и электрическим индикатором загрязнения</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Навинчиваемый</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">API CC/CD</td>
        </tr>
        <tr>
            <td>Объем масла с учетом фильтра</td>
            <td colspan="2">39.7 л</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Объем охлаждающей жидкости (в двигателе и радиаторе)</td>
            <td colspan="2">90.8 л</td>
        </tr>
        <tr>
            <td>Генератор переменного тока</td>
            <td colspan="2">24 вольта, 200 ампер</td>
        </tr>
        <tr>
            <td>Вентилятор</td>
            <td colspan="2">Диаметр 107 см, фиксированный шаг, реверсивный</td>
        </tr>
        <tr>
            <td>Тип сцепления</td>
            <td colspan="2">PT Tech</td>
        </tr>
        <tr>
            <td>Включение сцепления</td>
            <td colspan="2">Нажимная кнопка</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Толщина платформы бункера</td>
            <td colspan="2">1 см</td>
        </tr>
        <tr>
            <td>Тип платформы бункера</td>
            <td colspan="2">Сталь T1</td>
        </tr>
        <tr>
            <td>Наклон стола (градусы)</td>
            <td colspan="2">91 градусов</td>
        </tr>
        <tr>
            <td>Отверстие измельчительной камеры</td>
            <td colspan="2">77,7 x 118,4 см</td>
        </tr>
        <tr>
            <td>Внутренний диаметр бункера</td>
            <td colspan="2">240 см</td>
        </tr>
        <tr>
            <td>Внутренний диаметр раструба – у основания бункера</td>
            <td colspan="2">250 см</td>
        </tr>
        <tr>
            <td>Внутренний диаметр раструба – у отверстия бункера</td>
            <td colspan="2">370 см</td>
        </tr>
        <tr>
            <td>Глубина бункера</td>
            <td colspan="2">150 см</td>
        </tr>
        <tr>
            <td>Толщина стенки</td>
            <td colspan="2">.6 см</td>
        </tr>
        <tr>
            <td>Тип стенки</td>
            <td colspan="2">Сталь T1</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">330 см</td>
        </tr>
        <tr>
            <td>Тип привода</td>
            <td colspan="2">Непрерывный цепной, на ведущую звёздочку</td>
        </tr>
        <tr>
            <td>Приводная цепь</td>
            <td colspan="2">Роликовая цепь 120H</td>
        </tr>
        <tr>
            <td>Натяжитель привода</td>
            <td colspan="2">Автоматический механический ползун с гидравлическим механизмом натяжения</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Количество валиков бункера</td>
            <td colspan="2">8 несущих, 8 направляющих</td>
        </tr>
        <tr>
            <td>Скорость вращения бункера</td>
            <td colspan="2">10 об/мин</td>
        </tr>
        <tr>
            <td>Мешалки бункера</td>
            <td colspan="2">4</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Система ограничения зоны выброса</td>
            <td colspan="2">Шарнирная крышка бункера</td>
        </tr>
        <tr>
            <td>Описание крышки бункера</td>
            <td colspan="2">С гидроприводом</td>
        </tr>
        <tr>
            <td>Положения крышки бункера</td>
            <td colspan="2">Использование гидравлического затвора при транспортировке и эксплуатации. При транспортировке также используется механическая блокировка</td>
        </tr>
        <tr>
            <td>Отражатель ротора</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Защита зоны пульта управления от падающих предметов</td>
            <td colspan="2">Верхняя и боковая защита</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дуплексный барабан</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Отверстие измельчительной камеры</td>
            <td colspan="2">58 x 124 см</td>
        </tr>
        <tr>
            <td>Диаметр барабана</td>
            <td colspan="2">57.2 см</td>
        </tr>
        <tr>
            <td>Диаметр наконечника</td>
            <td colspan="2">73.7 см</td>
        </tr>
        <tr>
            <td>Режущая ширина барабана</td>
            <td colspan="2">111.8 см</td>
        </tr>
        <tr>
            <td>Толщина стенки барабана</td>
            <td colspan="2">3.8 см</td>
        </tr>
        <tr>
            <td>Скорость вращения барабана</td>
            <td colspan="2">2050 об/мин</td>
        </tr>
        <tr>
            <td>Скорость наконечника</td>
            <td colspan="2">15612 об/мин</td>
        </tr>
        <tr>
            <td>Тип подшипника</td>
            <td colspan="2">Сферический роликовый</td>
        </tr>
        <tr>
            <td>Подшипник – диаметр внутреннего кольца</td>
            <td colspan="2">10.9 см</td>
        </tr>
        <tr>
            <td>Подшипник – динамическая нагрузочная способность</td>
            <td colspan="2">61688.6 кг</td>
        </tr>
        <tr>
            <td>Количество молотков</td>
            <td colspan="2">7</td>
        </tr>
        <tr>
            <td>Количество кромок</td>
            <td colspan="2">14</td>
        </tr>
        <tr>
            <td>Типы режущих головок</td>
            <td colspan="2">Блочного типа с одним болтом шириной 7,6 x 8,9 см; с 2-мя болтами 5,1 x 7,6 см узкий</td>
        </tr>
        <tr>
            <td>Размеры центрального стопорного штифта</td>
            <td colspan="2">5,1 см</td>
        </tr>
        <tr>
            <td>Количество щеток стеклоочистителя</td>
            <td colspan="2">4</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Сетки</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Размеры сетки</td>
            <td colspan="2">119 x 74 x 1,9 см</td>
        </tr>
        <tr>
            <td>Тип сетки</td>
            <td colspan="2">AR 400, поворотные, 2 шт.</td>
        </tr>
        <tr>
            <td>Тип рычага</td>
            <td colspan="2">Сменный стальной брус T1</td>
        </tr>
        <tr>
            <td>Размеры рычага</td>
            <td colspan="2">6,4 х 7,6 см</td>
        </tr>
        <tr>
            <td>Количество сторон</td>
            <td colspan="2">4 используемые кромки</td>
        </tr>
        <tr>
            <td>Площадь сетки</td>
            <td colspan="2">17419.3 см²</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Карданная передача – первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Приводной вал</td>
            <td colspan="2">Custom 1810</td>
        </tr>
        <tr>
            <td>Универсальные шарниры</td>
            <td colspan="2">Смазываемые (2 шт.)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система – конструкция с одной лентой</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ширина</td>
            <td colspan="2">91.4 см</td>
        </tr>
        <tr>
            <td>Конструкция ленты</td>
            <td colspan="2">Стандартная: 3-слойный 330# с V-образной планкой для тяжелых режимов эксплуатации: Прямое плетение, однослойный 330#, оба с V-образной планкой</td>
        </tr>
        <tr>
            <td>Сращивание</td>
            <td colspan="2">Стандартная: Армированный кабель в оболочке из нержавеющей стали для тяжелых режимов эксплуатации: Соединитель ремней Super Screw</td>
        </tr>
        <tr>
            <td>Количество поддерживающих катков</td>
            <td colspan="2">5 стандартных и 1 вибрационный валик</td>
        </tr>
        <tr>
            <td>Диаметр натяжного ролика</td>
            <td colspan="2">20.3 см</td>
        </tr>
        <tr>
            <td>Ведущий ролик стандартного диаметра</td>
            <td colspan="2">32.5 см</td>
        </tr>
        <tr>
            <td>Диаметр ведущего ролика электромагнитного привода</td>
            <td colspan="2">32.5 см</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">Eaton</td>
        </tr>
        <tr>
            <td>Скорость движения ленты</td>
            <td colspan="2">237.1 м/мин</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">430 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">340.7 л</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Vermeer HyPower 68</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Погружные фильтры возвратного контура (2 шт.) с сетчатым фильтром на стороне всасывания</td>
        </tr>
        <tr>
            <td>Количество охлаждающих устройств</td>
            <td colspan="2">1</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема рабочего оборудования</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Комплектующие</td>
            <td colspan="2">Конвейер</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Редуктор</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">78.4 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">206.8 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидропривод бункера</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Чувствительные к нагрузке, с компенсированным давлением</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Аксиально-поршневой, переменной производительности</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">83.7 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">209.9 бар</td>
        </tr>
        <tr>
            <td>Моторная группа</td>
            <td colspan="2">Итон VIS45</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидропривод сцепления</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">79.5 л</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">VMF Gold</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Навинчиваемый, высокого давления</td>
        </tr>
        <tr>
            <td>Количество охлаждающих устройств</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Редуктор</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">40.1 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">17.9 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидропривод погрузчика</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Чувствительные к нагрузке, с компенсированным давлением</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Аксиально-поршневой, переменной производительности</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">205.2 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">229.9 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">24 вольта</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">Группа 8-D, CCA 1155 А (2 шт.)</td>
        </tr>
        <tr>
            <td>Защита системы</td>
            <td colspan="2">С плавким предохранителем</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Пульт управления</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">Многофункциональный ЖК-дисплей</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Эксплуатационные, диагностические и системные параметры</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Эксплуатационные, диагностические и системные параметры</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Диагностические коды согласно SAE J1939</td>
        </tr>
        <tr>
            <td>Датчики</td>
            <td colspan="2">Уровень топлива, давление в гидросистеме бункера, давление в гидросистеме конвейера, давление во вспомогательной гидросистеме</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Влагостойкий, переключаемого типа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дистанционное радиоуправление</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">Многофункциональный ЖК-дисплей</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Герметизированная мембрана</td>
        </tr>
        <tr>
            <td>Рабочий диапазон</td>
            <td colspan="2">До 91 м</td>
        </tr>
        <tr>
            <td>Тип аккумуляторной батареи</td>
            <td colspan="2">AA (6 шт.)</td>
        </tr>
        <tr>
            <td>Настройка канала</td>
            <td colspan="2">50 каналов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Кабина погрузчика</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">DP10</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Датчики</td>
            <td colspan="2">Давление в гидравлической системе погрузчика</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Влагостойкий, переключаемого типа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">Неразрезная двутавровая балка</td>
        </tr>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">Сменный сцепной палец, 5,1 см</td>
        </tr>
        <tr>
            <td>Описание предохранительного щита</td>
            <td colspan="2">Болтовое крепление, формованная сталь (4,8 мм)</td>
        </tr>
        <tr>
            <td>Тип тормозов</td>
            <td colspan="2">Пневматический стояночный тормозной механизм с пружинным включением</td>
        </tr>
        <tr>
            <td>Тип осветительных приборов прицепа</td>
            <td colspan="2">Светодиодный индикатор 12-24 В</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Мост/подвеска</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип моста</td>
            <td colspan="2">Сдвоенные мосты, верхняя пружинная подвеска (без погрузчика)</td>
        </tr>
        <tr>
            <td>Вместимость</td>
            <td colspan="2">9071.8 кг</td>
        </tr>
        <tr>
            <td>Шины – первый вариант</td>
            <td colspan="2">445/50R22.5 одинарные алюминиевые с центровкой по ступице Super Singles</td>
        </tr>
        <tr>
            <td>Колеса – первый вариант</td>
            <td colspan="2">22.5</td>
        </tr>
        <tr>
            <td>Дорожный просвет – первый вариант</td>
            <td colspan="2">27.9 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Мост/подвеска – второй вариант</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип моста</td>
            <td colspan="2">Сдвоенные мосты, верхняя пружинная подвеска (без погрузчика)</td>
        </tr>
        <tr>
            <td>Вместимость</td>
            <td colspan="2">9071.8 кг</td>
        </tr>
        <tr>
            <td>Шины – первый вариант</td>
            <td colspan="2">445/50R22.5 одинарные алюминиевые с центровкой по ступице Super Singles</td>
        </tr>
        <tr>
            <td>Колеса – первый вариант</td>
            <td colspan="2">22.5</td>
        </tr>
        <tr>
            <td>Дорожный просвет – первый вариант</td>
            <td colspan="2">27.9 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Погрузчик</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вылет стрелы погрузчика</td>
            <td colspan="2">820 см</td>
        </tr>
        <tr>
            <td>Вращение основания/кабины</td>
            <td colspan="2">370 градусов</td>
        </tr>
        <tr>
            <td>Грузоподъемность погрузчика при максимальной досягаемости</td>
            <td colspan="2">1587.6 кг</td>
        </tr>
        <tr>
            <td>Грузоподъемность погрузчика при 3,05 м</td>
            <td colspan="2">5556.5 кг</td>
        </tr>
        <tr>
            <td>Тип захвата</td>
            <td colspan="2">Многозубый, непрерывное вращение на 360 градусов</td>
        </tr>
        <tr>
            <td>Вращение захвата</td>
            <td colspan="2">360 градусов</td>
        </tr>
        <tr>
            <td>Вес захвата</td>
            <td colspan="2">596.5 кг</td>
        </tr>
        <tr>
            <td>Органы управления погрузчиком</td>
            <td colspan="2">С сервоуправлением</td>
        </tr>
        <tr>
            <td>Органы управления кондиционером</td>
            <td colspan="2">Кондиционирование и обогрев</td>
        </tr>
        <tr>
            <td>Радио</td>
            <td colspan="2">AM/FM/WB/AUX/ SIRIUS SATELLITE RADIO READY с четырьмя динамиками диаметром 10 см</td>
        </tr>
        <tr>
            <td>Тип окна</td>
            <td colspan="2">Поликарбонат (9,5 мм)</td>
        </tr>
        <tr>
            <td>Защита от проникновения спереди</td>
            <td colspan="2">Сварная проволочная сетка из стержней диаметром 1,6 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Опциональный воздушный компрессор</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Фирменная марка воздушного компрессора</td>
            <td colspan="2">Mi-T-M</td>
        </tr>
        <tr>
            <td>Двигатель</td>
            <td colspan="2">Honda 9,7 кВт</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">12.1 бар</td>
        </tr>
        <tr>
            <td>Максимальный воздушный поток</td>
            <td colspan="2">.8 cmm</td>
        </tr>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">113.6 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты – бункерный измельчитель</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Сетки</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Группа специальных инструментов</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
    </tbody>
</table>