<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес – без погрузчика</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная длина – транспортная</td>
            <td colspan="2">1330 см</td>
        </tr>
        <tr>
            <td>Максимальная длина – конвейер развернут</td>
            <td colspan="2">1910 см</td>
        </tr>
        <tr>
            <td>Максимальная ширина (транспортная)</td>
            <td colspan="2">360 см</td>
        </tr>
        <tr>
            <td>Максимальная высота (транспортная)</td>
            <td colspan="2">34.3 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">35380.2 кг</td>
        </tr>
        <tr>
            <td>Вес дышла – первый вариант двигателя</td>
            <td colspan="2">13063.5 кг</td>
        </tr>
        <tr>
            <td>Вес моста</td>
            <td colspan="2">22316.7 кг</td>
        </tr>
        <tr>
            <td>Уровень звукового давления</td>
            <td colspan="2">Звуковая мощность (LwA) = 120,3 дБ(A)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес – погрузчик</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная длина – транспортная</td>
            <td colspan="2">1330 см</td>
        </tr>
        <tr>
            <td>Максимальная длина – конвейер развернут</td>
            <td colspan="2">1910 см</td>
        </tr>
        <tr>
            <td>Максимальный вылет стрелы погрузчика</td>
            <td colspan="2">900 см</td>
        </tr>
        <tr>
            <td>Максимальная ширина (транспортная)</td>
            <td colspan="2">360 см</td>
        </tr>
        <tr>
            <td>Максимальная высота (транспортная)</td>
            <td colspan="2">411.5 см</td>
        </tr>
        <tr>
            <td>Максимальная высота – кабина в рабочем положении</td>
            <td colspan="2">570 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">40142.9 кг</td>
        </tr>
        <tr>
            <td>Вес дышла – первый вариант двигателя</td>
            <td colspan="2">15648.9 кг</td>
        </tr>
        <tr>
            <td>Вес моста</td>
            <td colspan="2">24494 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Толщина платформы бункера</td>
            <td colspan="2">1.2 см</td>
        </tr>
        <tr>
            <td>Тип платформы бункера</td>
            <td colspan="2">Сталь T1</td>
        </tr>
        <tr>
            <td>Наклон стола (градусы)</td>
            <td colspan="2">92 градуса</td>
        </tr>
        <tr>
            <td>Отверстие измельчительной камеры</td>
            <td colspan="2">68,9 x 175,3 см</td>
        </tr>
        <tr>
            <td>Внутренний диаметр бункера</td>
            <td colspan="2">300 см</td>
        </tr>
        <tr>
            <td>Внутренний диаметр раструба – у основания бункера</td>
            <td colspan="2">310 см</td>
        </tr>
        <tr>
            <td>Внутренний диаметр раструба – у отверстия бункера</td>
            <td colspan="2">400 см</td>
        </tr>
        <tr>
            <td>Глубина бункера</td>
            <td colspan="2">140 см</td>
        </tr>
        <tr>
            <td>Вместимость бункера</td>
            <td colspan="2">11.5 м³</td>
        </tr>
        <tr>
            <td>Толщина стенки</td>
            <td colspan="2">.6 см</td>
        </tr>
        <tr>
            <td>Тип стенки</td>
            <td colspan="2">Сталь T1</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">340 см</td>
        </tr>
        <tr>
            <td>Тип привода</td>
            <td colspan="2">Гидравлический привод с замкнутым контуром, непрерывный цепной, на ведущую звездочку</td>
        </tr>
        <tr>
            <td>Приводная цепь</td>
            <td colspan="2">Роликовая цепь №160 согласно стандарту ANSI</td>
        </tr>
        <tr>
            <td>Натяжитель привода</td>
            <td colspan="2">Гидравлическая система</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">Гидравлический, низкоскоростной с большим крутящим моментом (2 шт.)</td>
        </tr>
        <tr>
            <td>Количество валиков бункера</td>
            <td colspan="2">8 несущих и 8 направляющих (всего 16)</td>
        </tr>
        <tr>
            <td>Скорость вращения бункера</td>
            <td colspan="2">8 об/мин</td>
        </tr>
        <tr>
            <td>Мешалки бункера</td>
            <td colspan="2">4</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Система ограничения зоны выброса</td>
            <td colspan="2">Шарнирная крышка бункера</td>
        </tr>
        <tr>
            <td>Описание крышки бункера</td>
            <td colspan="2">Коническая крышка с гидравлическим поворотно-отводным механизмом</td>
        </tr>
        <tr>
            <td>Положения крышки бункера</td>
            <td colspan="2">2 - Использование гидравлического затвора при транспортировке и эксплуатации</td>
        </tr>
        <tr>
            <td>Отражатель ротора</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Толщина противоизносной облицовки</td>
            <td colspan="2">1.3 см</td>
        </tr>
        <tr>
            <td>Тип противоизносной облицовки</td>
            <td colspan="2">AR400</td>
        </tr>
        <tr>
            <td>Защита зоны пульта управления от падающих предметов</td>
            <td colspan="2">Верхняя и боковая защита</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дуплексный барабан</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Отверстие измельчительной камеры</td>
            <td colspan="2">81 см x 183 см</td>
        </tr>
        <tr>
            <td>Диаметр барабана</td>
            <td colspan="2">57.2 см</td>
        </tr>
        <tr>
            <td>Диаметр наконечника</td>
            <td colspan="2">78.7 см</td>
        </tr>
        <tr>
            <td>Режущая ширина барабана</td>
            <td colspan="2">165.9 см</td>
        </tr>
        <tr>
            <td>Толщина стенки барабана</td>
            <td colspan="2">3.8 см</td>
        </tr>
        <tr>
            <td>Скорость вращения барабана</td>
            <td colspan="2">1340 об/мин</td>
        </tr>
        <tr>
            <td>Скорость наконечника</td>
            <td colspan="2">10900 об/мин</td>
        </tr>
        <tr>
            <td>Тип подшипника</td>
            <td colspan="2">Двурядный сферический роликоподшипник</td>
        </tr>
        <tr>
            <td>Подшипник – диаметр внутреннего кольца</td>
            <td colspan="2">14 см</td>
        </tr>
        <tr>
            <td>Подшипник – динамическая нагрузочная способность</td>
            <td colspan="2">103419.1 кг</td>
        </tr>
        <tr>
            <td>Количество молотков</td>
            <td colspan="2">10</td>
        </tr>
        <tr>
            <td>Количество кромок</td>
            <td colspan="2">20</td>
        </tr>
        <tr>
            <td>Типы режущих головок</td>
            <td colspan="2">2 стопорных болта с соединителями со стандартной крупной резьбой 2,2 см и с вариантами широкой головки 7 см и 8,9 см</td>
        </tr>
        <tr>
            <td>Размеры центрального стопорного штифта</td>
            <td colspan="2">5,1 см</td>
        </tr>
        <tr>
            <td>Количество щеток стеклоочистителя</td>
            <td colspan="2">4</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Сетки</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вес сетки</td>
            <td colspan="2">226.8 кг</td>
        </tr>
        <tr>
            <td>Размеры сетки</td>
            <td colspan="2">184 x 91 х 21,2 см</td>
        </tr>
        <tr>
            <td>Тип сетки</td>
            <td colspan="2">AR400, реверсивный (2 шт.)</td>
        </tr>
        <tr>
            <td>Тип рычага</td>
            <td colspan="2">Сталь Т1, сменные</td>
        </tr>
        <tr>
            <td>Размеры рычага</td>
            <td colspan="2">6,4 x 10,2 x 195,6 см</td>
        </tr>
        <tr>
            <td>Количество сторон</td>
            <td colspan="2">4 используемые кромки</td>
        </tr>
        <tr>
            <td>Площадь сетки</td>
            <td colspan="2">26851.6 см²</td>
        </tr>
        <tr>
            <td>Расстояние – от сетки до стенки измельчительной камеры</td>
            <td colspan="2">54.4 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Карданная передача – первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Приводной вал</td>
            <td colspan="2">Специальная прокладка</td>
        </tr>
        <tr>
            <td>Универсальные шарниры</td>
            <td colspan="2">Постоянно смазываемый 10С (2 шт.)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система – конструкция с одной лентой</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">730 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">121.9 см</td>
        </tr>
        <tr>
            <td>Конструкция ленты</td>
            <td colspan="2">Цельная, 150 кг с V-образной планкой</td>
        </tr>
        <tr>
            <td>Сращивание</td>
            <td colspan="2">Flexco R2, нержавеющая сталь</td>
        </tr>
        <tr>
            <td>Количество поддерживающих катков</td>
            <td colspan="2">5 стандартных и 1 вибрационный валик</td>
        </tr>
        <tr>
            <td>Диаметр натяжного ролика</td>
            <td colspan="2">30.5 см</td>
        </tr>
        <tr>
            <td>Подшипник натяжного ролика</td>
            <td colspan="2">4-болтовой фланец 4,9 см</td>
        </tr>
        <tr>
            <td>Ведущий ролик стандартного диаметра</td>
            <td colspan="2">35.1 см</td>
        </tr>
        <tr>
            <td>Диаметр ведущего ролика электромагнитного привода</td>
            <td colspan="2">35.1 см</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">Geroler</td>
        </tr>
        <tr>
            <td>Скорость движения ленты</td>
            <td colspan="2">262.1 м/мин</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">430 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">378.5 л</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Vermeer HyPower 68</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Погружные фильтры возвратного контура (2 шт.)</td>
        </tr>
        <tr>
            <td>Количество охлаждающих устройств</td>
            <td colspan="2">1</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема рабочего оборудования</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Комплектующие</td>
            <td colspan="2">Транспортер с вспомогательным клапаном</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Чувствительные к нагрузке, с компенсированным давлением</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Аксиально-поршневой, переменной производительности</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">114.3 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">206.8 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидропривод бункера</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Замкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Аксиально-поршневой, переменной производительности</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">127.9 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">206.8 бар</td>
        </tr>
        <tr>
            <td>Моторная группа</td>
            <td colspan="2">Форсированный с большим крутящим моментом дизельный двигатель (2 шт.), Geroler</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема привода вентилятора</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Замкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Аксиально-поршневой, переменной производительности</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">142 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">275.8 бар</td>
        </tr>
        <tr>
            <td>Моторная группа</td>
            <td colspan="2">Аксиально-поршневой, переменной производительности</td>
        </tr>
        <tr>
            <td>Вентиляторная группа - ВПЕРЕД/НАЗАД</td>
            <td colspan="2">1150/500</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидропривод сцепления</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">94.6 л</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">VMF Gold</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Навинчиваемый, высокого давления</td>
        </tr>
        <tr>
            <td>Количество охлаждающих устройств</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Редуктор</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">40.5 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">17.2 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидропривод погрузчика</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Чувствительные к нагрузке, с компенсированным давлением</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Аксиально-поршневой, переменной производительности</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">201 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">241.3 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">24 вольта</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">Группа 8-D, CCA 1155 (2 шт.)</td>
        </tr>
        <tr>
            <td>Защита системы</td>
            <td colspan="2">С плавким предохранителем</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Пульт управления</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">Многофункциональный ЖК-дисплей</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Эксплуатационные, диагностические и системные параметры</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Эксплуатационные, диагностические и системные параметры</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Диагностические коды согласно SAE J1939</td>
        </tr>
        <tr>
            <td>Датчики</td>
            <td colspan="2">Давление во вспомогательной гидравлической системе, давление в гидравлической системе вращения бункера, давление в гидравлической системе конвейера</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Влагостойкий, переключаемого типа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дистанционное радиоуправление</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">Многофункциональный светодиодный индикатор</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Герметизированная мембрана</td>
        </tr>
        <tr>
            <td>Рабочий диапазон</td>
            <td colspan="2">До 91.4 м</td>
        </tr>
        <tr>
            <td>Тип аккумуляторной батареи</td>
            <td colspan="2">AA (6 шт.)</td>
        </tr>
        <tr>
            <td>Настройка канала</td>
            <td colspan="2">50 каналов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Кабина погрузчика</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">Многофункциональный светодиодный индикатор</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Датчики</td>
            <td colspan="2">Давление в гидравлической системе погрузчика</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Влагостойкий, переключаемого типа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">Неразрезная двутавровая балка</td>
        </tr>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">Сцепное устройство</td>
        </tr>
        <tr>
            <td>Описание предохранительного щита</td>
            <td colspan="2">Болтовое крепление, формованная сталь (4,8 мм)</td>
        </tr>
        <tr>
            <td>Тип тормозов</td>
            <td colspan="2">Пневматический стояночный тормозной механизм с пружинным включением</td>
        </tr>
        <tr>
            <td>Тип осветительных приборов прицепа</td>
            <td colspan="2">12 В, накаливания</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Мост/подвеска</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип моста</td>
            <td colspan="2">Трехосная пружинная подвеска</td>
        </tr>
        <tr>
            <td>Шины – первый вариант</td>
            <td colspan="2">425/65R22.5 одинарные Super Singles</td>
        </tr>
        <tr>
            <td>Колеса – первый вариант</td>
            <td colspan="2">57,1 см x 21 см – с центровкой по ступице, алюминиевые</td>
        </tr>
        <tr>
            <td>Дорожный просвет – первый вариант</td>
            <td colspan="2">38.1 см</td>
        </tr>
        <tr>
            <td>Шины – второй вариант</td>
            <td colspan="2">255/70R22.5 сдвоенные</td>
        </tr>
        <tr>
            <td>Колеса – второй вариант</td>
            <td colspan="2">57,1 x 21 см – с центровкой по ступице, стальные</td>
        </tr>
        <tr>
            <td>Дорожный просвет – второй вариант</td>
            <td colspan="2">38.1 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Мост/подвеска – второй вариант</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип моста</td>
            <td colspan="2">Трехосный с пневматической подвеской</td>
        </tr>
        <tr>
            <td>Вместимость</td>
            <td colspan="2">9071.8 кг</td>
        </tr>
        <tr>
            <td>Шины – первый вариант</td>
            <td colspan="2">425/65R22.5 одинарные Super Singles</td>
        </tr>
        <tr>
            <td>Колеса – первый вариант</td>
            <td colspan="2">57,1 см x 31,1 см – ступичные, управляемые, алюминиевые</td>
        </tr>
        <tr>
            <td>Дорожный просвет – первый вариант</td>
            <td colspan="2">38.1 см</td>
        </tr>
        <tr>
            <td>Шины – второй вариант</td>
            <td colspan="2">Дорожный просвет – второй вариант</td>
        </tr>
        <tr>
            <td>Колеса – второй вариант</td>
            <td colspan="2">57,1 x 21 см – с центровкой по ступице, стальные</td>
        </tr>
        <tr>
            <td>Дорожный просвет – второй вариант</td>
            <td colspan="2">38.1 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Погрузчик</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вылет стрелы погрузчика</td>
            <td colspan="2">900 см</td>
        </tr>
        <tr>
            <td>Вращение основания/кабины</td>
            <td colspan="2">370 градусов</td>
        </tr>
        <tr>
            <td>Грузоподъемность погрузчика при максимальной досягаемости</td>
            <td colspan="2">1814.4 кг</td>
        </tr>
        <tr>
            <td>Грузоподъемность погрузчика при 3,05 м</td>
            <td colspan="2">5443.1 кг</td>
        </tr>
        <tr>
            <td>Тип захвата</td>
            <td colspan="2">Многозубый</td>
        </tr>
        <tr>
            <td>Вращение захвата</td>
            <td colspan="2">360 градусов</td>
        </tr>
        <tr>
            <td>Вес захвата</td>
            <td colspan="2">657.7 кг</td>
        </tr>
        <tr>
            <td>Органы управления погрузчиком</td>
            <td colspan="2">С сервоуправлением</td>
        </tr>
        <tr>
            <td>Органы управления кондиционером</td>
            <td colspan="2">Кондиционирование и обогрев</td>
        </tr>
        <tr>
            <td>Радио</td>
            <td colspan="2">Радиоприемник с диапазоном AM/FM, проигрыватель компакт-дисков с громкоговорителями 6,1 см</td>
        </tr>
        <tr>
            <td>Тип окна</td>
            <td colspan="2">Поликарбонат (9,5 мм)</td>
        </tr>
        <tr>
            <td>Защита от проникновения спереди</td>
            <td colspan="2">Усиленная сварная проволочная сетка, стержни диаметром 1,6 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Опциональный воздушный компрессор</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Фирменная марка воздушного компрессора</td>
            <td colspan="2">Mi-T-M</td>
        </tr>
        <tr>
            <td>Двигатель</td>
            <td colspan="2">Honda 8,7 кВт</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">12.1 бар</td>
        </tr>
        <tr>
            <td>Максимальный воздушный поток</td>
            <td colspan="2">.8 cmm</td>
        </tr>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">113.6 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты – бункерный измельчитель</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Сетки</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Группа специальных инструментов</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
    </tbody>
</table>