<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес – без погрузчика</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная длина – транспортная</td>
            <td colspan="2">1370 см</td>
        </tr>
        <tr>
            <td>Максимальная длина – конвейер развернут</td>
            <td colspan="2">2190 см</td>
        </tr>
        <tr>
            <td>Максимальная ширина (транспортная)</td>
            <td colspan="2">360 см</td>
        </tr>
        <tr>
            <td>Максимальная высота (транспортная)</td>
            <td colspan="2">419.1 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">45359.2 кг</td>
        </tr>
        <tr>
            <td>Вес дышла – первый вариант двигателя</td>
            <td colspan="2">14061.4 кг</td>
        </tr>
        <tr>
            <td>Вес моста</td>
            <td colspan="2">31297.9 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Caterpillar C32 Tier 2 с турбонаддувом</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">1125 л.с</td>
        </tr>
        <tr>
            <td>Крутящий момент (макс.)</td>
            <td colspan="2">5142.6 Нм</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">2403.7 л</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">214.6 л/час</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">Гофрированные первичный и вторичный (2 шт.) с элементами грубой очистки</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Навинчиваемый (2)</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">См. инструкции по техобслуживанию</td>
        </tr>
        <tr>
            <td>Объем масла с учетом фильтра</td>
            <td colspan="2">71.9 л</td>
        </tr>
        <tr>
            <td>Максимальный угол при непрерывной работе</td>
            <td colspan="2">30 градусов</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Объем охлаждающей жидкости (в двигателе и радиаторе)</td>
            <td colspan="2">132.5 л</td>
        </tr>
        <tr>
            <td>Генератор переменного тока</td>
            <td colspan="2">24 вольта, 75 ампер</td>
        </tr>
        <tr>
            <td>Вентилятор</td>
            <td colspan="2">Стандартный или реверсивный</td>
        </tr>
        <tr>
            <td>Тип сцепления</td>
            <td colspan="2">«Мокрая» муфта отбора мощности</td>
        </tr>
        <tr>
            <td>Включение сцепления</td>
            <td colspan="2">Нажимная кнопка</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Толщина платформы бункера</td>
            <td colspan="2">1.3 см</td>
        </tr>
        <tr>
            <td>Тип платформы бункера</td>
            <td colspan="2">Сталь T1</td>
        </tr>
        <tr>
            <td>Наклон стола (градусы)</td>
            <td colspan="2">93 градусов</td>
        </tr>
        <tr>
            <td>Отверстие измельчительной камеры</td>
            <td colspan="2">82,6 x 177,8 см</td>
        </tr>
        <tr>
            <td>Внутренний диаметр бункера</td>
            <td colspan="2">340 см</td>
        </tr>
        <tr>
            <td>Внутренний диаметр раструба – у основания бункера</td>
            <td colspan="2">350 см</td>
        </tr>
        <tr>
            <td>Внутренний диаметр раструба – у отверстия бункера</td>
            <td colspan="2">400 см</td>
        </tr>
        <tr>
            <td>Глубина бункера</td>
            <td colspan="2">140 см</td>
        </tr>
        <tr>
            <td>Вместимость бункера</td>
            <td colspan="2">13 м³</td>
        </tr>
        <tr>
            <td>Толщина стенки</td>
            <td colspan="2">1 см</td>
        </tr>
        <tr>
            <td>Тип стенки</td>
            <td colspan="2">Сталь T1</td>
        </tr>
        <tr>
            <td>Тип привода</td>
            <td colspan="2">Жесткая цепная передача от 2 гидромоторов</td>
        </tr>
        <tr>
            <td>Приводная цепь</td>
            <td colspan="2">Роликовая цепь №160 согласно стандарту ANSI</td>
        </tr>
        <tr>
            <td>Натяжитель привода</td>
            <td colspan="2">Нажимная пружина</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">Замкнутый контур</td>
        </tr>
        <tr>
            <td>Количество валиков бункера</td>
            <td colspan="2">8 несущих и 4 направляющих (всего 12)</td>
        </tr>
        <tr>
            <td>Скорость вращения бункера</td>
            <td colspan="2">10 об/мин</td>
        </tr>
        <tr>
            <td>Мешалки бункера</td>
            <td colspan="2">4</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Система ограничения зоны выброса</td>
            <td colspan="2">Шарнирная крышка бункера</td>
        </tr>
        <tr>
            <td>Описание крышки бункера</td>
            <td colspan="2">С гидроприводом</td>
        </tr>
        <tr>
            <td>Положения крышки бункера</td>
            <td colspan="2">2 - Использование гидравлического затвора при транспортировке и эксплуатации</td>
        </tr>
        <tr>
            <td>Отражатель ротора</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Защита зоны пульта управления от падающих предметов</td>
            <td colspan="2">Верхняя и боковая защита</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дуплексный барабан</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Отверстие измельчительной камеры</td>
            <td colspan="2">82,5 x 177,9 см</td>
        </tr>
        <tr>
            <td>Диаметр барабана</td>
            <td colspan="2">71.1 см</td>
        </tr>
        <tr>
            <td>Диаметр наконечника</td>
            <td colspan="2">92.5 см</td>
        </tr>
        <tr>
            <td>Режущая ширина барабана</td>
            <td colspan="2">162.6 см</td>
        </tr>
        <tr>
            <td>Толщина стенки барабана</td>
            <td colspan="2">3.8 см</td>
        </tr>
        <tr>
            <td>Скорость вращения барабана</td>
            <td colspan="2">1343.8 об/мин</td>
        </tr>
        <tr>
            <td>Скорость наконечника</td>
            <td colspan="2">12800 об/мин</td>
        </tr>
        <tr>
            <td>Тип подшипника</td>
            <td colspan="2">Сферический роликовый подшипник 14 см</td>
        </tr>
        <tr>
            <td>Подшипник – диаметр внутреннего кольца</td>
            <td colspan="2">14 см</td>
        </tr>
        <tr>
            <td>Подшипник – динамическая нагрузочная способность</td>
            <td colspan="2">61688.6 кг</td>
        </tr>
        <tr>
            <td>Количество молотков</td>
            <td colspan="2">10</td>
        </tr>
        <tr>
            <td>Количество кромок</td>
            <td colspan="2">20</td>
        </tr>
        <tr>
            <td>Типы режущих головок</td>
            <td colspan="2">8,9 см - 2 болта, 7 см - 2 болта</td>
        </tr>
        <tr>
            <td>Размеры центрального стопорного штифта</td>
            <td colspan="2">5,1 см</td>
        </tr>
        <tr>
            <td>Количество щеток стеклоочистителя</td>
            <td colspan="2">4</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ротор со штырем и пластиной</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Отверстие измельчительной камеры</td>
            <td colspan="2">82,6 x 177,8 см</td>
        </tr>
        <tr>
            <td>Размеры вала ротора</td>
            <td colspan="2">Диаметр 16 см x длина 255 см</td>
        </tr>
        <tr>
            <td>Размеры роторной пластины</td>
            <td colspan="2">6,6 см (толщина) x 65,5 см (диаметр) – 18,5 см фланец</td>
        </tr>
        <tr>
            <td>Количество роторных пластин</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Количество штанг</td>
            <td colspan="2">6</td>
        </tr>
        <tr>
            <td>Размеры штанги</td>
            <td colspan="2">Диаметр 6,6 x 172,1 см</td>
        </tr>
        <tr>
            <td>Диаметр наконечника</td>
            <td colspan="2">93 см</td>
        </tr>
        <tr>
            <td>Длина реза ротора</td>
            <td colspan="2">172.1 см</td>
        </tr>
        <tr>
            <td>Скорость наконечника</td>
            <td colspan="2">146 об/мин</td>
        </tr>
        <tr>
            <td>Тип подшипника</td>
            <td colspan="2">Сферический роликовый подшипник 14 см</td>
        </tr>
        <tr>
            <td>Подшипник – диаметр внутреннего кольца</td>
            <td colspan="2">14 см</td>
        </tr>
        <tr>
            <td>Подшипник – динамическая нагрузочная способность</td>
            <td colspan="2">75296.3 кг</td>
        </tr>
        <tr>
            <td>Количество молотков</td>
            <td colspan="2">22</td>
        </tr>
        <tr>
            <td>Количество кромок</td>
            <td colspan="2">22</td>
        </tr>
        <tr>
            <td>Типы режущих головок</td>
            <td colspan="2">8,9 см - 2 болта, 6,9 см - 2 болта</td>
        </tr>
        <tr>
            <td>Количество щеток стеклоочистителя</td>
            <td colspan="2">4</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Сетки</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вес сетки</td>
            <td colspan="2">444.5 кг</td>
        </tr>
        <tr>
            <td>Тип сетки</td>
            <td colspan="2">AR400 реверсивный (2 шт.)</td>
        </tr>
        <tr>
            <td>Тип рычага</td>
            <td colspan="2">Сталь Т1, сменные</td>
        </tr>
        <tr>
            <td>Размеры рычага</td>
            <td colspan="2">6,4 x 10,2 см</td>
        </tr>
        <tr>
            <td>Количество сторон</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Площадь сетки</td>
            <td colspan="2">35483.8 см²</td>
        </tr>
        <tr>
            <td>Расстояние – от сетки до стенки измельчительной камеры</td>
            <td colspan="2">38.6 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Карданная передача – первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Приводной вал</td>
            <td colspan="2">10C</td>
        </tr>
        <tr>
            <td>Размеры</td>
            <td colspan="2">14,5 x 230 см</td>
        </tr>
        <tr>
            <td>Универсальные шарниры</td>
            <td colspan="2">10C смазываемые</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система – конструкция с двумя лентами</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина нижнего конвейера</td>
            <td colspan="2">600 см</td>
        </tr>
        <tr>
            <td>Ширина нижнего конвейера</td>
            <td colspan="2">160 см</td>
        </tr>
        <tr>
            <td>Конструкция ленты – нижний конвейер</td>
            <td colspan="2">Гладкая верхняя крышка с V-образной направляющей</td>
        </tr>
        <tr>
            <td>Сращивание – нижний конвейер</td>
            <td colspan="2">Flexco R2</td>
        </tr>
        <tr>
            <td>Количество поддерживающих валиков – нижний конвейер</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Диаметр натяжного ролика – нижний конвейер</td>
            <td colspan="2">25.4 см</td>
        </tr>
        <tr>
            <td>Подшипники – нижний конвейер</td>
            <td colspan="2">4-болтовый фланец 7,4 см</td>
        </tr>
        <tr>
            <td>Диаметр ведущего ролика – нижний конвейер</td>
            <td colspan="2">35.6 см</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">38 CID Geroler</td>
        </tr>
        <tr>
            <td>Приводной двигатель</td>
            <td colspan="2">4-болтовый фланец 7,4 см</td>
        </tr>
        <tr>
            <td>Скорость движения ленты – нижний конвейер</td>
            <td colspan="2">670</td>
        </tr>
        <tr>
            <td>Тип разгрузочного конвейера</td>
            <td colspan="2">744</td>
        </tr>
        <tr>
            <td>Длина разгрузочного конвейера</td>
            <td colspan="2">900 см</td>
        </tr>
        <tr>
            <td>Ширина разгрузочного конвейера</td>
            <td colspan="2">121.9 см</td>
        </tr>
        <tr>
            <td>Сращивание – лента разгрузочного конвейера</td>
            <td colspan="2">Flexco R2</td>
        </tr>
        <tr>
            <td>Количество поддерживающих валиков – разгрузочный конвейер</td>
            <td colspan="2">2 и 1 вибрационные валики</td>
        </tr>
        <tr>
            <td>Диаметр натяжного ролика – разгрузочный конвейер</td>
            <td colspan="2">25.4 см</td>
        </tr>
        <tr>
            <td>Подшипники – разгрузочный конвейер</td>
            <td colspan="2">4-болтовый фланец 7,4 см</td>
        </tr>
        <tr>
            <td>Диаметр стандартного ведущего ролика – разгрузочный конвейер</td>
            <td colspan="2">35.6 см</td>
        </tr>
        <tr>
            <td>Диаметр ведущего ролика электромагнитного привода – разгрузочный конвейер</td>
            <td colspan="2">34.3 см</td>
        </tr>
        <tr>
            <td>Приводной двигатель – разгрузочный конвейер</td>
            <td colspan="2">23.9 CID Geroler</td>
        </tr>
        <tr>
            <td>Подшипники приводного двигателя – разгрузочный конвейер</td>
            <td colspan="2">4-болтовый фланец 7,4 см</td>
        </tr>
        <tr>
            <td>Скорость движения ленты – разгрузочный конвейер</td>
            <td colspan="2">288 м/мин</td>
        </tr>
        <tr>
            <td>Высота загрузки</td>
            <td colspan="2">550 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">378.5 л</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Vermeer HyPower 68</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Погружные фильтры возвратного контура (2 шт.)</td>
        </tr>
        <tr>
            <td>Количество охлаждающих устройств</td>
            <td colspan="2">1</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидросистема рабочего оборудования</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Комплектующие</td>
            <td colspan="2">Стабилизаторы, подъем платформы бункера, поворот и блокировка крышки бункера, подъем, складывание и поворот транспортера</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Редуктор</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">102.6 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">206.8 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидропривод бункера</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Замкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Гидростат Eaton для работы в тяжелых условиях</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">184.7 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">330.9 бар</td>
        </tr>
        <tr>
            <td>Моторная группа</td>
            <td colspan="2">Eaton VIS 45</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидропривод сцепления</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">75.7 л</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">VMF Gold</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Навинчиваемый фильтр, 16 микрон, абсолютный</td>
        </tr>
        <tr>
            <td>Количество охлаждающих устройств</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Редуктор</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">40.5 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">17.2 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">24 вольта</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">1125 CCA для каждой батареи</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Пульт управления</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">Аналоговые гидравлические манометры, светодиодный индикатор</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Эксплуатационные, диагностические и системные параметры</td>
        </tr>
        <tr>
            <td>Датчики</td>
            <td colspan="2">Уровень топлива, вентилятор, давление в гидросистеме, давление во вспомог. гидросистеме, давление в гидросистеме вращения бункера, давление в гидросистеме конвейера, давление в гидросистеме сцепления</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Зажигание, аварийное выключение, отсоединение батареи, звуковой сигнал, селекторный переключатель станции управления, включение/выключение конвейера, крышка конвейера, складывание конвейера, фиксатор поворота крышки бункера, подъемник бункера, вращение бункера вручную, включение/выключение молотковой мельницы, стабилизаторы</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дистанционное радиоуправление</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип отображения</td>
            <td colspan="2">Многофункциональный светодиодный индикатор</td>
        </tr>
        <tr>
            <td>Информация о двигателе</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Информация о машине</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Эксплуатационные отказы</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Герметизированная мембрана</td>
        </tr>
        <tr>
            <td>Рабочий диапазон</td>
            <td colspan="2">До 91.4 м</td>
        </tr>
        <tr>
            <td>Тип аккумуляторной батареи</td>
            <td colspan="2">AA (6 шт.)</td>
        </tr>
        <tr>
            <td>Настройка канала</td>
            <td colspan="2">50 каналов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">Готовая двутавровая балка</td>
        </tr>
        <tr>
            <td>Описание дышла</td>
            <td colspan="2">Вмонтированные в раму</td>
        </tr>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">Сварной сцепной палец SAE – 5,1 см</td>
        </tr>
        <tr>
            <td>Описание предохранительного щита</td>
            <td colspan="2">Специальная сталь</td>
        </tr>
        <tr>
            <td>Тип тормозов</td>
            <td colspan="2">Пневматический</td>
        </tr>
        <tr>
            <td>Тип осветительных приборов прицепа</td>
            <td colspan="2">Накаливания</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Мост/подвеска</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип моста</td>
            <td colspan="2">Пластинчатая рессора</td>
        </tr>
        <tr>
            <td>Изготовитель – первый вариант</td>
            <td colspan="2">Hutchins Industries, Inc</td>
        </tr>
        <tr>
            <td>Вместимость</td>
            <td colspan="2">40641.9 кг</td>
        </tr>
        <tr>
            <td>Шины – первый вариант</td>
            <td colspan="2">255/70R22.5</td>
        </tr>
        <tr>
            <td>Колеса – первый вариант</td>
            <td colspan="2">22.5</td>
        </tr>
        <tr>
            <td>Дорожный просвет – первый вариант</td>
            <td colspan="2">57.2 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет – второй вариант</td>
            <td colspan="2">25.4 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Опциональный воздушный компрессор</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Фирменная марка воздушного компрессора</td>
            <td colspan="2">Mi-T-M</td>
        </tr>
        <tr>
            <td>Двигатель</td>
            <td colspan="2">Kohler, 8,9 кВт</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">12.1 бар</td>
        </tr>
        <tr>
            <td>Максимальный воздушный поток</td>
            <td colspan="2">.8 cmm</td>
        </tr>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">113.6 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты – бункерный измельчитель</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Сетки</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Группа специальных инструментов</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
    </tbody>
</table>