<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Конструкция</td>
            <td colspan="2">Самоходный/гусеничный привод</td>
        </tr>
        <tr>
            <td>Длина со стандартным ковшом</td>
            <td colspan="2">283.2 см</td>
        </tr>
        <tr>
            <td>Длина без стандартного ковша</td>
            <td colspan="2">227.3 см</td>
        </tr>
        <tr>
            <td>Ширина со стандартным ковшом</td>
            <td colspan="2">106.7 см</td>
        </tr>
        <tr>
            <td>Ширина без стандартного ковша</td>
            <td colspan="2">91.4 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">147.3 см</td>
        </tr>
        <tr>
            <td>Высота (до оси шарнира)</td>
            <td colspan="2">223.5 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет</td>
            <td colspan="2">17.1 см</td>
        </tr>
        <tr>
            <td>Вес (стандартный ковш, дизельный двигатель)</td>
            <td colspan="2">1594.4 кг</td>
        </tr>
        <tr>
            <td>Вес (без ковша, дизельный двигатель)</td>
            <td colspan="2">1542.2 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Kohler KDI 1903</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельный</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">40 л.с</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">54.9 л</td>
        </tr>
        <tr>
            <td>Система охлаждения</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Максимальный угол наклона</td>
            <td colspan="2">35 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Характеристики гусениц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Номинальная рабочая производительность (SAE)</td>
            <td colspan="2">469.5 кг</td>
        </tr>
        <tr>
            <td>Грузоподъемность при разгрузке (с оператором весом 79,38 кг)</td>
            <td colspan="2">1341.7 кг</td>
        </tr>
        <tr>
            <td>Скорость хода</td>
            <td colspan="2">7.1 км/ч</td>
        </tr>
        <tr>
            <td>Давление на грунт (узкие гусеницы)</td>
            <td colspan="2">36.5 кПа</td>
        </tr>
        <tr>
            <td>Давление на грунт (широкие гусеницы)</td>
            <td colspan="2">29 кПа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Производительность</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Рулевой механизм</td>
            <td colspan="2">Двухкоординатный, джойстик с сервоуправлением</td>
        </tr>
        <tr>
            <td>Подъемник</td>
            <td colspan="2">Двухкоординатный, общий рычаг для управления ковшом</td>
        </tr>
        <tr>
            <td>Складывание</td>
            <td colspan="2">Двухкоординатный, общий рычаг для управления ковшом</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Поток в гидравлической системе</td>
            <td colspan="2">58.7 л/мин</td>
        </tr>
        <tr>
            <td>Давление в гидравлической системе</td>
            <td colspan="2">209.9 бар</td>
        </tr>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">45.4 л</td>
        </tr>
    </tbody>
</table>