<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Конструкция</td>
            <td colspan="2">С платформой для машиниста/гусеничным приводом</td>
        </tr>
        <tr>
            <td>Длина со стандартным ковшом</td>
            <td colspan="2">242.3 см</td>
        </tr>
        <tr>
            <td>Длина без стандартного ковша</td>
            <td colspan="2">191.5 см</td>
        </tr>
        <tr>
            <td>Ширина со стандартным ковшом</td>
            <td colspan="2">106.7 см</td>
        </tr>
        <tr>
            <td>Ширина без стандартного ковша</td>
            <td colspan="2">90.8 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">135.6 см</td>
        </tr>
        <tr>
            <td>Высота (до оси шарнира)</td>
            <td colspan="2">182.9 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет</td>
            <td colspan="2">16.5 см</td>
        </tr>
        <tr>
            <td>Вес (стандартный ковш, дизельный двигатель)</td>
            <td colspan="2">1102.2 кг</td>
        </tr>
        <tr>
            <td>Вес (без ковша, дизельный двигатель)</td>
            <td colspan="2">1043.3 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Kubota D902</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизель</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">24.8 л.с</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">28.4 л</td>
        </tr>
        <tr>
            <td>Система охлаждения</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Максимальный угол наклона</td>
            <td colspan="2">30 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Характеристики гусениц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Номинальная рабочая производительность (SAE)</td>
            <td colspan="2">226.8 кг</td>
        </tr>
        <tr>
            <td>Грузоподъемность при разгрузке (с оператором весом 79,38 кг)</td>
            <td colspan="2">648.6 кг</td>
        </tr>
        <tr>
            <td>Скорость хода</td>
            <td colspan="2">5.6 км/ч</td>
        </tr>
        <tr>
            <td>Давление на грунт (узкие гусеницы)</td>
            <td colspan="2">23.4 кПа</td>
        </tr>
        <tr>
            <td>Давление на грунт (широкие гусеницы)</td>
            <td colspan="2">18.6 кПа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Производительность</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Рулевой механизм</td>
            <td colspan="2">Одинарный джойстик с сервоуправлением</td>
        </tr>
        <tr>
            <td>Подъемник</td>
            <td colspan="2">Single, dual axis</td>
        </tr>
        <tr>
            <td>Складывание</td>
            <td colspan="2">Single, dual axis</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Поток в гидравлической системе</td>
            <td colspan="2">47.3 л/мин</td>
        </tr>
        <tr>
            <td>Давление в гидравлической системе</td>
            <td colspan="2">203.4 бар</td>
        </tr>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">30.3 л</td>
        </tr>
    </tbody>
</table>