<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Конструкция</td>
            <td colspan="2">Самоходный/гусеничный привод</td>
        </tr>
        <tr>
            <td>Длина со стандартным ковшом</td>
            <td colspan="2">269.2 см</td>
        </tr>
        <tr>
            <td>Длина без стандартного ковша</td>
            <td colspan="2">213.4 см</td>
        </tr>
        <tr>
            <td>Ширина со стандартным ковшом</td>
            <td colspan="2">106.7 см</td>
        </tr>
        <tr>
            <td>Ширина без стандартного ковша</td>
            <td colspan="2">91.4 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">147.3 см</td>
        </tr>
        <tr>
            <td>Высота (до оси шарнира)</td>
            <td colspan="2">214.6 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет</td>
            <td colspan="2">15.2 см</td>
        </tr>
        <tr>
            <td>Вес (стандартный ковш, дизельный двигатель)</td>
            <td colspan="2">1571.7 кг</td>
        </tr>
        <tr>
            <td>Вес (без ковша, дизельный двигатель)</td>
            <td colspan="2">1519.5 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Kubota V1505</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельный</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">24.5 л.с</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">49.2 л</td>
        </tr>
        <tr>
            <td>Система охлаждения</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Максимальный угол наклона</td>
            <td colspan="2">30 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Второй вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Kubota V1505</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельный</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">35.1 л.с</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">49.2 л</td>
        </tr>
        <tr>
            <td>Система охлаждения</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Максимальный угол наклона</td>
            <td colspan="2">30 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Третий вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Kubota WG1605</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Газовый</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">40 л.с</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">49.2 л</td>
        </tr>
        <tr>
            <td>Система охлаждения</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Максимальный угол наклона</td>
            <td colspan="2">30 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Характеристики гусениц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Номинальная рабочая производительность (SAE)</td>
            <td colspan="2">419.6 кг</td>
        </tr>
        <tr>
            <td>Скорость хода</td>
            <td colspan="2">7.2 км/ч</td>
        </tr>
        <tr>
            <td>Давление на грунт (узкие гусеницы)</td>
            <td colspan="2">34.5 кПа</td>
        </tr>
        <tr>
            <td>Давление на грунт (широкие гусеницы)</td>
            <td colspan="2">27.6 кПа</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Работающий</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Рулевой механизм</td>
            <td colspan="2">Двухкоординатный, джойстик с сервоуправлением</td>
        </tr>
        <tr>
            <td>Подъемник</td>
            <td colspan="2">Двухкоординатный, общий рычаг для управления ковшом</td>
        </tr>
        <tr>
            <td>Складывание</td>
            <td colspan="2">Двухкоординатный, общий рычаг для управления ковшом</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Поток в гидравлической системе</td>
            <td colspan="2">58.7 л/мин</td>
        </tr>
        <tr>
            <td>Давление в гидравлической системе</td>
            <td colspan="2">209.9 бар</td>
        </tr>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">39.7 л</td>
        </tr>
    </tbody>
</table>