<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вес (базовый трактор, резиновые шины)</td>
            <td colspan="2">1242.8 кг</td>
        </tr>
        <tr>
            <td>Вес (базовый трактор, резиновые шины, второй вариант)</td>
            <td colspan="2">1261 кг</td>
        </tr>
        <tr>
            <td>Вес (базовый трактор, резиновые шины, третий вариант)</td>
            <td colspan="2">1373.5 кг</td>
        </tr>
        <tr>
            <td>Вес (базовый трактор, гусеницы)</td>
            <td colspan="2">1669.2 кг</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, резиновые шины)</td>
            <td colspan="2">215.4 см</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, резиновые шины, второй вариант)</td>
            <td colspan="2">215.4 см</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, резиновые шины, третий вариант)</td>
            <td colspan="2">215.4 см</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, гусеницы)</td>
            <td colspan="2">235.7 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, резиновые шины)</td>
            <td colspan="2">102.1 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, резиновые шины, второй вариант)</td>
            <td colspan="2">121.9 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, резиновые шины, третий вариант)</td>
            <td colspan="2">152.4 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, гусеницы)</td>
            <td colspan="2">110 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, резиновые шины)</td>
            <td colspan="2">139.7 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, резиновые шины, второй вариант)</td>
            <td colspan="2">143.5 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, резиновые шины, третий вариант)</td>
            <td colspan="2">139.7 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, гусеницы)</td>
            <td colspan="2">139.7 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет (резиновые шины, второй вариант)</td>
            <td colspan="2">16.3 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет (резиновые шины, третий вариант)</td>
            <td colspan="2">20.1 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет (гусеницы)</td>
            <td colspan="2">17.5 см</td>
        </tr>
        <tr>
            <td>Угол въезда (базовый трактор, резиновые шины)</td>
            <td colspan="2">32 градусов</td>
        </tr>
        <tr>
            <td>Угол въезда (базовый трактор, резиновые шины, второй вариант)</td>
            <td colspan="2">37 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Kubota WG1605</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">46.8 л.с</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент</td>
            <td colspan="2">120.3 Нм</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Бензин</td>
        </tr>
        <tr>
            <td>Интенсивность выбросов</td>
            <td colspan="2">EPA фаза 3 и CARB LSI</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Производительность насоса ходового привода</td>
            <td colspan="2">126.1 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса ходового привода</td>
            <td colspan="2">199.9 бар</td>
        </tr>
        <tr>
            <td>Производительность насоса навесного оборудования</td>
            <td colspan="2">90.8 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса навесного оборудования</td>
            <td colspan="2">199.9 бар</td>
        </tr>
        <tr>
            <td>Производительность вспомогательного насоса</td>
            <td colspan="2">39.4 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление вспомогательного насоса</td>
            <td colspan="2">172.4 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Емкости</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">45.4 л</td>
        </tr>
        <tr>
            <td>Гидравлический бак</td>
            <td colspan="2">34.1 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">41.6 л</td>
        </tr>
        <tr>
            <td>Охладитель</td>
            <td colspan="2">4.7 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – резиновые шины</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">3.9 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">3.9 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (нижний диапазон)</td>
            <td colspan="2">38.7 м/мин</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (нижний диапазон)</td>
            <td colspan="2">38.7 м/мин</td>
        </tr>
        <tr>
            <td>Размер шины</td>
            <td colspan="2">23 X 10,5-12 – одинарные или сдвоенные</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – резиновые шины, второй вариант</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">4.3 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">4.3 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (нижний диапазон)</td>
            <td colspan="2">43.6 м/мин</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (нижний диапазон)</td>
            <td colspan="2">43.6 м/мин</td>
        </tr>
        <tr>
            <td>Размер шины</td>
            <td colspan="2">26 x 12 - 12</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – резиновые шины, третий вариант</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">3.9 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">3.9 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (нижний диапазон)</td>
            <td colspan="2">38.7 м/мин</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (нижний диапазон)</td>
            <td colspan="2">38.7 м/мин</td>
        </tr>
        <tr>
            <td>Размер шины</td>
            <td colspan="2">58,4 см x 26,7 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – гусеницы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">3.9 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная скорость движения передним малым ходом (нижний диапазон)</td>
            <td colspan="2">38.7 м/мин</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Варианты осей (мостов)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип переднего моста</td>
            <td colspan="2">Планетарный</td>
        </tr>
        <tr>
            <td>Тип заднего моста</td>
            <td colspan="2">Планетарный</td>
        </tr>
        <tr>
            <td>Допустимая нагрузка на ось (статическая, на ось)</td>
            <td colspan="2">6713.2 кг</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (резиновые шины, передние и задние – управляемые)</td>
            <td colspan="2">560 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (резиновые шины – второй вариант, передние и задние – управляемые)</td>
            <td colspan="2">580 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (резиновые шины – третий вариант, передние и задние – управляемые)</td>
            <td colspan="2">610 см</td>
        </tr>
        <tr>
            <td>Тип рабочего тормозного механизма</td>
            <td colspan="2">Гидростатическое</td>
        </tr>
        <tr>
            <td>Тип стояночного тормоза</td>
            <td colspan="2">Барабан</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Номинальный ток батареи при холодном запуске двигателя</td>
            <td colspan="2">950</td>
        </tr>
        <tr>
            <td>Класс (групповая принадлежность) батареи</td>
            <td colspan="2">31</td>
        </tr>
    </tbody>
</table>