<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вес (базовый трактор, резиновые шины)</td>
            <td colspan="2">1333.6 кг</td>
        </tr>
        <tr>
            <td>Вес (базовый трактор, резиновые шины, второй вариант)</td>
            <td colspan="2">1446.1 кг</td>
        </tr>
        <tr>
            <td>Вес (базовый трактор, гусеницы)</td>
            <td colspan="2">1741.8 кг</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, резиновые шины)</td>
            <td colspan="2">215.4 см</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, резиновые шины, второй вариант)</td>
            <td colspan="2">215.4 см</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, гусеницы)</td>
            <td colspan="2">235.7 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, резиновые шины)</td>
            <td colspan="2">121.9 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, резиновые шины, второй вариант)</td>
            <td colspan="2">152.4 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, гусеницы)</td>
            <td colspan="2">113 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, резиновые шины)</td>
            <td colspan="2">227.3 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, резиновые шины, второй вариант)</td>
            <td colspan="2">223.5 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, гусеницы)</td>
            <td colspan="2">224.8 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет (резиновые шины)</td>
            <td colspan="2">18.8 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет (резиновые шины, второй вариант)</td>
            <td colspan="2">16.3 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет (гусеницы)</td>
            <td colspan="2">17.5 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Kubota WG1605</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Бензин</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">46.8 л.с</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент</td>
            <td colspan="2">120.3 Нм</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Интенсивность выбросов</td>
            <td colspan="2">EPA фаза 3 и CARB LSI</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Производительность насоса ходового привода</td>
            <td colspan="2">126.1 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса ходового привода</td>
            <td colspan="2">199.9 бар</td>
        </tr>
        <tr>
            <td>Производительность насоса навесного оборудования</td>
            <td colspan="2">90.8 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса навесного оборудования</td>
            <td colspan="2">199.9 бар</td>
        </tr>
        <tr>
            <td>Производительность вспомогательного насоса</td>
            <td colspan="2">39.4 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление вспомогательного насоса</td>
            <td colspan="2">172.4 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Емкости</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">45.4 л</td>
        </tr>
        <tr>
            <td>Гидравлический бак</td>
            <td colspan="2">34.1 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">41.6 л</td>
        </tr>
        <tr>
            <td>Охладитель</td>
            <td colspan="2">4.7 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – резиновые шины</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">4.3 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">4.3 км/ч</td>
        </tr>
        <tr>
            <td>Размер шины</td>
            <td colspan="2">66 см x 30,5 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – резиновые шины, второй вариант</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">3.9 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">3.9 км/ч</td>
        </tr>
        <tr>
            <td>Размер шины</td>
            <td colspan="2">58,4 см x 26,7 см со сдвоенными колесами</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – гусеницы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">3.9 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная скорость движения передним малым ходом (нижний диапазон)</td>
            <td colspan="2">38.7 м/мин</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Варианты осей (мостов)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип переднего моста</td>
            <td colspan="2">Планетарный</td>
        </tr>
        <tr>
            <td>Тип заднего моста</td>
            <td colspan="2">Планетарный</td>
        </tr>
        <tr>
            <td>Допустимая нагрузка на ось (статическая, на ось)</td>
            <td colspan="2">6713.2 кг</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (резиновые шины, только передние управляемые)</td>
            <td colspan="2">580 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (резиновые шины – второй вариант, только передние управляемые)</td>
            <td colspan="2">610 см</td>
        </tr>
        <tr>
            <td>Тип рабочего тормозного механизма</td>
            <td colspan="2">Гидростатическое</td>
        </tr>
        <tr>
            <td>Тип стояночного тормоза</td>
            <td colspan="2">Барабан</td>
        </tr>
    </tbody>
</table>