<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вес (базовый трактор, резиновые шины)</td>
            <td colspan="2">5252.6 кг</td>
        </tr>
        <tr>
            <td>Вес (базовый трактор, гусеницы)</td>
            <td colspan="2">7330.1 кг</td>
        </tr>
        <tr>
            <td>Вес (с кабиной, резиновые шины)</td>
            <td colspan="2">5728.9 кг</td>
        </tr>
        <tr>
            <td>Вес (с кабиной, на гусеницах)</td>
            <td colspan="2">7792.7 кг</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, резиновые шины)</td>
            <td colspan="2">350 см</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, гусеницы)</td>
            <td colspan="2">380 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, резиновые шины)</td>
            <td colspan="2">222.3 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, гусеницы)</td>
            <td colspan="2">235 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, гусеницы)</td>
            <td colspan="2">292.1 см</td>
        </tr>
        <tr>
            <td>Высота (с кабиной, резиновые шины)</td>
            <td colspan="2">292.1 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет (резиновые шины)</td>
            <td colspan="2">34.3 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет (гусеницы)</td>
            <td colspan="2">34.3 см</td>
        </tr>
        <tr>
            <td>Угол въезда (базовый трактор, резиновые шины)</td>
            <td colspan="2">22 градуса</td>
        </tr>
        <tr>
            <td>Угол въезда (базовый трактор, гусеницы)</td>
            <td colspan="2">22 градуса</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Производительность насоса ходового привода</td>
            <td colspan="2">138.9 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса ходового привода</td>
            <td colspan="2">419.9 бар</td>
        </tr>
        <tr>
            <td>Производительность насоса навесного оборудования</td>
            <td colspan="2">233.9 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса навесного оборудования</td>
            <td colspan="2">379.9 бар</td>
        </tr>
        <tr>
            <td>Производительность вспомогательного насоса</td>
            <td colspan="2">66.6 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление вспомогательного насоса</td>
            <td colspan="2">172.4 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Емкости</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">166.6 л</td>
        </tr>
        <tr>
            <td>Гидравлический бак</td>
            <td colspan="2">119.6 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">134.8 л</td>
        </tr>
        <tr>
            <td>Охладитель</td>
            <td colspan="2">18.5 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – резиновые шины</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">16.4 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">16.4 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (нижний диапазон)</td>
            <td colspan="2">1.2 м/мин</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (нижний диапазон)</td>
            <td colspan="2">1.2 м/мин</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – гусеницы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">16.3 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">16.3 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (нижний диапазон)</td>
            <td colspan="2">1.3 м/мин</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (нижний диапазон)</td>
            <td colspan="2">1.3 м/мин</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Особенности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Дисплей</td>
            <td colspan="2">Дисплей PV450</td>
        </tr>
        <tr>
            <td>Пульт дистанционного управления</td>
            <td colspan="2">Дополнительно</td>
        </tr>
    </tbody>
</table>