<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вес (базовый трактор, резиновые шины)</td>
            <td colspan="2">4848.9 кг</td>
        </tr>
        <tr>
            <td>Вес (базовый трактор, гусеницы)</td>
            <td colspan="2">6926.4 кг</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, резиновые шины)</td>
            <td colspan="2">399.3 см</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, гусеницы)</td>
            <td colspan="2">423.7 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, резиновые шины)</td>
            <td colspan="2">218.4 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, гусеницы)</td>
            <td colspan="2">235 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, резиновые шины)</td>
            <td colspan="2">275.6 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, гусеницы)</td>
            <td colspan="2">275.6 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет (резиновые шины)</td>
            <td colspan="2">35.6 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет (гусеницы)</td>
            <td colspan="2">35.6 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Cummins QSF3.8</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент</td>
            <td colspan="2">488.1 Нм</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Интенсивность выбросов</td>
            <td colspan="2">Tier 3 (EU Stage IIIA)</td>
        </tr>
        <tr>
            <td>Уровень звукового давления возле ушей оператора</td>
            <td colspan="2">95 дБ(A)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Производительность насоса ходового привода</td>
            <td>114.7 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса ходового привода</td>
            <td>419.9 бар</td>
        </tr>
        <tr>
            <td>Производительность насоса навесного оборудования</td>
            <td>249.8 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса навесного оборудования</td>
            <td>379.2 бар</td>
        </tr>
        <tr>
            <td>Производительность вспомогательного насоса</td>
            <td>70 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление вспомогательного насоса</td>
            <td>172.4 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Емкости</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">161.3 л</td>
        </tr>
        <tr>
            <td>Гидравлический бак</td>
            <td colspan="2">113.2 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">128.3 л</td>
        </tr>
        <tr>
            <td>Охладитель</td>
            <td colspan="2">27.4 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – резиновые шины</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">17.1 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">17.1 км/ч</td>
        </tr>
        <tr>
            <td>Размер шины</td>
            <td colspan="2">97 см x 45.7 - 50.8 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – гусеницы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">14.3 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">14.3 км/ч</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Варианты осей (мостов)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип переднего моста</td>
            <td colspan="2">Управляемый планетарный с гидравлическим механизмом блокировки дифференциала</td>
        </tr>
        <tr>
            <td>Тип заднего моста</td>
            <td colspan="2">Управляемый планетарный с гидравлическим механизмом блокировки дифференциала</td>
        </tr>
        <tr>
            <td>Допустимая нагрузка на ось (статическая, на ось)</td>
            <td colspan="2">16315.7 кг</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (резиновые шины, только передние управляемые)</td>
            <td colspan="2">1220 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (гусеницы, только передние управляемые)</td>
            <td colspan="2">1219.2 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (резиновые шины, передние и задние – управляемые)</td>
            <td colspan="2">700 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (гусеницы, передние и задние – управляемые)</td>
            <td colspan="2">792.4 см</td>
        </tr>
        <tr>
            <td>Тип рабочего тормозного механизма</td>
            <td colspan="2">Гидростатическое</td>
        </tr>
        <tr>
            <td>Тип стояночного тормоза</td>
            <td colspan="2">Пружинное гидравлическое выключение</td>
        </tr>
    </tbody>
</table>