<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина (колесный трактор)</td>
            <td colspan="2">210.8 см</td>
        </tr>
        <tr>
            <td>Ширина (по резиновым гусеницам)</td>
            <td colspan="2">88.9 см</td>
        </tr>
        <tr>
            <td>Ширина (по резиновым шинам)</td>
            <td colspan="2">88.9 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">116.8 см</td>
        </tr>
        <tr>
            <td>Вес (колесный трактор)</td>
            <td colspan="2">426.4 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Kohler CH640</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Бензин</td>
        </tr>
        <tr>
            <td>Мощность на максимальных оборотах (полная)</td>
            <td colspan="2">20.5 л.с</td>
        </tr>
        <tr>
            <td>Рабочий объем</td>
            <td colspan="2">.7 л</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Воздух принудительной подачи</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">Естественное</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Разгрузочное давление насоса навесного оборудования (траншеекопатель/вперед)</td>
            <td colspan="2">172.4 бар</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса ходового привода – передний/задний ход</td>
            <td colspan="2">165.5 бар</td>
        </tr>
        <tr>
            <td>Производительность насоса ходового привода при максимальных оборотах двигателя</td>
            <td colspan="2">20.4 л/мин</td>
        </tr>
        <tr>
            <td>Пропускная способность фильтра питающего контура гидросистемы</td>
            <td colspan="2">сетчатый фильтр (100 ячеек на один линейный дюйм)</td>
        </tr>
        <tr>
            <td>Производительность насоса навесного оборудования при максимальных оборотах двигателя</td>
            <td colspan="2">39 л/мин</td>
        </tr>
        <tr>
            <td>Пропускная способность фильтра возвратного контура гидросистемы</td>
            <td colspan="2">3 микрона</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Емкости</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">9.5 л</td>
        </tr>
        <tr>
            <td>Гидравлический бак</td>
            <td colspan="2">40.7 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">42.6 л</td>
        </tr>
        <tr>
            <td>Моторное масло</td>
            <td colspan="2">1.9 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип ходового привода</td>
            <td colspan="2">Гидростатическое</td>
        </tr>
        <tr>
            <td>Тип сцепления</td>
            <td colspan="2">отсутствует</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом с полностью открытой дроссельной заслонкой</td>
            <td colspan="2">5 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом с полностью открытой дроссельной заслонкой</td>
            <td colspan="2">1.6 км/ч</td>
        </tr>
    </tbody>
</table>