<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">200.7 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">87.6 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">121.9 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">703.1 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Kohler Command PRO ECH740</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Бензин</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">25 л.с</td>
        </tr>
        <tr>
            <td>Рабочий объем</td>
            <td colspan="2">.7 л</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Воздух принудительной подачи</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">Без наддува</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Разгрузочное давление насоса навесного оборудования (траншеекопатель/вперед)</td>
            <td colspan="2">205.1 бар</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса ходового привода – передний/задний ход</td>
            <td colspan="2">199.9 бар</td>
        </tr>
        <tr>
            <td>Производительность насоса ходового привода при максимальных оборотах двигателя</td>
            <td colspan="2">43.2 л/мин</td>
        </tr>
        <tr>
            <td>Пропускная способность фильтра питающего контура гидросистемы</td>
            <td colspan="2">10 микрон номинально</td>
        </tr>
        <tr>
            <td>Производительность насоса навесного оборудования при максимальных оборотах двигателя</td>
            <td colspan="2">60.9 л/мин</td>
        </tr>
        <tr>
            <td>Пропускная способность фильтра возвратного контура гидросистемы</td>
            <td colspan="2">10 микрон номинально</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Емкости</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">25.7 л</td>
        </tr>
        <tr>
            <td>Гидравлический бак</td>
            <td colspan="2">30.3 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">32.2 л</td>
        </tr>
        <tr>
            <td>Моторное масло</td>
            <td colspan="2">1.9 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип ходового привода</td>
            <td colspan="2">Гидростатическое</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом с полностью открытой дроссельной заслонкой</td>
            <td colspan="2">5.6 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом с полностью открытой дроссельной заслонкой</td>
            <td colspan="2">4 км/ч</td>
        </tr>
    </tbody>
</table>