<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вес (базовый трактор, резиновые шины)</td>
            <td colspan="2">2044.3 кг</td>
        </tr>
        <tr>
            <td>Вес (базовый трактор, гусеницы)</td>
            <td colspan="2">2814.5 кг</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, резиновые шины)</td>
            <td colspan="2">276.9 см</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, гусеницы)</td>
            <td colspan="2">289.6 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, резиновые шины)</td>
            <td colspan="2">152.4 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, гусеницы)</td>
            <td colspan="2">162.6 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, резиновые шины)</td>
            <td colspan="2">225.3 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, резиновые шины, второй вариант)</td>
            <td colspan="2">229.4 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, гусеницы)</td>
            <td colspan="2">235.2 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет (резиновые шины)</td>
            <td colspan="2">18.8 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет (резиновые шины, второй вариант)</td>
            <td colspan="2">22.9 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет (гусеницы)</td>
            <td colspan="2">25 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Производительность насоса ходового привода</td>
            <td colspan="2">113.9 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса ходового привода</td>
            <td colspan="2">350.3 бар</td>
        </tr>
        <tr>
            <td>Производительность насоса навесного оборудования</td>
            <td colspan="2">113.9 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса навесного оборудования</td>
            <td colspan="2">237.9 бар</td>
        </tr>
        <tr>
            <td>Производительность вспомогательного насоса</td>
            <td colspan="2">44.3 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление вспомогательного насоса</td>
            <td colspan="2">172.4 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Емкости</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">66.6 л</td>
        </tr>
        <tr>
            <td>Гидравлический бак</td>
            <td colspan="2">49.2 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">56 л</td>
        </tr>
        <tr>
            <td>Охладитель</td>
            <td colspan="2">6.4 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – резиновые шины</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">5.6 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">5.6 км/ч</td>
        </tr>
        <tr>
            <td>Размер шины</td>
            <td colspan="2">66 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – резиновые шины, второй вариант</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">6.1 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">6.1 км/ч</td>
        </tr>
        <tr>
            <td>Размер шины</td>
            <td colspan="2">73.7 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – гусеницы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">4.7 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">4.7 км/ч</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Варианты осей (мостов)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип переднего моста</td>
            <td colspan="2">Управляемые и качающиеся планетарные мосты серии 68/80</td>
        </tr>
        <tr>
            <td>Тип заднего моста</td>
            <td colspan="2">Прочные и управляемые планетарные мосты серии 68/80</td>
        </tr>
        <tr>
            <td>Допустимая нагрузка на ось (статическая, на ось)</td>
            <td colspan="2">6730 кг</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (резиновые шины, только передние управляемые)</td>
            <td colspan="2">730 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (резиновые шины – второй вариант, только передние управляемые)</td>
            <td colspan="2">920 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (гусеницы, только передние управляемые)</td>
            <td colspan="2">868.6 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (резиновые шины, передние и задние – управляемые)</td>
            <td colspan="2">390 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (резиновые шины – второй вариант, передние и задние – управляемые)</td>
            <td colspan="2">500 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (гусеницы, передние и задние – управляемые)</td>
            <td colspan="2">509 см</td>
        </tr>
        <tr>
            <td>Тип рабочего тормозного механизма</td>
            <td colspan="2">Гидравлическая система</td>
        </tr>
        <tr>
            <td>Тип стояночного тормоза</td>
            <td colspan="2">Механический стояночный тормоз</td>
        </tr>
    </tbody>
</table>