<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вес (базовый трактор, резиновые шины)</td>
            <td colspan="2">2540.1 кг</td>
        </tr>
        <tr>
            <td>Вес (базовый трактор, резиновые шины, второй вариант)</td>
            <td colspan="2">2662.6 кг</td>
        </tr>
        <tr>
            <td>Вес (базовый трактор, гусеницы)</td>
            <td colspan="2">3538 кг</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, резиновые шины)</td>
            <td colspan="2">313.9 см</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, резиновые шины, второй вариант)</td>
            <td colspan="2">317 см</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, гусеницы)</td>
            <td colspan="2">332.2 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, резиновые шины)</td>
            <td colspan="2">183.9 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, резиновые шины, второй вариант)</td>
            <td colspan="2">197.1 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, гусеницы)</td>
            <td colspan="2">192.5 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, резиновые шины)</td>
            <td colspan="2">245.9 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, резиновые шины, второй вариант)</td>
            <td colspan="2">249.4 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, гусеницы)</td>
            <td colspan="2">254.5 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет (резиновые шины)</td>
            <td colspan="2">22.4 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет (резиновые шины, второй вариант)</td>
            <td colspan="2">25.9 см</td>
        </tr>
        <tr>
            <td>Дорожный просвет (гусеницы)</td>
            <td colspan="2">31 см</td>
        </tr>
        <tr>
            <td>Угол въезда (базовый трактор, резиновые шины)</td>
            <td colspan="2">20 градусов</td>
        </tr>
        <tr>
            <td>Угол въезда (базовый трактор, резиновые шины, второй вариант)</td>
            <td colspan="2">23 градусов</td>
        </tr>
        <tr>
            <td>Угол въезда (базовый трактор, гусеницы)</td>
            <td colspan="2">30 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Производительность насоса ходового привода</td>
            <td colspan="2">117.3 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса ходового привода</td>
            <td colspan="2">299.9 бар</td>
        </tr>
        <tr>
            <td>Производительность насоса навесного оборудования</td>
            <td colspan="2">117.3 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса навесного оборудования</td>
            <td colspan="2">350.3 бар</td>
        </tr>
        <tr>
            <td>Производительность вспомогательного насоса</td>
            <td colspan="2">43.9 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление вспомогательного насоса</td>
            <td colspan="2">172.4 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Емкости</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">102.2 л</td>
        </tr>
        <tr>
            <td>Гидравлический бак</td>
            <td colspan="2">68.1 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">75.7 л</td>
        </tr>
        <tr>
            <td>Охладитель</td>
            <td colspan="2">11.4 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – резиновые шины</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">9 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">9 км/ч</td>
        </tr>
        <tr>
            <td>Размер шины</td>
            <td colspan="2">78.7 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – резиновые шины, второй вариант</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">9.8 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">9.8 км/ч</td>
        </tr>
        <tr>
            <td>Размер шины</td>
            <td colspan="2">88.9 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – гусеницы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">6.6 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">6.6 км/ч</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Варианты осей (мостов)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип переднего моста</td>
            <td colspan="2">Управляемый планетарный</td>
        </tr>
        <tr>
            <td>Тип заднего моста</td>
            <td colspan="2">Управляемый планетарный c коробкой передач</td>
        </tr>
        <tr>
            <td>Допустимая нагрузка на ось (статическая, на ось)</td>
            <td colspan="2">5102.9 кг</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (резиновые шины, только передние управляемые)</td>
            <td colspan="2">910 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (резиновые шины – второй вариант, только передние управляемые)</td>
            <td colspan="2">920 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (гусеницы, только передние управляемые)</td>
            <td colspan="2">966.2 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (резиновые шины, передние и задние – управляемые)</td>
            <td colspan="2">570 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (резиновые шины – второй вариант, передние и задние – управляемые)</td>
            <td colspan="2">600 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (гусеницы, передние и задние – управляемые)</td>
            <td colspan="2">612.6 см</td>
        </tr>
        <tr>
            <td>Тип рабочего тормозного механизма</td>
            <td colspan="2">Дисковый, с жидкостным охлаждением</td>
        </tr>
        <tr>
            <td>Тип стояночного тормоза</td>
            <td colspan="2">Пружинное включение гидравлическое выключение</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">12 вольт</td>
        </tr>
        <tr>
            <td>Номинальный ток батареи при холодном запуске двигателя</td>
            <td colspan="2">950</td>
        </tr>
        <tr>
            <td>Класс (групповая принадлежность) батареи</td>
            <td colspan="2">29H-VHD</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Особенности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Дисплей</td>
            <td colspan="2">DP10</td>
        </tr>
    </tbody>
</table>