<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вес (базовый трактор, резиновые шины)</td>
            <td colspan="2">2676.2 кг</td>
        </tr>
        <tr>
            <td>Вес (базовый трактор, гусеницы)</td>
            <td colspan="2">4232 кг</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, резиновые шины)</td>
            <td colspan="2">320 см</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, гусеницы)</td>
            <td colspan="2">338.3 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, резиновые шины)</td>
            <td colspan="2">182.9 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, гусеницы)</td>
            <td colspan="2">199.4 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, резиновые шины)</td>
            <td colspan="2">245.9 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Производительность насоса ходового привода</td>
            <td colspan="2">132.5 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса ходового привода</td>
            <td colspan="2">299.9 бар</td>
        </tr>
        <tr>
            <td>Производительность насоса навесного оборудования</td>
            <td colspan="2">132.5 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса навесного оборудования</td>
            <td colspan="2">379.2 бар</td>
        </tr>
        <tr>
            <td>Производительность вспомогательного насоса</td>
            <td colspan="2">73.4 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление вспомогательного насоса</td>
            <td colspan="2">172.4 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Емкости</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">102.2 л</td>
        </tr>
        <tr>
            <td>Гидравлический бак</td>
            <td colspan="2">87.1 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">94.6 л</td>
        </tr>
        <tr>
            <td>Охладитель</td>
            <td colspan="2">11.4 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – резиновые шины</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">8 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">8 км/ч</td>
        </tr>
        <tr>
            <td>Размер шины</td>
            <td colspan="2">96.5 см x 35.6 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – гусеницы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">6.4 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">6.4 км/ч</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Варианты осей (мостов)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип переднего моста</td>
            <td colspan="2">Управляемый планетарный с гидравлическим механизмом блокировки дифференциала</td>
        </tr>
        <tr>
            <td>Тип заднего моста</td>
            <td colspan="2">Управляемый планетарный с гидравлическим механизмом блокировки дифференциала</td>
        </tr>
        <tr>
            <td>Допустимая нагрузка на ось (статическая, на ось)</td>
            <td colspan="2">5102.9 кг</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (резиновые шины, только передние управляемые)</td>
            <td colspan="2">1010 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (гусеницы, только передние управляемые)</td>
            <td colspan="2">1204 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (резиновые шины, передние и задние – управляемые)</td>
            <td colspan="2">510 см</td>
        </tr>
        <tr>
            <td>Внешний диаметр поворота (гусеницы, передние и задние – управляемые)</td>
            <td colspan="2">701 см</td>
        </tr>
        <tr>
            <td>Тип рабочего тормозного механизма</td>
            <td colspan="2">Гидростатическое</td>
        </tr>
        <tr>
            <td>Тип стояночного тормоза</td>
            <td colspan="2">Пружинное включение, гидравлическое выключение</td>
        </tr>
    </tbody>
</table>