<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вес (базовый трактор, гусеницы)</td>
            <td colspan="2">725.7 кг</td>
        </tr>
        <tr>
            <td>Длина (базовый трактор, гусеницы)</td>
            <td colspan="2">205.7 см</td>
        </tr>
        <tr>
            <td>Ширина (базовый трактор, гусеницы)</td>
            <td colspan="2">87.6 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, гусеницы)</td>
            <td colspan="2">102.9 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">25 л.с</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Производительность насоса ходового привода</td>
            <td colspan="2">50.3 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса ходового привода</td>
            <td colspan="2">199.9 бар</td>
        </tr>
        <tr>
            <td>Производительность насоса навесного оборудования</td>
            <td colspan="2">59.4 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление насоса навесного оборудования</td>
            <td colspan="2">172.4 бар</td>
        </tr>
        <tr>
            <td>Производительность вспомогательного насоса</td>
            <td colspan="2">14.4 л/мин</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Емкости</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">25.7 л</td>
        </tr>
        <tr>
            <td>Гидравлический бак</td>
            <td colspan="2">30.3 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">32.2 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Ходовой привод – гусеницы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная транспортная скорость движения передним ходом (верхний диапазон)</td>
            <td colspan="2">6 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная транспортная скорость движения задним ходом (верхний диапазон)</td>
            <td colspan="2">6 км/ч</td>
        </tr>
    </tbody>
</table>