<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Транспортные размеры</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Угол сближения</td>
            <td colspan="2">25 градусов</td>
        </tr>
        <tr>
            <td>Диапазон значений высоты</td>
            <td colspan="2">304.8 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 50,8 см и стрелой 0,61 м</td>
            <td colspan="2">860 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 50,8 см и стрелой 1,22 м</td>
            <td colspan="2">930 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 50,8 см и стрелой 1,83 м</td>
            <td colspan="2">1000 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 76,2 см и стрелой 1,22 м</td>
            <td colspan="2">900 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 76,2 см и стрелой 1,52 м</td>
            <td colspan="2">940 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 76,2 см и стрелой 1,83 м</td>
            <td colspan="2">980 см</td>
        </tr>
        <tr>
            <td>Весовой диапазон</td>
            <td colspan="2">17 690 кг - 23 586 кг</td>
        </tr>
        <tr>
            <td>Диапазоны значений ширины</td>
            <td colspan="2">254.8 см - 259.8 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">John Deere 6068H Tier 3</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">185 л.с</td>
        </tr>
        <tr>
            <td>Номинальная частота вращения вала двигателя (об/мин)</td>
            <td colspan="2">2400</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">6</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">378.5 л</td>
        </tr>
        <tr>
            <td>Рабочий диапазон</td>
            <td colspan="2">9.8 часов</td>
        </tr>
        <tr>
            <td>Расход топлива с полной нагрузкой</td>
            <td colspan="2">38.6 л/час</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол двигателя (рабочие углы двигателя не являются безопасными рабочими углами машины)</td>
            <td colspan="2">25 градусов</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">Сухого типа, с наддувом от выхлопа</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">С турбонаддувом и радиатором вторичного воздушного охлаждения</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Электрическая система</td>
            <td colspan="2">12 В пост. тока</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Полнопоточный</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гусеницы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Автоматическое выравнивание</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Минимальное давление на грунт</td>
            <td colspan="2">58.6 кПа</td>
        </tr>
        <tr>
            <td>Максимальное давление на грунт</td>
            <td colspan="2">71 кПа</td>
        </tr>
        <tr>
            <td>Наличие системы Tilt Track</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Макс. угол для системы Tilt Track</td>
            <td colspan="2">10.7 градусов</td>
        </tr>
        <tr>
            <td>Тип гусеничного привода</td>
            <td colspan="2">Двунаправленный гидростатический с планетарной коробкой передач</td>
        </tr>
        <tr>
            <td>Длина гусеницы</td>
            <td colspan="2">303 см</td>
        </tr>
        <tr>
            <td>Тип гусеничной накладки</td>
            <td colspan="2">Одинарный, двойной, тройной или полиуретановый грунтозацеп</td>
        </tr>
        <tr>
            <td>Диапазон значений ширины гусеничных накладок</td>
            <td colspan="2">50.8 см или 61 см</td>
        </tr>
        <tr>
            <td>Размер гусеницы</td>
            <td colspan="2">D4</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода – нижний диапазон</td>
            <td colspan="2">32.2 м/мин</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода – верхний диапазон</td>
            <td colspan="2">64.6 м/мин</td>
        </tr>
        <tr>
            <td>Стояночный и аварийный тормоз</td>
            <td colspan="2">с пружинным включением, гидравлическим выключением, дисковый тормозной механизм с жидкостным охлаждением</td>
        </tr>
        <tr>
            <td>Рабочие тормоза</td>
            <td colspan="2">Гидростатическое</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Кабина</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Кабина</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Система управления</td>
            <td colspan="2">TEC 2000.2</td>
        </tr>
        <tr>
            <td>Кондиционер/обогреватель</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Стереофонический радиоприемник AM/FM-диапазонов с каналом прогноза погоды</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Поднимающая</td>
            <td colspan="2">Горизонтальный скользящий</td>
        </tr>
        <tr>
            <td>Сжатый /отфильтрованный воздух</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Модуль защиты от переворачивания (ROM)</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">302.8 л</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Vermeer HyPower 68 или Vermeer HyPower 100</td>
        </tr>
        <tr>
            <td>Задание давления</td>
            <td colspan="2">172.4 бар</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">103 л/мин</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">С компенсацией по давлению и потоку (измерение нагрузки)</td>
        </tr>
    </tbody>
</table>