<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Транспортные размеры</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Угол сближения</td>
            <td colspan="2">16 градусов</td>
        </tr>
        <tr>
            <td>Диапазон значений высоты</td>
            <td colspan="2">302.3 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 50,8 см и стрелой 1,22 м</td>
            <td colspan="2">780 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 50,8 см и стрелой 1,83 м</td>
            <td colspan="2">850 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 50,8 см и стрелой 2,44 м</td>
            <td colspan="2">920 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 101,6 см и стрелой 1,22 м</td>
            <td colspan="2">720 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 101,6 см и стрелой 1,52 м</td>
            <td colspan="2">770 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 101,6 см и стрелой 1,83 м</td>
            <td colspan="2">800 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 101,6 см и стрелой 2,44 м</td>
            <td colspan="2">870 см</td>
        </tr>
        <tr>
            <td>Весовой диапазон</td>
            <td colspan="2">18 144 кг – 26 989 кг</td>
        </tr>
        <tr>
            <td>Диапазоны значений ширины</td>
            <td colspan="2">246.4 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">John Deere 6090 HF Tier 3</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">250 л.с</td>
        </tr>
        <tr>
            <td>Номинальная частота вращения вала двигателя (об/мин)</td>
            <td colspan="2">2200</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">6</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">511 л</td>
        </tr>
        <tr>
            <td>Рабочий диапазон</td>
            <td colspan="2">11 часов</td>
        </tr>
        <tr>
            <td>Расход топлива с полной нагрузкой</td>
            <td colspan="2">46.6 л/час</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол двигателя (рабочие углы двигателя не являются безопасными рабочими углами машины)</td>
            <td colspan="2">30 градусов</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">Сухого типа с предварительным очистителем</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">С турбонаддувом и радиатором вторичного воздушного охлаждения</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Электрическая система</td>
            <td colspan="2">24 В пост. тока</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Полнопоточный</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Второй вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">John Deere 6090HFC09 Tier 4 Final</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">250 л.с</td>
        </tr>
        <tr>
            <td>Номинальная частота вращения вала двигателя (об/мин)</td>
            <td colspan="2">2200</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">6</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">511 л</td>
        </tr>
        <tr>
            <td>Рабочий диапазон</td>
            <td colspan="2">11 часов</td>
        </tr>
        <tr>
            <td>Расход топлива с полной нагрузкой</td>
            <td colspan="2">45.8 л/час</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол двигателя (рабочие углы двигателя не являются безопасными рабочими углами машины)</td>
            <td colspan="2">30 градусов</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">Сухого типа с предварительным очистителем</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">С турбонаддувом и радиатором вторичного воздушного охлаждения</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Электрическая система</td>
            <td colspan="2">24 В пост. тока</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Полнопоточный</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гусеницы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Автоматическое выравнивание</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Минимальное давление на грунт</td>
            <td colspan="2">53.8 кПа</td>
        </tr>
        <tr>
            <td>Максимальное давление на грунт</td>
            <td colspan="2">66.9 кПа</td>
        </tr>
        <tr>
            <td>Наличие системы Tilt Track</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Макс. угол для системы Tilt Track</td>
            <td colspan="2">10.5 градусов</td>
        </tr>
        <tr>
            <td>Тип гусеничного привода</td>
            <td colspan="2">Двунаправленный гидростатический с планетарной коробкой передач</td>
        </tr>
        <tr>
            <td>Длина гусеницы</td>
            <td colspan="2">346.7 см</td>
        </tr>
        <tr>
            <td>Тип гусеничной накладки</td>
            <td colspan="2">Одинарный, двойной или тройной грунтозацеп</td>
        </tr>
        <tr>
            <td>Диапазон значений ширины гусеничных накладок</td>
            <td colspan="2">50.8 см</td>
        </tr>
        <tr>
            <td>Размер гусеницы</td>
            <td colspan="2">D4</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода – нижний диапазон</td>
            <td colspan="2">34.7 м/мин</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода – верхний диапазон</td>
            <td colspan="2">69.2 м/мин</td>
        </tr>
        <tr>
            <td>Стояночный и аварийный тормоз</td>
            <td colspan="2">с пружинным включением, гидравлическим выключением, дисковый тормозной механизм с жидкостным охлаждением</td>
        </tr>
        <tr>
            <td>Рабочие тормоза</td>
            <td colspan="2">Гидростатическое</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Навесные приспособления</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Траншеекопатель</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Планировщик местности Terrain Leveler</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Скальный дисковый резак</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Ковшовое колесо</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Кабина</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Кабина</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Система управления</td>
            <td colspan="2">TEC Plus с SmartTEC</td>
        </tr>
        <tr>
            <td>Кондиционер/обогреватель</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Стереофонический радиоприемник AM/FM-диапазонов с каналом прогноза погоды</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Поднимающая</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Сжатый /отфильтрованный воздух</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Модуль защиты от переворачивания (ROM)</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>ROPS</td>
            <td colspan="2">Стандартная</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">321.8 л</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Vermeer HyPower 68 или Vermeer HyPower 100</td>
        </tr>
        <tr>
            <td>Задание давления</td>
            <td colspan="2">172.4 бар</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">94.6 л/мин</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">С компенсацией по давлению и потоку (измерение нагрузки)</td>
        </tr>
    </tbody>
</table>