<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Транспортные размеры</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Угол сближения</td>
            <td colspan="2">15 градусов</td>
        </tr>
        <tr>
            <td>Диапазон значений высоты</td>
            <td colspan="2">370.8 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 127 см и стрелой 2,44 м</td>
            <td colspan="2">1310 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 127 см и стрелой 3,05 м</td>
            <td colspan="2">1390 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 127 см и стрелой 3,66 м</td>
            <td colspan="2">1460 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 127 см и стрелой 4,27 м (с ограничительным брусом)</td>
            <td colspan="2">1490 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 127 см и стрелой 4,88 м (с ограничительным брусом)</td>
            <td colspan="2">1560 см</td>
        </tr>
        <tr>
            <td>Длина с концевым холостым шкивом 127 см и стрелой 5,49 м (с ограничительным брусом)</td>
            <td colspan="2">1640 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">112 000 кг</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">370 см</td>
        </tr>
        <tr>
            <td>Ширина барабана</td>
            <td colspan="2">370 см</td>
        </tr>
        <tr>
            <td>Глубина реза</td>
            <td colspan="2">68 см</td>
        </tr>
        <tr>
            <td>Угол уклона барабана</td>
            <td colspan="2">+-5 градусов</td>
        </tr>
        <tr>
            <td>Вес барабана</td>
            <td colspan="2">43 000 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Caterpillar C18 ACERT Tier 3</td>
        </tr>
        <tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">600 л.с</td>
        </tr>
        <tr>
            <td>Номинальная частота вращения вала двигателя (об/мин)</td>
            <td colspan="2">2100</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">6</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">1400.6 л</td>
        </tr>
        <tr>
            <td>Рабочий диапазон</td>
            <td colspan="2">11.6 часов</td>
        </tr>
        <tr>
            <td>Расход топлива с полной нагрузкой</td>
            <td colspan="2">120.4 л/час</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол двигателя (рабочие углы двигателя не являются безопасными рабочими углами машины)</td>
            <td colspan="2">35 градусов</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">Сухого типа с предварительным очистителем</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">С турбонаддувом и радиатором вторичного воздушного охлаждения</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Электрическая система</td>
            <td colspan="2">24 В пост. тока</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Полнопоточный</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гусеницы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Автоматическое выравнивание</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Минимальное давление на грунт</td>
            <td colspan="2">106.9 кПа</td>
        </tr>
        <tr>
            <td>Максимальное давление на грунт</td>
            <td colspan="2">145.5 кПа</td>
        </tr>
        <tr>
            <td>Наличие системы Tilt Track</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Тип гусеничного привода</td>
            <td colspan="2">Двунаправленный гидростатический с планетарной коробкой передач</td>
        </tr>
        <tr>
            <td>Длина гусеницы</td>
            <td colspan="2">461 см</td>
        </tr>
        <tr>
            <td>Тип гусеничной накладки</td>
            <td colspan="2">Двойной грунтозацеп</td>
        </tr>
        <tr>
            <td>Диапазон значений ширины гусеничных накладок</td>
            <td colspan="2">76.2 см</td>
        </tr>
        <tr>
            <td>Размер гусеницы</td>
            <td colspan="2">Экскаватор Cat 375</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода – нижний диапазон</td>
            <td colspan="2">14.7 м/мин</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода – верхний диапазон</td>
            <td colspan="2">39.1 м/мин</td>
        </tr>
        <tr>
            <td>Стояночный и аварийный тормоз</td>
            <td colspan="2">с пружинным включением, гидравлическим выключением, дисковый тормозной механизм с жидкостным охлаждением</td>
        </tr>
        <tr>
            <td>Рабочие тормоза</td>
            <td colspan="2">Гидростатическое</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Навесные приспособления</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Траншеекопатель</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Планировщик местности Terrain Leveler</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Скальный дисковый резак</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Ковшовое колесо</td>
            <td colspan="2">Нет</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Кабина</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Кабина</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Система управления</td>
            <td colspan="2">TEC Plus с SmartTEC</td>
        </tr>
        <tr>
            <td>Кондиционер/обогреватель</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Сиденье с пневмоподвеской</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Стереофонический радиоприемник AM/FM-диапазонов с каналом прогноза погоды</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Поднимающая</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Сжатый /отфильтрованный воздух</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Модуль защиты от переворачивания (ROM)</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">794.9 л</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">HyPower 68, HyPower 100, Hy Power 1100</td>
        </tr>
        <tr>
            <td>Задание давления</td>
            <td colspan="2">172.4 бар</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">172.4 л/мин</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">С компенсацией по давлению и потоку (измерение нагрузки)</td>
        </tr>
    </tbody>
</table>