<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Транспортные размеры</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Вес в сборе с барабаном</td>
            <td colspan="2">45 900 кг</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">264 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">332 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Caterpillar C9 ACERT Tier 3</td>
        </tr>
        <tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">350 л.с</td>
        </tr>
        <tr>
            <td>Номинальная частота вращения вала двигателя (об/мин)</td>
            <td colspan="2">2200</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">6</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">651.1 л</td>
        </tr>
        <tr>
            <td>Рабочий диапазон</td>
            <td colspan="2">9.4 часов</td>
        </tr>
        <tr>
            <td>Расход топлива с полной нагрузкой</td>
            <td colspan="2">69.3 л/час</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол двигателя (рабочие углы двигателя не являются безопасными рабочими углами машины)</td>
            <td colspan="2">40 градусов</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">Сухого типа, с наддувом от выхлопа</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">С турбонаддувом и радиатором вторичного воздушного охлаждения</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Электрическая система</td>
            <td colspan="2">24 В пост. тока</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Полнопоточный</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гусеницы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Автоматическое выравнивание</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Минимальное давление на грунт</td>
            <td colspan="2">75.8 кПа</td>
        </tr>
        <tr>
            <td>Максимальное давление на грунт</td>
            <td colspan="2">113.1 кПа</td>
        </tr>
        <tr>
            <td>Наличие системы Tilt Track</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Макс. угол для системы Tilt Track</td>
            <td colspan="2">+/- 9 градусов или +/- 12 градусов</td>
        </tr>
        <tr>
            <td>Тип гусеничного привода</td>
            <td colspan="2">Двунаправленный гидростатический с планетарной коробкой передач</td>
        </tr>
        <tr>
            <td>Длина гусеницы</td>
            <td colspan="2">373.4 см</td>
        </tr>
        <tr>
            <td>Тип гусеничной накладки</td>
            <td colspan="2">Одинарный, двойной или тройной грунтозацеп</td>
        </tr>
        <tr>
            <td>Диапазон значений ширины гусеничных накладок</td>
            <td colspan="2">50.8 см или 61 см</td>
        </tr>
        <tr>
            <td>Размер гусеницы</td>
            <td colspan="2">D6</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода – нижний диапазон</td>
            <td colspan="2">32.4 м/мин</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода – верхний диапазон</td>
            <td colspan="2">64.9 м/мин</td>
        </tr>
        <tr>
            <td>Стояночный и аварийный тормоз</td>
            <td colspan="2">с пружинным включением, гидравлическим выключением, дисковый тормозной механизм с жидкостным охлаждением</td>
        </tr>
        <tr>
            <td>Рабочие тормоза</td>
            <td colspan="2">Гидростатическое</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Навесное оборудование(барабан)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ширина барабана</td>
            <td colspan="2">259 см</td>
        </tr>
        <tr>
            <td>Глубина реза</td>
            <td colspan="2">81 см</td>
        </tr>
        <tr>
            <td>Вес барабана</td>
            <td colspan="2">15 900 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Навесные приспособления</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Траншеекопатель</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Планировщик местности Terrain Leveler</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Скальный дисковый резак</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Ковшовое колесо</td>
            <td colspan="2">Нет</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Кабина</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Кабина</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Система управления</td>
            <td colspan="2">TEC Plus с SmartTEC</td>
        </tr>
        <tr>
            <td>Кондиционер/обогреватель</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Стереофонический радиоприемник AM/FM-диапазонов с каналом прогноза погоды</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Поднимающая</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Сжатый /отфильтрованный воздух</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Модуль защиты от переворачивания (ROM)</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">548.9 л</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Vermeer HyPower 68 или Vermeer HyPower 100</td>
        </tr>
        <tr>
            <td>Задание давления</td>
            <td colspan="2">172.4 бар</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">114.3 л/мин</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">С компенсацией по давлению и потоку (измерение нагрузки)</td>
        </tr>
    </tbody>
</table>