<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Транспортные размеры</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Диапазон значений высоты</td>
            <td colspan="2">338 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">54 000 кг</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">340 см</td>
        </tr>
        <tr>
            <td>Ширина барабана</td>
            <td colspan="2">340 см</td>
        </tr>
        <tr>
            <td>Глубина реза</td>
            <td colspan="2">81 см</td>
        </tr>
        <tr>
            <td>Угол уклона барабана</td>
            <td colspan="2">+-5 градусов</td>
        </tr>
        <tr>
            <td>Вес барабана</td>
            <td colspan="2">18 000 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гусеницы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Автоматическое выравнивание</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Минимальное давление на грунт</td>
            <td colspan="2">80.7 кПа</td>
        </tr>
        <tr>
            <td>Максимальное давление на грунт</td>
            <td colspan="2">91.7 кПа</td>
        </tr>
        <tr>
            <td>Наличие системы Tilt Track</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Тип гусеничного привода</td>
            <td colspan="2">Двунаправленный гидростатический с планетарной коробкой передач</td>
        </tr>
        <tr>
            <td>Длина гусеницы</td>
            <td colspan="2">408.9 см</td>
        </tr>
        <tr>
            <td>Тип гусеничной накладки</td>
            <td colspan="2">Одинарный, двойной или тройной грунтозацеп</td>
        </tr>
        <tr>
            <td>Диапазон значений ширины гусеничных накладок</td>
            <td colspan="2">61 см</td>
        </tr>
        <tr>
            <td>Размер гусеницы</td>
            <td colspan="2">D6</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода – нижний диапазон</td>
            <td colspan="2">20.7 м/мин</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода – верхний диапазон</td>
            <td colspan="2">41.5 м/мин</td>
        </tr>
        <tr>
            <td>Стояночный и аварийный тормоз</td>
            <td colspan="2">с пружинным включением, гидравлическим выключением, дисковый тормозной механизм с жидкостным охлаждением</td>
        </tr>
        <tr>
            <td>Рабочие тормоза</td>
            <td colspan="2">Гидростатическое</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Навесные приспособления</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Траншеекопатель</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Планировщик местности Terrain Leveler</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Скальный дисковый резак</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Ковшовое колесо</td>
            <td colspan="2">Нет</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Кабина</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Кабина</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Система управления</td>
            <td colspan="2">TEC Plus</td>
        </tr>
        <tr>
            <td>Кондиционер/обогреватель</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Стереофонический радиоприемник AM/FM-диапазонов с каналом прогноза погоды</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Поднимающая</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Сжатый /отфильтрованный воздух</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Модуль защиты от переворачивания (ROM)</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">575.4 л</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">HyPower 68, HyPower 100</td>
        </tr>
        <tr>
            <td>Задание давления</td>
            <td colspan="2">172.4 бар</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">105.6 л/мин</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">С компенсацией по давлению и потоку (измерение нагрузки)</td>
        </tr>
    </tbody>
</table>