<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина (минимальная транспортная)</td>
            <td colspan="2">1041.4 см</td>
        </tr>
        <tr>
            <td>Ширина (минимальная транспортная)</td>
            <td colspan="2">254 см</td>
        </tr>
        <tr>
            <td>Ширина (с кабиной, минимальная транспортная)</td>
            <td colspan="2">254 см</td>
        </tr>
        <tr>
            <td>Высота (минимальная транспортная)</td>
            <td colspan="2">345.4 см</td>
        </tr>
        <tr>
            <td>Высота (с кабиной)</td>
            <td colspan="2">345.4 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">25954.6 кг</td>
        </tr>
        <tr>
            <td>Вес (вариант с кабиной)</td>
            <td colspan="2">25954.6 кг</td>
        </tr>
        <tr>
            <td>Угол въезда</td>
            <td colspan="2">18 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Двигатель</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">CAT</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное топливо с ультранизким содержанием серы</td>
        </tr>
        <tr>
            <td>Макс. обороты двигателя</td>
            <td colspan="2">2200 об/мин</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">275 л.с</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">Со сдвоенным турбонагнетателем</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">.9 л/час</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол (продольный/поперечный)*</td>
            <td colspan="2">25</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол (влево/вправо)*</td>
            <td colspan="2">25</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Производительность</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Продавливание</td>
            <td colspan="2">444.8 кН</td>
        </tr>
        <tr>
            <td>Обратная протяжка</td>
            <td colspan="2">444.8 кН</td>
        </tr>
        <tr>
            <td>Максимальная скорость каретки на максимальных оборотах двигателя</td>
            <td colspan="2">53.3 м/мин</td>
        </tr>
        <tr>
            <td>Максимальная скорость каретки в нижнем диапазоне скоростей на максимальных оборотах двигателя</td>
            <td colspan="2">15.2 м/мин</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в нижнем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">18981.5 Нм</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в среднем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">14236.1 Нм</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в верхнем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">9490.7 Нм</td>
        </tr>
        <tr>
            <td>Максимальная частота вращения шпинделя на максимальных оборотах двигателя</td>
            <td colspan="2">203 об/мин</td>
        </tr>
        <tr>
            <td>Минимальный диаметр скважины</td>
            <td colspan="2">15.2 см</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода на максимальных оборотах двигателя</td>
            <td colspan="2">4.5 км/ч</td>
        </tr>
        <tr>
            <td>Автоматический погрузчик штанг</td>
            <td colspan="2">Полуавтомат.</td>
        </tr>
        <tr>
            <td>Уровень звукового давления возле ушей оператора</td>
            <td colspan="2">84 дБ(A)</td>
        </tr>
        <tr>
            <td>Угол бурового лафета буровой установки</td>
            <td colspan="2">24 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Объемы жидкостей</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">454.2 л</td>
        </tr>
        <tr>
            <td>Гидравлический бак</td>
            <td colspan="2">340.7 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">454.2 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант системы подачи бурового раствора</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальный поток</td>
            <td colspan="2">870.6 л/мин</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">68.9 бар</td>
        </tr>
        <tr>
            <td>Фирменная марка</td>
            <td colspan="2">Насосы Aplex</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Второй вариант системы подачи бурового раствора</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальный поток</td>
            <td colspan="2">870.6 л/мин</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">68.9 бар</td>
        </tr>
        <tr>
            <td>Фирменная марка</td>
            <td colspan="2">Насосы Aplex</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Третий вариант системы подачи бурового раствора</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальный поток</td>
            <td colspan="2">757.1 л/мин</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">68.9 бар</td>
        </tr>
        <tr>
            <td>Фирменная марка</td>
            <td colspan="2">Kerr</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Кран</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная грузоподъемность</td>
            <td colspan="2">2299.7 кг</td>
        </tr>
        <tr>
            <td>Максимальная грузоподъемность – стрела вытянута/максимальный вылет</td>
            <td colspan="2">1905.1 кг</td>
        </tr>
        <tr>
            <td>Вращение</td>
            <td colspan="2">400 градусов</td>
        </tr>
        <tr>
            <td>Максимальный вылет</td>
            <td colspan="2">49.5 см</td>
        </tr>
        <tr>
            <td>Опциональный кран</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Беспроводной ПДУ</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Особенности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Система раскручивания</td>
            <td colspan="2">Открытый верхний зажимной патрон</td>
        </tr>
        <tr>
            <td>Световые индикаторы бурения</td>
            <td colspan="2">Стандартный</td>
        </tr>
        <tr>
            <td>Индикатор расхода</td>
            <td colspan="2">Стандартный</td>
        </tr>
        <tr>
            <td>Система выносных опор</td>
            <td colspan="2">Дополнительно</td>
        </tr>
        <tr>
            <td>Кабина</td>
            <td colspan="2">Стандартный</td>
        </tr>
        <tr>
            <td>Аварийная сигнализация</td>
            <td colspan="2">Стандартный</td>
        </tr>
        <tr>
            <td>Дистанционная блокировка</td>
            <td colspan="2">Стандартный</td>
        </tr>
        <tr>
            <td>Присутствие оператора</td>
            <td colspan="2">Стандартный</td>
        </tr>
    </tbody>
</table>