<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина (минимальная транспортная)</td>
            <td colspan="2">388.6 см</td>
        </tr>
        <tr>
            <td>Ширина (минимальная транспортная)</td>
            <td colspan="2">111.8 см</td>
        </tr>
        <tr>
            <td>Высота (минимальная транспортная)</td>
            <td colspan="2">167.6 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">3265.9 кг</td>
        </tr>
        <tr>
            <td>Угол въезда</td>
            <td colspan="2">22 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Двигатель</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Deutz TD2.9</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное топливо с ультранизким содержанием серы</td>
        </tr>
        <tr>
            <td>Макс. обороты двигателя</td>
            <td colspan="2">2300 об/мин</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">60 л.с</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">С турбонаддувом</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">13.2 л/час</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол (продольный/поперечный)*</td>
            <td colspan="2">30</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол (влево/вправо)*</td>
            <td colspan="2">30</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Производительность</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Продавливание</td>
            <td colspan="2">44.5 кН</td>
        </tr>
        <tr>
            <td>Обратная протяжка</td>
            <td colspan="2">44.5 кН</td>
        </tr>
        <tr>
            <td>Максимальная скорость каретки на максимальных оборотах двигателя</td>
            <td colspan="2">63.4 м/мин</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в нижнем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">2033.7 Нм</td>
        </tr>
        <tr>
            <td>Максимальная частота вращения шпинделя на максимальных оборотах двигателя</td>
            <td colspan="2">220 об/мин</td>
        </tr>
        <tr>
            <td>Минимальный диаметр скважины</td>
            <td colspan="2">6.4 см</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода на максимальных оборотах двигателя</td>
            <td colspan="2">5.3 км/ч</td>
        </tr>
        <tr>
            <td>Уровень звукового давления возле ушей оператора</td>
            <td colspan="2">86 дБ(а)</td>
        </tr>
        <tr>
            <td>Гарантированный уровень звукового давления (соответствие нормам ЕС)</td>
            <td colspan="2">103 дБ(а)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Объемы жидкостей</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">68.1 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">94.6 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант системы подачи бурового раствора</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальный поток</td>
            <td colspan="2">56.8 л/мин</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">68.9 бар</td>
        </tr>
        <tr>
            <td>Фирменная марка</td>
            <td colspan="2">FMC</td>
        </tr>
        <tr>
            <td>Емкость встроенного бака</td>
            <td colspan="2">94.6 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Особенности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Система раскручивания</td>
            <td colspan="2">Стандартный гидравлический зажим</td>
        </tr>
        <tr>
            <td>Индикатор расхода</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Система выносных опор</td>
            <td colspan="2">Стандартный или агрессивный</td>
        </tr>
        <tr>
            <td>Аварийная сигнализация</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Дистанционная блокировка</td>
            <td colspan="2">Стандартная</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Бурильная колонна</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Резьба на буровой штанге</td>
            <td colspan="2">Буровая штанга Firestick® 4,2 см № 200</td>
        </tr>
        <tr>
            <td>Тип резьбы</td>
            <td colspan="2">Firestick (№200)</td>
        </tr>
        <tr>
            <td>Длина</td>
            <td colspan="2">180 см</td>
        </tr>
        <tr>
            <td>Диаметр штанги</td>
            <td colspan="2">4,3 см</td>
        </tr>
        <tr>
            <td>Внутренний диаметр соединения</td>
            <td colspan="2">2 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">11.8 кг</td>
        </tr>
        <tr>
            <td>Минимальный радиус изгиба</td>
            <td colspan="2">2910 см</td>
        </tr>
    </tbody>
</table>