<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Характеристики</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина, мм</td>
            <td colspan="2">9920</td>
        </tr>
        <tr>
            <td>Ширина, мм</td>
            <td colspan="2">2490</td>
        </tr>
        <tr>
            <td>Высота, мм</td>
            <td colspan="2">3280</td>
        </tr>
        <tr>
            <td>Вес (со штангами), кг</td>
            <td colspan="2">21910</td>
        </tr>
        <tr>
            <td>Модель двигателя</td>
            <td colspan="2">Cummins</td>
        </tr>
        <tr>
            <td>Мощность, л.с.</td>
            <td colspan="2">240</td>
        </tr>
        <tr>
            <td>Топливный бак, л</td>
            <td colspan="2">284</td>
        </tr>
        <tr>
            <td>Макс. крутящий момент, Нм</td>
            <td colspan="2">20340</td>
        </tr>
        <tr>
            <td>Сила протяжки, кг</td>
            <td colspan="2">59000</td>
        </tr>
        <tr>
            <td>Скорость вращения шпинделя, об/мин</td>
            <td colspan="2">90/ 60/ 45</td>
        </tr>
        <tr>
            <td>Стартовый угол бурения, градусов</td>
            <td colspan="2">15 – 20</td>
        </tr>
        <tr>
            <td>Длина буровых штанг Firestick, см</td>
            <td colspan="2">6000</td>
        </tr>
    </tbody>
</table>