<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина (минимальная транспортная)</td>
            <td colspan="2">518.2 см</td>
        </tr>
        <tr>
            <td>Ширина (минимальная транспортная)</td>
            <td colspan="2">120.7 см</td>
        </tr>
        <tr>
            <td>Высота (минимальная транспортная)</td>
            <td colspan="2">188 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">4921.5 кг</td>
        </tr>
        <tr>
            <td>Угол въезда</td>
            <td colspan="2">18 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Двигатель</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Deutz TD2.9</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное топливо с низким содержанием серы</td>
        </tr>
        <tr>
            <td>Макс. обороты двигателя</td>
            <td colspan="2">2600 об/мин</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">74 л.с</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">С турбонаддувом</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">17 л/час</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол (продольный/поперечный)*</td>
            <td colspan="2">30</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол (влево/вправо)*</td>
            <td colspan="2">30</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Производительность</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Продавливание</td>
            <td colspan="2">86.7 кН</td>
        </tr>
        <tr>
            <td>Обратная протяжка</td>
            <td colspan="2">86.7 кН</td>
        </tr>
        <tr>
            <td>Максимальная скорость каретки на максимальных оборотах двигателя</td>
            <td colspan="2">50.9 м/мин</td>
        </tr>
        <tr>
            <td>Максимальная скорость каретки в нижнем диапазоне скоростей на максимальных оборотах двигателя</td>
            <td colspan="2">34.7 м/мин</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в нижнем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">3050.6 Нм</td>
        </tr>
        <tr>
            <td>Максимальная частота вращения шпинделя на максимальных оборотах двигателя</td>
            <td colspan="2">257 об/мин</td>
        </tr>
        <tr>
            <td>Минимальный диаметр скважины</td>
            <td colspan="2">7.6 см</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода на максимальных оборотах двигателя</td>
            <td colspan="2">5.3 км/ч</td>
        </tr>
        <tr>
            <td>Автоматический погрузчик штанг</td>
            <td colspan="2">Полуавтомат</td>
        </tr>
        <tr>
            <td>Уровень звукового давления возле ушей оператора</td>
            <td colspan="2">85.9 дБ(а)</td>
        </tr>
        <tr>
            <td>Гарантированный уровень звукового давления (соответствие нормам ЕС)</td>
            <td colspan="2">106 дБ(а)</td>
        </tr>
        <tr>
            <td>Угол бурового лафета буровой установки</td>
            <td colspan="2">17 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант системы подачи бурового раствора</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальный поток</td>
            <td colspan="2">94.6 л/мин</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">68.9 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Особенности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Система раскручивания</td>
            <td colspan="2">Стандартный гидравлический зажим</td>
        </tr>
        <tr>
            <td>Световые индикаторы бурения</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Индикатор расхода</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Система выносных опор</td>
            <td colspan="2">Стандартный или агрессивный</td>
        </tr>
        <tr>
            <td>Аварийная сигнализация</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Дистанционная блокировка</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Присутствие оператора</td>
            <td colspan="2">Стандартная</td>
        </tr>
    </tbody>
</table>