<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина (минимальная транспортная)</td>
            <td colspan="2">1127.8 см</td>
        </tr>
        <tr>
            <td>Ширина (минимальная транспортная)</td>
            <td colspan="2">254 см</td>
        </tr>
        <tr>
            <td>Ширина (с кабиной, минимальная транспортная)</td>
            <td colspan="2">254 см</td>
        </tr>
        <tr>
            <td>Высота (минимальная транспортная)</td>
            <td colspan="2">345.4 см</td>
        </tr>
        <tr>
            <td>Высота (с кабиной)</td>
            <td colspan="2">345.4 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">34019.4 кг</td>
        </tr>
        <tr>
            <td>Угол въезда</td>
            <td colspan="2">17 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Двигатель</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Cat C-13 ACERT</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное топливо с ультранизким содержанием серы</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">78.7 л/час</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол (продольный/поперечный)*</td>
            <td colspan="2">30</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол (влево/вправо)*</td>
            <td colspan="2">30</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Производительность</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Продавливание</td>
            <td colspan="2">1076.9 кН</td>
        </tr>
        <tr>
            <td>Обратная протяжка</td>
            <td colspan="2">1076.9 кН</td>
        </tr>
        <tr>
            <td>Максимальная скорость каретки на максимальных оборотах двигателя</td>
            <td colspan="2">36.6 м/мин</td>
        </tr>
        <tr>
            <td>Максимальная скорость каретки в нижнем диапазоне скоростей на максимальных оборотах двигателя</td>
            <td colspan="2">10.4 м/мин</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в нижнем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">41691.5 Нм</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в среднем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">29150.1 Нм</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в верхнем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">16676.6 Нм</td>
        </tr>
        <tr>
            <td>Максимальная частота вращения шпинделя на максимальных оборотах двигателя</td>
            <td colspan="2">об/мин</td>
        </tr>
        <tr>
            <td>Минимальный диаметр скважины</td>
            <td colspan="2">22.9 см</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода на максимальных оборотах двигателя</td>
            <td colspan="2">7.6 км/ч</td>
        </tr>
        <tr>
            <td>Автоматический погрузчик штанг</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Уровень звукового давления возле ушей оператора</td>
            <td colspan="2">85 дБ(A)</td>
        </tr>
        <tr>
            <td>Гарантированный уровень звукового давления (соответствие нормам ЕС)</td>
            <td colspan="2">119 дБ(A)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Объемы жидкостей</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">507.2 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">628.4 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант системы подачи бурового раствора</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальный поток</td>
            <td colspan="2">1324.9 л/мин</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">82.7 бар</td>
        </tr>
        <tr>
            <td>Фирменная марка</td>
            <td colspan="2">Уэтерфорд</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Кран</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная грузоподъемность</td>
            <td colspan="2">2698.9 кг</td>
        </tr>
        <tr>
            <td>Максимальная грузоподъемность – стрела вытянута/максимальный вылет</td>
            <td colspan="2">1147.6 кг</td>
        </tr>
        <tr>
            <td>Вращение</td>
            <td colspan="2">400 градусов</td>
        </tr>
        <tr>
            <td>Максимальный вылет</td>
            <td colspan="2">66.8 см</td>
        </tr>
        <tr>
            <td>Опциональный кран</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Проводной ПДУ</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Беспроводной ПДУ</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Особенности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Система раскручивания</td>
            <td colspan="2">С открытым верхом, сдвоенный хомут, диаметр отверстия 26 см</td>
        </tr>
        <tr>
            <td>Световые индикаторы бурения</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Индикатор расхода</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Кабина</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Аварийная сигнализация</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Дистанционная блокировка</td>
            <td colspan="2">Стандартная</td>
        </tr>
    </tbody>
</table>