<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина (минимальная транспортная)</td>
            <td colspan="2">528.3 см</td>
        </tr>
        <tr>
            <td>Ширина (минимальная транспортная)</td>
            <td colspan="2">133.4 см</td>
        </tr>
        <tr>
            <td>Высота (минимальная транспортная)</td>
            <td colspan="2">190.5 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">6386.6 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Двигатель</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Deutz TCD 3.6 L4</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное топливо с низким содержанием серы</td>
        </tr>
        <tr>
            <td>Макс. обороты двигателя</td>
            <td colspan="2">2000 об/мин</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">100 л.с</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">С турбонаддувом</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Второй вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Deutz TCD 3.6 L4</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное топливо с низким содержанием серы менее 2000 частей на миллион</td>
        </tr>
        <tr>
            <td>Макс. обороты двигателя</td>
            <td colspan="2">2000 об/мин</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">100 л.с</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">С турбонаддувом</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Производительность</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Продавливание</td>
            <td colspan="2">106.8 кН</td>
        </tr>
        <tr>
            <td>Обратная протяжка</td>
            <td colspan="2">106.8 кН</td>
        </tr>
        <tr>
            <td>Максимальная скорость каретки на максимальных оборотах двигателя</td>
            <td colspan="2">62.8 m/мин</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в нижнем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">4067.5 Нм</td>
        </tr>
        <tr>
            <td>Максимальная частота вращения шпинделя на максимальных оборотах двигателя</td>
            <td colspan="2">219 об/мин</td>
        </tr>
        <tr>
            <td>Минимальный диаметр скважины</td>
            <td colspan="2">10.2 см</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода на максимальных оборотах двигателя</td>
            <td colspan="2">5.3 км/ч</td>
        </tr>
        <tr>
            <td>Уровень звукового давления возле ушей оператора</td>
            <td colspan="2">78.7 дБ(а)</td>
        </tr>
        <tr>
            <td>Гарантированный уровень звукового давления (соответствие нормам ЕС)</td>
            <td colspan="2">99 дБ(а)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Объемы жидкостей</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">132.5 л</td>
        </tr>
        <tr>
            <td>Гидравлический бак</td>
            <td colspan="2">113.6 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">151.4 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант системы подачи бурового раствора</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальный поток</td>
            <td colspan="2">132.5 л/мин</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">89.6 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Особенности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Система раскручивания</td>
            <td colspan="2">Стандартный гидравлический зажим</td>
        </tr>
        <tr>
            <td>Световые индикаторы бурения</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Индикатор расхода</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Система выносных опор</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Аварийная сигнализация</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Дистанционная блокировка</td>
            <td colspan="2">Стандартная</td>
        </tr>
    </tbody>
</table>