<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина (минимальная транспортная)</td>
            <td colspan="2">612.1 см</td>
        </tr>
        <tr>
            <td>Ширина (минимальная транспортная)</td>
            <td colspan="2">226.1 см</td>
        </tr>
        <tr>
            <td>Ширина (с кабиной, минимальная транспортная)</td>
            <td colspan="2">226.1 см</td>
        </tr>
        <tr>
            <td>Высота (минимальная транспортная)</td>
            <td colspan="2">193 см</td>
        </tr>
        <tr>
            <td>Высота (с кабиной)</td>
            <td colspan="2">297.2 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">9389.4 кг</td>
        </tr>
        <tr>
            <td>Вес (вариант с кабиной)</td>
            <td colspan="2">10092.4 кг</td>
        </tr>
        <tr>
            <td>Угол въезда</td>
            <td colspan="2">19 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Двигатель</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">John Deere 4045</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное топливо с ультранизким содержанием серы</td>
        </tr>
        <tr>
            <td>Макс. обороты двигателя</td>
            <td colspan="2">2400 об/мин</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">125 л.с</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">С турбонаддувом</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">25.7 л/час</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол (продольный/поперечный)*</td>
            <td colspan="2">30</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол (влево/вправо)*</td>
            <td colspan="2">25/25</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Второй вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">John Deere 4045</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное</td>
        </tr>
        <tr>
            <td>Макс. обороты двигателя</td>
            <td colspan="2">2400 об/мин</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">125 л.с</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">С турбонаддувом</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">25.7 л/час</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол (влево/вправо)*</td>
            <td colspan="2">30</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Производительность</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Продавливание</td>
            <td colspan="2">124.6 кН</td>
        </tr>
        <tr>
            <td>Обратная протяжка</td>
            <td colspan="2">124.6 кН</td>
        </tr>
        <tr>
            <td>Максимальная скорость каретки на максимальных оборотах двигателя</td>
            <td colspan="2">73.2 м/мин</td>
        </tr>
        <tr>
            <td>Максимальная скорость каретки в нижнем диапазоне скоростей на максимальных оборотах двигателя</td>
            <td colspan="2">30.8 м/мин</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в нижнем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">5694.4 Нм</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в среднем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">4745.4 Нм</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в верхнем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">2711.6 Нм</td>
        </tr>
        <tr>
            <td>Максимальная частота вращения шпинделя на максимальных оборотах двигателя</td>
            <td colspan="2">270 об/мин</td>
        </tr>
        <tr>
            <td>Минимальный диаметр скважины</td>
            <td colspan="2">10.2 см</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода на максимальных оборотах двигателя</td>
            <td colspan="2">5.3 км/ч</td>
        </tr>
        <tr>
            <td>Автоматический погрузчик штанг</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Уровень звукового давления возле ушей оператора</td>
            <td colspan="2">82.9 дБ(а)</td>
        </tr>
        <tr>
            <td>Гарантированный уровень звукового давления (соответствие нормам ЕС)</td>
            <td colspan="2">104 дБ(а)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Объемы жидкостей</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">166.6 л</td>
        </tr>
        <tr>
            <td>Гидравлический бак</td>
            <td colspan="2">208.2 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">246.1 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант системы подачи бурового раствора</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальный поток</td>
            <td colspan="2">189.3 л/мин</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">72.4 бар</td>
        </tr>
        <tr>
            <td>Фирменная марка</td>
            <td colspan="2">Насосы Aplex</td>
        </tr>
        <tr>
            <td>Емкость встроенного бака</td>
            <td colspan="2">22.7 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Особенности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Система раскручивания</td>
            <td colspan="2">Стандартный гидравлический зажим</td>
        </tr>
        <tr>
            <td>Световые индикаторы бурения</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Индикатор расхода</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Система выносных опор</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Кабина</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Аварийная сигнализация</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Дистанционная блокировка</td>
            <td colspan="2">Стандартная</td>
        </tr>
    </tbody>
</table>