<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина (минимальная транспортная)</td>
            <td colspan="2">1625.6 см</td>
        </tr>
        <tr>
            <td>Ширина (с кабиной, минимальная транспортная)</td>
            <td colspan="2">254 см</td>
        </tr>
        <tr>
            <td>Высота (с кабиной)</td>
            <td colspan="2">340.4 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">40823.3 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Двигатель</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Caterpillar C-15</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное</td>
        </tr>
        <tr>
            <td>Макс. обороты двигателя</td>
            <td colspan="2">2100 об/мин</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">540 л.с</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">С турбонаддувом</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">109.5 л/час</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Производительность</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Продавливание</td>
            <td colspan="2">1467.9 кН</td>
        </tr>
        <tr>
            <td>Обратная протяжка</td>
            <td colspan="2">1467.9 кН</td>
        </tr>
        <tr>
            <td>Максимальная скорость каретки на максимальных оборотах двигателя</td>
            <td colspan="2">17.1 м/мин</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в нижнем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">67791 Нм</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в среднем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">50843.3 Нм</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в верхнем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">33895.5 Нм</td>
        </tr>
        <tr>
            <td>Максимальная частота вращения шпинделя на максимальных оборотах двигателя</td>
            <td colspan="2">88 об/мин</td>
        </tr>
        <tr>
            <td>Минимальный диаметр скважины</td>
            <td colspan="2">16.5 см</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода на максимальных оборотах двигателя</td>
            <td colspan="2">4.8 км/ч</td>
        </tr>
        <tr>
            <td>Автоматический погрузчик штанг</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Уровень звукового давления возле ушей оператора</td>
            <td colspan="2">89 дБ(A)</td>
        </tr>
        <tr>
            <td>Угол бурового лафета буровой установки</td>
            <td colspan="2">30 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Объемы жидкостей</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">794.9 л</td>
        </tr>
        <tr>
            <td>Гидравлический бак</td>
            <td colspan="2">757.1 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">1022.1 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Кран</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальная грузоподъемность</td>
            <td colspan="2">6350.3 кг</td>
        </tr>
        <tr>
            <td>Максимальная грузоподъемность – стрела вытянута/максимальный вылет</td>
            <td colspan="2">1179.3 кг</td>
        </tr>
        <tr>
            <td>Вращение</td>
            <td colspan="2">360 градусов</td>
        </tr>
        <tr>
            <td>Максимальный вылет</td>
            <td colspan="2">762 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Особенности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Система раскручивания</td>
            <td colspan="2">Vermeer с открытым верхом, принимаемый диаметр 25,4 см</td>
        </tr>
        <tr>
            <td>Световые индикаторы бурения</td>
            <td colspan="2">Стандартный</td>
        </tr>
        <tr>
            <td>Индикатор расхода</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Система выносных опор</td>
            <td colspan="2">Монтаж на подушку</td>
        </tr>
        <tr>
            <td>Кабина</td>
            <td colspan="2">Стандартный</td>
        </tr>
    </tbody>
</table>