<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина (минимальная транспортная)</td>
            <td colspan="2">723.9 см</td>
        </tr>
        <tr>
            <td>Ширина (минимальная транспортная)</td>
            <td colspan="2">228.6 см</td>
        </tr>
        <tr>
            <td>Ширина (с кабиной, минимальная транспортная)</td>
            <td colspan="2">228.6 см</td>
        </tr>
        <tr>
            <td>Высота (минимальная транспортная)</td>
            <td colspan="2">228.6 см</td>
        </tr>
        <tr>
            <td>Высота (с кабиной)</td>
            <td colspan="2">254 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">13108.8 кг</td>
        </tr>
        <tr>
            <td>Вес (вариант с кабиной)</td>
            <td colspan="2">13290.3 кг</td>
        </tr>
        <tr>
            <td>Угол въезда</td>
            <td colspan="2">19 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Двигатель</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">John Deere PowerTech 4045HF275</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельный</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">140 л.с</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">С турбонаддувом</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">28.6 л/час</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол (продольный/поперечный)*</td>
            <td colspan="2">30</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол (влево/вправо)*</td>
            <td colspan="2">30</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Производительность</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Продавливание</td>
            <td colspan="2">169 кН</td>
        </tr>
        <tr>
            <td>Обратная протяжка</td>
            <td colspan="2">169 кН</td>
        </tr>
        <tr>
            <td>Максимальная скорость каретки на максимальных оборотах двигателя</td>
            <td colspan="2">35.4 м/мин</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в нижнем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">7457 Нм</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в среднем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">6101.2 Нм</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в верхнем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">4067.5 Нм</td>
        </tr>
        <tr>
            <td>Максимальная частота вращения шпинделя на максимальных оборотах двигателя</td>
            <td colspan="2">210 об/мин</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода на максимальных оборотах двигателя</td>
            <td colspan="2">3.4 км/ч</td>
        </tr>
        <tr>
            <td>Автоматический погрузчик штанг</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Угол бурового лафета буровой установки</td>
            <td colspan="2">17.5 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Объемы жидкостей</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">170.3 л</td>
        </tr>
        <tr>
            <td>Гидравлический бак</td>
            <td colspan="2">170.3 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">208.2 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант системы подачи бурового раствора</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальный поток</td>
            <td colspan="2">189.3 л/мин</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">89.6 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Второй вариант системы подачи бурового раствора</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальный поток</td>
            <td colspan="2">265 л/мин</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">75.8 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Особенности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Световые индикаторы бурения</td>
            <td colspan="2">Стандартные</td>
        </tr>
        <tr>
            <td>Индикатор расхода</td>
            <td colspan="2">Стандартные</td>
        </tr>
        <tr>
            <td>Система выносных опор</td>
            <td colspan="2">Агрессивная (дополнительно)</td>
        </tr>
        <tr>
            <td>Кабина</td>
            <td colspan="2">Поставляемый по отдельному заказу</td>
        </tr>
        <tr>
            <td>Аварийная сигнализация</td>
            <td colspan="2">Стандартные</td>
        </tr>
        <tr>
            <td>Дистанционная блокировка</td>
            <td colspan="2">Стандартные</td>
        </tr>
        <tr>
            <td>Присутствие оператора</td>
            <td colspan="2">Стандартные</td>
        </tr>
    </tbody>
</table>