<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина (минимальная транспортная)</td>
            <td colspan="2">899.2 см</td>
        </tr>
        <tr>
            <td>Ширина (минимальная транспортная)</td>
            <td colspan="2">228.6 см</td>
        </tr>
        <tr>
            <td>Высота (минимальная транспортная)</td>
            <td colspan="2">264.2 см</td>
        </tr>
        <tr>
            <td>Высота (с кабиной)</td>
            <td colspan="2">264.2 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">17690.1 кг</td>
        </tr>
        <tr>
            <td>Угол въезда</td>
            <td colspan="2">18 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Двигатель</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Cat</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное топливо с ультранизким содержанием серы</td>
        </tr>
        <tr>
            <td>Макс. обороты двигателя</td>
            <td colspan="2">2200 об/мин</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">202 л.с</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">С турбонаддувом</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Производительность</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Продавливание</td>
            <td colspan="2">266.9 кН</td>
        </tr>
        <tr>
            <td>Обратная протяжка</td>
            <td colspan="2">266.9 кН</td>
        </tr>
        <tr>
            <td>Максимальная скорость каретки на максимальных оборотах двигателя</td>
            <td colspan="2">53.3 м/мин</td>
        </tr>
        <tr>
            <td>Максимальная скорость каретки в нижнем диапазоне скоростей на максимальных оборотах двигателя</td>
            <td colspan="2">16.8 м/мин</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в нижнем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">12541.3 Нм</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в среднем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">9233.1 Нм</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в верхнем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">5138.6 Нм</td>
        </tr>
        <tr>
            <td>Максимальная частота вращения шпинделя на максимальных оборотах двигателя</td>
            <td colspan="2">200 об/мин</td>
        </tr>
        <tr>
            <td>Минимальный диаметр скважины</td>
            <td colspan="2">15.2 см</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода на максимальных оборотах двигателя</td>
            <td colspan="2">6 км/ч</td>
        </tr>
        <tr>
            <td>Автоматический погрузчик штанг</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Уровень звукового давления возле ушей оператора</td>
            <td colspan="2">83 дБ(A)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Объемы жидкостей</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">340.7 л</td>
        </tr>
        <tr>
            <td>Гидравлический бак</td>
            <td colspan="2">283.9 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">378.5 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант системы подачи бурового раствора</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальный поток</td>
            <td colspan="2">567.8 л/мин</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">62.1 бар</td>
        </tr>
        <tr>
            <td>Фирменная марка</td>
            <td colspan="2">Kerr</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Особенности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Система раскручивания</td>
            <td colspan="2">Открытый сверху зажим</td>
        </tr>
        <tr>
            <td>Световые индикаторы бурения</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Индикатор расхода</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Система выносных опор</td>
            <td colspan="2">Два варианта</td>
        </tr>
        <tr>
            <td>Кабина</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Аварийная сигнализация</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Дистанционная блокировка</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Присутствие оператора</td>
            <td colspan="2">Стандартная</td>
        </tr>
    </tbody>
</table>