<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина (минимальная транспортная)</td>
            <td colspan="2">292.1 см</td>
        </tr>
        <tr>
            <td>Ширина (минимальная транспортная)</td>
            <td colspan="2">91.4 см</td>
        </tr>
        <tr>
            <td>Высота (минимальная транспортная)</td>
            <td colspan="2">127 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">1469.6 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Двигатель</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Kubota D1105-E</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное</td>
        </tr>
        <tr>
            <td>Макс. обороты двигателя</td>
            <td colspan="2">3000 об/мин</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">25 л.с</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">Естественное</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">5.9 л/час</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Производительность</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Продавливание</td>
            <td colspan="2">24.5 кН</td>
        </tr>
        <tr>
            <td>Обратная протяжка</td>
            <td colspan="2">24.5 кН</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в нижнем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">745.7 Нм</td>
        </tr>
        <tr>
            <td>Максимальная частота вращения шпинделя на максимальных оборотах двигателя</td>
            <td colspan="2">180 об/мин</td>
        </tr>
        <tr>
            <td>Минимальный диаметр скважины</td>
            <td colspan="2">5.7 см</td>
        </tr>
        <tr>
            <td>Уровень звукового давления возле ушей оператора</td>
            <td colspan="2">87 дБ(а)</td>
        </tr>
        <tr>
            <td>Угол бурового лафета буровой установки</td>
            <td colspan="2">10 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Объемы жидкостей</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Топливный бак</td>
            <td colspan="2">22.7 л</td>
        </tr>
        <tr>
            <td>Гидравлический бак</td>
            <td colspan="2">49.2 л</td>
        </tr>
        <tr>
            <td>Гидравлическая система</td>
            <td colspan="2">64.4 л</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант системы подачи бурового раствора</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Максимальный поток</td>
            <td colspan="2">18.9 л/мин</td>
        </tr>
        <tr>
            <td>Максимальное давление</td>
            <td colspan="2">34.5 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Особенности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Система раскручивания</td>
            <td colspan="2">Да, гидравлический</td>
        </tr>
        <tr>
            <td>Световые индикаторы бурения</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Система выносных опор</td>
            <td colspan="2">Да, стационарный</td>
        </tr>
        <tr>
            <td>Кабина</td>
            <td colspan="2">Нет</td>
        </tr>
    </tbody>
</table>