<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Буровой лафет</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина (минимальная транспортная)</td>
            <td colspan="2">1540 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">260 см</td>
        </tr>
        <tr>
            <td>Высота (минимальная транспортная)</td>
            <td colspan="2">350 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">45812.8 кг</td>
        </tr>
        <tr>
            <td>Подвеска</td>
            <td colspan="2">Строенные мосты с пневматической подвеской</td>
        </tr>
        <tr>
            <td>Длина передней анкерной плиты</td>
            <td colspan="2">610 см</td>
        </tr>
        <tr>
            <td>Ширина передней анкерной плиты</td>
            <td colspan="2">180 см</td>
        </tr>
        <tr>
            <td>Высота передней анкерной плиты</td>
            <td colspan="2">61 см</td>
        </tr>
        <tr>
            <td>Длина передней анкерной платформы</td>
            <td colspan="2">290 см</td>
        </tr>
        <tr>
            <td>Ширина передней анкерной платформы</td>
            <td colspan="2">150 см</td>
        </tr>
        <tr>
            <td>Высота анкера передней платформы</td>
            <td colspan="2">20.3 см</td>
        </tr>
        <tr>
            <td>Длина задней анкерной плиты</td>
            <td colspan="2">490 см</td>
        </tr>
        <tr>
            <td>Ширина задней анкерной плиты</td>
            <td colspan="2">2.4 m</td>
        </tr>
        <tr>
            <td>Высота задней анкерной плиты</td>
            <td colspan="2">20.3 см</td>
        </tr>
        <tr>
            <td>Количество задних опор</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Угол бурового лафета буровой установки</td>
            <td colspan="2">От 8 градусов до 12 градусов</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Кабина бурильщика</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">310 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">260 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">270 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">2721.6 кг</td>
        </tr>
        <tr>
            <td>Обогрев и кондиционирование воздуха</td>
            <td colspan="2">Встроенное в стенку комбинированное устройство</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Силовой агрегат</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">680 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">240 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">310 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">17236.5 кг</td>
        </tr>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">CAT C-27</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">1892.7 л</td>
        </tr>
        <tr>
            <td>Емкость гидравлического бака</td>
            <td colspan="2">2725.5 л</td>
        </tr>
        <tr>
            <td>Макс. обороты двигателя</td>
            <td colspan="2">2000 об/мин</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">800 л.с</td>
        </tr>
        <tr>
            <td>Семейство с сертификатами EPA</td>
            <td colspan="2">Tier 2 (EU Stage II) (стандарт ЕС эмиссии для двигателей)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Силовой агрегат - второй вариант</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">980 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">240 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">310 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">25972.7 кг</td>
        </tr>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">CAT C-18</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">3785.4 л</td>
        </tr>
        <tr>
            <td>Емкость гидравлического бака</td>
            <td colspan="2">2725.5 л</td>
        </tr>
        <tr>
            <td>Макс. обороты двигателя</td>
            <td colspan="2">2000 об/мин</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">1200 л.с</td>
        </tr>
        <tr>
            <td>Семейство с сертификатами EPA</td>
            <td colspan="2">Tier 3 (EU Stage II) (стандарт ЕС эмиссии для двигателей)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Силовой агрегат - третий вариант</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина</td>
            <td colspan="2">980 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">240 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">310 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">25972.7 кг</td>
        </tr>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">CAT C-27</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">3785.4 л</td>
        </tr>
        <tr>
            <td>Емкость гидравлического бака</td>
            <td colspan="2">2725.5 л</td>
        </tr>
        <tr>
            <td>Макс. обороты двигателя</td>
            <td colspan="2">2000 об/мин</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">1600 л.с</td>
        </tr>
        <tr>
            <td>Семейство с сертификатами EPA</td>
            <td colspan="2">Tier 2 (EU Stage II) (стандарт ЕС эмиссии для двигателей)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Производительность</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Продавливание</td>
            <td colspan="2">3416.2 кН</td>
        </tr>
        <tr>
            <td>Обратная протяжка</td>
            <td colspan="2">3416.2 кН</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент шпинделя</td>
            <td colspan="2">134768.5 Нм</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент на шпинделе (в нижнем диапазоне скоростей на максимальных оборотах двигателя)</td>
            <td colspan="2">134768.5 Нм</td>
        </tr>
        <tr>
            <td>Максимальная частота вращения шпинделя на максимальных оборотах двигателя (с PS800)</td>
            <td colspan="2">36 об/мин</td>
        </tr>
        <tr>
            <td>Максимальная частота вращения шпинделя на максимальных оборотах двигателя (с PS1200/PS1600)</td>
            <td colspan="2">54 об/мин</td>
        </tr>
        <tr>
            <td>Максимальная скорость каретки на максимальных оборотах двигателя</td>
            <td colspan="2">29 м/мин</td>
        </tr>
        <tr>
            <td>Количество вращающих двигателей</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Количество тяговых двигателей</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Вертлюг для бурения с промывкой буровым раствором</td>
            <td colspan="2">7.6 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Нижний зажим для развинчивания</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Усилие отрыва</td>
            <td colspan="2">343022.5 Нм</td>
        </tr>
        <tr>
            <td>Конфигурация</td>
            <td colspan="2">3-кулачковый зажим, 20,3 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">1723.7 кг</td>
        </tr>
        <tr>
            <td>Ход</td>
            <td colspan="2">180 см</td>
        </tr>
        <tr>
            <td>Внутренний диаметр</td>
            <td colspan="2">24.9 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Верхний зажим для развинчивания</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Усилие зажима</td>
            <td colspan="2">338955 Нм</td>
        </tr>
        <tr>
            <td>Конфигурация</td>
            <td colspan="2">2-кулачковый зажим</td>
        </tr>
        <tr>
            <td>Внутренний диаметр</td>
            <td colspan="2">25.4 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Безопасность</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Дистанционная блокировка</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Аварийная сигнализация</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>