.advantages
    background: url("../img/advantages__bg.jpg") no-repeat center top
    height: 167px
    overflow: hidden
    .list
        margin: 0
        padding: 43px 0 0 0
        list-style: none
        display: flex
        align-items: center
        justify-content: space-between
        li
            position: relative
            flex: 0 0 20%
            .counter
                background-color: $yellow
                width: 14px
                height: 14px
                position: absolute
                top: 3px
                left: -3px
                border-radius: 50%
                display: flex
                align-items: center
                justify-content: center
                font-size: 10px
            .title
                color: $white
                font-weight: 800
                font-style: italic
                text-transform: uppercase
                font-size: 26.35px
                display: block
            div
                display: flex
                align-items: center
                margin-top: 5px
                p
                    color: $white
                    margin: 0
                img
                    display: block
                    width: 34px
                    height: 34px
                    object-fit: contain
                    filter: invert(100%)
                    margin-right: 10px
            &:after
                content: ''
                width: 3px
                height: 174px
                background-color: $white
                display: block
                position: absolute
                transform: rotate(-15deg)
                top: -47px
                right: -30px
            &:last-child
                &:after
                    display: none