.consult
    padding: 42px 0
    .block
        border: none
        padding: 0
        .form
            .input, .custom-select
                background: none
                border-color: #4b4b4b
                color: #4b4b4b
                +placeholder
                    color: #4b4b4b
                &_name, &_city, &_phone, &_company, &_mail, &_job, &_date, &_time, &_address
                    &:before
                        filter: invert(25%) sepia(16%) saturate(0%) hue-rotate(141deg) brightness(100%) contrast(87%)
            .button
                margin-top: 15px
            .note
                color: $black
                text-align: center
                max-width: 340px
                font-size: 11px
                margin: 15px auto 0
    &_bg
        background: url("../img/consult__bg.jpg") no-repeat center top
    &_communications, &_quarry, &_forest
        height: 623px
        .block
            &-heading, &-desc
                text-align: right
            &-heading
                font-size: 27px
            &-desc
                margin-bottom: 45px
    &_communications
        background: url("../img/consult__commun.jpg?v=3") no-repeat center top -5px
    &_quarry
        background: url("../img/consult__quarry.jpg") no-repeat center top -5px
        &_ic
            background: url("../img/consult__quarry_ic.jpg") no-repeat center center, #f4f4f4
            padding-right: 900px
            margin-right: -900px
            .block
                &-heading, &-desc
                    text-align: left
    &_forest
        background: url("../img/consult__forest.jpg") no-repeat center top -5px
        &_2
            background: url("../img/consult__forest_2.jpg?v=2") no-repeat center top
            .block
                &-heading, &-desc
                    text-align: right
                &-heading
                    font-size: 19.08px
                    margin-left: -150px