.features
    background-color: #f4f4f4
    padding-bottom: 30px
    .list
        margin: 50px auto 20px
        padding: 0
        list-style: none
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        counter-reset: features
        li
            display: flex
            align-items: center
            justify-content: center
            position: relative
            flex: 0 0 33%
            padding: 14px 22px
            background-color: $white
            min-height: 144px
            margin-bottom: 6px
            border-radius: 30px 0 30px 30px
            p
                margin: 0
            &:before
                content: ''
                background: url('../img/features__list.png') no-repeat center center / contain
                width: 45px
                height: 45px
                display: block
                position: absolute
                right: -22px
                top: -22px
                z-index: 1
            &:after
                counter-increment: features
                content: counter(features, decimal-leading-zero)
                background-color: $green
                display: flex
                align-items: center
                justify-content: center
                font-weight: 700
                line-height: 1
                border-radius: 12px 12px 12px 0
                color: $white
                width: 42px
                height: 25px
                position: absolute
                top: -23px
                right: -41px
                z-index: 2
    .feature
        display: flex
        margin: 0 -15px 13px
        padding: 35px
        background-color: $white
        border-radius: 10px
        .image
            flex: 0 0 251px
            min-height: 251px
            background-color: #c0c0c0
            border-radius: 15px
            position: relative
            margin-right: 53px
            img
                display: block
                width: 100%
                height: 100%
                object-fit: cover
                border-radius: 15px
            &:before
                content: ''
                display: block
                height: 62px
                width: 62px
                background-color: $white
                position: absolute
                right: -31px
                top: 50%
                border-radius: 50%
                transform: translateY(-50%)
            &:after
                content: ''
                display: block
                width: 36px
                height: 36px
                background-color: $green
                border-radius: 50%
                position: absolute
                right: -18px
                top: 50%
                transform: translateY(-50%)
        .content
            .title
                display: block
                margin-bottom: 20px
                font-size: 15px