.guarantee
    height: 600px
    padding-top: 110px
    overflow: hidden
    .block
        &-heading
            text-transform: uppercase
            text-align: left
            font-size: 39px
            font-weight: 800
            font-style: italic
            background: url('../img/guarantee__bg.jpg') no-repeat left -900px center, $black
            -webkit-text-fill-color: transparent
            -webkit-background-clip: text
        &-desc
            text-align: left
    img
        display: block
        margin-top: -110px
        pointer-events: none
    &_quarry
        background-color: #f4f4f4
        img
            margin-top: -80px
            margin-left: -70px