.income
    padding: 26px 0 48px
    .list
        list-style: none
        margin: 0
        padding: 0
        display: flex
    .block
        .title
            display: block
            font-size: 18.88px
            text-align: center
            margin-bottom: 25px
        &_left
            max-width: 390px
            margin: 85px auto 0
            .list
                flex-wrap: wrap
                li
                    display: flex
                    flex-direction: column
                    align-items: center
                    flex: 0 0 48%
                    border: 2px solid $gray-500
                    border-radius: 5px
                    margin-right: 10px
                    margin-bottom: 10px
                    padding: 24px
                    height: 200px
                    .image
                        display: flex
                        background-color: #f4f4f4
                        border-radius: 50%
                        width: 76px
                        height: 76px
                        flex: 0 0 76px
                        justify-content: center
                        align-items: center
                        margin-bottom: 15px
                        img
                            display: block
                            align-self: center
                            width: 38px
                            height: 38px
                            flex: 0 0 38px
                            object-fit: contain
                            filter: invert(32%) sepia(18%) saturate(2984%) hue-rotate(111deg) brightness(96%) contrast(101%)
                    p
                        margin: 0
                        text-align: center
                        width: 100%
                        white-space: pre-wrap
                    &:nth-child(2n)
                        margin-right: 0
        &_right
            margin: 0 auto
            padding: 20px 40px
            background: url('../img/income__bg.jpg') no-repeat center center / cover
            border-radius: 5px
            .list
                flex-direction: column
                li
                    display: flex
                    align-items: center
                    height: 88px
                    margin-bottom: 4px
                    border-radius: 5px
                    background-color: $white
                    box-shadow: 0px 1px 65px 0px rgba(35, 31, 32, 0.22)
                    .image
                        display: flex
                        width: 100px
                        height: 88px
                        flex: 0 0 100px
                        justify-content: center
                        align-items: center
                        border-radius: 5px 0 0 5px
                        margin-right: 22px
                        background-color: $green
                        img
                            display: block
                            align-self: center
                            width: 40px
                            height: 40px
                            object-fit: contain
                            filter: invert(100%)
                    .content
                        padding: 17px
                        margin-left: -17px
                        b
                            font-size: 16px
                            display: block
                        p
                            margin: 0