.jumbotron
    margin-top: 86px
    padding-top: 168px
    height: 691px
    .block
        &-desc
            font-weight: 700
    &_communications
        background: url("../img/index__jumbotron-bg_2.jpg") no-repeat center top, url("../img/index__jumbotron-bg.jpg") no-repeat left top
        padding-right: 900px
        margin-right: -900px
        .block
            &-heading
                text-align: left
                font-size: 37.2px
                font-weight: 800
                margin: 0
            &-desc
                text-align: left
                font-size: 14.07px
                margin: 10px 0 0 0
    &_forest
        background: url("../img/forest__jumbotron-bg.webp?v=2") no-repeat center top, url("../img/index__jumbotron-bg.jpg") no-repeat left top
        padding-right: 890px
        margin-right: -890px
        padding-top: 140px
        .block
            &-heading
                text-align: left
                font-size: 37.2px
                font-weight: 800
                margin: 0
                max-width: 540px
            &-desc
                text-align: left
                font-size: 14.07px
                margin: 10px 0 0 0
                max-width: 460px
    &_quarry
        background: url("../img/quarry__jumbotron-bg.webp?v=2") no-repeat center top, url("../img/index__jumbotron-bg.jpg") no-repeat left top
        padding-right: 900px
        margin-right: -900px
        .block
            display: flex
            align-items: center
            margin: 40px 0 0 -90px
            .image
                display: flex
                align-items: center
                justify-content: center
                width: 112px
                height: 112px
                flex: 0 0 112px
                background-color: #f2f2f2
                border-radius: 50%
                margin-right: 22px
                .inner
                    display: flex
                    align-items: center
                    justify-content: center
                    width: 64px
                    height: 64px
                    flex: 0 0 64px
                    background-color: #f4f4f4
                    border-radius: 50%
                    box-shadow: 0px 1px 32px 0px rgba(35, 31, 32, 0.17)
                    img
                        display: block
                        width: 28px
                        height: 28px
                        flex: 0 0 28px
                        align-self: center
                        opacity: 0.3
            p
                margin: 0
                font-size: 14.72px
                text-shadow: 0px 0px 40px rgba(255,255,255,1), 0px 0px 40px rgba(255,255,255,1), 0px 0px 40px rgba(255,255,255,1)
                font-weight: 700
            &-heading
                text-align: left
                font-size: 37.2px
                font-weight: 800
                margin: 0
                max-width: 440px
            &-desc
                text-align: left
                font-size: 14.07px
                margin: 10px 0 0 0
                max-width: 460px
html.no-webp
    .jumbotron
        &_forest
            background: url("../img/forest__jumbotron-bg.png?v=2") no-repeat center top, url("../img/index__jumbotron-bg.jpg") no-repeat left top
        &_communications
            background: url("../img/index__jumbotron-bg_2.jpg") no-repeat center top, url("../img/index__jumbotron-bg.jpg") no-repeat left top
        &_quarry
            background: url("../img/quarry__jumbotron-bg.png?v=2") no-repeat center top, url("../img/index__jumbotron-bg.jpg") no-repeat left top