.machine
    background-color: #f4f4f4
    padding: 38px 0 42px
    border-bottom: 2px solid $gray-400
    &-preview
        display: block
        margin-bottom: 5px
    .heading
        display: flex
        flex-direction: column
        margin-left: -70px
        .block
            &-heading
                text-align: left
                font-size: 44px
                display: flex
                min-height: 80px
                align-items: center
            &-desc
                margin: 0
                text-align: left
        div
            display: flex
            align-items: center
            .button
                flex: 0 0 300px
                margin-left: 40px
        .description
            margin: 40px auto 0
    .video
        position: relative
        max-width: 416px
        margin-bottom: 56px
        .embed-responsive
            clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%)
        p
            background-color: $green
            color: $white
            margin: 0
            position: absolute
            bottom: -18px
            left: 70px
            font-size: 16px
            font-weight: 800
            font-style: italic
            text-transform: uppercase
            padding: 12px 20px
            height: 40px
            display: flex
            align-items: center
            &:before
                content: ''
                width: 0
                height: 0
                border-style: solid
                border-width: 0 8px 40px 0
                border-color: transparent $green transparent transparent
                position: absolute
                left: -8px
                top: 0
            &:after
                content: ''
                width: 0
                height: 0
                border-style: solid
                border-width: 40px 0 0 8px
                border-color: transparent transparent transparent $green
                position: absolute
                right: -8px
                top: 0
    .list
        list-style: none
        margin: 0
        padding: 0
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        li
            display: flex
            flex: 0 0 33%
            border: 1px solid $gray-500
            border-radius: 10px
            margin-bottom: 12px
            .left
                margin: -1px 26px 0 34px
                .image
                    width: 80px
                    height: 72px
                    display: flex
                    align-items: center
                    justify-content: center
                    background-color: $green
                    border-radius: 0 0 5px 5px
                    margin-bottom: 20px
                    img
                        display: block
                        width: 42px
                        height: 42px
                        object-fit: contain
                        filter: invert(100%)
                .counter
                    width: 30px
                    height: 30px
                    display: flex
                    align-items: center
                    justify-content: center
                    background-color: #e0e0e0
                    border-radius: 50%
                    font-weight: 400
                    margin: 0 auto
            .right
                padding: 20px 25px
                margin-left: -25px
                p
                    margin: 0
    .note
        background-color: $green
        border-radius: 10px
        padding: 20px 30px
        p
            color: $white
            margin: 0
            font-weight: 700
            white-space: pre-wrap
        &_imaged
            display: flex
            border: 1px solid $gray-500
            border-radius: 10px
            margin-bottom: 12px
            background: none
            padding: 0
            .image
                width: 80px
                height: 72px
                flex: 0 0 80px
                display: flex
                align-items: center
                justify-content: center
                background-color: $green
                border-radius: 0 0 5px 5px
                margin: -1px 26px 0 34px
                img
                    display: block
                    width: 42px
                    height: 42px
                    object-fit: contain
                    filter: invert(100%)
            p
                padding: 20px 25px
                margin: 0 0 0 -25px
                font-weight: 400
                color: $black