.methods
    background: url('../img/methods__bg.jpg') no-repeat center bottom, #f4f4f4
    padding-bottom: 60px
    .block
        &-heading
            font-size: 27px
            max-width: 840px
            margin: 0 auto 10px
        &-desc
            max-width: 670px
            margin: 0 auto 40px
    .method
        margin-top: 70px
        .title
            display: flex
            align-items: center
            position: relative
            height: 110px
            img
                display: block
                align-self: center
                margin-top: 12px
                margin-left: -16px
                position: relative
                z-index: 1
            p
                margin: 0
            &:after
                content: ''
                width: 100%
                height: 100%
                border: 1px solid #cacaca
                position: absolute
                transform: skewX(16deg)
                left: 0
                top: 0
        .list
            list-style: none
            display: flex
            flex-direction: column
            max-width: 230px
            margin: 34px auto 0
            padding: 0
            li
                height: 121px
                .counter
                    position: relative
                    display: flex
                    align-items: center
                    justify-content: center
                    width: 36px
                    height: 36px
                    border-radius: 50%
                    margin: 0 auto 15px
                    background-color: #d6d6d6
                    font-weight: 400
                    line-height: 14px
                    &:after
                        content: ''
                        width: 1px
                        height: 15px
                        background-color: #d6d6d6
                        display: block
                        position: absolute
                        bottom: -15px
                        left: 50%
                        transform: translateX(-50%)
                .arrow
                    width: 13px
                    height: 121px
                    display: block
                    margin: 0 auto
                    background: url("../img/methods/list-arrow.png") no-repeat center center / contain
                p
                    margin: 0
                    text-align: center
        &_old
            .title
                width: 480px
        &_new
            .title
                img
                    margin-left: -46px
                    margin-top: 10px
            .list
                max-width: 290px
                li
                    .counter
                        color: $white
                        background-color: $green
                        &:after
                            background-color: $green
    .videos
        padding-top: 42px
        padding-bottom: 68px
        .video
            position: relative
            margin: 0 -30px
            .embed-responsive
                clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%)
            p
                max-width: 320px
                margin: 25px auto 0 15%
                text-align: center
                font-size: 14.78px
                transform: translate3d(0,0,0)
            b
                background-color: $green
                color: $white
                margin: 0
                position: absolute
                bottom: 18px + 30px
                left: 70px
                font-size: 16px
                font-weight: 800
                font-style: italic
                text-transform: uppercase
                padding: 12px 20px
                height: 40px
                display: flex
                align-items: center
                &:before
                    content: ''
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 8px 40px 0
                    border-color: transparent $green transparent transparent
                    position: absolute
                    left: -8px
                    top: 0
                &:after
                    content: ''
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 40px 0 0 8px
                    border-color: transparent transparent transparent $green
                    position: absolute
                    right: -8px
                    top: 0
    .economy
        margin-top: 44px
        .block
            background: url("../img/economy/img-3.jpg") no-repeat center center / cover
            min-height: 382px
            overflow: hidden
            color: $white
            .title
                display: block
                font-weight: 900
                font-style: italic
                text-transform: uppercase
                font: 72px 'Montserrat', sans-serif
                letter-spacing: -5px
                line-height: 60px
                margin-left: -14px
                margin-top: 20px
            .text
                padding: 65px 54px
                margin: 0
            &-heading
                text-align: left
        .list
            list-style: none
            display: flex
            flex-direction: column
            margin: 0
            padding: 0
            li
                display: flex
                height: 144px
                margin-bottom: 12px
                .image
                    flex: 0 0 144px
                    width: 144px
                    height: 143px
                    margin-right: 23px
                    img
                        display: block
                        width: 100%
                        height: 100%
                .content
                    padding-top: 16px
                    .title
                        font-size: 27.66px
                        margin-bottom: 13px
                    .text
                        margin: 0
    .technologies
        margin-top: 30px
        .block
            &-heading
                max-width: 100%
                margin-bottom: 38px
        .list
            list-style: none
            display: flex
            margin: 0
            padding: 0
            li
                flex: 0 0 33.3333%
                .image
                    display: flex
                    justify-content: center
                    align-items: center
                    clip-path: polygon(0% 100%, 0 9px, 9px 0, calc(100% - 9px) 0, 100% 9px, 100% 100%)
                    img
                        display: block
                        object-fit: cover
                p
                    text-align: center
                    max-width: 90%
                    margin: 23px auto 0
                &:first-child
                    .image
                        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 9px, calc(100% - 9px) 0)
                &:last-child
                    .image
                        clip-path: polygon(0 9px, 0 100%, 100% 100%, 100% 0, 9px 0)