.models
    padding: 30px 0 72px
    margin-bottom: 30px
    .block
        &-heading
            font-size: 27px
            margin-bottom: 50px
        &-desc
            text-align: left
            font-size: 14.72px
    .video
        position: relative
        .embed-responsive
            clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%)
        p
            background-color: $green
            color: $white
            margin: 0
            position: absolute
            bottom: -18px
            left: 70px
            font-size: 16px
            font-weight: 800
            font-style: italic
            text-transform: uppercase
            padding: 12px 20px
            height: 40px
            display: flex
            align-items: center
            &:before
                content: ''
                width: 0
                height: 0
                border-style: solid
                border-width: 0 8px 40px 0
                border-color: transparent $green transparent transparent
                position: absolute
                left: -8px
                top: 0
            &:after
                content: ''
                width: 0
                height: 0
                border-style: solid
                border-width: 40px 0 0 8px
                border-color: transparent transparent transparent $green
                position: absolute
                right: -8px
                top: 0
    .list
        list-style: none
        margin: 60px 0 0 100px
        padding: 0
        position: relative
        display: flex
        justify-content: space-between
        &:after
            content: ''
            width: 1920px
            height: 175px
            background: url("../img/models__wave.png") no-repeat center top
            position: absolute
            top: -50px
            left: calc(50vw - 1333px - 100px)
            mix-blend-mode: multiply
        li
            position: relative
            z-index: 1
            flex: 0 0 20%
            align-items: center
            display: flex
            flex-direction: column
            .image
                width: 76px
                height: 76px
                flex: 0 0 76px
                display: flex
                align-items: center
                justify-content: center
                border-radius: 50%
                background-color: $white
                border: 1px solid $gray-400
                margin-bottom: 20px
                img
                    display: block
                    width: 34px
                    height: 34px
                    object-fit: contain
                    filter: invert(34%) sepia(19%) saturate(2383%) hue-rotate(106deg) brightness(91%) contrast(101%)
            p
                text-align: center
                margin: 0
                width: 100%
                white-space: pre-wrap
    .model
        display: flex
        align-items: stretch
        margin-top: 55px
        .image
            flex: 0 0 430px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 10px
            margin-right: 40px
            img
                display: block
                object-fit: cover
                width: 100%
                height: auto
                border-radius: 10px
                background-color: #969696
        .content
            flex: 1 1 auto
            display: flex
            flex-direction: column
            .title
                display: block
                font-size: 22px
                margin-bottom: 15px
                span
                    color: $green
            .stats
                list-style: none
                margin: 0 0 10px 0
                padding: 0
                display: flex
                align-items: center
                justify-content: space-between
                li
                    flex: 0 0 49.6%
                    border: 2px solid #d6d6d6
                    border-radius: 10px
                    display: flex
                    align-items: center
                    padding: 12px 15px
                    img
                        display: block
                        width: 20px
                        height: 20px
                        flex: 0 0 20px
                        object-fit: contain
                        align-self: center
                        opacity: 0.4
                        margin-right: 15px
                    p
                        margin: 0
            .text
                margin: 0 0 20px
            .list_pre
                display: block
                margin: -15px 0 0
            .list
                list-style: none
                margin: 0 0 10px
                padding: 0
                display: flex
                flex-direction: column
                counter-reset: counter
                &:after
                    display: none
                li
                    flex-direction: row
                    flex: 0 0 auto
                    p
                        text-align: left
                    &:before
                        counter-increment: counter
                        content: counter(counter)
                        background-color: $yellow
                        display: flex
                        width: 38px
                        height: 38px
                        flex: 0 0 38px
                        border-radius: 50%
                        line-height: 1
                        border: 6px solid $white
                        color: $white
                        justify-content: center
                        align-items: center
                        font-weight: 700
                        margin-left: -50px
                        margin-right: 12px
            .buttons
                display: flex
                width: 100%
                justify-content: space-between
                margin-top: auto
                .link
                    display: flex
                    align-items: center
                    color: $black
                    position: relative
                    &:after
                        display: block
                        content: ''
                        width: 24px
                        height: 24px
                        background: url('../img/icons/arrow-right.svg') no-repeat center center / contain
                        position: absolute
                        right: -7px - 24px
                .button
                    margin: 0
    &_dark
        background-color: #eaeaea
    &_quarry
        background-color: #f4f4f4
        margin-bottom: 0
        padding-bottom: 0
        .block
            &-heading
                margin-bottom: 10px
            &-desc
                text-align: center
        .model
            background-color: $white
            padding: 13px
            margin: 17px -13px 0
            border-radius: 10px
            .content
                .title
                    font-style: italic
                    font-weight: 800
    &_forest
        .slider
            display: none
            .slide
                appearance: none
                background: $green
                width: 28px
                height: 28px
                flex: 0 0 28px
                border: none
                padding: 0
                margin: 0
                display: flex
                align-items: center
                justify-content: center
                border-radius: 50%
                cursor: pointer
                &:focus
                    outline: 0
                &-left
                    &:after
                        content: '<'
                        color: $white
                        transform: scaleY(2)
                &-right
                    &:after
                        content: '>'
                        color: $white
                        transform: scaleY(2)
        .nav-tabs
            flex-wrap: nowrap
            align-items: center
            border: none
            .nav-item
                display: flex
                align-items: center
                &:after
                    content: ''
                    width: 1px
                    flex: 0 0 1px
                    height: 20px
                    background-color: $gray-500
                    display: block
                    transform: rotate(-15deg)
                .nav-link
                    text-transform: uppercase
                    border: none
                    color: $black
                    display: flex
                    align-items: center
                    font-weight: 700
                    font-size: 14px
                    text-align: center
                    transform: translate3d(0,0,0)
                    position: relative
                    padding: 0 16px
                    height: 40px
                    &.active, &:hover
                        background: none
                        border: none
                    &.active
                        &:after
                            content: ''
                            width: 66px
                            height: 2px
                            background-color: $green
                            position: absolute
                            bottom: -16px
                            left: 50%
                            transform: translateX(-50%)
                        &:before
                            content: ''
                            width: 0
                            height: 0
                            border-style: solid
                            border-width: 7px 8px 0 8px
                            border-color: $green transparent transparent transparent
                            position: absolute
                            bottom: -23px
                            left: 50%
                            transform: translateX(-50%)
                &:first-child
                    .nav-link
                        text-align: left
                        padding-left: 0
                &:last-child
                    .nav-link
                        padding-right: 0
                    &:after
                        display: none
        .tab-content
            margin-top: 50px
            .paginator
                list-style: none
                margin: 0 0 -20px
                padding: 0
                display: flex
                align-items: center
                justify-content: center
                li
                    display: block
                    a
                        height: 36px
                        padding: 11px 15px
                        background-color: #ebebeb
                        color: $black
                        transition: all 0.4s ease
                        &.active
                            background-color: $green
                            color: $white
                            font-weight: 700
                            text-decoration: none
                        &:hover
                            text-decoration: none
                        &:focus
                            outline: none
                    &:first-child
                        a
                            border-radius: 5px 0 0 5px
                    &:last-child
                        a
                            border-radius: 0 5px 5px 0