.warehouse
    background: url('../img/warehouse__bg-2.png') no-repeat center 130px
    padding: 40px 0
    .list
        margin: 120px 0 0
        padding: 0
        display: flex
        align-items: flex-start
        list-style: none
        li
            flex: 0 0 20%
            display: flex
            flex-direction: column
            align-items: center
            position: relative
            .counter
                display: flex
                align-items: center
                justify-content: center
                background-color: $green
                border-radius: 50%
                width: 16px
                height: 16px
                flex: 0 0 16px
                line-height: 1
                font-size: 17px
                margin-bottom: -20px
                position: absolute
                bottom: 40px
                right: 0
                z-index: 1
            .image-wrap
                width: 132px
                height: 132px
                flex: 0 0 132px
                display: flex
                align-items: center
                justify-content: center
                border-radius: 50%
                background-color: $white
                .inner
                    background-color: $white
                    border-radius: 50%
                    width: 103px
                    height: 103px
                    flex: 0 0 103px
                    box-shadow: 0px 1px 27px 0px rgba(31, 25, 26, 0.2)
                    display: flex
                    justify-content: center
                    align-items: center
                    img
                        display: block
                        align-self: center
                        width: 34px
                        transform: rotate(45deg)
                        opacity: 0.35
            p
                margin: 15px 0 0
                font-size: 14px
                max-width: 90px
                text-align: center
            &:nth-child(2)
                .counter
                    bottom: 170px
                    right: -20px
            &:nth-child(3)
                .counter
                    bottom: 5px
                    right: -20px
                .image-wrap
                    .inner
                        img
                            transform: none
                p
                    max-width: 180px
            &:nth-child(4)
                .counter
                    bottom: 160px
                    right: -30px
                p
                    max-width: 150px
            &:nth-child(5)
                p
                    max-width: 120px
            &:nth-child(2n)
                margin-top: 130px
    .note
        display: flex
        align-items: center
        max-width: 760px
        margin: 46px auto 0
        border-radius: 10px
        border: 2px solid $gray-300
        .left
            background-color: $green
            display: flex
            align-items: center
            justify-content: center
            width: 95px
            height: 95px
            flex: 0 0 95px
            border-radius: 5px
            margin: -2px
            img
                display: block
                filter: invert(100%)
                width: 42px
                height: 42px
        .right
            display: flex
            align-items: center
            justify-content: center
            padding: 0 30px
            p
                font-size: 17px
                margin: 0