@import "fonts"

html, body
    height: 100%
body
    display: flex
    flex-direction: column
    font: 14px 'Open Sans', sans-serif;
.wrapper
    flex: 1 0 auto
    overflow-x: hidden
    width: 100%
    max-width: 100%
.footer
    flex-shrink: 0

@import "magnific-popup"

@import "header"
@import "content"
@import "main-blocks/advantages"
@import "main-blocks/models"
@import "main-blocks/jumbotrons"
@import "main-blocks/consult"
@import "main-blocks/guarantee"
@import "main-blocks/features"
@import "main-blocks/methods"
@import "main-blocks/income"
@import "main-blocks/machine"
@import "main-blocks/showroom"
@import "main-blocks/delivery"
@import "main-blocks/warehouse"
@import "footer"

@import "media"