.footer
    padding: 40px 0
    background-color: #1f191a
    color: $white
    &-logo
        display: block
        max-width: 200px
        width: 100%
        margin: 0 auto 15px
    &-info
        font-size: 15px
    &-link
        display: flex
        align-items: center
        color: $white
        transition: all 0.3s ease
        font-size: 15px
        margin-bottom: 10px
        max-width: 155px
        margin-left: auto
        img
            display: block
            width: 20px
            margin-right: 14px
            filter: invert(34%) sepia(19%) saturate(2383%) hue-rotate(106deg) brightness(91%) contrast(101%)
        &:hover
            text-decoration: none
            color: $yellow
    &-creator
        display: flex
        align-items: center
        margin-top: -30px
        p
            margin: 0
            font-size: 15px
            width: 115px
            text-align: left
    &-list
        display: flex
        flex-direction: column
        flex-wrap: wrap
        max-height: 110px
        list-style: none
        align-items: center
        margin: 0
        padding: 0
        li
            margin-bottom: 10px
            a
                color: $white
                font-size: 15px
                &:hover
                    color: $white
            &:nth-child(4n)
                margin-bottom: 0