.button
    appearance: none
    display: flex
    align-items: center
    justify-content: center
    border: none
    border-radius: 5px
    background-color: $green
    color: $white
    height: 43px
    text-align: center
    line-height: 1
    transition: all 0.3s ease
    cursor: pointer
    font-weight: 700
    text-transform: uppercase
    position: relative
    padding: 0 15px
    margin: 0 auto
    &:after
        content: ''
        background: darken($green, 5%)
        width: 100%
        height: 22px
        position: absolute
        bottom: 0
        left: 0
        border-radius: 50% 50% 5px 5px
        transition: background 0.3s ease
    p
        position: relative
        z-index: 1
        font-size: 13.21px !important
        margin: 0
        letter-spacing: 0.2px
    &:hover
        text-decoration: none
        background-color: darken($green, 5%)
        color: $white
        p
            color: $white
        &:after
            background: darken($green, 10%)
    &:focus
        outline: 0
.header
    height: 86px
    overflow: visible
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15)
    position: fixed
    width: 100%
    top: 0
    background-color: $white
    z-index: 3
    .backplane
        background-image: linear-gradient(to right bottom, #ffd56c, #fdca59, #fbbe47, #f9b233, #f8a61c)
        height: 86px
        width: calc(((100vw - 1200px) / 2) + 200px)
        //clip-path: polygon(0% 0%, 0% 100%, calc(100% - 50px) 100%, 100% 0%)
        transform: skewX(-30deg)
        position: absolute
        left: -30px
        top: 0
    .navbar-brand
        padding: 0
        margin: 0 25px 0 0
        img
            width: 144px
    &__navbar
        padding: 25px 0 0
        &-collapse
            align-items: center
            .navbar-nav
                width: 100%
                .nav-item
                    display: flex
                    align-items: center
                    flex: 0 0 33.3%
                    &:after
                        content: ''
                        width: 1px
                        height: 15px
                        background-color: $gray-500
                        display: block
                        transform: rotate(30deg)
                        margin: 0 10px
                    &:last-child
                        &:after
                            display: none
                    .nav-link
                        color: $black
                        position: relative
                        font-size: 13px
                        padding: 0
                        display: flex
                        font-weight: 700
                        flex: 0 0 auto
                        margin: 0 auto
                        justify-content: center
                        text-align: center
                        align-items: center
                        &:after
                            content: ''
                            position: absolute
                            bottom: -7px
                            left: 50%
                            height: 2px
                            width: 80%
                            background-color: $green
                            transition: all 0.3s ease
                            transform: translateX(-50%) scaleX(0)
                            z-index: 2
                    &.active, &:hover
                        .nav-link
                            color: $black
                            &:after
                                transform: translateX(-50%) scaleX(1)
    .navbar-toggler[aria-expanded=false]
        .navbar-toggler-icon
            background: url("../img/menu__icon.svg") no-repeat center center
            width: 41px
            height: 41px
    .navbar-toggler-icon
        background: url("../img/menu__icon-close.svg") no-repeat center center
        width: 41px
        height: 41px
    .navbar-toggler
        border: none
        margin-top: -4px
        &:focus
            outline: 0
    &__top
        display: flex
        align-items: center
    &__phone
        display: flex
        color: $black
        transition: all 0.3s ease
        font-size: 12px
        font-weight: 800
        align-items: center
        height: 31px
        border-radius: 10px
        border: 1px solid $gray-400
        margin-right: 8px
        padding-right: 15px
        flex: 0 0 160px
        width: 160px
        div
            display: flex
            align-items: center
            justify-content: center
            border-radius: 10px
            background-color: $gray-400
            width: 31px
            height: 31px
            flex: 0 0 31px
            margin-right: 12px
            img
                display: block
                width: 16px
                filter: invert(100%)
        &:hover
            text-decoration: none
            color: $green
    &__button
        @extend .button
        flex: 0 0 212px
        width: 212px
        height: 31px
        border-radius: 10px
        p
            font-weight: 800
            font-size: 10.65px !important
        &:after
            display: none