@media (min-width: 1200px)
    .container
        max-width: 1200px
    .models
        .nav-tabs
            .nav-item
                &:last-child
                    .nav-link
                        &:after
                            transform: translateX(-36%)
                        &:before
                            transform: none
@media (min-width: 992px) and (max-width: 1199px)
    .header
        .backplane
            width: calc(((100vw - 960px) / 2) + 200px)
        .navbar-brand
            margin: 0 15px 0 0
        .navbar-nav
            .nav-item
                flex: 0 0 auto
                .nav-link
                    text-align: center
        &__phone
            padding-right: 10px
            width: 147px
            flex: 0 0 147px
        &__button
            width: 120px
            flex: 0 0 120px
    .jumbotron
        &_communications
            padding-right: 1000px
            margin-right: -1000px
        &_quarry
            .block
                &-heading
                    font-size: 34px
                    max-width: 400px
        &_forest
            padding-top: 80px
            padding-right: 990px
            margin-right: -990px
            .block
                &-heading
                    font-size: 34px
                    max-width: 400px
    .consult
        &_communications
            padding-right: 100px
            margin-right: -100px
        &_forest
            &_2
                padding-left: 50px
                margin-left: -50px
    .advantages
        .list
            li
                height: 98px
    .methods
        .method
            .title
                p
                    font-size: 13px
                    margin-left: -30px
        .technologies
            .list
                li
                    .image
                        img
                            max-width: 100%
    .machine
        .heading
            margin-left: -50px
            .block
                &-heading
                    min-height: 0
            div
                flex-direction: column
                .button
                    flex: 0 0 auto
                    margin: 15px auto
            .description
                margin: 0 auto 15px
    .models
        .list
            margin: 60px 0 0
            &:after
                left: calc(50vw - 1275px)
        .model
            .image
                flex: 0 0 280px
        &_forest
            .nav-tabs
                .nav-item
                    .nav-link
                        padding: 0 8px
                        font-size: 12px
    .guarantee
        &_communications
            img
                width: 782px
                height: 661px
                margin-left: -180px
                margin-top: -100px
        &_quarry
            img
                width: 782px
                height: 661px
                margin-left: -180px
                margin-top: -100px
        &_forest
            padding-top: 50px
            img
                width: 782px
                height: 661px
                margin-left: -180px
                margin-top: 0px
    .warehouse
        .list
            li
                .counter
                    display: none
    .delivery
        .lazy
            display: block
            max-width: 100%
            height: 300px
            object-fit: cover
            object-position: 100%
        .block
            &-heading, &-desc
                margin-left: 0
            &-heading
                font-size: 36px
    .footer
        &-creator
            margin-top: -30px
@media (min-width: 768px) and (max-width: 991px)
    .header
        position: fixed
        top: 0
        z-index: 10
        width: 100%
        background-color: $white
        .backplane
            width: calc(((100vw - 720px) / 2) + 230px)
            z-index: 10
        .navbar-brand
            margin: 0 15px 0 0
            position: relative
            z-index: 11
        .navbar-collapse
            background-color: $white
            padding: 15px
            box-shadow: 0 20px 20px 0 rgba(0,0,0,0.1)
        .navbar-nav
            align-items: center
            .nav-item
                margin-bottom: 10px
                .nav-link
                    text-align: center
                    br
                        display: none
                    &:after
                        width: 100%
                &:after
                    display: none
        &__top
            justify-content: center
            margin-top: 10px
        &__phone
            padding-right: 10px
        &__button
            margin: 0
    .jumbotron
        padding-top: 120px
        height: 500px
        .block
            &-heading
                font-size: 30px
        &_communications
            background-size: 830px, 1600px
            padding-right: 860px
            margin-right: -860px
        &_quarry
            background-size: 600px, 1600px
            padding-right: 700px
            margin-right: -700px
            .block
                margin-left: 0
                max-width: 400px
                &-desc
                    max-width: 360px
        &_forest
            background-size: 700px, 1600px
            padding-right: 700px
            margin-right: -700px
    .consult
        &_communications
            background: none
        &_quarry
            background-position: calc(50vw - 1150px) top
            &_ic
                background-position: calc(50vw - 10px) top
        &_forest
            background-position: calc(50vw - 1020px) top
            &_2
                background-position: calc(50vw - 1120px) top
        &_bg
            background-size: cover
    .advantages
        .list
            li
                height: 120px
                .counter
                    left: -7px
                .title
                    font-size: 20px
                div
                    p
                        font-size: 12px
                &:after
                    width: 1px
                    right: -15px
    .methods
        .videos
            .video
                p
                    margin-bottom: 30px
        .method
            .title
                margin: 0 auto
                width: 100%
            &_new
                .title
                    img
                        width: 363px
                        height: 121px
        .economy
            .block
                margin-bottom: 30px
        .technologies
            .list
                li
                    .image
                        img
                            max-width: 100%
    .features
        .list
            padding-right: 40px
            li
                flex: 0 0 49.5%
    .machine
        &-preview
            width: 114%
            height: 134px
            object-fit: contain
            object-position: 0%
        .heading
            margin-left: 0
            margin-bottom: 30px
            .block
                &-heading
                    min-height: 0
                    font-size: 32px
            div
                flex-direction: column
                .button
                    flex: 0 0 auto
                    margin: 15px auto 0
        .list
            li
                flex: 0 0 49%
    .income
        .block
            &_left
                margin: 30px auto 0
                max-width: 100%
    .models
        .video
            margin-bottom: 55px
            p
                left: 90px
        .list
            margin: 60px 0 0
            &:after
                left: calc(50vw - 648px)
                width: 991px
                top: -25px
                background-size: 1300px
                background-position: left 0px top
        .model
            flex-direction: column
            .image
                flex: 0 0 auto
                margin-right: 0
                margin-bottom: 40px
            .content
                .stats
                    li
                        &:first-child
                            flex: 0 0 330px
                        &:last-child
                            flex: 0 0 350px
                .list
                    li
                        &:before
                            margin-left: -20px
        &_forest
            .nav-tabs
                flex-wrap: wrap
                justify-content: center
                .nav-item
                    .nav-link
                        &.active
                            &:before
                                bottom: -8px
                            &:after
                                bottom: -3px
    .guarantee
        height: auto
        &_communications
            img
                width: 100%
                margin-bottom: -100px
        &_quarry
            img
                width: 100%
                margin-bottom: -100px
        &_forest
            img
                width: 100%
                margin-bottom: -100px
    .delivery
        .lazy
            display: block
            margin: 0 auto
            max-width: 100%
        .block
            &-heading, &-desc
                margin-left: 0
    .warehouse
        background: none
        .list
            li
                .counter
                    display: none
    .footer
        &-creator
            margin-top: -30px
        &-list
            li
                a
                    display: block
                    text-align: center
@media (min-width: 576px) and (max-width: 767px)
    .header
        position: fixed
        top: 0
        z-index: 10
        width: 100%
        background-color: $white
        .backplane
            width: calc(((100vw - 510px) / 2) + 230px)
            z-index: 10
        .navbar-brand
            margin: 0 15px 0 0
            position: relative
            z-index: 11
        .navbar-collapse
            background-color: $white
            padding: 15px
            box-shadow: 0 20px 20px 0 rgba(0,0,0,0.1)
        .navbar-nav
            align-items: center
            .nav-item
                margin-bottom: 10px
                .nav-link
                    text-align: center
                    br
                        display: none
                &:after
                    display: none
        &__top
            justify-content: center
        &__phone
            padding-right: 10px
        &__button
            margin: 0
    .jumbotron
        padding-top: 120px
        height: 500px
        .block
            &-heading
                font-size: 24px
        &_communications
            background-size: 830px, 1600px
            padding-right: 900px
            margin-right: -900px
            .block
                &-heading
                    max-width: 360px
                &-desc
                    max-width: 300px
        &_quarry
            background-size: 500px, 1920px
            background-position: right bottom, center top
            height: 660px
            padding-right: 0px
            margin-right: 0px
            .block
                margin-left: 0
                &-heading
                    max-width: 360px
                &-desc
                    max-width: 300px
        &_forest
            background-size: 500px, 1920px
            background-position: right bottom, center top
            height: 740px
            padding-right: 0px
            margin-right: 0px
            .block
                margin-left: 0
                &-heading
                    max-width: 360px
                &-desc
                    max-width: 300px
    .consult
        &_communications, &_forest, &_quarry
            background: none
            height: auto
        &_quarry_ic
            padding-top: 300px
            background-position: right top
            padding-right: 0
            margin-right: 0
            background-size: 600px
        &_forest_2
            padding-top: 300px
            background-position: left -250px top
            padding-right: 0
            margin-right: 0
            background-size: 1100px
            .block
                &-heading, &-desc
                    margin-left: auto
                    text-align: center
        &_bg
            background-size: cover
    .advantages
        height: auto
        background-size: cover
        padding-bottom: 30px
        .list
            flex-wrap: wrap
            li
                flex: 0 0 49%
                margin-bottom: 15px
                &:after
                    display: none
    .methods
        .videos
            .video
                p
                    margin: 25px auto 40px
        .method
            .title
                margin: 0 auto
                width: 100%
            &_new
                .title
                    img
                        width: 363px
                        height: 121px
        .economy
            .block
                margin-bottom: 30px
        .technologies
            .list
                flex-direction: column
                li
                    margin-bottom: 35px
                    .image
                        img
                            max-width: 100%
    .features
        .list
            flex-direction: column
            li
                flex: 0 0 auto
                margin-bottom: 58px
        .feature
            flex-direction: column
            .image
                width: 100%
                margin: 0 auto 53px
                &:before, &:after
                    top: auto
                    right: 50%
                    transform: translateX(50%)
                &:before
                    bottom: -31px
                &:after
                    bottom: -18px
    .machine
        .block
            &-heading
                font-size: 26px
        &-preview
            max-width: 100%
        .heading
            margin-left: 0
            margin-bottom: 30px
            div
                flex-direction: column
                order: 1
                .button
                    flex: 0 0 auto
                    margin: 0 auto
            .block
                &-heading, &-desc
                    display: none
            .description
                margin: 0 auto 20px
        .list
            flex-direction: column
            li
                flex: 0 0 auto
                width: 100%
    .models
        .video
            margin-bottom: 55px
            p
                left: 90px
        .list
            margin: 0
            flex-wrap: wrap
            li
                flex: 0 0 49%
                margin-bottom: 15px
            &:after
                display: none
        .model
            flex-direction: column
            .image
                flex: 0 0 auto
                margin-right: 0
                margin-bottom: 40px
            .content
                .buttons
                    flex-direction: column
                    .link
                        margin-bottom: 10px
                        &:after
                            position: relative
                            right: -15px
        &_forest
            position: relative
            .slider
                display: flex
                position: absolute
                top: 0
                left: 15px
                width: calc(100% - 30px)
                margin: 0 auto
                z-index: 1
                justify-content: space-between
            .nav-tabs
                position: relative
                .nav-item
                    width: calc(100% - 60px)
                    margin: 0
                    flex: 0 0 100%
                    position: absolute
                    left: 30px
                    top: 0
                    opacity: 0
                    .nav-link
                        padding: 0
                        width: 100%
                        justify-content: center !important
                        height: 28px
                        text-align: center !important
                    &:after
                        display: none
                    &.shown
                        opacity: 1
            .tab-content
                margin-top: 100px
                .paginator
                    margin-bottom: 40px
    .guarantee
        height: auto
        &_communications
            img
                width: 100%
                margin-top: 0
                margin-bottom: -100px
        &_quarry
            img
                width: 100%
                margin-top: 0
                margin-bottom: -100px
        &_forest
            img
                width: 100%
                margin-top: 0
                margin-bottom: -100px
    .delivery
        .lazy
            display: block
            margin: 0 auto
            max-width: 100%
        .block
            &-heading, &-desc
                margin-left: 0
    .warehouse
        background: none
        .list
            flex-wrap: wrap
            margin: 15px 0 0
            li
                flex: 0 0 49%
                margin: 0 auto 30px !important
                .counter
                    display: none
    .footer
        &-creator
            margin-top: 0px
        &-list
            align-items: flex-start
        &-logo
            margin: 0 auto 0 0
        &-links
            margin-top: 10px
@media (max-width: 575px)
    .button
        p
            font-size: 12px !important
    .header
        height: 64px
        position: fixed
        top: 0
        z-index: 10
        width: 100%
        background-color: $white
        .backplane
            height: 64px
            width: 220px
            z-index: 10
        &__navbar
            padding: 10px 0 0
        .navbar-brand
            margin: 0 15px 0 0
            position: relative
            z-index: 11
        .navbar-collapse
            background-color: $white
            padding: 15px
            margin: 0 -15px
            box-shadow: 0 20px 20px 0 rgba(0,0,0,0.1)
        .navbar-nav
            align-items: center
            .nav-item
                margin-bottom: 10px
                .nav-link
                    text-align: center
                    br
                        display: none
                    &:after
                        width: 100%
                &:after
                    display: none
        &__top
            justify-content: center
            flex-direction: column
        &__phone
            padding-right: 10px
            margin-bottom: 10px
            flex: 0 0 auto
        &__button
            margin: 0
            flex: 0 0 auto
    .jumbotron
        margin-top: 0
        padding-top: 80px
        height: 560px
        .block
            &-heading
                font-size: 24px
        &_communications
            background-size: 575px, 1920px !important
            background-position: center bottom -130px !important
            padding-right: 0
            margin-right: 0
        &_quarry
            height: 550px
            background-size: 350px, cover !important
            background-position: right -80px bottom, center top !important
            padding-right: 0px
            margin-right: 0px
            .block
                margin: 30px 0 0
                .image
                    width: 69px
                    height: 69px
                    flex: 0 0 69px
                    .inner
                        width: 39px
                        height: 39px
                        flex: 0 0 39px
                        img
                            width: 18px
                            height: 18px
                            flex: 0 0 18px
                p
                    background-color: rgba(255,255,255,0.6)
                &-heading
                    max-width: 290px
                &-desc
                    max-width: 290px
        &_forest
            background-size: 400px, cover !important
            background-position: right -80px bottom, center top !important
            padding-right: 0
            margin-right: 0
            height: 660px
    .block
        &-heading
            font-size: 18px
    .methods
        .block
            &-heading
                font-size: 18px
        .videos
            .video
                p
                    margin: 25px auto 40px
        .method
            .title
                margin: 0 auto
                width: 100%
            &_old
                .title
                    img
                        width: 160px
                        height: 115px
                        flex: 0 0 160px
                        object-fit: contain
            &_new
                .title
                    img
                        width: 200px
                        height: 80px
                        flex: 0 0 200px
                        object-fit: contain
                        margin-right: -10px
                        margin-left: -25px
                    p
                        font-size: 12px
                        padding-right: 20px
        .economy
            .block
                margin-bottom: 30px
                min-height: 0
                .title
                    font-size: 48px
                    line-height: 40px
                .text
                    padding: 28px 20px
            .list
                li
                    height: auto
                    .image
                        flex: 0 0 82px
                        width: 82px
                        height: 82px
                        margin-right: 10px
                    .content
                        padding: 0
                        .title
                            font-size: 18px
                            margin-bottom: 5px
                        .text
                            font-size: 13px
        .technologies
            .list
                flex-direction: column
                li
                    margin-bottom: 35px
                    .image
                        img
                            max-width: 100%
    .consult
        &_communications
            background: none
            height: auto
            .block
                &-heading
                    text-align: center
                    font-size: 18px
                &-desc
                    text-align: center
        &_quarry, &_forest
            background: none
            height: auto
            .block
                &-heading
                    text-align: center
                    font-size: 18px
                &-desc
                    text-align: center
        &_quarry_ic
            padding-top: 200px
            background-position: right -50px top
            padding-right: 0
            margin-right: 0
            background-size: 400px
            .block
                &-heading, &-desc
                    text-align: center
        &_forest_2
            padding-top: 300px
            background-position: left -250px top
            padding-right: 0
            margin-right: 0
            background-size: 1100px
            .block
                &-heading, &-desc
                    margin-left: auto
                    text-align: center
        &_bg
            background-size: cover
    .advantages
        height: auto
        background-size: cover
        .list
            flex-wrap: wrap
            padding: 60px 0 0
            flex-direction: column
            li
                flex: 0 0 auto
                width: 240px
                margin: 0px auto 60px
                &:after
                    transform: rotate(-5deg)
                    height: 2px
                    width: 150vw
                    top: auto
                    right: auto
                    left: -50vw
                    bottom: -30px
    .machine
        .block
            &-heading
                font-size: 26px
        &-preview
            width: 113%
        .heading
            margin-left: 0
            margin-bottom: 30px
            div
                flex-direction: column
                order: 1
                .button
                    flex: 0 0 auto
                    margin: 0 auto
            .block
                &-heading, &-desc
                    display: none
            .description
                margin: 0 auto 20px
        .list
            flex-direction: column
            li
                flex: 0 0 auto
                width: 100%
    .income
        .block
            &_left
                margin: 0 auto
                .list
                    li
                        flex: 0 0 48%
                        width: 48%
                        height: auto
                        padding: 15px
                        p
                            font-size: 13px
            &_right
                padding: 15px
                .list
                    li
                        height: auto
                        align-items: stretch
                        .image
                            height: auto
    .features
        .list
            flex-direction: column
            padding-right: 30px
            li
                flex: 0 0 auto
                margin-bottom: 58px
        .feature
            flex-direction: column
            .image
                width: 100%
                margin: 0 auto 53px
                &:before, &:after
                    top: auto
                    right: 50%
                    transform: translateX(50%)
                &:before
                    bottom: -31px
                &:after
                    bottom: -18px
    .models
        .block
            &-heading
                font-size: 18px
        .video
            margin-bottom: 55px
            p
                left: calc(15vw)
        .list
            margin: 0
            flex-direction: column
            li
                flex: 0 0 auto
                flex-direction: row
                margin-bottom: 15px
                .image
                    margin-bottom: 0
                    margin-right: 20px
                p
                    text-align: left
            &:after
                display: none
        .model
            flex-direction: column
            .image
                flex: 0 0 auto
                width: 290px
                height: 152px
                margin: 40px auto 20px
                img
                    height: 100%
            .content
                position: relative
                .title
                    position: absolute
                    top: -220px
                    width: 100%
                    display: block
                    text-align: center
                    font-size: 18px
                    height: 48px
                .stats
                    flex-direction: column
                    li
                        flex: 0 0 auto
                        width: 100%
                        margin-bottom: 10px
                        &:last-child
                            margin-bottom: 0
                .list
                    li
                        &:before
                            margin-left: 0
                    &_pre
                        margin-left: 50px
                .buttons
                    flex-direction: column
                    .link
                        justify-content: center
                        margin-bottom: 10px
                        &:after
                            position: relative
                            right: -15px
        &_forest
            position: relative
            padding: 30px 0 30px
            margin-bottom: 0
            .model
                .content
                    .title
                        font-size: 16px
                        top: -220px
            .slider
                display: flex
                position: absolute
                top: 0
                left: 15px
                width: calc(100% - 30px)
                margin: 0 auto
                z-index: 1
                justify-content: space-between
            .nav-tabs
                position: relative
                .nav-item
                    width: calc(100% - 60px)
                    margin: 0
                    flex: 0 0 100%
                    position: absolute
                    left: 30px
                    top: 0
                    opacity: 0
                    transition: opacity 0.5s ease
                    .nav-link
                        padding: 0
                        width: 100%
                        justify-content: center !important
                        height: 28px
                        text-align: center !important
                    &:after
                        display: none
                    &.shown
                        opacity: 1
            .tab-content
                margin-top: 100px
                .paginator
                    margin-bottom: 40px
    .guarantee
        height: auto
        margin-top: -50px
        padding-top: 0
        &_communications
            img
                width: 100%
                margin-top: 0
                margin-bottom: -30px
        &_quarry
            margin-top: 0
            img
                width: 140%
                margin-top: 0
                margin-bottom: -30px
        &_forest
            margin-top: 0
            img
                width: 140%
                margin-top: 0
                margin-bottom: -30px
        .block
            &-heading
                font-size: 22px
    .showroom
        .map
            min-height: 300px
    .delivery
        .lazy
            display: block
            margin: 0 -30px
            width: calc(100% + 60px)
            object-fit: cover
        .block
            &-heading, &-desc
                margin-left: 0
            &-heading
                font-size: 18px
    .warehouse
        background: none
        .list
            flex-wrap: wrap
            margin: 15px 0 0
            justify-content: flex-start
            li
                flex: 0 0 49%
                margin: 0 0 30px !important
                .counter
                    display: none
                &:nth-child(2n)
                    margin: 120px 0 -120px !important
        .note
            align-items: stretch
            .left
                height: auto
            .right
                padding: 15px
                p
                    font-size: 13px
                    line-height: 1.4
    .footer
        &-creator
            margin-top: 0px
        &-info
            font-size: 14px
        &-logo
            margin: 0 auto
        &-links
            margin-top: 10px
        &-link
            margin: 0 auto 10px
            max-width: 100%
            justify-content: center

@supports (-ms-ime-align:auto)
    .methods
        .videos
            .video
                margin: 0 -10px
                .embed-responsive
                    transform: skewX(15deg)
                    &-item
                        transform: skewX(-15deg) scale(1.15)
    .machine
        .video
            .embed-responsive
                transform: skewX(15deg) scale(0.9)
                &-item
                    transform: skewX(-15deg) scale(1.12)
    .models
        .video
            .embed-responsive
                transform: skewX(15deg) scale(0.9)
                &-item
                    transform: skewX(-15deg) scale(1.12)
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
    .methods
        .videos
            .video
                margin: 0 -10px
                .embed-responsive
                    transform: skewX(15deg)
                    &-item
                        transform: skewX(-15deg) scale(1.15)
    .machine
        .video
            .embed-responsive
                transform: skewX(15deg) scale(0.9)
                &-item
                    transform: skewX(-15deg) scale(1.12)
    .models
        .video
            .embed-responsive
                transform: skewX(15deg) scale(0.9)
                &-item
                    transform: skewX(-15deg) scale(1.12)
        .model
            .content
                .list
                    li
                        &:before
                            flex: 0 0 27px
                .buttons
                    .link
                        &:after
                            top: 11px
    .guarantee
        .block
            &-heading
                background: none
    @media (min-width: 1200px)
        .header
            &__phone
                flex: 0 0 140px
            &__button
                flex: 0 0 165px
                justify-content: flex-start
        .features
            .list
                li
                    flex: 0 0 28%
        .models
            .model
                .content
                    width: 700px
                    .stats
                        li
                            flex: 0 0 45%
        .income
            .block
                &_left
                    .list
                        li
                            flex: 0 0 35%