<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ширина</td>
            <td colspan="2">200.7 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">274.3 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">5080.2 кг</td>
        </tr>
        <tr>
            <td>Вес дышла – первый вариант двигателя</td>
            <td colspan="2">453.6 кг</td>
        </tr>
        <tr>
            <td>Длина с лебедкой (дополнительный вариант)</td>
            <td colspan="2">0 см</td>
        </tr>
        <tr>
            <td>Вес с лебедкой (дополнительный вариант)</td>
            <td colspan="2">204.1 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">John Deere 4045HFC09</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">173 л.с</td>
        </tr>
        <tr>
            <td>Крутящий момент (макс.)</td>
            <td colspan="2">667.1 Нм</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">151.4 л</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">25.7 л/час</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">2-ступенчатый сухой</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Навинчиваемый</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">ACEA E-7 и E-6 или API CI-4</td>
        </tr>
        <tr>
            <td>Объем масла с учетом фильтра</td>
            <td colspan="2">14.7 л</td>
        </tr>
        <tr>
            <td>Максимальный угол при непрерывной работе</td>
            <td colspan="2">30 градусов</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Объем охлаждающей жидкости (в двигателе и радиаторе)</td>
            <td colspan="2">121.9 л</td>
        </tr>
        <tr>
            <td>Генератор переменного тока</td>
            <td colspan="2">90</td>
        </tr>
        <tr>
            <td>Вентилятор</td>
            <td colspan="2">Всасывание 66 см</td>
        </tr>
        <tr>
            <td>Тип сцепления</td>
            <td colspan="2">30,5 см подпружиненный</td>
        </tr>
        <tr>
            <td>Включение привода сцепления</td>
            <td colspan="2">Рычаг ручного управления</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ориентация подающего валика</td>
            <td colspan="2">Горизонтальный</td>
        </tr>
        <tr>
            <td>Количество подающих валиков</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Нагрузка на зажим подающего валика</td>
            <td colspan="2">1814.4 кг</td>
        </tr>
        <tr>
            <td>Тип зажима подающего валика</td>
            <td colspan="2">Гидравлическая система</td>
        </tr>
        <tr>
            <td>Минимальное расстояние от подающего валика до барабана</td>
            <td colspan="2">12.7 см</td>
        </tr>
        <tr>
            <td>Размер подающего валика</td>
            <td colspan="2">Диаметр 48,3 см x длина 71,8 см</td>
        </tr>
        <tr>
            <td>Количество ножей</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Вес подающего валика</td>
            <td colspan="2">158.8 кг</td>
        </tr>
        <tr>
            <td>Размер подающего валика (второй)</td>
            <td colspan="2">Диаметр 27,9 см x длина 71,8 см</td>
        </tr>
        <tr>
            <td>Количество ножей (2)</td>
            <td colspan="2">10</td>
        </tr>
        <tr>
            <td>Вес подающего валика (второй вариант)</td>
            <td colspan="2">84.4 кг</td>
        </tr>
        <tr>
            <td>Количество гидромоторов подающих валиков</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Рабочий объем гидромотора</td>
            <td colspan="2">28.4</td>
        </tr>
        <tr>
            <td>Изготовитель гидромотора</td>
            <td colspan="2">White RE470</td>
        </tr>
        <tr>
            <td>Скорость подачи</td>
            <td colspan="2">119 ft/мин</td>
        </tr>
        <tr>
            <td>Ширина подающего стола</td>
            <td colspan="2">180.3 см</td>
        </tr>
        <tr>
            <td>Длина подающего стола</td>
            <td colspan="2">153.7 см</td>
        </tr>
        <tr>
            <td>Высота подающего бункера</td>
            <td colspan="2">88.9 см</td>
        </tr>
        <tr>
            <td>Емкость приемной горловины</td>
            <td colspan="2">Ширина 73,3 см, высота 61 см</td>
        </tr>
        <tr>
            <td>Расстояние от подающего стола до земли</td>
            <td colspan="2">77 см</td>
        </tr>
        <tr>
            <td>Толщина подающего стола</td>
            <td colspan="2">.6 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Нижняя планка выключения подачи</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Диаметр нижней планки выключения подачи</td>
            <td colspan="2">5.1 см</td>
        </tr>
        <tr>
            <td>Толщина материла нижней планки выключения подачи</td>
            <td colspan="2">11-го калибра</td>
        </tr>
        <tr>
            <td>Усиление включения (BFSB)</td>
            <td colspan="2">15.4 кг</td>
        </tr>
        <tr>
            <td>Стандартная чувствительность</td>
            <td colspan="2">22 градусов</td>
        </tr>
        <tr>
            <td>Пониженная чувствительность</td>
            <td colspan="2">12 градусов</td>
        </tr>
        <tr>
            <td>Метод сброса</td>
            <td colspan="2">Зеленая нажимная кнопка пуска</td>
        </tr>
        <tr>
            <td>Четырехпозиционная рейка управления подачей</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Диаметр</td>
            <td colspan="2">3.8 см</td>
        </tr>
        <tr>
            <td>Толщина материала</td>
            <td colspan="2">27.9 см</td>
        </tr>
        <tr>
            <td>Положения</td>
            <td colspan="2">4: аварийная остановка, вперед, нейтраль, назад</td>
        </tr>
        <tr>
            <td>Усиление включения</td>
            <td colspan="2">15.4 кг</td>
        </tr>
        <tr>
            <td>Зеленая нажимная кнопка пуска</td>
            <td colspan="2">Стандартная</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Барабанная/дисковая режущая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Объем материала</td>
            <td colspan="2">48.3 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">1.3 см</td>
        </tr>
        <tr>
            <td>Толщина</td>
            <td colspan="2">66.3 см</td>
        </tr>
        <tr>
            <td>Диаметр</td>
            <td colspan="2">91.4 см</td>
        </tr>
        <tr>
            <td>Скорость</td>
            <td colspan="2">1100 об/мин</td>
        </tr>
        <tr>
            <td>Вес с валом</td>
            <td colspan="2">526.2 кг</td>
        </tr>
        <tr>
            <td>Предохранительный фиксатор – количество положений</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Количество ножей</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Толщина ножа</td>
            <td colspan="2">1.6 см</td>
        </tr>
        <tr>
            <td>Материал</td>
            <td colspan="2">Модифицированная ножевая сталь A8</td>
        </tr>
        <tr>
            <td>Используемые кромки</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Размер ножа</td>
            <td colspan="2">1,6 см x 12,7 см x 25,4 см</td>
        </tr>
        <tr>
            <td>Количество болтов/нож</td>
            <td colspan="2">5</td>
        </tr>
        <tr>
            <td>Сменная резьбовая ножевая головка</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Количество лопаток</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Метод крепления</td>
            <td colspan="2">Приваренный</td>
        </tr>
        <tr>
            <td>Размер неподвижного ножа</td>
            <td colspan="2">7,6 см х 51,4 см</td>
        </tr>
        <tr>
            <td>Толщина неподвижного ножа</td>
            <td colspan="2">3.2 см</td>
        </tr>
        <tr>
            <td>Материал неподвижного ножа</td>
            <td colspan="2">1018 CD</td>
        </tr>
        <tr>
            <td>Неподвижный нож – количество используемых кромок</td>
            <td colspan="2">4</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Комплектующие привода резака – первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Количество подшипников</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Скважина</td>
            <td colspan="2">6.4 см</td>
        </tr>
        <tr>
            <td>Тип</td>
            <td colspan="2">Сферический роликоподшипник</td>
        </tr>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Составной ремень</td>
        </tr>
        <tr>
            <td>Динамическая нагрузочная способность</td>
            <td colspan="2">14242.8 кг</td>
        </tr>
        <tr>
            <td>Статическая нагрузочная способность</td>
            <td colspan="2">24267.2 кг</td>
        </tr>
        <tr>
            <td>Натяжитель/промежуточный ролик ремня</td>
            <td colspan="2">Пружинный</td>
        </tr>
        <tr>
            <td>Тип ремня</td>
            <td colspan="2">5 вольт</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Высота желоба</td>
            <td colspan="2">274.3 см</td>
        </tr>
        <tr>
            <td>Толщина днища</td>
            <td colspan="2">.2 см</td>
        </tr>
        <tr>
            <td>Толщина верха</td>
            <td colspan="2">.5 см</td>
        </tr>
        <tr>
            <td>Толщина боковой стенки</td>
            <td colspan="2">.3 см</td>
        </tr>
        <tr>
            <td>Толщина отражателя</td>
            <td colspan="2">.2 см</td>
        </tr>
        <tr>
            <td>Угол поворота желоба</td>
            <td colspan="2">270 градусов</td>
        </tr>
        <tr>
            <td>Поворотного типа</td>
            <td colspan="2">Червячный привод с поворотным фиксатором</td>
        </tr>
        <tr>
            <td>Поворотный фиксатор</td>
            <td colspan="2">Самоблокирующийся</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">75.7 л</td>
        </tr>
        <tr>
            <td>Тип рекомендуемого масла</td>
            <td colspan="2">HY POWER 68</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">С открытым центром</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">6 микрон – возврат, 100 микрон – всасывание</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">56 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">206.8 бар</td>
        </tr>
        <tr>
            <td>Давление автореверса</td>
            <td colspan="2">193.1 бар</td>
        </tr>
        <tr>
            <td>Регулирование потока</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Управление направлением</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Маслоохладитель</td>
            <td colspan="2">Нет</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">CCA = 950 А</td>
        </tr>
        <tr>
            <td>Стандартные контрольно-измерительные приборы</td>
            <td colspan="2">Цифровой дисплей с тахометром, счетчиком моточасов, индикацией давления масла, температуры воды, напряжения аккумуляторной батареи и кодов неисправностей двигателя. Индикаторы уровня топлива и уровня жидкости для системы выхлопа дизельных двигателей</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Панель управления: Зажигание, дроссельная заслонка, SmartFeed, регенерация выхлопных газов и EcoIdle. Задняя: Чувствительность нижней планки подачи, Органы управления желобом, Измельчение с подачей вручную</td>
        </tr>
        <tr>
            <td>Контроллер</td>
            <td colspan="2">Vermeer ACS: C248</td>
        </tr>
        <tr>
            <td>Дисплей</td>
            <td colspan="2">MFD</td>
        </tr>
        <tr>
            <td>Система выключения</td>
            <td colspan="2">Высокая температура, низкое давление, по выбросу вредных веществ класс 4 (Tier 4)</td>
        </tr>
        <tr>
            <td>Дистанционное радиоуправление</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">19 см канал Z x 0,6 см толщина</td>
        </tr>
        <tr>
            <td>Описание ящика для инструментов</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Описание дышла</td>
            <td colspan="2">12,7 см x 7,6 см x 0,95 см</td>
        </tr>
        <tr>
            <td>Удлинитель дышла</td>
            <td colspan="2">Удлиняемый 30,5 см</td>
        </tr>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">Шкворень</td>
        </tr>
        <tr>
            <td>Описание предохранительного щита</td>
            <td colspan="2">Болтовое крепление</td>
        </tr>
        <tr>
            <td>Мост/подвеска</td>
            <td colspan="2">Тандемный торсионный, грузоподъемность – 3175 кг</td>
        </tr>
        <tr>
            <td>Тип – первый вариант</td>
            <td colspan="2">Тандемный торсионный</td>
        </tr>
        <tr>
            <td>Изготовитель – первый вариант</td>
            <td colspan="2">Dexter</td>
        </tr>
        <tr>
            <td>Грузоподъемность – первый вариант</td>
            <td colspan="2">6350 кг (Тандемный 3175 кг)</td>
        </tr>
        <tr>
            <td>Шины – первый вариант</td>
            <td colspan="2">LT285/75R16 нагрузочный диапазон E</td>
        </tr>
        <tr>
            <td>Колеса – первый вариант</td>
            <td colspan="2">16"</td>
        </tr>
        <tr>
            <td>Тип тормозов</td>
            <td colspan="2">Электрический</td>
        </tr>
        <tr>
            <td>Тип осветительных приборов прицепа</td>
            <td colspan="2">СИД</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Лебедка (дополнительное оборудование)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Система освобождения лебедки</td>
            <td colspan="2">158.6 бар</td>
        </tr>
        <tr>
            <td>Конструкция стрелы лебедки</td>
            <td colspan="2">0,25 GR50 съемная</td>
        </tr>
        <tr>
            <td>Частота вращения ведущего вала лебедки</td>
            <td colspan="2">87 об/мин</td>
        </tr>
        <tr>
            <td>Органы управления лебедкой</td>
            <td colspan="2">Вперед, назад, свободный барабан</td>
        </tr>
        <tr>
            <td>Трос лебедки</td>
            <td colspan="2">1,4 см</td>
        </tr>
        <tr>
            <td>Длина троса</td>
            <td colspan="2">4570 см</td>
        </tr>
        <tr>
            <td>Тяговая сила на тросе</td>
            <td colspan="2">1474.2 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Разгрузочный желоб регулируемой высоты</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Пульт дистанционного управления</td>
            <td colspan="2">(Базовая или дополнительно Deluxe)</td>
        </tr>
        <tr>
            <td>Гидравлические выносные опоры</td>
            <td colspan="2">Дополнительно (только ручной)</td>
        </tr>
        <tr>
            <td>Гидравлические средства управления желобом</td>
            <td colspan="2">Стандартная</td>
        </tr>
    </tbody>
</table>