<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина – подающий стол поднят, дышло втянуто</td>
            <td colspan="2">454.7 см</td>
        </tr>
        <tr>
            <td>Длина – стол опущен, дышло вытянуто</td>
            <td colspan="2">551.2 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">218.4 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">264.2 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">3397.4 кг</td>
        </tr>
        <tr>
            <td>Вес дышла – первый вариант двигателя</td>
            <td colspan="2">426.4 кг</td>
        </tr>
        <tr>
            <td>Длина с лебедкой (дополнительный вариант)</td>
            <td colspan="2">487.7 см</td>
        </tr>
        <tr>
            <td>Вес с лебедкой (дополнительный вариант)</td>
            <td colspan="2">127 кг</td>
        </tr>
        <tr>
            <td>Уровень звукового давления</td>
            <td colspan="2">125</td>
        </tr>
        <tr>
            <td>Варианты мощности двигателя</td>
            <td colspan="2">Cummins QSF3.8L T4F - 130 л.с. (97 кВт)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ориентация подающего валика</td>
            <td colspan="2">Вертикально</td>
        </tr>
        <tr>
            <td>Количество подающих валиков</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Нагрузка на зажим подающего валика</td>
            <td colspan="2">136.1 кг</td>
        </tr>
        <tr>
            <td>Тип зажима подающего валика</td>
            <td colspan="2">Пружина</td>
        </tr>
        <tr>
            <td>Минимальное расстояние от подающего валика до барабана</td>
            <td colspan="2">3.3 см</td>
        </tr>
        <tr>
            <td>Размер подающего валика</td>
            <td colspan="2">Диаметр 53,1 см</td>
        </tr>
        <tr>
            <td>Количество ножей</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Вес подающего валика</td>
            <td colspan="2">54.4 кг</td>
        </tr>
        <tr>
            <td>Рабочий объем гидромотора</td>
            <td colspan="2">468,8 куб. см</td>
        </tr>
        <tr>
            <td>Изготовитель гидромотора</td>
            <td colspan="2">White</td>
        </tr>
        <tr>
            <td>Скорость подачи</td>
            <td colspan="2">122 ft/мин</td>
        </tr>
        <tr>
            <td>Ширина подающего стола</td>
            <td colspan="2">140.7 см</td>
        </tr>
        <tr>
            <td>Длина подающего стола</td>
            <td colspan="2">76.5 см</td>
        </tr>
        <tr>
            <td>Высота подающего бункера</td>
            <td colspan="2">81.3 см</td>
        </tr>
        <tr>
            <td>Емкость приемной горловины</td>
            <td colspan="2">38,1 см x 50,8 см</td>
        </tr>
        <tr>
            <td>Зона защемления – расстояние до края подающего стола</td>
            <td colspan="2">171.2 см</td>
        </tr>
        <tr>
            <td>Расстояние от подающего стола до земли</td>
            <td colspan="2">69.1 см</td>
        </tr>
        <tr>
            <td>Толщина подающего стола</td>
            <td colspan="2">.5 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Нижняя планка выключения подачи</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Диаметр нижней планки выключения подачи</td>
            <td colspan="2">5.1 см</td>
        </tr>
        <tr>
            <td>Толщина материла нижней планки выключения подачи</td>
            <td colspan="2">11-го калибра</td>
        </tr>
        <tr>
            <td>Усиление включения (BFSB)</td>
            <td colspan="2">15.4 кг</td>
        </tr>
        <tr>
            <td>Стандартная чувствительность</td>
            <td colspan="2">22 градусов</td>
        </tr>
        <tr>
            <td>Пониженная чувствительность</td>
            <td colspan="2">12 градусов</td>
        </tr>
        <tr>
            <td>Метод сброса</td>
            <td colspan="2">Зеленая нажимная кнопка пуска</td>
        </tr>
        <tr>
            <td>Четырехпозиционная рейка управления подачей</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Диаметр</td>
            <td colspan="2">5.1 см</td>
        </tr>
        <tr>
            <td>Толщина материала</td>
            <td colspan="2">.3 см</td>
        </tr>
        <tr>
            <td>Положения</td>
            <td colspan="2">4: аварийная остановка, вперед, нейтраль, назад</td>
        </tr>
        <tr>
            <td>Усиление включения</td>
            <td colspan="2">15.4 кг</td>
        </tr>
        <tr>
            <td>Зеленая нажимная кнопка пуска</td>
            <td colspan="2">Стандартный (по одному с каждой стороны)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Барабанная/дисковая режущая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Объем материала</td>
            <td colspan="2">38.1 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">55.9 см</td>
        </tr>
        <tr>
            <td>Толщина</td>
            <td colspan="2">1 см</td>
        </tr>
        <tr>
            <td>Диаметр</td>
            <td colspan="2">57.2 см</td>
        </tr>
        <tr>
            <td>Скорость</td>
            <td colspan="2">1980 об/мин</td>
        </tr>
        <tr>
            <td>Вес с валом</td>
            <td colspan="2">244.9 кг</td>
        </tr>
        <tr>
            <td>Предохранительный фиксатор – количество положений</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Количество ножей</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Толщина ножа</td>
            <td colspan="2">1.6 см</td>
        </tr>
        <tr>
            <td>Материал</td>
            <td colspan="2">Ножевая сталь A8</td>
        </tr>
        <tr>
            <td>Используемые кромки</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Размер ножа</td>
            <td colspan="2">1,6 см x 12,7 см x 20,3 см</td>
        </tr>
        <tr>
            <td>Количество болтов/нож</td>
            <td colspan="2">3</td>
        </tr>
        <tr>
            <td>Сменная резьбовая ножевая головка</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Количество лопаток</td>
            <td colspan="2">5</td>
        </tr>
        <tr>
            <td>Метод крепления</td>
            <td colspan="2">Приваренный</td>
        </tr>
        <tr>
            <td>Воздушный поток</td>
            <td colspan="2">4600 cfm</td>
        </tr>
        <tr>
            <td>Размер неподвижного ножа</td>
            <td colspan="2">6,4 см</td>
        </tr>
        <tr>
            <td>Толщина неподвижного ножа</td>
            <td colspan="2">3.8 см</td>
        </tr>
        <tr>
            <td>Материал неподвижного ножа</td>
            <td colspan="2">Сталь HRLC</td>
        </tr>
        <tr>
            <td>Неподвижный нож – количество используемых кромок</td>
            <td colspan="2">2</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Комплектующие привода резака – первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Количество подшипников</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Скважина</td>
            <td colspan="2">6.2 см</td>
        </tr>
        <tr>
            <td>Тип</td>
            <td colspan="2">Сферический роликоподшипник</td>
        </tr>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Составной ремень</td>
        </tr>
        <tr>
            <td>Динамическая нагрузочная способность</td>
            <td colspan="2">14242.8 кг</td>
        </tr>
        <tr>
            <td>Статическая нагрузочная способность</td>
            <td colspan="2">24267.2 кг</td>
        </tr>
        <tr>
            <td>Натяжитель/промежуточный ролик ремня</td>
            <td colspan="2">Пружинный</td>
        </tr>
        <tr>
            <td>Тип ремня</td>
            <td colspan="2">5 вольт</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Высота желоба</td>
            <td colspan="2">264.2 см</td>
        </tr>
        <tr>
            <td>Толщина днища</td>
            <td colspan="2">.2 см</td>
        </tr>
        <tr>
            <td>Толщина верха</td>
            <td colspan="2">.3 см</td>
        </tr>
        <tr>
            <td>Толщина боковой стенки</td>
            <td colspan="2">.3 см</td>
        </tr>
        <tr>
            <td>Толщина отражателя</td>
            <td colspan="2">.3 см</td>
        </tr>
        <tr>
            <td>Угол поворота желоба</td>
            <td colspan="2">270 градусов</td>
        </tr>
        <tr>
            <td>Поворотного типа</td>
            <td colspan="2">Ручной червячный привод</td>
        </tr>
        <tr>
            <td>Поворотный фиксатор</td>
            <td colspan="2">Самоблокирующийся редуктор с дополнительным механизмом блокировки вращения стальной пластины</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">45.4 л</td>
        </tr>
        <tr>
            <td>Тип рекомендуемого масла</td>
            <td colspan="2">Vermeer VMF</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">С открытым центром</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">3 микрон – возврат, 100 микрон – всасывание</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">20.8 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">193.1 бар</td>
        </tr>
        <tr>
            <td>Давление автореверса (фунты на кв. дюйм)</td>
            <td colspan="2">182.7 бар</td>
        </tr>
        <tr>
            <td>Регулирование потока</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Управление направлением</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Маслоохладитель</td>
            <td colspan="2">Нет</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">CCA = 950 А</td>
        </tr>
        <tr>
            <td>Стандартные контрольно-измерительные приборы</td>
            <td colspan="2">Мультифункциональный дисплей (на нем отображаются различные параметры машины и коды неисправностей, уровень топлива, уровень жидкости в системе выхлопа дизельных двигателей, давление, температура воды, коды неисправностей двигателя)</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Переключатели снижения числа оборотов, чувствительности, включения/выключения режима дочистки выхлопных газов и EcoIdle</td>
        </tr>
        <tr>
            <td>Контроллер</td>
            <td colspan="2">Система управления Vermeer ACS</td>
        </tr>
        <tr>
            <td>Дисплей</td>
            <td colspan="2">Многофункциональный дисплей</td>
        </tr>
        <tr>
            <td>Система выключения</td>
            <td colspan="2">Высокая температура охлаждающей жидкости, низкое давление масла</td>
        </tr>
        <tr>
            <td>Дистанционное радиоуправление</td>
            <td colspan="2">приобретается отдельно - через IK</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">Z-канал: 6 мм; 17,8 см</td>
        </tr>
        <tr>
            <td>Описание ящика для инструментов</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Описание дышла</td>
            <td colspan="2">6,4 см x 11,4 см x 1 см</td>
        </tr>
        <tr>
            <td>Удлинитель дышла</td>
            <td colspan="2">Дополн. 45,2 см</td>
        </tr>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">Шкворень</td>
        </tr>
        <tr>
            <td>Описание предохранительного щита</td>
            <td colspan="2">Болтовое крепление</td>
        </tr>
        <tr>
            <td>Мост/подвеска</td>
            <td colspan="2">Торсионный</td>
        </tr>
        <tr>
            <td>Тип – первый вариант</td>
            <td colspan="2">Резиновый торсионный</td>
        </tr>
        <tr>
            <td>Изготовитель – первый вариант</td>
            <td colspan="2">Dexter</td>
        </tr>
        <tr>
            <td>Грузоподъемность – первый вариант</td>
            <td colspan="2">3629 кг</td>
        </tr>
        <tr>
            <td>Шины – первый вариант</td>
            <td colspan="2">LT 285/75R16 LR E</td>
        </tr>
        <tr>
            <td>Колеса – первый вариант</td>
            <td colspan="2">40,6 см</td>
        </tr>
        <tr>
            <td>Тип тормозов</td>
            <td colspan="2">Электрический</td>
        </tr>
        <tr>
            <td>Тип осветительных приборов прицепа</td>
            <td colspan="2">СИД</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">Приобретается отдельно</td>
        </tr>
        <tr>
            <td>Пульт дистанционного управления</td>
            <td colspan="2">Пульт дистанционного управления Tree Commander - приобретается отдельно</td>
        </tr>
        <tr>
            <td>Гидравлические средства управления желобом</td>
            <td colspan="2">Стандартная</td>
        </tr>
    </tbody>
</table>