<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина – подающий стол поднят, дышло втянуто</td>
            <td colspan="2">276.1 см</td>
        </tr>
        <tr>
            <td>Длина – стол опущен, дышло вытянуто</td>
            <td colspan="2">330.5 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">154.9 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">247.9 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">750.0 кг</td>
        </tr>
        <tr>
            <td>Вес дышла – первый вариант двигателя</td>
            <td colspan="2">46 кг</td>
        </tr>
        <tr>
            <td>Уровень звукового давления</td>
            <td colspan="2">121 дБ(а)</td>
        </tr>
        <tr>
            <td>Варианты мощности двигателя</td>
            <td colspan="2">19,39 кВт</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Kohler KDW1003</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">3</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">26 л.с</td>
        </tr>
        <tr>
            <td>Крутящий момент (макс.)</td>
            <td colspan="2">59 Нм</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">18 л</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">6.1 л/час</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">Одноступенчатый сухой, Donaldson</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Навинчиваемый</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">SAE 15W50, API CH4</td>
        </tr>
        <tr>
            <td>Объем масла с учетом фильтра</td>
            <td colspan="2">3.8 л</td>
        </tr>
        <tr>
            <td>Максимальный угол при непрерывной работе</td>
            <td colspan="2">25 градусов</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Вода</td>
        </tr>
        <tr>
            <td>Объем охлаждающей жидкости (в двигателе и радиаторе)</td>
            <td colspan="2">5.3 л</td>
        </tr>
        <tr>
            <td>Генератор переменного тока</td>
            <td colspan="2">45 А с регулятором</td>
        </tr>
        <tr>
            <td>Вентилятор</td>
            <td colspan="2">Всасывание</td>
        </tr>
        <tr>
            <td>Тип сцепления</td>
            <td colspan="2">Натяжной ролик ремня</td>
        </tr>
        <tr>
            <td>Включение привода сцепления</td>
            <td colspan="2">Над центральным рычагом</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ориентация подающего валика</td>
            <td colspan="2">Горизонтальный</td>
        </tr>
        <tr>
            <td>Количество подающих валиков</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Нагрузка на зажим подающего валика</td>
            <td colspan="2">300.2 кг</td>
        </tr>
        <tr>
            <td>Тип зажима подающего валика</td>
            <td colspan="2">Пружины</td>
        </tr>
        <tr>
            <td>Минимальное расстояние от подающего валика до барабана</td>
            <td colspan="2">4.1 см</td>
        </tr>
        <tr>
            <td>Размер подающего валика</td>
            <td colspan="2">Диаметр (кончика зуба) 20,07 см</td>
        </tr>
        <tr>
            <td>Количество ножей</td>
            <td colspan="2">8</td>
        </tr>
        <tr>
            <td>Вес подающего валика</td>
            <td colspan="2">5.8 кг</td>
        </tr>
        <tr>
            <td>Размер подающего валика (второй)</td>
            <td colspan="2">Диаметр (кончика зуба) 20,07 см</td>
        </tr>
        <tr>
            <td>Количество ножей (2)</td>
            <td colspan="2">8</td>
        </tr>
        <tr>
            <td>Вес подающего валика (второй вариант)</td>
            <td colspan="2">8 кг</td>
        </tr>
        <tr>
            <td>Количество гидромоторов подающих валиков</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Рабочий объем гидромотора</td>
            <td colspan="2">30,99 куб. см</td>
        </tr>
        <tr>
            <td>Изготовитель гидромотора</td>
            <td colspan="2">Белый, гидравлический</td>
        </tr>
        <tr>
            <td>Скорость подачи</td>
            <td colspan="2">164 ft/мин</td>
        </tr>
        <tr>
            <td>Ширина подающего стола</td>
            <td colspan="2">106.9 см</td>
        </tr>
        <tr>
            <td>Длина подающего стола</td>
            <td colspan="2">63 см</td>
        </tr>
        <tr>
            <td>Высота подающего бункера</td>
            <td colspan="2">59.4 см</td>
        </tr>
        <tr>
            <td>Емкость приемной горловины</td>
            <td colspan="2">16,0 см x 19,81 см</td>
        </tr>
        <tr>
            <td>Зона защемления – расстояние до края подающего стола</td>
            <td colspan="2">154.9 см</td>
        </tr>
        <tr>
            <td>Расстояние от подающего стола до земли</td>
            <td colspan="2">77 см</td>
        </tr>
        <tr>
            <td>Толщина подающего стола</td>
            <td colspan="2">.2 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Нижняя планка выключения подачи</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Диаметр нижней планки выключения подачи</td>
            <td colspan="2">2.54 см</td>
        </tr>
        <tr>
            <td>Толщина материла нижней планки выключения подачи</td>
            <td colspan="2">0,15 см</td>
        </tr>
        <tr>
            <td>Усиление включения (BFSB)</td>
            <td colspan="2">14.3 кг</td>
        </tr>
        <tr>
            <td>Пониженная чувствительность</td>
            <td colspan="2">12 градусов</td>
        </tr>
        <tr>
            <td>Метод сброса</td>
            <td colspan="2">Удерживать кнопку «Работа»</td>
        </tr>
        <tr>
            <td>Четырехпозиционная рейка управления подачей</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Диаметр</td>
            <td colspan="2">4.1 см</td>
        </tr>
        <tr>
            <td>Толщина материала</td>
            <td colspan="2">.2 см</td>
        </tr>
        <tr>
            <td>Положения</td>
            <td colspan="2">Реверс, нейтраль, подача, остановка</td>
        </tr>
        <tr>
            <td>Усиление включения</td>
            <td colspan="2">14.3 кг</td>
        </tr>
        <tr>
            <td>Зеленая нажимная кнопка пуска</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Барабанная/дисковая режущая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Объем материала</td>
            <td colspan="2">1.6 см</td>
        </tr>
        <tr>
            <td>Толщина</td>
            <td colspan="2">2.54 см</td>
        </tr>
        <tr>
            <td>Диаметр</td>
            <td colspan="2">59.9 см</td>
        </tr>
        <tr>
            <td>Скорость</td>
            <td colspan="2">1800 об/мин</td>
        </tr>
        <tr>
            <td>Вес с валом</td>
            <td colspan="2">86 кг</td>
        </tr>
        <tr>
            <td>Предохранительный фиксатор – количество положений</td>
            <td colspan="2">2 положения</td>
        </tr>
        <tr>
            <td>Количество ножей</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Толщина ножа</td>
            <td colspan="2">1.6 см</td>
        </tr>
        <tr>
            <td>Материал</td>
            <td colspan="2">Ножевая сталь A8</td>
        </tr>
        <tr>
            <td>Используемые кромки</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Размер ножа</td>
            <td colspan="2">8,89 см x 20,32 см</td>
        </tr>
        <tr>
            <td>Количество болтов/нож</td>
            <td colspan="2">3</td>
        </tr>
        <tr>
            <td>Количество лопаток</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Метод крепления</td>
            <td colspan="2">Приварен к диску</td>
        </tr>
        <tr>
            <td>Воздушный поток</td>
            <td colspan="2">988.8 cfm</td>
        </tr>
        <tr>
            <td>Размер неподвижного ножа</td>
            <td colspan="2">0,52 см x 3,05 см x 22,1 см</td>
        </tr>
        <tr>
            <td>Толщина неподвижного ножа</td>
            <td colspan="2">1.5 см</td>
        </tr>
        <tr>
            <td>Материал неподвижного ножа</td>
            <td colspan="2">Hardox 400 (износостойкая сталь)</td>
        </tr>
        <tr>
            <td>Неподвижный нож – количество используемых кромок</td>
            <td colspan="2">2</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Комплектующие привода резака – первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Количество подшипников</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Скважина</td>
            <td colspan="2">4.1 см</td>
        </tr>
        <tr>
            <td>Тип</td>
            <td colspan="2">Круглый литой фланец</td>
        </tr>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Dodge</td>
        </tr>
        <tr>
            <td>Динамическая нагрузочная способность</td>
            <td colspan="2">3329.8 кг</td>
        </tr>
        <tr>
            <td>Статическая нагрузочная способность</td>
            <td colspan="2">1818.5 кг</td>
        </tr>
        <tr>
            <td>Натяжитель/промежуточный ролик ремня</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Тип ремня</td>
            <td colspan="2">Клиновой ремень, поперечное сечение B</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Высота желоба</td>
            <td colspan="2">247.9 см</td>
        </tr>
        <tr>
            <td>Толщина днища</td>
            <td colspan="2">.2 см</td>
        </tr>
        <tr>
            <td>Толщина верха</td>
            <td colspan="2">.3 см</td>
        </tr>
        <tr>
            <td>Толщина боковой стенки</td>
            <td colspan="2">.2 см</td>
        </tr>
        <tr>
            <td>Толщина отражателя</td>
            <td colspan="2">.2 см</td>
        </tr>
        <tr>
            <td>Угол поворота желоба</td>
            <td colspan="2">270 градусов</td>
        </tr>
        <tr>
            <td>Поворотного типа</td>
            <td colspan="2">Вручную</td>
        </tr>
        <tr>
            <td>Поворотный фиксатор</td>
            <td colspan="2">Штифт</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">18 л</td>
        </tr>
        <tr>
            <td>Тип рекомендуемого масла</td>
            <td colspan="2">Shell Naturelle HF E46 или VMF Gold</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутая цепь</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Возвратный, 10 микрон</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">16.3 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">172 бар</td>
        </tr>
        <tr>
            <td>Регулирование потока</td>
            <td colspan="2">Делитель потока, ручное регулирование</td>
        </tr>
        <tr>
            <td>Управление направлением</td>
            <td colspan="2">Четырехходовой, трехпозиционный</td>
        </tr>
        <tr>
            <td>Маслоохладитель</td>
            <td colspan="2">Нет</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">42 CH 390 cca</td>
        </tr>
        <tr>
            <td>Стандартные контрольно-измерительные приборы</td>
            <td colspan="2">Счетчик моточасов, уровень топлива, уровень гидравлической жидкости, световой индикатор температуры охлаждающей жидкости и давления масла</td>
        </tr>
        <tr>
            <td>Контроллер</td>
            <td colspan="2">Система управления Vermeer ACS</td>
        </tr>
        <tr>
            <td>Дисплей</td>
            <td colspan="2">Визуальные индикаторы двигателя Kohler</td>
        </tr>
        <tr>
            <td>Система выключения</td>
            <td colspan="2">Пониженная температура масла, повышенная температура воды</td>
        </tr>
        <tr>
            <td>Дистанционное радиоуправление</td>
            <td colspan="2">Нет</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">S355J2G3 и лист Domex. С порошковым покрытием.</td>
        </tr>
        <tr>
            <td>Описание дышла</td>
            <td colspan="2">Труба S335 NH квадратного сечения: 6,1 см</td>
        </tr>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">Шарового типа, 5,08 см</td>
        </tr>
        <tr>
            <td>Описание предохранительного щита</td>
            <td colspan="2">Пластик</td>
        </tr>
        <tr>
            <td>Мост/подвеска</td>
            <td colspan="2">Alko Euro +900</td>
        </tr>
        <tr>
            <td>Тип – первый вариант</td>
            <td colspan="2">Резиновый торсионный вал</td>
        </tr>
        <tr>
            <td>Изготовитель – первый вариант</td>
            <td colspan="2">Alko Kober</td>
        </tr>
        <tr>
            <td>Грузоподъемность – первый вариант</td>
            <td colspan="2">999,99 кг</td>
        </tr>
        <tr>
            <td>Шины – первый вариант</td>
            <td colspan="2">155/65R12</td>
        </tr>
        <tr>
            <td>Колеса – первый вариант</td>
            <td colspan="2">30,48 см</td>
        </tr>
        <tr>
            <td>Мост/подвеска – второй вариант</td>
            <td colspan="2">Alko Euro +900</td>
        </tr>
        <tr>
            <td>Тип – первый вариант</td>
            <td colspan="2">Резиновый торсионный вал</td>
        </tr>
        <tr>
            <td>Изготовитель – первый вариант</td>
            <td colspan="2">Alko Kober</td>
        </tr>
        <tr>
            <td>Грузоподъемность – первый вариант</td>
            <td colspan="2">859,19 кг</td>
        </tr>
        <tr>
            <td>Шины – первый вариант</td>
            <td colspan="2">155/65R12</td>
        </tr>
        <tr>
            <td>Колеса – первый вариант</td>
            <td colspan="2">30,48 см</td>
        </tr>
        <tr>
            <td>Тип тормозов</td>
            <td colspan="2">Барабан</td>
        </tr>
        <tr>
            <td>Тип осветительных приборов прицепа</td>
            <td colspan="2">12 вольт, удовлетворяет нормам ЕЭС</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Опционально</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">Опционально</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">Опционально</td>
        </tr>
        <tr>
            <td>Пульт дистанционного управления</td>
            <td colspan="2">Нет</td>
        </tr>
    </tbody>
</table>