<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина (стол собран)</td>
            <td colspan="2">449.6 см</td>
        </tr>
        <tr>
            <td>Длина (стол разобран)</td>
            <td colspan="2">586.7 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">199.4 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">271.8 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">4354.5 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">John Deere 4045РА09</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">173 л.с</td>
        </tr>
        <tr>
            <td>Крутящий момент (макс.)</td>
            <td colspan="2">667.1 Нм</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">132.5 л</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">14.7 л/час</td>
        </tr>
        <tr>
            <td>Включение привода сцепления</td>
            <td colspan="2">Clutchless PTO или центробежная муфта</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система подачи материала</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ориентация подающего валика</td>
            <td colspan="2">вертикальная</td>
        </tr>
        <tr>
            <td>Количество подающих валиков</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Нагрузка на зажим подающего валика</td>
            <td colspan="2">172.4 кг</td>
        </tr>
        <tr>
            <td>Размер подающего валика</td>
            <td colspan="2">59 x 45 см</td>
        </tr>
        <tr>
            <td>Вес подающего валика</td>
            <td colspan="2">52.6 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ширина подающего стола</td>
            <td colspan="2">170.2 см</td>
        </tr>
        <tr>
            <td>Длина подающего стола</td>
            <td colspan="2">91.4 см</td>
        </tr>
        <tr>
            <td>Высота приемной горловины</td>
            <td colspan="2">50 см</td>
        </tr>
        <tr>
            <td>Расстояние от подающего стола до земли</td>
            <td colspan="2">77.5 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3">Stop Bar 4 х позиционная планка остановки ролика подачи</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Барабанная режущая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Высота приёмной горловины</td>
            <td colspan="2">48.3 см</td>
        </tr>
        <tr>
            <td>Диаметр барабана</td>
            <td colspan="2">91.4 см</td>
        </tr>
        <tr>
            <td>Скорость</td>
            <td colspan="2">1500 об/мин</td>
        </tr>
        <tr>
            <td>Вес с валом</td>
            <td colspan="2">526.2 кг</td>
        </tr>
        <tr>
            <td>Количество ножей</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Толщина ножа</td>
            <td colspan="2">1.6 см</td>
        </tr>
        <tr>
            <td>Материал</td>
            <td colspan="2">Ножевая сталь A8</td>
        </tr>
        <tr>
            <td>Размер ножа</td>
            <td colspan="2">127 x 298 мм</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Высота желоба</td>
            <td colspan="2">279.4 см</td>
        </tr>
        <tr>
            <td>Угол поворота желоба</td>
            <td colspan="2">270 градусов</td>
        </tr>
        <tr>
            <td>Тип вращения</td>
            <td colspan="2">ручной</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">45.4 л</td>
        </tr>
        <tr>
            <td>Тип рекомендуемого масла</td>
            <td colspan="2">Vermeer VMF Gold</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">950 CCA</td>
        </tr>
        <tr>
            <td colspan="3">Панель управления, тахометр, давления масла, датчик уровня топлива, датчик температуры ОЖ</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">фаркоп</td>
        </tr>
        <tr>
            <td>Грузоподъёмность подвески</td>
            <td colspan="2">4535.5 кг</td>
        </tr>
        <tr>
            <td>Шины - вариант первый</td>
            <td colspan="2">235/75R17.5 диапазон нагрузки Н</td>
        </tr>
        <tr>
            <td>Тип осветительных приборов прицепа</td>
            <td colspan="2">СИД</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">доступно, опциональн</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">доступно, опциональн</td>
        </tr>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>