<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина – подающий стол поднят, дышло втянуто</td>
            <td colspan="2">350 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">154.9 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">240 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">1447 кг</td>
        </tr>
        <tr>
            <td>Вес дышла – первый вариант двигателя</td>
            <td colspan="2">74.8 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Kubota V2203-M-E3B</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">3</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">48.1 л.с</td>
        </tr>
        <tr>
            <td>Крутящий момент (макс.)</td>
            <td colspan="2">143.7 Нм</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">56.8 л</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">Donaldson, 2-ступенчатый сухой</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Навинчиваемый</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">API CH-4/SJ</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Генератор переменного тока</td>
            <td colspan="2">Kubota - 40 Ампер</td>
        </tr>
        <tr>
            <td>Вентилятор</td>
            <td colspan="2">38 см всасывание</td>
        </tr>
        <tr>
            <td>Тип сцепления</td>
            <td colspan="2">Группа 24 – 660 CCA</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость приемной горловины</td>
            <td colspan="2">20 см X 30,5 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Барабанная/дисковая режущая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Объем материала</td>
            <td colspan="2">20.3 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">110 см</td>
        </tr>
        <tr>
            <td>Количество ножей</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Материал</td>
            <td colspan="2">A8 инструментальная ножевая</td>
        </tr>
        <tr>
            <td>Используемые кромки</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Количество болтов/нож</td>
            <td colspan="2">2</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Комплектующие привода резака – первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Количество подшипников</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Тип</td>
            <td colspan="2">Сдвоенный сферический валик</td>
        </tr>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Составной ремень</td>
        </tr>
        <tr>
            <td>Натяжитель/промежуточный ролик ремня</td>
            <td colspan="2">Автоматический, демпфируемое натяжение</td>
        </tr>
        <tr>
            <td>Тип ремня</td>
            <td colspan="2">3 клина Classic B, из ленточного арамида с оберткой</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Толщина днища</td>
            <td colspan="2">.5 см</td>
        </tr>
        <tr>
            <td>Толщина верха</td>
            <td colspan="2">.5 см</td>
        </tr>
        <tr>
            <td>Толщина боковой стенки</td>
            <td colspan="2">.5 см</td>
        </tr>
        <tr>
            <td>Толщина отражателя</td>
            <td colspan="2">.2 см</td>
        </tr>
        <tr>
            <td>Угол поворота желоба</td>
            <td colspan="2">270 градусов</td>
        </tr>
        <tr>
            <td>Поворотного типа</td>
            <td colspan="2">Штифт</td>
        </tr>
        <tr>
            <td>Поворотный фиксатор</td>
            <td colspan="2">Прижим</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">22.7 л</td>
        </tr>
        <tr>
            <td>Тип рекомендуемого масла</td>
            <td colspan="2">VMF</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">172.4 бар</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Контроллер</td>
            <td colspan="2">CB02</td>
        </tr>
        <tr>
            <td>Дисплей</td>
            <td colspan="2">СИД</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">Alko 161S 50 мм шар</td>
        </tr>
        <tr>
            <td>Описание предохранительного щита</td>
            <td colspan="2">Стальная на болтах</td>
        </tr>
        <tr>
            <td>Мост/подвеска</td>
            <td colspan="2">Alko Plus 1500 кг</td>
        </tr>
        <tr>
            <td>Шины – первый вариант</td>
            <td colspan="2">175R13C8PR</td>
        </tr>
        <tr>
            <td>Колеса – первый вариант</td>
            <td colspan="2">Откидное опорное колесо, 250 кг</td>
        </tr>
        <tr>
            <td>Тип тормозов</td>
            <td colspan="2">Механические, ударные</td>
        </tr>
    </tbody>
</table>