<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина – подающий стол поднят, дышло втянуто</td>
            <td colspan="2">596.9 см</td>
        </tr>
        <tr>
            <td>Длина – стол опущен, дышло вытянуто</td>
            <td colspan="2">657.9 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">243.2 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">295.9 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">6894.6 кг</td>
        </tr>
        <tr>
            <td>Вес дышла – первый вариант двигателя</td>
            <td colspan="2">1093.2 кг</td>
        </tr>
        <tr>
            <td>Вес с лебедкой (дополнительный вариант)</td>
            <td colspan="2">626 кг</td>
        </tr>
        <tr>
            <td>Уровень звукового давления</td>
            <td colspan="2">86 дБ(а)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ориентация подающего валика</td>
            <td colspan="2">Горизонтальный</td>
        </tr>
        <tr>
            <td>Количество подающих валиков</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Нагрузка на зажим подающего валика</td>
            <td colspan="2">1587.6 кг</td>
        </tr>
        <tr>
            <td>Тип зажима подающего валика</td>
            <td colspan="2">Гидравлическая система</td>
        </tr>
        <tr>
            <td>Минимальное расстояние от подающего валика до барабана</td>
            <td colspan="2">25.4 см</td>
        </tr>
        <tr>
            <td>Размер подающего валика</td>
            <td colspan="2">48,3 см</td>
        </tr>
        <tr>
            <td>Вес подающего валика</td>
            <td colspan="2">440.9 кг</td>
        </tr>
        <tr>
            <td>Размер подающего валика (второй)</td>
            <td colspan="2">27,9 см</td>
        </tr>
        <tr>
            <td>Количество ножей (2)</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Рабочий объем гидромотора</td>
            <td colspan="2">4.9 CID</td>
        </tr>
        <tr>
            <td>Изготовитель гидромотора</td>
            <td colspan="2">Eaton</td>
        </tr>
        <tr>
            <td>Скорость подачи</td>
            <td colspan="2">110 ft/мин</td>
        </tr>
        <tr>
            <td>Ширина подающего стола</td>
            <td colspan="2">182.9 см</td>
        </tr>
        <tr>
            <td>Длина подающего стола</td>
            <td colspan="2">153.7 см</td>
        </tr>
        <tr>
            <td>Высота подающего бункера</td>
            <td colspan="2">97.8 см</td>
        </tr>
        <tr>
            <td>Емкость приемной горловины</td>
            <td colspan="2">102 см x 61 см</td>
        </tr>
        <tr>
            <td>Зона защемления – расстояние до края подающего стола</td>
            <td colspan="2">153.7 см</td>
        </tr>
        <tr>
            <td>Расстояние от подающего стола до земли</td>
            <td colspan="2">78.2 см</td>
        </tr>
        <tr>
            <td>Толщина подающего стола</td>
            <td colspan="2">1 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Нижняя планка выключения подачи</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Метод сброса</td>
            <td colspan="2">Зеленая нажимная кнопка пуска</td>
        </tr>
        <tr>
            <td>Четырехпозиционная рейка управления подачей</td>
            <td colspan="2">Стандартная</td>
        </tr>
        <tr>
            <td>Положения</td>
            <td colspan="2">Четыре положения: аварийная остановка, вперед, нейтральное и назад</td>
        </tr>
        <tr>
            <td>Зеленая нажимная кнопка пуска</td>
            <td colspan="2">Стандартный</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Барабанная/дисковая режущая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Объем материала</td>
            <td colspan="2">53.3 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">1.3 см</td>
        </tr>
        <tr>
            <td>Толщина</td>
            <td colspan="2">71.1 см</td>
        </tr>
        <tr>
            <td>Диаметр</td>
            <td colspan="2">91.4 см</td>
        </tr>
        <tr>
            <td>Скорость</td>
            <td colspan="2">1084 об/мин</td>
        </tr>
        <tr>
            <td>Вес с валом</td>
            <td colspan="2">680.4 кг</td>
        </tr>
        <tr>
            <td>Предохранительный фиксатор – количество положений</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Количество ножей</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Толщина ножа</td>
            <td colspan="2">1.6 см</td>
        </tr>
        <tr>
            <td>Материал</td>
            <td colspan="2">Ножевая сталь A8</td>
        </tr>
        <tr>
            <td>Используемые кромки</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Размер ножа</td>
            <td colspan="2">12,7 см x 35,6 см</td>
        </tr>
        <tr>
            <td>Количество болтов/нож</td>
            <td colspan="2">6</td>
        </tr>
        <tr>
            <td>Сменная резьбовая ножевая головка</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Количество лопаток</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Метод крепления</td>
            <td colspan="2">Приваренный</td>
        </tr>
        <tr>
            <td>Воздушный поток</td>
            <td colspan="2">3600 cfm</td>
        </tr>
        <tr>
            <td>Размер неподвижного ножа</td>
            <td colspan="2">7,6 см x 69,9 см</td>
        </tr>
        <tr>
            <td>Неподвижный нож – количество используемых кромок</td>
            <td colspan="2">4</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Комплектующие привода резака – первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Количество подшипников</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Скважина</td>
            <td colspan="2">8.6 см</td>
        </tr>
        <tr>
            <td>Тип</td>
            <td colspan="2">Сферический роликовый</td>
        </tr>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Dodge</td>
        </tr>
        <tr>
            <td>Динамическая нагрузочная способность</td>
            <td colspan="2">29710.3 кг</td>
        </tr>
        <tr>
            <td>Натяжитель/промежуточный ролик ремня</td>
            <td colspan="2">Торсионный рычаг, пружинный</td>
        </tr>
        <tr>
            <td>Тип ремня</td>
            <td colspan="2">5V, Измельчитель, полиуретан</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Высота желоба</td>
            <td colspan="2">294.6 см</td>
        </tr>
        <tr>
            <td>Толщина днища</td>
            <td colspan="2">.3 см</td>
        </tr>
        <tr>
            <td>Толщина верха</td>
            <td colspan="2">.5 см</td>
        </tr>
        <tr>
            <td>Толщина боковой стенки</td>
            <td colspan="2">.3 см</td>
        </tr>
        <tr>
            <td>Толщина отражателя</td>
            <td colspan="2">.2 см</td>
        </tr>
        <tr>
            <td>Угол поворота желоба</td>
            <td colspan="2">270 градусов</td>
        </tr>
        <tr>
            <td>Поворотного типа</td>
            <td colspan="2">Гидравлическая система</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">90.9 л</td>
        </tr>
        <tr>
            <td>Тип рекомендуемого масла</td>
            <td colspan="2">Vermeer Hy-Power 68</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">С открытым центром</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">10 микрон – возврат, 100-ячеистая сетка – всасывание</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">49.2 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">189.6 бар</td>
        </tr>
        <tr>
            <td>Давление автореверса (фунты на кв. дюйм)</td>
            <td colspan="2">175.8 бар</td>
        </tr>
        <tr>
            <td>Управление направлением</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Маслоохладитель</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">2 – 950 CCA</td>
        </tr>
        <tr>
            <td>Стандартные контрольно-измерительные приборы</td>
            <td colspan="2">Тахометр, счетчик моточасов, счетчик пути, пройденного за одну поездку, температура охлаждающей жидкости, давление масла двигателя, напряжение аккумуляторной батареи, код неисправности двигателя, световой индикатор выключения двигателя и световой предупреждающий индикатор отказа двигателя</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Восстановление дизельного сажевого фильтра, поглотитель дизельного сажевого фильтра</td>
        </tr>
        <tr>
            <td>Контроллер</td>
            <td colspan="2">C148</td>
        </tr>
        <tr>
            <td>Система выключения</td>
            <td colspan="2">Температура охлаждающей жидкости, температура впускного коллектора, давление масла</td>
        </tr>
        <tr>
            <td>Дистанционное радиоуправление</td>
            <td colspan="2">Обороты двигателя, разгрузочный желоб, прямая подача, остановка, обратная подача, система SmartCrush, обеспечивающая повышенное давление прижима, настройки снижения оборотов системой SmartFeed и остановка двигателя</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">Несущий С-образный профиль 6,4 см x 22,2 см</td>
        </tr>
        <tr>
            <td>Описание ящика для инструментов</td>
            <td colspan="2">Запираемый</td>
        </tr>
        <tr>
            <td>Описание дышла</td>
            <td colspan="2">6,4 см x 11,4 см x 1 см</td>
        </tr>
        <tr>
            <td>Удлинитель дышла</td>
            <td colspan="2">Удлинитель 2,5 см – 30,5 см</td>
        </tr>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">Шкворень 7,6 см</td>
        </tr>
        <tr>
            <td>Описание предохранительного щита</td>
            <td colspan="2">Болтовое крепление</td>
        </tr>
        <tr>
            <td>Мост/подвеска</td>
            <td colspan="2">Тандемный торсионный, грузоподъемность – 3628,7 кг</td>
        </tr>
        <tr>
            <td>Изготовитель – первый вариант</td>
            <td colspan="2">Dexter</td>
        </tr>
        <tr>
            <td>Грузоподъемность – первый вариант</td>
            <td colspan="2">8,000 кг</td>
        </tr>
        <tr>
            <td>Шины – первый вариант</td>
            <td colspan="2">235/75R17.5; диапазон нагрузок – J</td>
        </tr>
        <tr>
            <td>Колеса – первый вариант</td>
            <td colspan="2">44,5 см x 17,1 см; 8 болтов на окружности 16,5 см</td>
        </tr>
        <tr>
            <td>Тип тормозов</td>
            <td colspan="2">Электрические</td>
        </tr>
        <tr>
            <td>Тип осветительных приборов прицепа</td>
            <td colspan="2">СИД</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Лебедка (дополнительное оборудование)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Система освобождения лебедки</td>
            <td colspan="2">131 бар</td>
        </tr>
        <tr>
            <td>Конструкция стрелы лебедки</td>
            <td colspan="2">Сварная конструкция</td>
        </tr>
        <tr>
            <td>Органы управления лебедкой</td>
            <td colspan="2">Канат: внутрь и наружу; стрела подъемника: вверх и вниз</td>
        </tr>
        <tr>
            <td>Трос лебедки</td>
            <td colspan="2">1,4 см, двойного плетения, каркасная нить DNEEMA</td>
        </tr>
        <tr>
            <td>Длина троса</td>
            <td colspan="2">4570 см</td>
        </tr>
        <tr>
            <td>Тяговая сила на тросе</td>
            <td colspan="2">1814.4 кг</td>
        </tr>
        <tr>
            <td>Зажим троса</td>
            <td colspan="2">Затяжная петля стандартной конструкции Vermeer</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Дополнительно</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">Дополнительно</td>
        </tr>
        <tr>
            <td>Профилактическое техобслуживание</td>
            <td colspan="2">Дополнительно</td>
        </tr>
        <tr>
            <td>Разгрузочный желоб регулируемой высоты</td>
            <td colspan="2">Дополнительно</td>
        </tr>
        <tr>
            <td>Пульт дистанционного управления</td>
            <td colspan="2">Дополнительно</td>
        </tr>
        <tr>
            <td>Гидравлические выносные опоры</td>
            <td colspan="2">Дополнительно</td>
        </tr>
    </tbody>
</table>