<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина – подающий стол поднят, дышло втянуто</td>
            <td colspan="2">363 см</td>
        </tr>
        <tr>
            <td>Длина – стол опущен, дышло вытянуто</td>
            <td colspan="2">414 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">188 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">240 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">1980 кг</td>
        </tr>
        <tr>
            <td>Вес дышла – первый вариант двигателя</td>
            <td colspan="2">91 кг</td>
        </tr>
        <tr>
            <td>Уровень звукового давления</td>
            <td colspan="2">120 дБ</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Kubota V2607T</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">66 л.с</td>
        </tr>
        <tr>
            <td>Крутящий момент (макс.)</td>
            <td colspan="2">215.8 Нм</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">55 л</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">19 л/час</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">Дизельное топливо с ультранизким содержанием серы</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">Donaldson, 2-ступенчатый сухой</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Навинчиваемый</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">API CH-4/SJ</td>
        </tr>
        <tr>
            <td>Объем масла с учетом фильтра</td>
            <td colspan="2">9.8 л</td>
        </tr>
        <tr>
            <td>Максимальный угол при непрерывной работе</td>
            <td colspan="2">30 градусов</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">50/50 вода/антифриз</td>
        </tr>
        <tr>
            <td>Объем охлаждающей жидкости (в двигателе и радиаторе)</td>
            <td colspan="2">10.4 л</td>
        </tr>
        <tr>
            <td>Генератор переменного тока</td>
            <td colspan="2">60 ампер</td>
        </tr>
        <tr>
            <td>Вентилятор</td>
            <td colspan="2">диаметр 43 см, всасывание</td>
        </tr>
        <tr>
            <td>Тип сцепления</td>
            <td colspan="2">V-образный ремень с натяжением от нижнего натяжного валика</td>
        </tr>
        <tr>
            <td>Включение привода сцепления</td>
            <td colspan="2">Ручная, рычажная со смещением от оси двигателя</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ориентация подающего валика</td>
            <td colspan="2">Горизонтальный - смещенный нижний валик</td>
        </tr>
        <tr>
            <td>Количество подающих валиков</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Нагрузка на зажим подающего валика</td>
            <td colspan="2">303 кг</td>
        </tr>
        <tr>
            <td>Тип зажима подающего валика</td>
            <td colspan="2">2 пружины и вес роликоопоры</td>
        </tr>
        <tr>
            <td>Минимальное расстояние от подающего валика до барабана</td>
            <td colspan="2">8 см</td>
        </tr>
        <tr>
            <td>Размер подающего валика</td>
            <td colspan="2">40 см</td>
        </tr>
        <tr>
            <td>Количество ножей</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Вес подающего валика</td>
            <td colspan="2">100 кг</td>
        </tr>
        <tr>
            <td>Размер подающего валика (второй)</td>
            <td colspan="2">Диаметр 26 см</td>
        </tr>
        <tr>
            <td>Количество ножей (2)</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Вес подающего валика (второй вариант)</td>
            <td colspan="2">25 кг</td>
        </tr>
        <tr>
            <td>Количество гидромоторов подающих валиков</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Рабочий объем гидромотора</td>
            <td colspan="2">Верхний: 555 куб. см Нижний: 350 куб. см</td>
        </tr>
        <tr>
            <td>Изготовитель гидромотора</td>
            <td colspan="2">Белый</td>
        </tr>
        <tr>
            <td>Скорость подачи</td>
            <td colspan="2">24.6 м/мин</td>
        </tr>
        <tr>
            <td>Ширина подающего стола</td>
            <td colspan="2">122 см</td>
        </tr>
        <tr>
            <td>Длина подающего стола</td>
            <td colspan="2">63.5 см</td>
        </tr>
        <tr>
            <td>Высота подающего бункера</td>
            <td colspan="2">82 см</td>
        </tr>
        <tr>
            <td>Емкость приемной горловины</td>
            <td colspan="2">23 x 35,5 см</td>
        </tr>
        <tr>
            <td>Зона защемления – расстояние до края подающего стола</td>
            <td colspan="2">165 см</td>
        </tr>
        <tr>
            <td>Расстояние от подающего стола до земли</td>
            <td colspan="2">75 см</td>
        </tr>
        <tr>
            <td>Толщина подающего стола</td>
            <td colspan="2">4.8 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Нижняя планка выключения подачи</td>
            <td colspan="2">Совместимый с EN 13525</td>
        </tr>
        <tr>
            <td>Диаметр нижней планки выключения подачи</td>
            <td colspan="2">0.5 см</td>
        </tr>
        <tr>
            <td>Толщина материла нижней планки выключения подачи</td>
            <td colspan="2">2 мм</td>
        </tr>
        <tr>
            <td>Усиление включения (BFSB)</td>
            <td colspan="2">15 кг</td>
        </tr>
        <tr>
            <td>Метод сброса</td>
            <td colspan="2">2-переключателя сброса с каждой стороны желоба</td>
        </tr>
        <tr>
            <td>Четырехпозиционная рейка управления подачей</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Диаметр</td>
            <td colspan="2">5 см</td>
        </tr>
        <tr>
            <td>Толщина материала</td>
            <td colspan="2">.2 см</td>
        </tr>
        <tr>
            <td>Положения</td>
            <td colspan="2">Аварийная остановка/подача/остановка/назад</td>
        </tr>
        <tr>
            <td>Усиление включения</td>
            <td colspan="2">15 кг</td>
        </tr>
        <tr>
            <td>Зеленая нажимная кнопка пуска</td>
            <td colspan="2">2-переключателя сброса с каждой стороны желоба</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Барабанная/дисковая режущая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Объем материала</td>
            <td colspan="2">23 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">25 см</td>
        </tr>
        <tr>
            <td>Диаметр</td>
            <td colspan="2">84 см</td>
        </tr>
        <tr>
            <td>Скорость</td>
            <td colspan="2">1350 об/мин</td>
        </tr>
        <tr>
            <td>Вес с валом</td>
            <td colspan="2">150 кг</td>
        </tr>
        <tr>
            <td>Предохранительный фиксатор – количество положений</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Количество ножей</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Толщина ножа</td>
            <td colspan="2">1.6 см</td>
        </tr>
        <tr>
            <td>Материал</td>
            <td colspan="2">Ножевая сталь A8, модифицированная</td>
        </tr>
        <tr>
            <td>Используемые кромки</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Размер ножа</td>
            <td colspan="2">127 x 298 мм</td>
        </tr>
        <tr>
            <td>Количество болтов/нож</td>
            <td colspan="2">5</td>
        </tr>
        <tr>
            <td>Сменная резьбовая ножевая головка</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Количество лопаток</td>
            <td colspan="2">2 сменных</td>
        </tr>
        <tr>
            <td>Метод крепления</td>
            <td colspan="2">Болт</td>
        </tr>
        <tr>
            <td>Воздушный поток</td>
            <td colspan="2">86.6 cfm</td>
        </tr>
        <tr>
            <td>Размер неподвижного ножа</td>
            <td colspan="2">127 x 308 мм, горизонтальный<br/>127 x 226 мм, вертикальный</td>
        </tr>
        <tr>
            <td>Толщина неподвижного ножа</td>
            <td colspan="2">1.9 см</td>
        </tr>
        <tr>
            <td>Материал неподвижного ножа</td>
            <td colspan="2">ASTM, марка 50</td>
        </tr>
        <tr>
            <td>Неподвижный нож – количество используемых кромок</td>
            <td colspan="2">2</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Комплектующие привода резака – первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Количество подшипников</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Скважина</td>
            <td colspan="2">55.6 см</td>
        </tr>
        <tr>
            <td>Тип</td>
            <td colspan="2">Сдвоенный сферический валик, фланцевого типа</td>
        </tr>
        <tr>
            <td>Изготовитель</td>
            <td colspan="2">Linkbelt</td>
        </tr>
        <tr>
            <td>Динамическая нагрузочная способность</td>
            <td colspan="2">14272 кг</td>
        </tr>
        <tr>
            <td>Статическая нагрузочная способность</td>
            <td colspan="2">24318 кг</td>
        </tr>
        <tr>
            <td>Натяжитель/промежуточный ролик ремня</td>
            <td colspan="2">Нижний натяжной ролик</td>
        </tr>
        <tr>
            <td>Тип ремня</td>
            <td colspan="2">3 ребра, B-тип, бандажированный арамидом</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Высота желоба</td>
            <td colspan="2">205 см</td>
        </tr>
        <tr>
            <td>Толщина днища</td>
            <td colspan="2">.5 см</td>
        </tr>
        <tr>
            <td>Толщина верха</td>
            <td colspan="2">.3 см</td>
        </tr>
        <tr>
            <td>Толщина боковой стенки</td>
            <td colspan="2">.3 см</td>
        </tr>
        <tr>
            <td>Толщина отражателя</td>
            <td colspan="2">.3 см</td>
        </tr>
        <tr>
            <td>Угол поворота желоба</td>
            <td colspan="2">270 градусов</td>
        </tr>
        <tr>
            <td>Поворотного типа</td>
            <td colspan="2">Поворотное основание с нейлоновым покрытием</td>
        </tr>
        <tr>
            <td>Поворотный фиксатор</td>
            <td colspan="2">Подружиненный</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">22.7 л</td>
        </tr>
        <tr>
            <td>Тип рекомендуемого масла</td>
            <td colspan="2">VMF</td>
        </tr>
        <tr>
            <td>Тип системы</td>
            <td colspan="2">Разомкнутый контур</td>
        </tr>
        <tr>
            <td>Метод фильтрации</td>
            <td colspan="2">Возвратный, 10 микрон</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">15 л/мин</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">172 бар</td>
        </tr>
        <tr>
            <td>Разгрузочное давление системы</td>
            <td colspan="2">158 бар</td>
        </tr>
        <tr>
            <td>Регулирование потока</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Управление направлением</td>
            <td colspan="2">Подача/стоп/назад</td>
        </tr>
        <tr>
            <td>Маслоохладитель</td>
            <td colspan="2">Нет</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">Группа 31 660-950 CCA</td>
        </tr>
        <tr>
            <td>Стандартные контрольно-измерительные приборы</td>
            <td colspan="2">Часы</td>
        </tr>
        <tr>
            <td>Контрольно-измерительные приборы в «люксовом» исполнении</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Переключатели</td>
            <td colspan="2">Запуск ключом</td>
        </tr>
        <tr>
            <td>Контроллер</td>
            <td colspan="2">CB02</td>
        </tr>
        <tr>
            <td>Дисплей</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Система выключения</td>
            <td colspan="2">Пониженное давление масла, повышенная температура охлаждающей жидкости</td>
        </tr>
        <tr>
            <td>Дистанционное радиоуправление</td>
            <td colspan="2">Нет</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание рамы</td>
            <td colspan="2">Сварная рама-лестница</td>
        </tr>
        <tr>
            <td>Описание ящика для инструментов</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Описание дышла</td>
            <td colspan="2">Ударный тормоз Knott KRV30</td>
        </tr>
        <tr>
            <td>Удлинитель дышла</td>
            <td colspan="2">Нет</td>
        </tr>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">Шар 50 мм</td>
        </tr>
        <tr>
            <td>Описание предохранительного щита</td>
            <td colspan="2">Сварная, на болтах</td>
        </tr>
        <tr>
            <td>Мост/подвеска</td>
            <td colspan="2">Резиновый торсионный вал Knott 2500 кг</td>
        </tr>
        <tr>
            <td>Тип – первый вариант</td>
            <td colspan="2">215R14C</td>
        </tr>
        <tr>
            <td>Грузоподъемность – первый вариант</td>
            <td colspan="2">1120 кг каждый</td>
        </tr>
        <tr>
            <td>Тип тормозов</td>
            <td colspan="2">Механические, ударные</td>
        </tr>
        <tr>
            <td>Тип осветительных приборов прицепа</td>
            <td colspan="2">СИД</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">24 и 36 месяцев</td>
        </tr>
    </tbody>
</table>