<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина – стол подачи собран</td>
            <td colspan="2">287 см</td>
        </tr>
        <tr>
            <td>Длина – стол подачи опущен</td>
            <td colspan="2">337.8 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">180.3 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">259.1 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">816.5 кг</td>
        </tr>
        <tr>
            <td>Вес стола</td>
            <td colspan="2">81.6 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">KOHLER ECH740</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">25 л.с</td>
        </tr>
        <tr>
            <td>Крутящий момент (макс.)</td>
            <td colspan="2">56.5 Нм</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">22.7 л</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">9.1 л/час</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">бензин</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">Kohler HD 2-Stage Dry</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">API CH4 / SJ</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ориентация подающих роликов</td>
            <td colspan="2">Горизонтальный</td>
        </tr>
        <tr>
            <td>Нагрузка на зажим подающего ролика</td>
            <td colspan="2">238.1 кг</td>
        </tr>
        <tr>
            <td>Ширина подающего ролика</td>
            <td colspan="2">25.4 см</td>
        </tr>
        <tr>
            <td>Вес подающего ролика</td>
            <td colspan="2">45.4 кг</td>
        </tr>
        <tr>
            <td>Привод ролика</td>
            <td colspan="2">гидравлический</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Размеры приемного стола</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ширина стола подачи</td>
            <td colspan="2">104.6 см</td>
        </tr>
        <tr>
            <td>Длина стола подачи</td>
            <td colspan="2">76.7 см</td>
        </tr>
        <tr>
            <td>Высота загрузочного бункера</td>
            <td colspan="2">56.1 см</td>
        </tr>
        <tr>
            <td>Длина стола подачи</td>
            <td colspan="2">166.1 см</td>
        </tr>
        <tr>
            <td>Расстояние от стола подачи до земли</td>
            <td colspan="2">71.4 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3">Stop Bar 4 х позиционная планка остановки ролика подачи</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дисковая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Высота приёмной горловины</td>
            <td colspan="2">15.2 см</td>
        </tr>
        <tr>
            <td>Толщина диска</td>
            <td colspan="2">3.2 см</td>
        </tr>
        <tr>
            <td>Диаметр диска</td>
            <td colspan="2">60.7 см</td>
        </tr>
        <tr>
            <td>Скорость вращения диска</td>
            <td colspan="2">1748 об/мин</td>
        </tr>
        <tr>
            <td>Вес с валом</td>
            <td colspan="2">79.8 кг</td>
        </tr>
        <tr>
            <td>Количество ножей</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Толщина ножа</td>
            <td colspan="2">1.6 см</td>
        </tr>
        <tr>
            <td>Материал</td>
            <td colspan="2">Ножевая сталь A8</td>
        </tr>
        <tr>
            <td>Размер ножа</td>
            <td colspan="2">102 x 219 мм</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Высота желоба</td>
            <td colspan="2">246.8 см</td>
        </tr>
        <tr>
            <td>Угол поворота желоба</td>
            <td colspan="2">240 градусов</td>
        </tr>
        <tr>
            <td>Тип вращения желоба</td>
            <td colspan="2">Ручной</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">25.7 л</td>
        </tr>
        <tr>
            <td>Тип рекомендуемого масла</td>
            <td colspan="2">Vermeer VMF Gold</td>
        </tr>
        <tr>
            <td>Расход насоса при максимальных оборотах</td>
            <td colspan="2">14.4 л/мин</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">Group 26, 400 CCA</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">фаркоп</td>
        </tr>
        <tr>
            <td>Грузоподъемность</td>
            <td colspan="2">907.2 кг</td>
        </tr>
        <tr>
            <td>Шины - вариант первый</td>
            <td colspan="2">ST185 / 80D13 диапазон нагрузки D</td>
        </tr>
        <tr>
            <td>Тип осветительных приборов прицепа</td>
            <td colspan="2">СИД</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">доступно, опционально</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">доступно, опционально</td>
        </tr>
    </tbody>
</table>