<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Основные размеры и вес</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Длина (стол собран)</td>
            <td colspan="2">356.6 см</td>
        </tr>
        <tr>
            <td>Длина (стол разобран)</td>
            <td colspan="2">393.2 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">201.9 см</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td colspan="2">257.8 см</td>
        </tr>
        <tr>
            <td>Вес – первый вариант двигателя</td>
            <td colspan="2">1351.7 кг</td>
        </tr>
        <tr>
            <td>Вес стола</td>
            <td colspan="2">136.1 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Briggs and Stratton Vanguard</td>
        </tr>
        <tr>
            <td>Полная мощность (макс.)</td>
            <td colspan="2">35 л.с</td>
        </tr>
        <tr>
            <td>Крутящий момент (макс.)</td>
            <td colspan="2">71.9 Нм</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">60.6 л</td>
        </tr>
        <tr>
            <td>Макс. расход топлива</td>
            <td colspan="2">12.1 л/час</td>
        </tr>
        <tr>
            <td>Вид топлива</td>
            <td colspan="2">бензин</td>
        </tr>
        <tr>
            <td>Рекомендуемое масло</td>
            <td colspan="2">10W30</td>
        </tr>
        <tr>
            <td>Объем масла с учетом фильтра</td>
            <td colspan="2">1.9 л</td>
        </tr>
        <tr>
            <td>Генератор переменного тока</td>
            <td colspan="2">20 ампер</td>
        </tr>
        <tr>
            <td>Включение привода сцепления</td>
            <td colspan="2">Clutchless PTO или центробежная муфта</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система подачи материала</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ориентация подающего валика</td>
            <td colspan="2">Горизонтальный</td>
        </tr>
        <tr>
            <td>Количество подающих валиков</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Нагрузка на зажим подающего валика</td>
            <td colspan="2">219.5 кг</td>
        </tr>
        <tr>
            <td>Размер подающего валика</td>
            <td colspan="2">40 x 34.3 см</td>
        </tr>
        <tr>
            <td>Вес подающего валика</td>
            <td colspan="2">95.3 кг</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система подачи</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ширина подающего стола</td>
            <td colspan="2">121.9 см</td>
        </tr>
        <tr>
            <td>Длина подающего стола</td>
            <td colspan="2">63.5 см</td>
        </tr>
        <tr>
            <td>Высота подающего бункера</td>
            <td colspan="2">81.3 см</td>
        </tr>
        <tr>
            <td>Зона защемления – расстояние до края подающего стола</td>
            <td colspan="2">167.6 см</td>
        </tr>
        <tr>
            <td>Расстояние от подающего стола до земли</td>
            <td colspan="2">73.7 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Система обеспечения безопасности</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3">Stop Bar 4-х позиционная планка остановки ролика подачи</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Дисковая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Высота приёмной горловины</td>
            <td colspan="2">22.9 см</td>
        </tr>
        <tr>
            <td>Толщина диска</td>
            <td colspan="2">2.5 см</td>
        </tr>
        <tr>
            <td>Диаметр диска</td>
            <td colspan="2">83.8 см</td>
        </tr>
        <tr>
            <td>Скорость</td>
            <td colspan="2">1500 об/мин</td>
        </tr>
        <tr>
            <td>Вес с валом</td>
            <td colspan="2">149.7 кг</td>
        </tr>
        <tr>
            <td>Количество ножей</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Толщина ножа</td>
            <td colspan="2">1.6 см</td>
        </tr>
        <tr>
            <td>Материал</td>
            <td colspan="2">Ножевая сталь A8</td>
        </tr>
        <tr>
            <td>Размер ножа</td>
            <td colspan="2">127 x 298 мм</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Разгрузочная система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Высота желоба</td>
            <td colspan="2">245.6 см</td>
        </tr>
        <tr>
            <td>Угол поворота желоба</td>
            <td colspan="2">240 градусов</td>
        </tr>
        <tr>
            <td>Тип вращения</td>
            <td colspan="2">ручной</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость бака</td>
            <td colspan="2">25.7 л</td>
        </tr>
        <tr>
            <td>Тип рекомендуемого масла</td>
            <td colspan="2">Vermeer VMF Gold</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Электрическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Напряжение бортовой сети</td>
            <td colspan="2">12</td>
        </tr>
        <tr>
            <td>Аккумуляторная батарея</td>
            <td colspan="2">Group 24 - 580 CCA</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Шасси</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип сцепного устройства</td>
            <td colspan="2">фаркоп</td>
        </tr>
        <tr>
            <td>Грузоподъёмность шасси</td>
            <td colspan="2">1587.6 кг</td>
        </tr>
        <tr>
            <td>Шины</td>
            <td colspan="2">ST215/75R14 диапазон нагрузки D</td>
        </tr>
        <tr>
            <td>Тип осветительных приборов прицепа</td>
            <td colspan="2">СИД</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Прочие варианты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Специальная краска</td>
            <td colspan="2">доступно, опционально</td>
        </tr>
        <tr>
            <td>Расширенная гарантия</td>
            <td colspan="2">доступно, опционально</td>
        </tr>
    </tbody>
</table>