<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Транспортные размеры</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Угол сближения</td>
            <td colspan="2">35.5 градусов</td>
        </tr>
        <tr>
            <td>Длина (трактор, с гусеницами)</td>
            <td colspan="2">459.7 см</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td colspan="2">184.2 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, гусеницы)</td>
            <td colspan="2">228.6 см</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td colspan="2">6295 кг</td>
        </tr>
        <tr>
            <td>Дорожный просвет</td>
            <td colspan="2">37.5 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гусеницы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Резина с универсальным протектором</td>
        </tr>
        <tr>
            <td>Тип дорожки</td>
            <td colspan="2">Вложенные сополимерные шнуры</td>
        </tr>
        <tr>
            <td>Ширина дорожки</td>
            <td colspan="2">50.8 см</td>
        </tr>
        <tr>
            <td>Давление на грунт</td>
            <td colspan="2">.3 бар</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода – нижний диапазон</td>
            <td colspan="2">16.1 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода – верхний диапазон</td>
            <td colspan="2">9.7 км/ч</td>
        </tr>
        <tr>
            <td>Стояночный тормоз</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Мульчер</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Название модели</td>
            <td colspan="2">FH100</td>
        </tr>
        <tr>
            <td>Общая ширина крепления</td>
            <td colspan="2">185.4 см</td>
        </tr>
        <tr>
            <td>Вес с диапазоном крепления</td>
            <td colspan="2">1202 кг</td>
        </tr>
        <tr>
            <td>Тип ротора</td>
            <td colspan="2">Обрученный</td>
        </tr>
        <tr>
            <td>Диаметр наконечника</td>
            <td colspan="2">45.7 см</td>
        </tr>
        <tr>
            <td>Рабочая ширина</td>
            <td colspan="2">160 см</td>
        </tr>
        <tr>
            <td>Количество режущих зубов</td>
            <td colspan="2">17</td>
        </tr>
        <tr>
            <td>Обороты ротора</td>
            <td colspan="2">2227 об/мин</td>
        </tr>
        <tr>
            <td>Привод ротора</td>
            <td colspan="2">Зубчатый ремень</td>
        </tr>
        <tr>
            <td>Количество моторов</td>
            <td colspan="2">1</td>
        </tr>
        <tr>
            <td>Объем гидравлического двигателя</td>
            <td colspan="2">1884.5 см³</td>
        </tr>
        <tr>
            <td>Наконечник 1</td>
            <td colspan="2">Острый плоский</td>
        </tr>
        <tr>
            <td>Наконечник 2</td>
            <td colspan="2">Облицованный плоский</td>
        </tr>
        <tr>
            <td>Наконечник 3</td>
            <td colspan="2">Ударопрочный молоток</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Кабина</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Точки выхода</td>
            <td colspan="2">2 - передняя дверь, заднее стекло</td>
        </tr>
        <tr>
            <td>Тип окна</td>
            <td colspan="2">Переднее - износостойкий поликарбонат</td>
        </tr>
        <tr>
            <td>Толщина окна</td>
            <td colspan="2">1.3 см</td>
        </tr>
        <tr>
            <td>Система управления</td>
            <td colspan="2">Двойной джойстик</td>
        </tr>
        <tr>
            <td>Кондиционер/обогреватель</td>
            <td colspan="2">18.500 BTU/33.000 BTU</td>
        </tr>
        <tr>
            <td>Сиденье с пневмоподвеской</td>
            <td colspan="2">Регулируемая подвеска с 2-дюймовым широким ремнем безопасности</td>
        </tr>
        <tr>
            <td>Стереофонический радиоприемник AM/FM-диапазонов с каналом прогноза погоды</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Дисплей</td>
            <td colspan="2">Монохромный</td>
        </tr>
        <tr>
            <td>Сжатый /отфильтрованный воздух</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Проверена конструкция защиты от опрокидывания (ROPS)</td>
            <td colspan="2">Соответствует ISO 8082-1: 2009</td>
        </tr>
        <tr>
            <td>Защитная конструкция от падающих предметов (FOPS) проверена</td>
            <td colspan="2">Соответствует ISO 8083: 2006 Уровень 2</td>
        </tr>
        <tr>
            <td>Защитная структура оператора (OPS) проверена</td>
            <td colspan="2">Соответствует ISO 8084; 2003</td>
        </tr>
        <tr>
            <td>Резервная камера</td>
            <td colspan="2">Цветная, инфракрасная, стандартная</td>
        </tr>
        <tr>
            <td>Количество рабочих фар</td>
            <td colspan="2">4</td>
        </tr>
        <tr>
            <td>Тип фар</td>
            <td colspan="2">Колба</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">83.3 л</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Ashless High V1 46</td>
        </tr>
        <tr>
            <td>Объем насоса</td>
            <td colspan="2">85 см³</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">170.3 л/мин</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Опции</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Задняя лебедка</td>
            <td colspan="2">1803.9 кг</td>
        </tr>
    </tbody>
</table>