<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Транспортные размеры</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Угол сближения</td>
            <td colspan="2">35 градусов</td>
        </tr>
        <tr>
            <td>Длина (трактор, с гусеницами)</td>
            <td colspan="2">678.2 см</td>
        </tr>
        <tr>
            <td>Ширина трактора - 30 " гусеницы</td>
            <td colspan="2">248.9 см</td>
        </tr>
        <tr>
            <td>Ширина трактора - 36 " гусеницы</td>
            <td colspan="2">264.2 см</td>
        </tr>
        <tr>
            <td>Высота (базовый трактор, гусеницы)</td>
            <td colspan="2">296.4 см</td>
        </tr>
        <tr>
            <td>Вес трактора с навесным оборудованием</td>
            <td colspan="2">18098.3 кг</td>
        </tr>
        <tr>
            <td>Дорожный просвет</td>
            <td colspan="2">36.8 см</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант двигателя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Tier 3 engine option</td>
        </tr>
        <tr>
            <td>Полная мощность</td>
            <td colspan="2">290 л.с</td>
        </tr>
        <tr>
            <td>Номинальная частота вращения вала двигателя (об/мин)</td>
            <td colspan="2">2200</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td colspan="2">6</td>
        </tr>
        <tr>
            <td>Емкость топливного бака</td>
            <td colspan="2">518.6 л</td>
        </tr>
        <tr>
            <td>Максимальный рабочий угол двигателя (рабочие углы двигателя не являются безопасными рабочими углами машины)</td>
            <td colspan="2">45 градусов</td>
        </tr>
        <tr>
            <td>Воздухоочиститель</td>
            <td colspan="2">Сухой тип с предварительным очистителем. Первичные и вторичные элементы и индикатор ограничения</td>
        </tr>
        <tr>
            <td>Аспирация</td>
            <td colspan="2">Глушитель</td>
        </tr>
        <tr>
            <td>Охлаждающая среда</td>
            <td colspan="2">Жидкостная</td>
        </tr>
        <tr>
            <td>Электрическая система</td>
            <td colspan="2">24 В пост. тока</td>
        </tr>
        <tr>
            <td>Масляный фильтр</td>
            <td colspan="2">Полнопоточный</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Первый вариант гусениц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Berco - D4</td>
        </tr>
        <tr>
            <td>Тип дорожки</td>
            <td colspan="2">Одиночный тетерев</td>
        </tr>
        <tr>
            <td>Ширина дорожки</td>
            <td colspan="2">76.2 см</td>
        </tr>
        <tr>
            <td>Давление на грунт</td>
            <td colspan="2">.3 бар</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода – нижний диапазон</td>
            <td colspan="2">4.8 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода – верхний диапазон</td>
            <td colspan="2">9.7 км/ч</td>
        </tr>
        <tr>
            <td>Стояночный тормоз</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Второй вариант гусениц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марка и модель</td>
            <td colspan="2">Berco - D4</td>
        </tr>
        <tr>
            <td>Тип дорожки</td>
            <td colspan="2">Одиночный тетерев</td>
        </tr>
        <tr>
            <td>Ширина дорожки</td>
            <td colspan="2">91.4 см</td>
        </tr>
        <tr>
            <td>Давление на грунт</td>
            <td colspan="2">.3 бар</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода – нижний диапазон</td>
            <td colspan="2">4.8 км/ч</td>
        </tr>
        <tr>
            <td>Максимальная скорость хода – верхний диапазон</td>
            <td colspan="2">9.7 км/ч</td>
        </tr>
        <tr>
            <td>Стояночный тормоз</td>
            <td colspan="2">Да</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Мульчер</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Название модели</td>
            <td colspan="2">FH300</td>
        </tr>
        <tr>
            <td>Общая ширина крепления</td>
            <td colspan="2">254 см</td>
        </tr>
        <tr>
            <td>Вес с диапазоном крепления</td>
            <td colspan="2">2177.2 кг</td>
        </tr>
        <tr>
            <td>Тип ротора</td>
            <td colspan="2">Обрученный</td>
        </tr>
        <tr>
            <td>Диаметр наконечника</td>
            <td colspan="2">65 см</td>
        </tr>
        <tr>
            <td>Рабочая ширина</td>
            <td colspan="2">209.6 см</td>
        </tr>
        <tr>
            <td>Количество режущих зубов</td>
            <td colspan="2">23</td>
        </tr>
        <tr>
            <td>Обороты ротора</td>
            <td colspan="2">1790 об/мин</td>
        </tr>
        <tr>
            <td>Привод ротора</td>
            <td colspan="2">Прямой</td>
        </tr>
        <tr>
            <td>Количество моторов</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Объем гидравлического двигателя</td>
            <td colspan="2">2621.9 см³</td>
        </tr>
        <tr>
            <td>Наконечник 1</td>
            <td colspan="2">Острый плоский</td>
        </tr>
        <tr>
            <td>Наконечник 2</td>
            <td colspan="2">Облицованный плоский</td>
        </tr>
        <tr>
            <td>Наконечник 3</td>
            <td colspan="2">Ударопрочный молоток</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Кабина</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Точки выхода</td>
            <td colspan="2">3 - Левая и правая двери, люк в крыше</td>
        </tr>
        <tr>
            <td>Тип окна</td>
            <td colspan="2">Устойчивый к истиранию поликарбонат</td>
        </tr>
        <tr>
            <td>Толщина окна</td>
            <td colspan="2">1.3 см</td>
        </tr>
        <tr>
            <td>Система управления</td>
            <td colspan="2">Двойной джойстик</td>
        </tr>
        <tr>
            <td>Кондиционер/обогреватель</td>
            <td colspan="2">40000 BTU/50000 BTU</td>
        </tr>
        <tr>
            <td>Сиденье с пневмоподвеской</td>
            <td colspan="2">Стандартное</td>
        </tr>
        <tr>
            <td>Стереофонический радиоприемник AM/FM-диапазонов с каналом прогноза погоды</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Дисплей</td>
            <td colspan="2">7" цветной</td>
        </tr>
        <tr>
            <td>Сжатый /отфильтрованный воздух</td>
            <td colspan="2">Да</td>
        </tr>
        <tr>
            <td>Проверена конструкция защиты от опрокидывания (ROPS)</td>
            <td colspan="2">Соответствует ISO 8082-1: 2009</td>
        </tr>
        <tr>
            <td>Защитная конструкция от падающих предметов (FOPS) проверена</td>
            <td colspan="2">Соответствует ISO 8083: 2006 Уровень 2</td>
        </tr>
        <tr>
            <td>Защитная структура оператора (OPS) проверена</td>
            <td colspan="2">Соответствует ISO 8084: 2003</td>
        </tr>
        <tr>
            <td>Резервная камера</td>
            <td colspan="2">Цветная, инфракрасная, стандартная</td>
        </tr>
        <tr>
            <td>Количество рабочих фар</td>
            <td colspan="2">11</td>
        </tr>
        <tr>
            <td>Тип фар</td>
            <td colspan="2">LED</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Гидравлическая система</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Емкость масляного бака</td>
            <td colspan="2">215.8 л</td>
        </tr>
        <tr>
            <td>Тип масла</td>
            <td colspan="2">Hy-Power 68 или Hy-Power 32</td>
        </tr>
        <tr>
            <td>Тип насоса</td>
            <td colspan="2">Sauer-Danfoss Series 90</td>
        </tr>
        <tr>
            <td>Объем насоса</td>
            <td colspan="2">250 см³</td>
        </tr>
        <tr>
            <td>Производительность насоса при максимальных оборотах</td>
            <td colspan="2">548.9 л/мин</td>
        </tr>
        <tr>
            <td>Объем вспомогательного насоса</td>
            <td colspan="2">737.4 см³</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Опции</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Воздушное отключение двигателя</td>
            <td colspan="2">Электрический привод</td>
        </tr>
        <tr>
            <td>Арктический пакет (дизельный подогреватель жидкости)</td>
            <td colspan="2">Охлаждающая жидкость двигателя и гидравлическое масло</td>
        </tr>
        <tr>
            <td>Задняя лебедка</td>
            <td colspan="2">13607.8 кг</td>
        </tr>
    </tbody>
</table>